[2020-06-09 03:04] gongzhao2 opened #2022 "How to configure the log level of Hono"
Hi there,

we deployed Hono(1.2.2) at kubernetes cluster.
The default log level is debug, I try to inject environment variables "**LOGGING_LEVEL_ROOT=INFO**" to container, but it didn't take effect.
So how should I control the output level of the log?

Thanks.

[2020-06-09 05:59] sophokles73 commented on #2022
If you only want to decrease the logging level uniformly to INFO, then the easiest way to do it is by means of setting the container's *SPRING_PROFILES_ACTIVE* environment variable to value `prod` instead of `dev`.

[2020-06-09 07:21] gongzhao2 commented on #2022
Hi sophokles73,

We want to do a performance test on Hono to verify that it supports 12000 device connections (MQTT), but I can't find the number of device connections in grafana's dashboard.

- How should I know how many devices the MQTT adapter has connected?
- In general, how many connections can a 1c2G MQTT POD support?

[2020-06-09 07:26] sophokles73 commented on #2022
Has the question regarding configuring the log level been answered? If so, please close this issue and create a separate one so that other people have a chance to find questions and corresponding answers. I would also kindly ask you to pose question regarding usage of Hono on stackoverflow using the `eclipse-hono` tag. That way, you can reach the largest audience for your questions.

[2020-06-09 07:28] gongzhao2 commented on #2022
Thanks!
Got it.

[2020-06-09 07:28] #2022 closed

[2020-06-09 07:41] sophokles73 commented on #1679
@kaniyan anything left to do for this issue?

[2020-06-09 07:58] ctron commented on #1959
That looks great! :+1: I like the idea of reusing existing concepts. Maybe you can add a link to the Kubernetes API as a reference.

[2020-06-09 08:02] dejanb commented on #1959
I like it as well. I would propose to add one more field that would contain description of the error for the result if needed.

[2020-06-09 08:05] kaniyan commented on #1679
@sophokles73 The implementation is over. The documentation needs to be done.

[2020-06-09 08:06] sophokles73 commented on #1679
@kaniyan ok, are you already working on that?

[2020-06-09 08:14] kaniyan commented on #1679
@sophokles73 Currently I am working on helm charts for this mongo db based device registry, thereby to make a PR in the IoT packages repo. After that I can start with the documentation. We could also close this issue and I can open a new one to track the documentation separately.

[2020-06-09 08:42] mhemmeter commented on #1679
From my perspective documentation should be part of this issue.

[2020-06-09 12:20] sophokles73 commented on #1679
@kaniyan Can you please first add the documentation for the Mongo DB registry and only after that is finished continue with the PR for the Hono Helm chart?

[2020-06-09 12:39] kaniyan commented on #1679
@sophokles73 sure, I can proceed with the documentation first and thereby we can close this issue and then proceed with the Helm chart.

[2020-06-10 00:09] ualsammarraie opened #2024 "Grafana is not showin any update"
Hello All,
I'm having a problem, and i would appreciate your help.
I'm using Eclipse Hono, I've created a Tenant, and a device, and start to publish a data through MQTT and HTTP adapter, and i was able to consume it through the AMQP client.
I was trying to test the Grafana which should be working with the project.
I used the link: https://hono.eclipseprojects.io:3000/
And I opened the dashboard "M

[2020-06-10 05:54] gongzhao2 opened #2025 "How to know the connections number of MQTT adapter?"
We want to do a performance test on Hono to verify that it supports 12000 device connections (MQTT), but I can't find the number of device connections in grafana's dashboard. I also checked the prometheus data endpoint of the MQTT adapter and found no metrics related to the number of connections. The metrics of the mqtt adapter are as follows
[code]

- How should I know how many devices the MQTT a

[2020-06-10 08:14] sophokles73 commented on #2025
Please do not *double post* to stackoverflow and GitHub. Questions should be asked on stackoverflow only. Thank you.

[2020-06-10 08:14] #2025 closed

[2020-06-10 09:50] calohmn opened #2026 "Replace HONO_MQTT_COMMAND_ACK_TIMEOUT"
As discussed in https://github.com/eclipse/hono/issues/1632#issuecomment-621053539:
The MQTT adapter property marking the timeout used when sending a command to a device (`HONO_MQTT_COMMAND_ACK_TIMEOUT`) should be brought in line with the corresponding property used for the AMQP adapter (`HONO_AMQP_SEND_MESSAGE_TO_DEVICE_TIMEOUT`).

That means marking `HONO_MQTT_COMMAND_ACK_TIMEOUT` as deprecated

[2020-06-10 10:45] calohmn commented on #1968
Fixed in 1db953af12ba6c68adefb0c6ef1eafbfb815e372 already. The version mismatch is still there in the 1.2.x branch but as this doesn't seem to be causing issues, I think we can keep it that way there.

[2020-06-10 10:45] #1968 closed

[2020-06-10 11:02] calohmn commented on #1632
Command consumer is getting closed in that case now (#1919). Determining the stale/broken connection is done via the usual mechanisms (AMQP heartbeat, MQTT keep alive).

Solved via #1272.

[2020-06-10 11:02] #1632 closed

[2020-06-11 07:11] calohmn commented on #1901
@sophokles73 yes

[2020-06-11 07:11] #1901 closed

[2020-06-11 09:00] calohmn opened #2028 "Introduce AdapterInstancesLivenessService, use for getCmdHandlingAdapterInstances"
This came out of the discussions for #1858:

In order to detect and remove stale `commandHandlingAdapterInstance` entries (used in the Device Connection service), a service shall get introduced that keeps track of the currently alive protocol adapter instances. In the implementation of the Device Connection API `getCommandHandlingAdapterInstances` method, such a `AdapterInstancesLivenessService` i

[2020-06-11 09:43] calohmn opened #2029 "Introduce CommandRouting service/component (replacing DeviceConnectionService)"
The current Command & Control implementation uses tenant scoped `command/[tenantId]` links to initially receive commands from a downstream application. After having received a command message on that link, the protocol adapter instance that the command target device is connected to is being identified and the command is sent/routed to that adapter instance.

Currently, each adapter supports these

[2020-06-11 09:45] calohmn commented on #1858
The outcome of the community call discussion on this has been put into the new issues #2028 and #2029. Therefore I'm closing this issue here.

[2020-06-11 09:45] #1858 closed

[2020-06-12 12:03] calohmn opened #2030 "IllegalStateException: MQTT endpoint is closed"
We saw the following exception in an MQTT adapter log:
[code]

There is no `CONNECT` tracing span in the OpenTracing component for the corresponding MQTT connection attempt, i.e. the exception causes the span not to get finished.

[2020-06-12 12:10] calohmn opened #2031 "ConcurrentModificationException in handleTenantTimeout"
We saw the following exception in a protocol adapter log:
[code]

[2020-06-12 15:03] calohmn commented on #2029
The architecture and command message flow would look like this then:
![CommandRoutingService](https://user-images.githubusercontent.com/891931/84504765-cb212e80-acbc-11ea-889a-8643ed0fbf69.png)
(1) Device subscribes as a command consumer at a protocol adapter.
(2) Protocol adapter invokes `registerCommandConsumer` with device/tenant id and its adapter instance id on the `CommandRouting` service; t

[2020-06-12 15:20] calohmn commented on #2028
Supporting not only protocol adapters in the same Kubernetes cluster but also (custom) protocol adapters outside of it, requires an extra, new API method for these adapters to announce that they are still alive. Instead of integrating this in the Device Connection API, I would rather do this in the new `CommandRouting` API (see #2029).
Integrating the new `AdapterInstancesLivenessService` into the

[2020-06-13 10:16] calohmn opened #2032 "Delay between HonoConnection reconnect attempts drops to 0"
The exponential backoff mechanism concerning `HonoConnection` reconnect attempts has a bug so that after the 58th attempt, the delay between reconnect attempts drops to 0 (that is with the default `reconnectDelayIncrement` of `100`).

With a higher `reconnectDelayIncrement` the issue occurs sooner, with `reconnectDelayIncrement` set `1` the issue doesn't occur.

[2020-06-16 05:54] sophokles73 commented on #2031
@calohmn which version are we talking about?

[2020-06-16 05:55] sophokles73 commented on #2030
@calohmn which version are we talking about?

[2020-06-16 13:49] fkaltner commented on #2026
@sophokles73 As discussed I would like to take care of this

[2020-06-17 06:55] #2032 closed

[2020-06-17 12:35] ctron opened #2036 "Allow the LoRaWAN adapter to send Events"
This is a follow up on PR #2034.

Currently it is not possible for LoRaWAN providers to send messages of type "Event". Only "Telemetry" is supported.

Given the low frequency of messages that you might expect over LoRa, I think it is reasonable to allow LoRa messages also to be sent as Hono Event.

I do not recommend to simply switch from Telemetry to Event, but to give the user some choice if a L

[2020-06-17 13:26] ctron opened #2037 "Allow an alternate way of providing the device ID for commands"
Currently, when using the tenant scoped command link, the device ID must be present in the "to" field of the message.

So the link is being opened for `command/<tenant>` and the command message must be sent to `command/<tenant>/<device>`.

While this is fine from an AMQP 1.0 perspective, some client (e.g. Apache Camel) are more focused on JMS compatibility and make the assumption that the destinat

[2020-06-17 14:24] fkaltner commented on #2026
After having done the changes locally and a deeper look into to configuration and code I'm wondering if this is the right way to go:

I am not sure if we should use a common name for a configuration property which represents in fact a configuration for a parameter which has a distinct name in the MQTT and AMQP world: `ACK` and `DISPOSITION`.

In my (still limited) view of Hono, I regard the protoc

[2020-06-17 15:13] sophokles73 commented on #2026
We already use a name  that is independent from the underlying technology in the downstream direction where the *SEND_MESSAGE_TIMEOUT* property is used to configure the time to wait for a disposition update from the AMQP Messaging network. So it seems ok to me to use such a corresponding name for the other direction as well. In the end, the protocol adapters are supposed to abstract away the under

[2020-06-18 07:35] ctron commented on #2020
I am against that. We explicitly defined "extension" sections in order to store data we do not care about.

Simply allowing "out of spec" data would invalidate the idea of defining types in the first place. We would end up with fields and expectations over time, that don't align anymore.

So if we need a new field, then we must add it. If we don't care, then it belongs into the "ext" section.

[2020-06-18 07:50] sophokles73 commented on #2020
I am not saying that we should accept and store the unknown properties. I am proposing to simply ignore them. Not sure if you were aware of that. But if you were and you are still in favor of rejecting requests that contain unknown properties with a 400 then that is of course also a valid option.

[2020-06-18 07:53] dejanb commented on #2020
I also think it should be better to return proper error to the user (400), as accepting and ignoring properties could lead them to the false confidence that the payload format is alright and lead to other issues later on (if they want to use that ignored properties). Fail fast approach is better IMHO.

[2020-06-18 07:55] sophokles73 commented on #2020
@ctron @dejanb That's fine with me as well. Then let's not be lenient and return a 400 in this case. I will prepare a CQ ...

[2020-06-19 12:05] jbtrystram opened #2041 "Device registry doesn't set default values in device registration payload"
When creating a device without attaching a body, there are no default registration data attached to it :

Create the device :
[code]

Retrieve it :
[code]

I think the result should contain the minimal registration data structure :
[code]

This can be changed by updating the `@JsonInclude` serialisation annotations in `org.eclipse.hono.service.management.device.Device`

Also : this shows that devi

[2020-06-19 12:12] dejanb commented on #2041
This sounds reasonable to me.

[2020-06-19 13:18] b-abel opened #2042 "Renew Sandbox certificates"
The Let's Encrypt certificates need to be renewed. They expired on June 18th (at least the one for the AMQP adapter).

[2020-06-22 05:08] calohmn commented on #2031
@sophokles73 This occurred with Hono 1.2.3.

[2020-06-22 05:08] calohmn commented on #2030
@sophokles73 This occurred with Hono 1.2.3.

[2020-06-22 07:29] sophokles73 commented on #2041
The enabled property is defined as optional with an absent property being defined as `true`, isn't it?
The same is true for the other properties (defined as optional), so I do not quite get, why the response should include empty properties. Maybe you can elaborate why you think that this would be preferable, @jbtrystram ?

[2020-06-22 07:32] sophokles73 commented on #2042
@b-abel thanks for noticing. I'm on it ...

[2020-06-22 07:42] sophokles73 commented on #2042
I have updated the certificates and have also upgraded Hono to the most recent 1.2.3 release.
@b-abel can you confirm?

[2020-06-22 08:53] jbtrystram commented on #2041
Yes, that is the specification : but as shown, it doesn't work. I'll open a PR to fix it.

For those other optional properties, I think it is more user friendly, but I also see the confusion this creates, as `memberOf` and `via` or `viaGroups` cannot be set at the same time. All in all i admit I don't have a strong opinion about it, it simply felt more natural to me so I opened the discussion.

[2020-06-22 09:07] sophokles73 commented on #2041
Why do you say that it doesn't work? The response doesn't contain an enabled property and that is in line with the spec, which says that it is optional. The default value in this case means that an absent property should be handled as if it had the value `true` (which the registry does). Or am I mistaken?

[2020-06-22 09:14] jbtrystram commented on #2041
If you add `@JsonInclude` on the `enabled` field in _org.eclipse.hono.service.management.device.Device_ :

[code]

I can confirm that enabled is null in the File based registry, with a breakpoint and some inspection.

[2020-06-22 09:24] fkaltner commented on #1023
I'd like to work on this. Can you assign this issue to me?

[2020-06-22 09:34] calohmn commented on #2031
Fixed via https://github.com/eclipse/hono/commit/6c5b1371a10ecaa68f5cbc2e71f388f82a0ac643 (master) and https://github.com/eclipse/hono/commit/57537934d6e9402ef56e15dd89177e7bd6bef53f, https://github.com/eclipse/hono/commit/187757ed93a183246bac0931e43f5c31e5b36560 (1.2.x).

[2020-06-22 09:34] #2031 closed

[2020-06-22 09:45] b-abel commented on #2042
It works now :+1:

[2020-06-22 09:45] #2042 closed

[2020-06-22 09:52] sophokles73 commented on #2041
I don't think I get the point here. I thought we were talking about the external behavior of the registry as described by the API. So far I cannot see any erroneous behavior. The fact that the *enabled* property in the *class* has no value, doesn't *per se* constitute a bug FMPOV as long as it doesn't cause the registry to exhibit erroneous behavior, which it doesn't, as far as I can tell so far.

[2020-06-22 10:09] jbtrystram commented on #2041
Except for any system that relies on the serialisation done by the management API. I.e, a UI..
As you point out, if the value is null it should be enabled by default. So why not have the serialisation of the object to match this behaviour, so it is consistent ?

[2020-06-22 11:49] sophokles73 commented on #2041
Are you talking about changing the API, i.e. making the enabled property mandatory instead of optional or are you talking about changing the registry implementation to always include it?
In the former case, a client (a UI) could *not* still not rely on the fact that it is included in a response ...

[2020-06-22 12:49] kaniyan commented on #1679
@mhemmeter @sophokles73 The documentation for the _MongoDB based device registry_ is now over with the merge of PRs #2035 and #2027. We can now close this issue.

[2020-06-22 13:49] mhemmeter commented on #1910
Some additional thoughts from my side: We should also look at the other Eclipse IoT projects and their API definition. Among others Eclipse Ditto is of interest because of our Eclipse IoT Packages and they are following camel-case notation (see for example https://www.eclipse.org/ditto/http-api-doc.html#/Things/get_things__thingId_).

From my perspective we should coordinate and go for a consisten

[2020-06-22 14:04] thjaeckle commented on #1910
@mhemmeter yes, Ditto uses camel case in its JSON formats. And having that as public released API, we can't change this.
So from my point of view when we want to have consistent apis in scope of Eclipse IoT Packages, newly added apis should also be on camel case 😉

[2020-06-22 14:10] mhemmeter commented on #1679
Thanks, @kaniyan. I'm closing the issue.

[2020-06-22 14:10] #1679 closed

[2020-06-22 15:06] mhemmeter commented on #1910
From my perspective it is important that we are consistent across the projects to improve UX and bring Eclipse IoT forward as a whole. So the community should at least decide on the preferred way for the future.

When we will be consistent is another question but indeed we probably end up with a new major version of the APIs - may it be in Eclipse Hono or Eclipse Ditto.

[2020-06-22 15:51] thjaeckle commented on #1910
I disagree in the way that this isn't important enough to break already existing APIs.
Built applications on top of that API would have to change "just because" we now like kebap better than camel case (for example, or the other way around).
Newly added APIs should be IMO
* first be consistent to the rest of the project's existing APIs (as I see at least Hono has in it's swagger definitions also t

[2020-06-23 07:00] fkaltner commented on #1856
I am able to reproduce this on my machine by setting the AMQP / MQTT adapter's connection limit to 1 and connecting 2 clients.

When I connect the second client, I see negative values in the Prometheus dashboard.

I'd like to continue to investigate this, @sophokles73 can you assign this issue to me?

[2020-06-23 07:05] sophokles73 commented on #1856
@fkaltner sure, be my guest :+1:

[2020-06-23 13:02] fkaltner commented on #1856
I think I found the cause:

In the AMQP adapter the connection count was incremented when opening a new connection _after_ checking if the adapter's connection limit was hit.
The decrement however was done in any case, since it is part of the connection's close handler.

As you can see in e70476c I fixed this by moving the increment of the connection count to the connection's open handler.

Nevert

[2020-06-23 16:25] sophokles73 commented on #1856
@fkaltner This sounds reasonable. The proton-vertx API is misleading here as it suggests that a server could *reject* a connection by means of invoking the `ProtonConnection.close()` method instead of `open()`. However, in AMQP 1.0 there is no such thing as rejecting a connection request. Instead, the server always sends its *open* frame followed by an immediate *close* frame. So the connection wi

[2020-06-24 05:34] DerSchwilk opened #2049 "Setting device request qos-level header to messaging endpoint AMQP messages property header"
Taking the qos-level header of a devices request, supported for telemetry messages, and setting it to the forwarded AMQP message as AMQP property header, would allow QoS-handling for, on messaging endpoint, connected systems.

Currently this is benetfitial for the Eclipse Hono <- Eclipse Ditto communication. A Ditto feature is currently in development, which has the aim to allow end-to-end acknowl

[2020-06-24 08:45] sophokles73 commented on #2049
Just for clarification: even if the JMS client would allow you to determine if an incoming message was (pre-)settled or unsettled, that would not help at all because Hono sends **all** messages unsettled, regardless of the QoS level used by the device. We do this because it is much easier for the Dispatch Router to properly handle flow control for unsettled messages.
When a device uses QoS 0 for a

[2020-06-24 09:04] sophokles73 commented on #2049
@fkaltner this might be a suitable issue for you to work on as well. Otherwise, I can do it as well. WDYT?

[2020-06-24 09:08] fkaltner commented on #2049
Yes, I actually thought also about taking over, so feel free to assign this to me.

[2020-06-24 11:32] jbtrystram commented on #2041
Yeah, the client can assume that if the property is not included in the payload, it's true by default.
I prefer explicit than implicit, but that is just a matter of opinion.

I'll close this.

[2020-06-24 11:32] #2041 closed

[2020-06-24 11:44] sophokles73 commented on #2041
@jbtrystram @dejanb @ctron @calohmn We could still discuss if we want to change the API and define the *enabled* property as mandatory in order to make it more explicit. WDYT?

[2020-06-24 12:32] #2020 closed

[2020-06-24 12:57] fkaltner commented on #1856
@sophokles73 Yep, just created a PR. Thanks for the insights into the AMQP protocol, I also adapted the comment in the unit test to reflect your explanation.

[2020-06-24 17:43] mhemmeter opened #2053 "Implicit registration of devices connected via gateways"
As of today all devices that connect to Hono via a gateway are supposed to be explicitly registered in the device registry with the via flag pointing to the gateway device. In this setup only gateway devices are authenticated and not the devices themselves. In order to simplify the management of devices in such a setup an _implicit_ registration of devices behind a gateway would be beneficial form

[2020-06-24 17:55] mhemmeter commented on #2053
Remark: An interesting question is if and how an implicit registration can work in a setup where Eclipse Hono is used in combination with Eclipse Ditto (see [Eclipse IoT Packages](https://www.eclipse.org/packages/). In such a setup devices must not only be registered in the Eclipse Hono device registry but also as a Thing in Ditto.

[2020-06-25 06:09] #1856 closed

[2020-06-25 07:41] DerSchwilk commented on #2049
Setting this property also to event messages (QoS 1 at all times, since QoS=0 not available for events), would allow us to implement both channels in one connection-source, while defaulting no qos-level property header to QoS=0 in our header mapping.

Will this header be included on both channels?/ Can you include it on both channels?

[2020-06-25 10:43] geglock commented on #2053
Regarding the combination with Eclipse Ditto (via Eclipse IoT Packages or somehow else), a proposal could be to emit some kind of "welcome" message to the north-bound application for each implicit registration.
If such a message could be defined freely per tenant including placeholder replacement, then it could be a "Thing Create" message - as defined here: https://www.eclipse.org/ditto/protocol-s

[2020-06-25 12:50] sophokles73 commented on #2053
I understand the use case and I also see the benefit of being able to register such devices on the fly. Devices being registered in this way will never be able to connect directly to a protocol adapter, though, because we would not register any credentials for them. This is consistent with the fact that the gateway device authenticates to the adapter and then acts on behalf of the edge device(s).

[2020-06-25 12:51] sophokles73 commented on #2053
@calohmn @dejanb @ctron WDYT?

[2020-06-25 12:53] sophokles73 commented on #1367
@calohmn can we close this with #2048 ?

[2020-06-25 19:09] calohmn commented on #2030
This may happen in the following scenario:
The `verify message limit` check done as part of the CONNECT handling takes longer than the client is willing to wait for the CONACK, so that the client closes the MQTT connection. When the MQTT adapter is done with the message limit check and wants to reject the connection attempt (for whatever reason), this exception will occur.

[2020-06-25 20:20] calohmn commented on #1367
@sophokles73 Yes, it looks good now :+1: .

[2020-06-25 20:20] #1367 closed

[2020-06-26 07:35] fkaltner commented on #2049
@DerSchwilk Technically we could do this but from my point of view this would be some sort of optimisation for the client you use. It is also slightly misleading to set this property as it isn't possible per Hono API/specification to set a device level QoS option for events at all. @sophokles73 WDYT?

@sophokles73 You also set the SigFox Adapter tag for this issue.  As far as I can see the SigFox

[2020-06-26 13:04] avgustinmm commented on #2053
If the device will have different id (chosen by gateway, adapter or registry) then it will be nice if the device has option to provide its own/internal id (if exists) in order to be incorporated in the generated  id.
This way user could somehow link the device id in hono with the own device id.
If this hono id generation follows a pattern (e.g. <gateway_id>:<own_device_id>) then event this link co

[2020-06-29 14:40] bordeuax opened #2058 "Update last gateway only at session creation phase for connection oriented protocols"
In case of connection oriented protocols like MQTT and AMQP, last gateway is updated every time when we upload a message or command-response. In my understating this is obsolete because mentioned protocols are session oriented and will be sufficiently to do this only when we create the session after authentication process.
Update last gateway at every message from device, make sense only in case o

[2020-07-01 06:51] #2026 closed

[2020-07-02 09:13] sophokles73 commented on #1775
@ctron is this still an issue? Didn't you already remove the OpenTracing classes from the JARs?

[2020-07-02 09:38] #1887 closed

[2020-07-02 09:55] roullli opened #2062 "Issue with running prometheus"
Hi,
I'm running Eclipse Hono locally in my private Kubernetes cluster. I wanted to run command and control via Rover Telemetry UI.
but I have an issue with running prometheus. every time that Kubernetes tries to run the container it crashes. here is the `Kubectl get pods -n hono` output:
![image](https://user-images.githubusercontent.com/51787620/86343936-4776b400-bc62-11ea-90d3-80c5e564313d.png)

[2020-07-02 12:19] sophokles73 commented on #2062
is there log output from the prometheus pod?

[2020-07-02 14:51] #1775 closed

[2020-07-03 03:56] allenhan opened #2063 "Start program directly with IDE"
hi，

After the program is compiled and packaged, run the program directly in IDE and report the following error. This setdeviceconnectionclientfactory failed to inject successfully. Where is the lack of configuration?

java.util.concurrent.ExecutionException: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'vertxBasedMqttProtocolAdapter': Unsatisfied

[2020-07-03 08:54] Christian-Schmid opened #2064 "MQTT Adapter "Close behavior" in case of hono internal errors"
The MQTT adapter closes the MQTT connection to the device in case of any errors during publishing telemetry / events / answering commands. This includes also more internal errors, e.g. timeouts on getting the assertion.

As the initial connection establishment with a client is somehow resources intense (SSL Handshake, resource allocation, initial get, assert of device and tenant). Does it really m

[2020-07-03 11:09] allenhan commented on #2063
![image](https://user-images.githubusercontent.com/5449138/86463605-665b7000-bd60-11ea-9974-5b8da2081a9d.png)

This injected device_con  Where is the set? How can I not find it in the code. HONO's code is very advanced

[2020-07-03 11:44] sophokles73 commented on #2063
What exactly are you referring to by *the program*? What are you trying to run, a protocol adapter, the device registry etc?

[2020-07-03 13:56] sophokles73 commented on #1397
@kaniyan Shouldn't this already be the case due to the fact that the LoRa adapter extends the (abstract) HTTP adapter base?

[2020-07-03 13:57] sophokles73 commented on #1454
@ctron You seem to have recognized this earlier already :-) IMHO we can close this via #2065, right?

[2020-07-03 14:01] sophokles73 commented on #2024
once you have typed in the tenant name you need to hit *enter*. Sometimes you also need to refresh the board by clicking the symbol in the upper right corner

[2020-07-03 14:06] sophokles73 commented on #2004
IMHO it is the other way around. The device connection cache is not defined as a transactional cache on the Infinispan server. Thus, the client should not force return values, which in this case doesn't seem to be necessary anyway.
On the 1.2.x branch this has already been changed in #2061. On master (for 1.3.0) we also no longer enforce return values.
FMPOV this issue can therefore be closed.
@ca

[2020-07-03 14:10] sophokles73 commented on #1824
@fkaltner does this sound like something you might be interested to work on?

[2020-07-03 14:12] ctron commented on #1454
Hm … I should have checked existing issues first :grin:

[2020-07-03 14:12] #1454 closed

[2020-07-03 14:16] sophokles73 commented on #1824
@fkaltner then please leave a comment so that I can assign the issue to you ...

[2020-07-03 15:19] mbaeuerle commented on #2030
We observed a similar behaviour when handling a high amount of connection attempts using Hono `1.2.1` but in this case the readiness probe for the HotrodCache was triggered before, which may have taken too long:
[code]

[2020-07-03 16:59] calohmn opened #2068 "Make HotrodCache connection check less expensive"
The `HotrodCache` `isConnected` check is rather expensive because it performs a cache PUT operation each time. That check is invoked in the protocol adapter readiness check and is also performed each time an MQTT connection is made to the MQTT adapter.

When there are many MQTT devices trying to connect to the MQTT adapter in parallel or in quick succession, a lot of unnecessary cache traffic is g

[2020-07-03 17:02] calohmn commented on #2030
@mbaeuerle It's not the readiness probe there but just the `HotrodCache.checkForCacheAvailability` method.
That method is invoked not only from the readiness probe but also from the `HotrodCache.isConnected` method. And that method gets called as part of the MQTT `CONNECT` handling (see `AbstractVertxBasedMqttProtocolAdapter.handleEndpointConnection` and the `isConnected` call in there).

So a pos

[2020-07-03 17:27] calohmn opened #2069 "Find ways to reduce cache operations when command consumers get (temporarily) disconnected"
When an AMQP/MQTT device, listening for command messages, gets disconnected from the protocol adapter, the association between device id and protocol adapter instance id gets removed in the ~~device connection~~ command router service (~~`removeCommandHandlingAdapterInstance`~~ `unregisterCommandConsumer`). When using the Infinispan cache based service implementation, this means a cache.remove ope

[2020-07-05 02:26] allenhan commented on #2063
Thank you for your reply. MqttAdapter, The branch I run is v1.2.3.
I have run activemqt locally. I have run the device connection service, but an error has been reported. Then I run the mqttadapter, which also reports an error. I want to run the project locally, and then use the mqtt.fx Connect the tool and test it. My local code can't run now. Can you give me some advice? If the program is runnin

[2020-07-06 04:51] calohmn commented on #2004
Yes, the `ISPN006011: Operation 'PUT' forced to return previous value [...]` warning doesn't occur now anymore.

The `ISPN006010: Conditional operation 'REMOVE_IF_UNMODIFIED' should be used [...]` warning will still come. But as I've understood, we don't really need to act on that and make the cache transactional because of that.
And since Infinispan 10.1, the warning will only appear once ([ISPN-

[2020-07-06 04:51] #2004 closed

[2020-07-06 05:21] fkaltner commented on #1824
The intricacies of GitHub, next time I'll leave a written "thumbs up"... 😄

[2020-07-06 06:25] calohmn commented on #2068
@ctron Are there potential alternatives to implementing the actual connection check via a cache put operation? Maybe for the HotRod cache implementation using `remoteCache.getRemoteCacheManager().getConnectionCount()`? And/or just using a `cache.containsKey` invocation?

[2020-07-06 07:39] calohmn commented on #2058
Consider a device with `[Gateway-A, Gateway-B]` defined in its `via` property. The device changes its connection from one of these 2 gateways to the other from time to time.
The last-known-gateway information is currently used in case both `Gateway-A` and `Gateway-B` have subscribed for commands and it therefore has to be decided which of these 2 gateways a command message shall be sent to.

The s

[2020-07-06 08:55] bordeuax commented on #2058
@calohmn , thanks a lot for your feedback. I totally miss above scenario. My biggest motivation is to find some optimization for this case, because we done some tests with around 1 million of devices and infinispan have received  a big load. if you don't have other ideas, how we can optimize this,  i suggest to close the issue.

[2020-07-06 15:43] dejanb opened #2070 "Support Hono deployment in multi-tenant messaging environments"
In multi-tenant messaging environments there could be different connection endpoints used by infrastructure and end users. For end users in this case, the addresses are usually translated internally in order to enable consistent namespaces.

For example, dispatch router enables this behaviour through the (poorly) documented `multiTenant` property

[code]

When clients connect through a listener li

[2020-07-06 15:48] roullli commented on #2062
how can I find this log information? Do you mean the `kubectl describe` command?

[2020-07-07 07:07] calohmn opened #2072 "Error starting device-connection service component"
Hono 1.3.0-M3:
The device connection service component can't connect to the Infinispan data grad.
There is this exception in the log:
[code]

[2020-07-07 07:15] sophokles73 commented on #2068
@calohmn I originally tried to use the *remoteCache.getRemoteCacheManager().getConnectionCount()* method, but at least with the 9.4 client, this didn't work out as expected.

[2020-07-07 07:31] sophokles73 commented on #2072
I assume you have tried to deploy using the Hono Helm chart? Can you post your command line?

[2020-07-07 07:33] sophokles73 commented on #2062
No, I mean the output from `kubectl logs ...`

[2020-07-07 07:36] sophokles73 commented on #2063
Is there a particular reason why you do not simply deploy Hono as described in the [Deployment Guide](https://www.eclipse.org/hono/docs/deployment/helm-based-deployment/)?

[2020-07-07 07:42] calohmn commented on #2072
[code]
Having adapted the `values.yaml` to the `1.3.0-M3` images (I've built them locally).

[2020-07-07 12:01] sophokles73 commented on #2072
@calohmn I am able to reproduce the issue and have also found the reason why the connection fails. However, this is an issue with the Helm chart, not Hono itself. Thus I would like to kindly ask you to open an issue towards the Hono chart in the IoT Packages project and close this issue.
I will then create a PR fixing the issue.

[2020-07-07 12:12] #2049 closed

[2020-07-07 12:24] fkaltner commented on #2049
@DerSchwilk Regarding you question above: the property is set for event message as well.

[2020-07-07 13:47] calohmn commented on #2072
Yes, IoT Packages issue is https://github.com/eclipse/packages/issues/115.

[2020-07-07 13:47] #2072 closed

[2020-07-07 16:12] sophokles73 commented on #2068
Sounds reasonable

[2020-07-08 06:38] calohmn opened #2074 "IllegalStateException in AbstractRequestResponseClient"
During some recent failed integration test runs in Travis, there were such kind of exceptions in the log:
[code]
That means that closing the connection while a request/response is being handled via the `AbstractRequestResponseClient` seems to produce such an unhandled exception.

(These errors occurred mostly in the `CommandAndControlAmqpIT` tests but also in `CommandAndControlMqttIT`. The reason

[2020-07-08 07:14] calohmn commented on #2053
FMPOV, the first approach about (the one where uploading an event/telemetry message for an unknown device triggers creation of the device) seems to be the one we should be aiming for. This would avoid having to define a separate new resource for each adapter and would also be a very intuitive solution.

I imagine, the right for a tenant to automatically create devices would have to be explicitly d

[2020-07-08 07:15] sophokles73 opened #2075 "AMQP adapter should check adapter connection limit for unauthenticated devices"
The AMQP adapter currently only checks the adapter instance's maximum number of connections for authenticated devices. However, connections from unauthenticated devices should be considered as well.

[2020-07-08 07:43] sophokles73 commented on #2053
FMPOV this should even require explicit authorization at the gateway level.

I guess the desired behavior depends on whether a *physical* device should always be represented by a single *logical* device ID in Hono. If the gateway generates an ID for the device then gateway A might generate a different ID than gateway B. Following @avgustinmm 's comment above, we would always end up with different

[2020-07-08 08:55] sophokles73 commented on #2074
I am not sure if these two log entries are related. The first one seems to have occurred in the context of sending a one-way command as code location

suggests. If I am not mistaken then the only reason why the resultHandler could have been failed before is due to the request having timed out *before* the disposition update has been received from the adapter. WDYT?

[2020-07-08 11:05] #2075 closed

[2020-07-08 13:00] #2030 closed

[2020-07-08 14:04] calohmn commented on #2030
Also fixed in 1.2.x (b94a67a4db43a514c93f50f9a1a66ef51b2db4cd)

[2020-07-08 15:16] calohmn commented on #1607
I think it could also be done just by defining a 2nd bean with a qualifier like `@Qualifier("registration_original")` and loading the configuration properties in there. That bean could then be injected into the existing bean method where `customizeRegistrationClientFactoryConfig` would get called to adapt the properties.

As that is also not a particularly pretty solution and as there probably isn

[2020-07-09 07:15] #1607 closed

[2020-07-09 07:38] calohmn commented on #2074
@sophokles73 Right, it looks like a timeout has happened and it's good you increased some timeouts here already. I've been seeing errors in some more test methods, so I'm currently looking into adapting timeouts there as well.

[2020-07-09 08:14] #2074 closed

[2020-07-09 08:48] roullli commented on #2062
here is the logs output:
![image](https://user-images.githubusercontent.com/51787620/87018482-fb83bc00-c1d9-11ea-90e5-329644316ab8.png)
I have no idea what is the issue here?!!

[2020-07-09 11:12] sophokles73 commented on #2062
Looks like Prometheus is not able to access the local file system. Are you deploying to minikube? How did you deploy Hono, did you use the Helm chart? If so, which version?

[2020-07-09 17:55] calohmn commented on #2069
An idea would be:
If a device removes its command subscription, only remove the mapping entry in the device connection service if the device has a `via` entry set, i.e. if potentially a gateway could subscribe and handle commands for that device. In all other cases (e.g. when a gateway subscribes for commands for all its devices), removal of the mapping entry could be skipped.

A problem here woul

[2020-07-10 08:29] roullli commented on #2062
I have deployed Hono on my private kubernetes cluster consisting of two laptops (one as master node and another one as worker node which is hosting Hono).
I have used the Helm version 3 and followed the same instructions as the following link : [https://github.com/eclipse/packages/tree/master/charts/hono](url)

[2020-07-10 12:27] sophokles73 commented on #2062
Which version of the chart are you installing? Can you try with the latest version?

Do a `helm repo update` before installing the chart.

[2020-07-13 08:16] roullli commented on #2062
I did the repo update but still getting the exact same error!

[2020-07-13 09:24] #2070 closed

[2020-07-13 14:52] kaniyan commented on #1397
@sophokles73 At that time of creation of this issue, the _LoRa_ adapter still supported _Command & Control_ functionality and hence some changes were required to support the minimum message size concept. There by this issue has been created to track it. In May 2020, the _Command & Control_ functionality from the LoRa adapter has been removed thereby no more changes are required to support this min

[2020-07-13 15:31] e-grigorov commented on #2053
Usually, the device network provides enough information for the device identifier. For example, in Blueooth, it can be the device address. Of course, the different gateway vendors can use different identifiers.

The main point here is that the gateway knows the device and can recognize it with a given identifier. It'll be useful to reuse this identifier(or similar one) in the Hone device registry.

[2020-07-14 08:39] alinaserg opened #2082 "Provide in Device Registry Management API a separate operation for CA Certificate Update"
Currently Device Registry Management API provides PUT operation for the whole tenant, with this operation such parameters as: the available protocol adapters, resource limits, tracing, CA-certificates etc. can be updated on the tenant level.

In some use cases it can be useful to have PUT operation only for specific parameters of the tenant e.g. only for update of CA-Certificate. This operation co

[2020-07-14 08:47] ctron commented on #2082
I do understand you use case. However there are so many options which you could consider for the same use case. Basically you would need RBAC on a field level. And translating each field access into a specialized API call would overload the API IMHO.

I think it would be better to allow anyone who has a similar use case, to extend the server side component, allowing for additional check, and rejec

[2020-07-14 11:35] sophokles73 commented on #2062
My understanding is that you are not installing to minikube, are you? If not, can you first confirm that deployment to minikube as described in the deployment guide works for you? I just want to make sure where we need to look for the problem ...

[2020-07-15 08:00] roullli commented on #2062
No, I'm using my own private physical (not virtual) cluster.
I have just now tested it with minikube and deployed Hono. There was no problem and all the services are running!!

[2020-07-15 08:16] sophokles73 commented on #2062
Then it looks like you have found the problem. It looks like the Prometheus pod is not able to write to the persistent volume mounted at `/data`. You will need to configure your cluster's PersistentVolume provisioner(s) accordingly.

[2020-07-15 08:21] roullli commented on #2062
apiVersion: v1
kind: PersistentVolume
metadata:
       name: my-local-pv2
spec:
       capacity:
            storage: 8Gi
       accessModes:
          - ReadWriteOnce
       persistentVolumeReclaimPolicy: Retain
       storageClassName: local
       hostPath:
           path: /mnt/data/
Here is my persistent volume yaml file!
You mean if I change the access mode to ReadWriteMany this will fix the

[2020-07-15 08:27] sophokles73 commented on #2062
Sorry, I do not know much about kubernetes' persistent volumes. You might want to refer to the kubernetes documentation for that.

[2020-07-15 11:24] alinaserg opened #2083 "Introduce resource limits or metrics on device level to identify malfunctioning devices"
Currently the resource limits can be defined in Hono only on the tenant level. With the help of such kind of limits we can control that the usage of one tenant keep within limits and don't disturb usage of the service by other tenants. But the control of the service usage by single devices is also important and not available yet.

The reason why it is important to monitor the behaviour of a single

[2020-07-15 12:01] sophokles73 commented on #2083
Can you provide some examples of such rules/limits at the device level?

[2020-07-15 14:19] alinaserg commented on #2083
For example AWS IoT Core has the following limit:

"Publish requests per second per connection: AWS IoT Core restricts each client connection to a maximum number of inbound and outbound publish requests per second. Publish requests that exceed that quota are discarded."
I can imagine that such kind of limit could help us. With the statistic how many devices or which devices exceed this limit the c

[2020-07-15 14:42] #2058 closed

[2020-07-15 15:24] bordeuax opened #2084 "Prometheus message resource limit check performance issues"
**Production Problem**
Daily in production i am facing with regular CPU/memory spikes for Prometheus, as a results of such behavior we have messaging/connection timeouts and huge performance degradation of message resource limit check.
**Particular use case**
A tenant pushing events/telemetry/command each 15 minutes via HTTP (i think this should be available for other adapters) number of devices

[2020-07-16 06:41] sophokles73 commented on #2084
@bordeuax FMPOV there are multiple aspects to this.
How long does the execution of a single query actually take and how often is it executed. What I do not see from the logs is the unit of measure for the execution time. Is that seconds or milliseconds?
I had already been thinking about using a recording rule but did not (yet) figure out how that should work, given the dynamic aspect of the time r

[2020-07-16 07:26] sophokles73 commented on #2084
Ok, so if I am reading this correctly, then the *execTotalTime* and the *ts* properties indicate that the queries take about 3 seconds to execute (which is terrible). However, I do not (yet) see what kind of recording rule could do the trick. Maybe there is also another (more efficient) way of formulating the query itself ...

[2020-07-16 11:13] roullli commented on #2062
the issue is fixed by changing the directory permission this command:
`chown -R 65534:65534 /mnt/`
Now I'm trying to run command and control application for roverapp.
@sophokles73 I know it is not related to this topic. But, do you have any idea what should I use as influxdb url? since I'm running all the instances locally!!
Thank you in advance.

[2020-07-16 11:23] sophokles73 commented on #2062
Hey, that's great :+1:
Regarding the *roverapp* and influxdb URL, I have no clue what you are talking about. Does this have anything to do with Hono? If so, I would appreciate if you could post a question on stackoverflow which is the preferred channel for asking questions around Hono.
Can we close this issue?

[2020-07-16 11:24] roullli commented on #2062
OK, thanks for your help.
Yes, sure I'll close it.

[2020-07-16 11:24] #2062 closed

[2020-07-16 13:54] sophokles73 commented on #2083
It should be possible to track/limit the message rate of devices at the protocol adapter instance based on limits defined at the tenant and/or device level. However, I believe it would be very hard to track the data volume per device over an extended period of time.

[2020-07-16 15:36] bordeuax commented on #2084
@sophokles73 , i see this implementation in the following way:
* Create new resource limit check  based on recording rules
* Extends or give a possibility to have custom values in the field _mode_  from [Resource Limits Period Configuration](https://www.eclipse.org/hono/docs/api/tenant/#resource-limits-period-configuration-format). And this values will be interpreted by  rules resource checker as

[2020-07-17 14:28] sophokles73 commented on #2053
For the sake of simplicity I suggest to leave the roaming use case out of this issue for the time being. Instead, let's focus on how a gateway can register a device on the fly. Consequently, unregistering such a device should also be of no concern right now.
What I can imagine for Hono is the following:
1. A new device is being connected to a gateway that is already registered in Hono.
1. The gate

[2020-07-17 14:39] mhemmeter commented on #2053
The approach makes sense to me. From a requirements perspective we can exclude the roaming use case and add it later on (if necessary at all). Supporting this new feature in MQTT Protocol Adapter has highest priority for me (compared to the other protocols supported by Eclipse Hono).

[2020-07-17 15:01] fkaltner commented on #2053
I think this is doable. Can you assign this issue to me?

[2020-07-17 15:13] mhemmeter commented on #2053
Perfekt ☺

Mit freundlichen Grüßen / Best regards

Mathias Hemmeter

Bosch IoT Hub - Product Area IoT Platform (IOC/PAP-HU)
Bosch.IO GmbH | Stuttgarter Straße 130 | 71332 Waiblingen | GERMANY | www.bosch.io
Tel. +49 711 811-58111 | Mobil +49 151 54336305 | Telefax +49 711 811-58200 | mathias.hemmeter@bosch-si.com<mailto:mathias.hemmeter@bosch-si.com>

Sitz: Berlin, Registergericht: Amtsgericht Cha

[2020-07-21 14:57] kaniyan commented on #2084
_Query formulation:_
The message limit query aggregates data from two different time series (`hono_messages_payload_bytes_sum` and `hono_commands_payload_bytes_sum`). With some existing preconditions (such as one time series may exist and other not), I don't see at the moment any other better way of writing this query. Also I checked this query in the same environment (as stated in this issue) and

[2020-07-22 13:41] ArashJavan opened #2087 "Hono Project Folder Structure"
Hi, I am pretty new to this project. I already did the "getting started" and also was able to install "hono" and
send messages from RP3 to Hono. Now I am trying to understand the Code behind all this magic.
First I tries to find API-files (Interfaces), but it seemed that they are not in a shared folder, but are rather spreaded in different folders. Could somebody plz clarify me about the content o

[2020-07-22 14:56] kaniyan commented on #2087
@ArashJavan Each module has a `pom.xml`. For brief info about a module you can refer to the `description` section in corresponding`pom.xml`

[2020-07-24 09:34] thjaeckle commented on #2053
I wonder if this _hono_registration_status_ property should ever be transported via a QoS 0 telemetry message - if this message never reaches the downstream application, a corresponding thing will e.g. never be created in the downstream connected Ditto.

So FMPOV for telemetry messages there should be a separate QoS 1 event generated (ideally published before the causing telemetry message is publi

[2020-07-24 10:05] fkaltner commented on #2053
Wouldn't Ditto favor the "specific event" case Kai outlined above:

?

But in general you are right: for telemetry sent with QoS 0 there's a risk that the downstream application may miss that message. However, to my understanding, telemetry messages are forwarded by Hono having QoS 1 always (see: https://github.com/eclipse/hono/blob/cba0221c43ec2b93bfb436d438d8542f81f61022/client/src/main/java/org

[2020-07-24 10:36] thjaeckle commented on #2053
Ah, the gateway would have to publish that event? Sure, that would also work.
I just thought that when Hono already "knows" that a new device connected via a gateway was created on-the-fly, an event could be created and published by Hono itself.

I don't think so. The sender link uses QoS 1 for telemetry messages as well, yes. However, there is no re-sending of negatively settled messages by the d

[2020-07-24 10:40] fkaltner commented on #2053
`Ah, the gateway would have to publish that event? Sure, that would also work.`
Yes, that was my understanding. This made sense to me, since only the gateway knows what capabilities the device has.

I am not sure about the details about re-delivery - @calohmn can you help out?

[2020-07-24 12:01] calohmn commented on #2053
Yes. I agree that in case of a telemetry message we should send a separate _event_ message with the _hono_registration_status_ property then (before forwarding the telemetry message), in order to make sure that the message with that property gets brokered and will also get delivered if the downstream consumer is temporarily unavailable for example.

[2020-07-24 12:45] fkaltner commented on #2053
I am not sure why we would still need the `hono_registration_status` property then: how about sending a specific event in that case as well? Then we would not have two different approaches and a downstream application could always listen for those specific events in order to get notified about auto-provisioned devices.

Also this approach still has some edge cases: even if we send an event when a

[2020-07-24 15:50] calohmn commented on #2053
I think a specific event would be characterized by the very fact that it has that `hono_registration_status` property. That's also how the `TimeUntilDisconnectNotification` event messages are set up (sent out for example when a MQTT device subscribes for commands) - they are (usually) event messages containing a `ttd` property.

In that regard we could indeed follow the "piggy-back" approach of ju

[2020-07-27 15:02] mbaeuerle commented on #2082
Following up on this, was there already a discussion about adding `PATCH` support to the device management API?
By allowing patches just on specific parts of the tenant would make verification easier.
In this case the verification could just allow for the `trusted-ca` property to be changed rejecting changes to everything else.

[2020-07-28 12:23] kaniyan commented on #1397
Due to the above stated reason, this issue is closed.

[2020-07-28 12:23] #1397 closed

[2020-07-28 12:23] kaniyan commented on #1398
At that time of creation of this issue, the LoRa adapter still supported Command & Control functionality and hence some changes were required to support the minimum message size concept. There by this issue has been created to track it. In May 2020, the Command & Control functionality from the LoRa adapter has been removed thereby no more changes are required to support this minimum message size f

[2020-07-28 12:23] #1398 closed

[2020-07-28 14:49] thjaeckle commented on #2053
It would be very helpful if the gateway ID could also be included as part of the message which indicates that a new device was registered.
That way downstream applications (like Ditto) could create a relation of an edge-device (or thing) to its gateway-device as well.

Maybe as additional defined property? What do you think?

[2020-07-28 14:58] fkaltner commented on #2053
Sounds reasonable and is easy to implement. So I guess there's no harm on Hono's side ;) We could name the property `hono_registration_via`.

[2020-07-29 15:59] sophokles73 commented on #2053
If we want to include the gateway identifier then FMPOV it should simply be `gateway_id` in analogy to the `device_id` property. In fact, we could/should include this property in every message published by a gateway on behalf of a device...

[2020-08-01 11:36] mhemmeter commented on #2082
@mbaeuerle: Sounds interesting to me. From my perspective a solution that prevents complex (and therefore error prone) permission checks would be very good.

[2020-08-03 11:12] b-abel opened #2095 "Version selection for device registry user and admin guide broken"
With version 1.3 the User Guide and Admin Guide of the device registry were removed (and replaced by separate documents for each of the two implementations). Technically, these are now new, independent documents that cannot be switched automatically via the version selector box. As a fix, documents must again be created with their old names.

[2020-08-03 14:56] sophokles73 commented on #2082
@mbaeuerle you mean defining the HTTP *PATCH* verb on the `/tenants/${tenant_id}` resource as the method to set the trust anchor(s)? What if we also want to allow enabling/disabling protocol adapters?

[2020-08-04 06:24] sophokles73 commented on #2053
So, it seems like we include two properties in the downstream message:
1. *gateway_id* which contains the identifier of the gateway that acted on behalf of the device (if applicable) and
1. *hono_registration_status* which contains value `NEW` if the device has been provisioned *on the fly* by a gateway.

[2020-08-04 06:33] #2095 closed

[2020-08-04 08:24] sophokles73 commented on #2084
@kaniyan the problem with concurrent execution is definitely worth solving :-) We need to make sure that we return the previous (expired) value in concurrent invocations of the method while a query to Prometheus is still executing. We should be able to use `Caffeine.refreshAfterWrite()` for the data volume cache instead of `Caffeine.expireAfterWrite()`. WDYT?

[2020-08-04 08:35] fkaltner commented on #2053
Yes, but: at the moment the _gateway_id_ will only be included when auto provisioning (and not for all messages) for an edge device sending data via a gateway. Obviously it will always be included in that case.

Intention was to keep the change small.

[2020-08-04 08:42] sophokles73 commented on #2053
@fkaltner The intention of this issue is to discuss requirements/ideas for how this should be implemented. If multiple PRs are required in order to get the desired behavior, so be it. There is no need to stuff everything into a single PR. It is totally ok if we add the *gateway_id* property for all messages received via a gateway later ...

However, it would be good if we can agree on the desired

[2020-08-04 10:32] mostafa-eltaher opened #2099 "Support authentication of devices using X.509 certificates in the CoAP adapter"
The CoAP adapter should support devices using an X.509 client certificate for authenticating.

[2020-08-04 10:59] sophokles73 commented on #2099
I would suggest to also include support for raw public keys in this issue.

[2020-08-04 11:13] sophokles73 commented on #1569
@kaniyan can this issue be closed?

[2020-08-04 11:16] sophokles73 commented on #1469
@Christian-Schmid is this still an issue for you?

[2020-08-04 11:17] #1717 closed

[2020-08-04 11:27] sophokles73 commented on #2084
@bordeuax

I do not quite see how the *day_of_month* function could be helpful here. Can you explain?

Based on the assumption that a tenant's devices upload MB of data per hour, I wonder if rules using granularity of multiple days would be any help at all. FMPOV a useful granularity would be more in the minutes region ...

[2020-08-04 13:53] fkaltner commented on #2053
Alright. In general I think the _gateway_id_ being set for all messages sent via a gateway makes sense!

Talking about ideas:
How about including the possibility to set the authority for a gateway device also for client-certificate based auto-provisioning?
By this we could combine both approaches: the only thing required for edge devices communicating through a gateway with Hono then would be a cl

[2020-08-04 14:47] sophokles73 commented on #2053
By this we could combine both approaches: the only thing required for edge devices communicating through a gateway with Hono then would be a client certificate for the gateway.

I am not sure if I understand correctly. Can you elaborate on what you want to achieve?

[2020-08-04 14:58] sophokles73 commented on #2084
@kaniyan The Caffeine cache already takes care of atomically loading a value for a key that doesn't exist in the cache, i.e. the Prometheus query will be executed only once per missing key.

[2020-08-05 08:13] fkaltner commented on #2053
Say there are edge devices communicating with a gateway and the gateway itself is configured with a client certificate and is auto-provisioned.

In order to not have to do a registration of the gateway's edge devices one could use the implicit registration implemented in the course of this issue. However, to my understanding, we would still have to set the authority on the gateway device itself by

[2020-08-05 09:00] sophokles73 commented on #2053
Ok, I see your point now. X.509 certificates may contain (non-critical) custom extensions that could be used for indicating such an authority. However, the overall approach taken by Hono (currently) is to not require any particular information and/or syntax in certificates in order to be able to use existing certificates issued by standard CAs. Introducing such an extension would require the clien

[2020-08-06 06:42] fkaltner commented on #2053
Good point. Another option would be to store this information (gateway should be granted auto-provisioning authority) along with the CA certificate in the device registry. By this we would be independent of the CA supporting custom extensions.

[2020-08-06 06:49] fkaltner commented on #2053
@thjaeckle While implementing (fyi, see: https://github.com/eclipse/hono/pull/2094) we stumbled upon a problem with the approach we devised, hence the following question arose:

How about _always_  (meaning not only when the device is not registered AND it is a telemetry message but for telemetry and event messages) sending an empty event with the application property `hono_registration_status ` b

[2020-08-06 07:01] sophokles73 commented on #2053
Can you give an example of where and how you want to store *this information*?

[2020-08-06 07:02] sophokles73 commented on #2053
How would that help with the newly identified issue(s)?

[2020-08-06 07:12] fkaltner commented on #2053
Well, this would make it easier to have the whole implementation in the device registry. At least that was my understanding of your comment in the PR 😅:

Before making a decision I wanted to make sure if it is an option at all from Ditto's perspective.

On your concerns regarding robustness of the approach this would not help per se unless we implement a persistent flag about the notification havi

[2020-08-06 07:14] thjaeckle commented on #2053
hi @fkaltner - this would work from our perspective as well

[2020-08-06 08:08] sophokles73 commented on #2053
Ok, then I misunderstood your question. Let me try to re-phrase what I think we should do:
1. Gateway sends telemetry or event message for a device that does not exist yet.
1. Protocol adapter requests registration assertion from Device Registration service.
1. Device Registration service creates device without credentials and publishes an empty notification event containing the tenant_id, device_

[2020-08-06 08:08] sophokles73 opened #2102 "Upgrade to vert.x 3.9.2"

[2020-08-06 08:11] thjaeckle commented on #2053
That works for us 👍
Just for my understanding: Between step 3 and 4 - is the settlement of the empty notification event being waited for?

[2020-08-06 08:14] fkaltner commented on #2053
Actually I do think we need to include hono_registration_status property in order to support the "specific event use case":

(see above in https://github.com/eclipse/hono/issues/2053#issuecomment-660137717):

Since the specific event will be specific by

(see https://github.com/eclipse/hono/issues/2053#issuecomment-663605563)

[2020-08-06 08:15] fkaltner commented on #2053
Yes, it is.

[2020-08-06 08:17] thjaeckle commented on #2053
Yes .. if the gateway would already send this special "new device creation" event (e.g. also not being empty but with a custom payload) I would not see why there should be 2 events sent out.

[2020-08-06 08:30] thjaeckle commented on #2053
@sophokles73 sorry, I misunderstood before and answered to eagerly :)

what Ditto would need is to always receive only 1 event:
* containing the properties tenant_id, device_id, gateway_id and hono_registration_status=NEW
* the payload being:
   * either empty (event was created as a result of some other telemetry message sent by the newly created device)
   * or containing a custom sent payload (

[2020-08-06 08:30] sophokles73 commented on #2053
To be absolutely clear: The Device Registration service will wait for the disposition from the Artemis broker in this case. This, however, does not mean that the event has been processed by any downstream application. It just means that the event has successfully been received and persisted by Artemis.

[2020-08-06 08:37] sophokles73 commented on #2053
@thjaeckle

If we opt for the Device Registration service to publish the event, then I would rather not have the protocol adapters to distinguish multiple cases but instead simply always follow the same process, i.e. registry is responsible for (always) publishing event indicating newly created device while the protocol adapters simply forward the message received from a device as they always have

[2020-08-06 08:49] thjaeckle commented on #2053
@sophokles73 I'm not sure if I can follow - as you described it there could be 2 events (the first being the empty notification and the second containing the device capabilities?), did I understand that correctly?

Ditto won't be able create a thing in "2 steps" (where the device's capabilities are contained in a second event) as Ditto's consumption of event/telemetry messages is stateless and can

[2020-08-06 08:54] sophokles73 commented on #2053
Yes, that is correct. The first event would have been created by the Device Registration service and would indicate that the device has been created newly. The second one would be the event that had been uploaded by the gateway, indicating the device's capabiliites.

Why shouldn't Ditto be able to create a (default, empty) Thing based on the first event and then (later) update the Thing with infor

[2020-08-06 08:54] fkaltner commented on #2053
@sophokles73 If more than one cluster node is connected then ordering in Artemis is not guaranteed afaik, right? If so, then the empty event could arrive after the device's first telemetry or event message if I am not mistaken.

[2020-08-06 09:03] thjaeckle commented on #2053
Several reasons, these come directly to my mind:
* the policy would not be the correct one when the empty thing is created first (the initial policy could only allow the channel to Hono to READ+WRITE the complete thing)
   * as a result, an application requiring to be notified of the "thing created" event would not get notified of the creation (because it is missing from the policy)
   * if an alr

[2020-08-06 09:53] dejanb opened #2103 "Migrate services to use Quarkus instead of Spring boot"
With the Hono architecture based on micro-services running in Kubernetes, we should try to migrate to the new cloud-native Java technologies that should make substantial benefits in terms of performance and resource usage.

In particular, using Quarkus instead of Spring boot framework for configuration and dependency injection should lead to much better memory consumption and startup times for Hon

[2020-08-06 10:30] dejanb opened #2104 "Implement Quarkus based HTTP protocol adapter"
This is part of #2103 work to migrate Hono from Spring boot to Quarkus.

[2020-08-06 11:55] #2104 closed

[2020-08-06 12:03] fkaltner commented on #2053
Based on the discussion, once again the proposed steps:

1. Gateway sends telemetry or event message for a device that does not exist yet.
2. Protocol adapter requests registration assertion from Device Registration service.
3. Device Registration service creates device without credentials and publishes an empty notification event containing the tenant_id, device_id, gateway_id and hono_registrati

[2020-08-06 12:59] #2102 closed

[2020-08-06 14:28] #1023 closed

[2020-08-10 12:46] kaniyan commented on #1569
This has been closed via #1572

[2020-08-10 12:46] #1569 closed

[2020-08-10 19:21] boaks commented on #2099
x509 - PR #816

"Long ago", I tried to implement it. In the meantime, the hono code base changed a lot, so I'm not sure, if that contains still useful ideas.

RPK - Issue #733

Contains some ideas about RPK.

For both, x509 and RPK, the validation in Californium is currently still "blocking/sync", so I'm not sure, if the validation could be postponed into the "naturally" none-blocking forwarding o

[2020-08-11 09:54] sophokles73 commented on #1276
Some thoughts regarding the resource structure ...

HTTP adapter:
clients post requests to `request[/${tenant}/${deviceId}]
clients receive response (if any) in response body. FMPOV there is no need for a client to supply a correlation ID, this can be done by the adapter.

MQTT adapter:
clients publish to `request/[${tenant}]/[${deviceId}]/${correlationId}`
clients subscribe to `response/[${tenant

[2020-08-13 07:32] sophokles73 commented on #2063
@allenhan can we close this issue?

[2020-08-13 07:37] sophokles73 commented on #2087
@ArashJavan can we close this issue?

[2020-08-13 08:24] sophokles73 commented on #2099
@boaks

I took a look at your PR and I believe that it basically does the right thing(s). It would need to be adapted to the current state of the CoAP adapter but in general it looks quite good. Would you like to give it another shot?

[2020-08-13 08:39] #1395 closed

[2020-08-13 13:05] ArashJavan commented on #2087
@sophokles73, yes, thanks!

[2020-08-13 13:05] #2087 closed

[2020-08-13 14:17] sophokles73 opened #2110 "Clean up class structure of Device Registry"
Below is the class structure for the device management part of the file based device registry which relies heavily on inheritance instead of aggregation.

![image](https://user-images.githubusercontent.com/5682135/90145079-ddcce800-dd7f-11ea-889b-5b2b0d10653a.png)

I believe that we have reached a point where we need to first unclutter the base classes before adding more functionality. In particul

[2020-08-13 14:25] sophokles73 commented on #1958
closed via #2109

[2020-08-13 14:25] #1958 closed

[2020-08-14 01:03] gongzhao2 opened #2111 "The connection between Hono MQTT adapter and gateway will broke if forward wrong topic"
Hi,

Gateway maintain one connection between Hono MQTT adapter and will publish different message to different topic, such as below topic,
•	telemetry/tenant_id/device01
•	telemetry/tenant_id/device02
but the connection will broke if the device is not registered at Hono.

Does this make sense? If the gateway forwards an unregistered device, the connection between the gateway and hono will be disco

[2020-08-14 05:41] sophokles73 commented on #2111
Closing the connection is the only way for a server to explicitly indicate to a client that it was not able to process a message. The alternative would be to silently discard such messages. If the gateway doesn't care about the fact that its messages are being discarded, then this might be the better option. For devices other than gateways it might be more relevant to be able to detect that its me

[2020-08-14 05:55] gongzhao2 commented on #2111
Thanks, then I think I should close this issue.
It would be an excellent option if we can configure disconnection or discarding messages separately.

[2020-08-14 05:55] #2111 closed

[2020-08-14 06:08] sophokles73 commented on #2111
@gongzhao2 you should add your opinion to #2064 in any case ...

[2020-08-14 10:46] kaniyan opened #2112 "Extend MongoDB device registry to support search devices operation"
With the completion of the issue #1958,  the _Open API_ spec for the _Device Registry Management API_ contains also  specifications for the new _search devices_ operation. Based on this spec, the _search devices_ operation is to be implemented in the _MongoDB based device registry_.

[2020-08-14 13:22] boaks commented on #2099
I guess, that I will not have time for it until the end of this year ;-(.

[2020-08-14 13:27] sophokles73 commented on #2099
@boaks Then how about I give it a shot? I can rebase and adapt to current CoAP adapter. WDYT?

[2020-08-14 14:15] calohmn commented on #1276
[..]
clients receive response (if any) in response body. FMPOV there is no need for a client to supply a correlation ID, this can be done by the adapter.

Right, the correlation ID can be set by the adapter (if the client hasn't explicitly provided one).

I agree that we should try to prevent adding new links to the AMQP messaging network. However, a reason for _not_ re-using the telemetry or even

[2020-08-15 05:57] boaks commented on #2099
Sounds good.

[2020-08-17 10:49] ctron opened #2114 "Race condition reporting message timeouts"
I think there is a race condition in the telemetry sender code, which can lead to incorrect warnings about delivery timeouts.

* A timer is set up to expire after the timeout
  * Marks the timeout as expired
* The message is sent, capturing the delivery report

Possible outcomes:
* Delivery is reported first
  * it will cancel the timer
  * then check if the timeout was already reached…
    https:

[2020-08-17 11:42] ctron commented on #2114
Taking a closer look at the other locations, checking implementing the timeout. I think there are similar race conditions possible.

For example:

https://github.com/eclipse/hono/blob/132683d87f05302ecafa2e70476dc70f64244cc1/client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java#L262-L269

If both branches run at the same time, then both branches will be fully executed (timeout and

[2020-08-17 11:56] sophokles73 commented on #2114
I am not sure if I understand your concern here. FMPOV it is as you said: either the delivery is processed first or the timer task is running first. But since both run on the same vert.x context, we can be sure that they never run simultaneously in parallel, can't we? Isn't that the whole idea of vert.x in the first place?

[2020-08-17 12:18] calohmn commented on #2114
And _if_ we found a case where the delivery processing handler was run in a non-vert.x thread, potentially causing such a race condition, we would have to fix that by making sure the handler runs in the vert.x context - e.g. like in the case of #2001.

[2020-08-17 12:20] ctron commented on #2114
I didn't mean "processed" in the sense of the operation completing, maybe "starting to process" is better wording.

Are you *sure* that they are? I do recall that we had issues like that in the past. And needed to introduce additional synchronization. We are not recording and re-using the existing vertx context in our code either.

Of course, if it is guaranteed that both handlers can never be exe

[2020-08-17 12:23] ctron commented on #2114
I think you are mixing up threads with contexts. IIRC a context may run on different threads. The guarantee is, that it is only active on one thread at a time. The question however is, to which context is the handler bound. But yes, recording and re-using the context should be one way to fix this.

[2020-08-17 12:39] calohmn opened #2115 "Determine tenant early on in telemetry/event processing"
Coming from the discussion in https://github.com/eclipse/hono/pull/2108#issuecomment-672876675:

When processing an incoming telemetry/event message in a protocol adapter, the associated tenant should be determined at the beginning of the message processing and the `TenantObject` should be put in the `ExecutionContext` (e.g. `MqttContext`) for that request .

This allows to decide early on, which

[2020-08-18 12:19] kaniyan commented on #2110
:+1: IMHO its a much needed restructuring activity.  For the same reason, with the device back-end approach,  _MongoDbBasedRegistrationService_ had to extend _AbstractRegistrationService_ and implement _DeviceManagementService_ instead of using _AbstractDeviceManagementService_.

[2020-08-18 14:42] sophokles73 commented on #1276
If we don't need the client to specify it, then IMHO we should not allow him to specify one so that there is no chance of using a non-unique correlation ID.

This sounds good in general. However, what if the HTTP adapter receives a command for the device instead of a response to a request? Would the HTTP adapter then *release* the command?

[2020-08-19 09:08] #2063 closed

[2020-08-19 09:09] sophokles73 commented on #2024
@ualsammarraie can this be closed?

[2020-08-19 09:17] sophokles73 opened #2120 "Resource limit checks use wrong resource usage period"
The `PrometheusBasedResourceLimitChecks` calculates the beginning of the most recent resource usage period based on whole days from the exact instant when the resource limits had become effective.
This is wrong in two regards:
1. Every resource usage period after the initial one begins at 12 AM UTC, regardless of the instant at which the limits became effective.
2. When calculating the resources t

[2020-08-19 10:17] kaniyan commented on #1960
FMPOV this _status_ should not be only added to the _device registration data_ and it should also be available to other device registry resources such as _tenant_ and _credentials_.

[2020-08-20 13:52] calohmn commented on #1276
Since we would allow the client to specify it for MQTT messages, my intuition would be to also allow it for HTTP, letting it be the responsibility of the device to ensure uniqueness if it chooses to supply a correlation ID. But since for HTTP the usual case should be the adapter-generated ID we can omit that feature in the initial implementation and add it later, if there is a need.

Yes, provided

[2020-08-20 15:38] alinaserg opened #2125 "Allow to configure usage of piggybacked response for CoAP adapter on the tenant level"
The CoAP adapter can send response to the device in the piggybacked mode. And currently this parameter is configurable only on the adapter level.

We would like to have a possibility to configure this parameter additionally on the tenant level, being flexible in the usage of such functionality.

[2020-08-24 06:34] sophokles73 commented on #2125
I would propose to define a corresponding property in the *adapters* property of the *Tenant* object in the Registry Management API, e.g.
[code]
The CoAP adapter would then use the config value specified at the adapter level by default with the value specified at the tenant level overriding that default value.

@alinaserg @calohmn @boaks WDYT?

[2020-08-24 07:00] alinaserg commented on #2125
@sophokles73, thanks for the proposal. For me it sounds reasonable to proceed as you described.

[2020-08-25 06:01] joosdavid commented on #2053
To guarantee a good user experience it would be an advantage if Things can send a response to the empty notification. For this it is necessary that Hub sets the "reply-to" header in the empty notification. Is this possible?

[2020-08-25 11:32] sophokles73 commented on #2053
@joosdavid not sure what you mean with *good user experience* in this case. FMPOV your proposal would turn the event/notification that the registry sends in order to inform (arbitrary) other services about the newly registered device into a remote procedure call on exactly one service, thus increasing coupling ...

[2020-08-26 07:29] ctron opened #2131 "MongoDB implementation does not check for existing tenant"
The current mongodb implementation does not check for an existing tenant. It allows to create devices, without checking for the existence of a tenant first.

It should however use the `TenantInformationService` to ensure that a tenant exists.

Also, many of our tests currently do not set up a tenant, before registering a device.

[2020-08-26 09:57] kaniyan commented on #2131
IMHO I don't see it as a bug. The MongoDB device registry is implemented as per the OpenAPI spec. We don't have this tenant check specified in our Device Management API spec. I guess for the same reason we don't have corresponding tests. IMHO if we like to bring this tenant check, then its better to start with the OpenAPI spec. So that we can also define the appropriate response codes for the oper

[2020-08-26 11:49] Alfusainey opened #2133 "Message mapping API does not return a failed future"
Maybe I do not understand the mapper endpoint feature added recently, so please bear with me :-) I will close the issue once my doubt is clarified ;-)

According to HttpBasedMessageMapping#mapMessage API docs, the method is supposed to returned
1. a `mapped message` if the device payload can be successfully mapped to a `new payload type` OR
2. a `failed future`, with a ServiceInvocationException,

[2020-08-26 16:23] ctron commented on #2131
As mentioned in the chat, I disagree:

The spec says:

The second create call misses the explicit wording on "existing", which we will fix by updated the spec.

The missing items in the spec have been addresses with: https://github.com/eclipse/hono/pull/2132

[2020-08-27 07:53] kaniyan commented on #2131
As I also wrote in the chat, I differ in opinion as the spec is inconsistent and also didn't mention what is expected if a tenant doesn't exist. With no existing tests so far and also from the discussion in #2132, I see that this check is not mandatory yet. Its good that you have raised that PR #2132 to fix the spec and include the expected response codes.

[2020-08-27 12:20] sophokles73 opened #2134 "MongoDB implementation does not support client context matching"
The Credentials API's *get* operation provides means to include a *client context* which the service implementation may use to determine matching credentials on record.
The file based registry does support this already. In particular, it will not return the following credentials on record
[code]

for a request with the following search criteria:
[code]
However, the MongoDB currently does not consi

[2020-08-27 14:07] kaniyan commented on #2134
This is not yet implemented and a _TODO_ is still open. If it can wait, I can start after finishing the IT tests for search devices operation and implementing tenant existence check while registering devices.
https://github.com/eclipse/hono/blob/e30ba4b192b5be4b34315c1325a2a113092b0322/services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCreden

[2020-08-27 14:52] calohmn opened #2135 "Deprecate/Remove "single tenant" mode"
The configuration options for a protocol adapter or for different services in a Hono component in general support a **single tenant** mode:
https://github.com/eclipse/hono/blob/a2fb22b4ffb8aee26b2e54ec8096d5ac2f07f5d4/core/src/main/java/org/eclipse/hono/config/ServiceConfigProperties.java#L96-L107

This setting is currently not documented in the [Protocol Adapter options](https://www.eclipse.org/h

[2020-08-27 15:48] meshkatul-anwer-bosch opened #2137 "adapters keeps accepting connection from device (with X.509 certificate) even when tenant's trusted-ca is deleted."
If the trusted-ca of a tenant is removed, the expected behavior may be, that all further connection requests with  X.509 certificates ( signed by the removed root-ca) should be denied. However, it looks like adapters ( observed on http-adapter ) keeps accepting new connections. Only after a restart of all the adapter pods ( in our test case http-adapter, could be the same for MQTT-adapters also),

[2020-08-28 07:12] calohmn commented on #2137
Possibly the tenant object was still cached in the protocol adapter here.
The maximum age of the cache entry is defined by the `max-age` cache directive used in the device registry implementation (for the MongoDB implementation this is configured via the `cacheMaxAge` property with a default of 3 minutes). If the used device registry implementation doesn't set this cache directive, the client (ie.

[2020-08-31 08:00] b-abel commented on #8
# Proposal

The first step is to replace AMQP with Kafka for the downstream direction. Commands are out of scope for now.
For this, we need a Hono Client that uses Kafka instead of AMQP for (downstream) messaging.
As a prerequisite, we should refactor the Hono Client so that it no longer exposes AMQP specifics to the outside (i.e. to the protocol adapter) and can be used protocol-independently wit

[2020-08-31 11:56] thjaeckle commented on #8
I think we would have to take that question to the users of Hono/Ditto combination, whether they require/assume that telemetry messages of a single device sent in high frequency are applied/consumed in order of the sending.

Personally I think this makes sense from a "cost"/ service operations perspective - namely to process "telemetry" messages the lowest possible "cost" (based on Kafka resources

[2020-08-31 12:50] ctron commented on #8
I think if you no longer guarantee the order of telemetry, that makes this feature rather useless. Because you never know if the message you just received is already outdated.

[2020-08-31 15:12] b-abel commented on #8
You are right, with QoS 1 telemetry messages are guaranteed to be delivered (i.e. persisted in the case of Kafka) and should therefore be in order.

@ctron I see your point. On the other hand, with QoS 0, if there is no guaranteed delivery, the message might be outdated as well if the update was lost.

Let me give an example where the guaranteed message order could make the problem of outdated mes

[2020-09-01 08:24] ctron commented on #8
I think that is not the same. With QoS 0 a message might be dropped and so the current state would be outdated. However, eventually, the next update comes along. Still, all the time to that point, you showed some valid (although outdated) information.

If you mix up the order of delivery, then you might how information that is actually **wrong**, because the system already received updated informa

[2020-09-01 08:29] meshkat632 commented on #2137
During the test, we observed that the cache is getting refreshed after 10 min.  So closing the issue.

[2020-09-01 08:35] sophokles73 commented on #2137
@meshkat632 then please do so (i.e. close this issue) :-)

[2020-09-01 08:39] #2137 closed

[2020-09-01 09:42] dejanb commented on #8
@b-abel @ctron Shouldn't we be able to use "consumer groups" to parallelize consumption from a topic if we want to trade ordering for throughput? So, it should be something that northbound application can choose to do even if we properly partition telemetry topics.

[2020-09-01 12:46] b-abel commented on #8
@ctron You are right. I did not think of that. So, I agree that we should guarantee the message order for telemetry data as well.

@dejanb Sure, a consumer application could always do that anyway.

[2020-09-01 13:06] calohmn opened #2144 "HTTP adapter: "authenticate device" span has no parent (certificate authentication)"
For an incoming HTTP request using certificate authentication, the HTTP adapter creates an "authenticate device" span that doesn't have the corresponding "POST" (or "PUT", etc.) span as its parent.
That means the "authenticate device" span is not part of the whole HTTP request trace.

[2020-09-01 13:46] sophokles73 commented on #2144
Are we talking about the span that is used for retrieving the trust anchor? If so, then we cannot help it because at the TLS handshake level, there is no HTTP request yet ...

[2020-09-01 13:57] sophokles73 commented on #8
One of the most attractive features of using Kafka for the downstream direction actually is that we can have messages being delivered in order while being able to consume messages in parallel basically at zero cost. I do not see why we shouldn't take advantage of this for telemetry as well. So FMPOV we definitely use multi-partitioned topics for telemetry **and** events. For telemetry it might mak

[2020-09-01 14:00] sophokles73 commented on #8
+1

[2020-09-01 14:05] sophokles73 commented on #8
I agree. We will need to bite that bullet for the Kafka variant. On the other hand, we are not very consistent with providing this application level end-to-end ACK mechanism anyway. In fact, we only support it for QoS 1 telemetry. We might want to think about a way to introduce generic application level end-to-end ACKing as part of #1276 ...

[2020-09-01 14:06] sophokles73 commented on #8
Is there a potential problem with that approach? Does it have any particular drawbacks?

[2020-09-01 14:08] sophokles73 commented on #8
FMPOV we should simply define *Kafka* variants of the APIs, i.e. they will be defined by means of Kafka topics and the Kafka protocol/client. An operator/administrator can then choose to either provide the AMQP 1.0 or Kafka-based north bound APIs ...

[2020-09-01 14:17] sophokles73 commented on #8
Can you provide a pointer to the corresponding Kafka documentation? Based on a gut feeling, I do not believe that this would be very helpful. We also do not use the implicit schema support of AMQP 1.0, so I do not see why we would use it here ...

[2020-09-01 16:46] calohmn commented on #2144
It's the span created by the `X509AuthProvider` with the span context given by the `X509AuthHandler`. And the latter is set in a route handler that comes after the handler that creates the root span. So the root span to be referenced here is actually already available.

With the fix given in #2146, the trace will look like this:
![Http_cert_auth_trace](https://user-images.githubusercontent.com/891

[2020-09-02 07:03] sophokles73 opened #2147 "Potential race condition in MQTT adapter"
When sending a command to a device with QoS 1, the MQTT adapter currently adds the command message ID specific PUBACK handler (and the corresponding timeout handler) as part of the publishSentHandler.
If the device is very quick to respond with its PUBACK, this handler might be scheduled on the event loop after the (generic) pubackHandler has already been invoked for the PUBACK sent by the device.

[2020-09-02 08:00] #2144 closed

[2020-09-02 10:06] b-abel commented on #8
I was not quite correct in the terminology. Sorry about that. The term "schema" is not used by Kafka, but only by external extensions (e.g. [Confluent Schema Registry](https://docs.confluent.io/current/schema-registry/index.html)). At the Kafka client, you just configure serializers and deserializers (which in turn can use schema registries). For Hono it is only a question of whether one can confi

[2020-09-02 11:21] sophokles73 commented on #2147
After taking a closer look at the MQTT client implementation, I do no longer think that this can actually occur

[2020-09-02 11:21] #2147 closed

[2020-09-02 11:34] #2125 closed

[2020-09-02 13:12] boaks commented on #2099
@sophokles73
@mostafa-eltaher

I started to implement a "none blocking" `CertificateVerifier` and `RPK lookup`. That's only the first step to get an initial support. The steps for handling multiple server certificates based on DNS or signature algorithms are not planned from my side for now. Also steps to make the "session cache" really cluster ready, are not planned (see [Evolving the SessionCach

[2020-09-02 13:47] dejanb commented on #8
I would leave Hono content-agnostic and allow producers and consumers on the south and north bounds define schemas if necessary.

[2020-09-03 14:07] sophokles73 opened #2152 "AMQP adapter does not limit message size"
The AMQP adapter correctly sets the *max-message-size* property in its *attach* frame when accepting a link for sending data from a device. However, the adapter does not reject messages that exceed the max payload size configured for the adapter.

[2020-09-03 15:44] sophokles73 commented on #2112
@kaniyan can this be closed?

[2020-09-03 15:50] kaniyan commented on #2112
yes. This has been closed via #2116, #2122, #2138 and #2150.

[2020-09-03 15:50] #2112 closed

[2020-09-04 09:48] calohmn opened #2155 "CoAP adapter: no disposition update sent for command"
Consider the following scenario:
A telemetry message is sent to the CoAP adapter with type `CON` (_at least once_ delivery semantics) and a `ttd` parameter.
The downstream application does *not* acknowledge the message. There is however a command being sent to the device.

Because the telemetry message is not acknowledged, the CoAP adapter returns an error response back to the originating device a

[2020-09-04 13:48] sophokles73 commented on #2131
@ctron can we close this based on #2141 ?

[2020-09-04 15:01] boaks commented on #2099
@sophokles73

I created a first PR for x.509 in californium which also supports a custom argument may be used for the device id.

About RPK support:
Does hono support a "credentials store" per tenant? If so it will be hard for RPK, because the RPK doesn't contain more information than its "global unique public key". If it's OK to do a "global credentials lookup", I will add the none blocking suppo

[2020-09-07 07:02] b-abel opened #2156 "Transport protocol agnostic interface for Hono-Client"
To use [Kafka for messaging](#8 ), the Hono client must be refactored so that its interface is abstracted from AMQP 1.0 and allows the use of a different protocol.

[2020-09-07 07:03] b-abel commented on #8
I created #2156 for that.

[2020-09-07 08:47] ctron commented on #2131
To me it looks like this only fixes the registration, but not the credentials.

[2020-09-07 08:49] ctron commented on #1960
As the credentials are part of the device, that doesn't make much sense me. For the tenant, I agree.

[2020-09-07 12:54] kaniyan commented on #2131
The `MongoDbBasedCredentialsService` extends `AbstractCredentialsManagementService` where it uses the tenant informatiomn service to check if a tenant exists or not. Hence #2141 also fixes the credentials part too.

[2020-09-07 12:57] ctron commented on #2131
Ah ok, I overlooked that, I only checked the referenced PR.

Then yes, I think we can close this.

[2020-09-07 13:11] jbtrystram commented on #1960
Still, you don't get the status section when you retrieve credentials.

[2020-09-07 18:05] calohmn commented on #1712
With #1272, the logic for choosing to which gateway a command will be sent has been changed.
Taking the [documentation](https://www.eclipse.org/hono/docs/user-guide/mqtt-adapter/#receiving-commands-authenticated-device) of how command are sent to MQTT devices, the logic is as follows:

That means the "last known gateway" information is now only used when _multiple_ gateways (configured to be able

[2020-09-08 06:56] sophokles73 commented on #2131
@ctron well then, will you (close it)? ;-)

[2020-09-08 07:07] #2131 closed

[2020-09-08 08:21] #2155 closed

[2020-09-08 08:26] alinaserg commented on #1712
@calohmn it means, that with the current implementation there's always a possibility that the command will be sent to the random gateway and a device is connected to the another gateway, so the device won't receive this command and actually it won't even be transparent to the northbound application that the command hasn't reached the device, correct?
To avoid it, the initial communication with eve

[2020-09-08 08:29] calohmn commented on #1712
@alinaserg correct

[2020-09-08 08:36] alinaserg commented on #1712
@calohmn thanks, then let close the issue.

[2020-09-08 10:36] #1712 closed

[2020-09-08 12:22] calohmn opened #2166 "HTTP adapter: Improve 503 error message in response in certain cases"
When there is a HTTP 503 `Service Unavailable` error while processing a telemetry/event message in the HTTP adapter, the response payload only contains the error message `temporarily unavailable`.

I would be helpful to have a more specific error message especially in these cases:
- a telemetry message has been sent and there is no consumer (internally, there is a "no credit" error)
- a telemetry

[2020-09-10 06:32] #2134 closed

[2020-09-10 12:04] fkaltner commented on #1960
Hi @ctron & @jbtrystram !

I am a bit confused about this issue: the model classes in Hono, i.e. the model for a device (https://github.com/eclipse/hono/blob/master/services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java) already contain that status property. This is not yet implemented as far as I can see which is why I took a look at it, since it would

[2020-09-11 08:46] sophokles73 opened #2170 "Registry should support upload of client certificate for X.509 credentials type"
The Device Registry Management API currently requires clients to register the subject DN of a device's client certificate as the authentication identifier of X.509 credentials. When doing so, the registry requires the client to use the string format defined in RFC 2253. However, it is not really straight forward to produce from a given X.509 certificate. In fact, it requires using the openssl comm

[2020-09-11 13:54] roullli opened #2171 "Adding credentials gives a bad request error"
Hi,

I'm trying to add credentials for the device 4711, but I'm receiving this error:

![image](https://user-images.githubusercontent.com/51787620/92933373-db2ce380-f44e-11ea-8aee-f3fa5b56560a.png)

I also tried this for version 1.3 :
![image](https://user-images.githubusercontent.com/51787620/92933595-18917100-f44f-11ea-8b0b-ca246c90b079.png)
 but again I get this error:
![image](https://user-ima

[2020-09-11 14:22] sophokles73 commented on #2171
You must not include the *device-id* property in the credentials.

[2020-09-14 06:33] sophokles73 opened #2174 "File based registry does not accept X.509 credentials"
The file based device registry fails to update a device with X.509 type credentials that do not contain a *secrets* array.

[2020-09-14 07:11] roullli commented on #2171
I removed the 'device_id' property, but still having the same issue:
![image](https://user-images.githubusercontent.com/51787620/93054747-8073d180-f672-11ea-966f-15b0590e15d0.png)

[2020-09-14 07:45] sophokles73 commented on #2171
Can you please post the output as text so that I can copy it easily to test locally?

[2020-09-14 07:46] roullli commented on #2171
Sure, Thanks:

`curl -i -X PUT -H 'Content-Type: application/json' --data-binary '{
    "type": "hashed-password",
    "auth-id": "'$AUTH_ID'",
    "secrets": [{
        "hash-function" : "sha-512", "pwd-hash": "'$PWD_HASH'", "not-after": "2020-03-31T00:00:00+01:00"
    }]
}' http://192.168.1.151:28080/v1/credentials/DEFAULT_TENANT/4711`

[2020-09-14 07:48] sophokles73 commented on #2171
Oh and which Hono version are you running and how did you deploy? Are you running on a local minikube cluster?

[2020-09-14 07:48] roullli commented on #2171
I'm running the last version. 1.3
I have built my own Kubernetes cluster.

[2020-09-14 07:49] sophokles73 commented on #2171
And how did you deploy? Using the helm chart?

[2020-09-14 07:50] roullli commented on #2171
first one is 4711_auth,
and the second one is a hashed password

yes, I used helm chart. I updated the repo and then deployed hono

[2020-09-14 07:56] sophokles73 commented on #2171
Is the hashed password base64 encoded?

[2020-09-14 07:57] roullli commented on #2171
yes I used this command:

`PWD_HASH=$(echo -n $PWD | openssl dgst -binary -sha512 | base64 -w 0)`

[2020-09-14 08:28] #2135 closed

[2020-09-14 08:29] sophokles73 commented on #2171
Ok, there are two problems with your payload:
1. The payload must be a JSON Array. Yours is a JSON Object.
2. The *auth-id* property does not comply with the pattern used by the file based registry (`^[a-zA-Z0-9-=.]+$`) which is different from the pattern documented in the Device Registry Management API (`^[a-zA-Z0-9-_=.]+$`).

The second issue obviously is a bug in the file based registry. Howeve

[2020-09-14 08:47] sophokles73 opened #2175 "Device Registries do not accept credentials with auth-id containing underscore"
The Device Registry Management API defines the authentication identifier pattern as `[a-zA-Z0-9-_=.]+` which includes the underscore character. However, the registry implementations do not accept `4711_authid` as an authentication identifier.

So, either the pattern in the API needs to be changed to exclude the underscore or the implementations need to be changed to accept the underscore.

[2020-09-14 08:51] sophokles73 commented on #2175
@ctron @dejanb is there any reason not to accept underscores in the auth-id property value from your point of view? If not, then I would like to change the pattern in the implementations accordingly ...

[2020-09-14 08:59] roullli commented on #2171
Thanks,
I replaced it with this command:
`curl -X PUT "http://192.168.1.151:28080/v1/credentials/DEFAULT_TENANT/4711" -H "accept: */*" -H "Content-Type: application/json" -d "[{\"auth-id\":\"4711-auth\",\"type\":\"hashed-password\",\"secrets\":[{\"pwd-hash\":\"'$PWD_HASH'\",\"hash-function\":\"sha-512\",\"not-after\":\"2020-03-31T00:00:00+01:00\"}]}]"`
and it didn't prompt me anything. is it fine?

[2020-09-14 09:02] sophokles73 commented on #2171
No, it should be fine. You can check with
[code]
and check if the device's credentials match your expectation ...

[2020-09-14 09:06] roullli commented on #2171
![image](https://user-images.githubusercontent.com/51787620/93066405-a30de680-f682-11ea-9153-e35291f88ab7.png)

Yes, correct. Thanks a lot.  I'll close the issue!

[2020-09-14 09:06] #2171 closed

[2020-09-14 13:18] calohmn opened #2176 "Invalidating tenant/device/credentials cache entries in protocol adapters"
When a device or a tenant is getting disabled in the device registry, it could take up to the configured `cacheMaxAge` period for this change to take effect in the protocol adapters - if the old device/tenant object is cached in the protocol adapter.

In order to reduce this period (without having the performance impact of lowering the `cacheMaxAge` configuration), the relevant cache entries in th

[2020-09-14 13:34] sophokles73 commented on #2176
I would rather not abuse the registry's APIs for doing implicit cache synchronization/invalidation. If such invalidation is strictly needed in addition to the standard cache timeout, I would propose to let a caching framework handle this, e.g. use a distributed invalidating cache for this purpose, e.g. https://infinispan.org/docs/stable/titles/configuring/configuring.html#invalidation-configuring

[2020-09-14 14:00] calohmn commented on #2175
I don't see scenarios where underscore would cause problems, therefore I would stick with the API definition here.

[2020-09-15 11:57] dejanb commented on #2175
I don't see why that would be, I'd stick with the spec as well

@jbtrystram you spent the most time in this area. Do you see any reason for this?

[2020-09-15 12:54] jbtrystram commented on #2175
I probably have removed the underscore in the implementation because I saw a couple of REST API designs guides that advised against using underscore in resources that where accessible through a URL. The argument being that it may cause confusion when linking such a resource, because the usual underline of URL resources may "hide" the underscore and someone could mistake it for a space.

IIRC we di

[2020-09-15 13:01] sophokles73 commented on #2175
closed via #2177

[2020-09-15 13:01] #2175 closed

[2020-09-15 16:58] kaniyan commented on #1960
We are offering separate rest methods for the credentials. FMPOV we are already treating them as different resource. Also credentials can be updated irrespective of the devices. Hence I think its also good to have a status section for the credentials.

[2020-09-16 09:04] calohmn opened #2180 "MQTT adapter: NPE when using empty publish topic"
We have observed the following exception in the MQTT adapter:
[code]
This must have occurred when the client has published a message with an empty topic.

[2020-09-16 10:03] roullli opened #2181 "Old version deployment"
I'm trying to run an application which was built based on older versions of Hono. There the registration commands were different than the newer versions. for example:
`curl -X POST -i -H 'Content-Type: application/json' -d '{"device-id": "'$DEVICE_ID'"}' $HONO_DEVICE_REGISTRY_ADDRESS/registration/DEFAULT_TENANT` this is the format for adding a device to Hono.

First, I want no know is this based o

[2020-09-16 12:51] sophokles73 opened #2183 "File based registry fails to replace credentials"
The registry should support replacing a device's credentials with a new set of credentials by means of omitting the existing credentials from the body of a PUT request to `/v1/credentials/tenant/device`.
However, the file based registry does not remove the omitted credentials but merely adds the (new) credentials from the request body to the set of existing credentials.

[2020-09-16 13:04] #2180 closed

[2020-09-16 15:40] sophokles73 opened #2184 "File and Mongo DB based registries return pre-shared key via management API"
The file based and Mongo DB based registries both include PSK credentials' shared *key* property in the response body of the *read credentials* operation. However, the key should not be included, analogously to the hashed password credentials

[2020-09-17 06:26] sophokles73 commented on #2181
The command for registering the device that posted is from before we introduced the Device Registry Management API in Hono 1.0.
Sorry, but we do not support pre-1.0.0 versions anymore. You might be able to find some hints in the source code at pre-1.0.0 tags.
There have been so many changes and improvements since then that IMHO it should be much more beneficial for you to adapt the registration co

[2020-09-17 12:11] sophokles73 opened #2187 "Upgrade to vert.x 3.9.3"
Upgrade to latest bugfix release

[2020-09-17 12:12] kaniyan commented on #2184
@sophokles73 Could you please assign this to me, if none is already working on it.

[2020-09-17 12:14] sophokles73 commented on #2184
I have already fixed this, PR pending ...

[2020-09-17 12:15] kaniyan commented on #2184
:+1:

[2020-09-17 12:33] kaniyan commented on #2064
@sophokles73 Could you please assign this to me, if no one is already working on it.

[2020-09-17 18:55] calohmn commented on #2176
I agree that letting the cache invalidation be handled by a caching framework should generally be preferred.
However, FMPOV, replacing the current caching logic with Infinispan would mean a general architectural change, requiring the protocol adapters to all be part of an Infinispan cluster then. As far as I understood, we have avoided taking that step until now (being too restrictive, adding comp

[2020-09-21 07:29] roullli commented on #2181
I also tried to use version 1.0.0 and I could not succeed.
the device registry container does not run properly. I used `kubectl describe` command to see what is wrong with it!
this was the output!
![image](https://user-images.githubusercontent.com/51787620/93741438-1a002d80-fbf5-11ea-9045-3e595af8e8fb.png)

 I don't know what is this referring to!

[2020-09-21 07:31] sophokles73 commented on #2181
Why don't you simply run the latest version?

[2020-09-21 07:34] roullli commented on #2181
cause I'm forced to run version 1.0.0. we had a project which was based on hono 1.0.0 and changing the version needs lots of effort.

[2020-09-21 07:43] sophokles73 commented on #2181
How so? We give our best to keep the external API of Hono's major versions backwards compatible, i.e. if you have clients interacting with Hono 1.0.0, they should also be able to interact with Hono 1.4.0 ...
Apart from that, have you downloaded the 1.0.4 Helm chart from the [Downloads page](https://www.eclipse.org/hono/downloads/#previous-versions) or are you trying to use the Helm chart published

[2020-09-21 07:50] roullli commented on #2181
I tried to run the project with the latest release but the subscription process does not go well.
I'm trying to run the roverapp project [https://app4mc-rover.github.io/rover-docs/](url).
I used Helm chart on Eclipse Packages. [https://github.com/eclipse/packages/tree/master/charts/hono](url)

[2020-09-21 07:55] sophokles73 commented on #2181
Then please use the chart from the Downloads page. We migrated the Helm chart to the Packages project with Hono 1.1.0. The chart, however, is not guaranteed to succeed in deploying older versions of Hono.

[2020-09-21 09:38] roullli commented on #2181
Thank you for the information.
I'll close this issue.

[2020-09-21 09:38] #2181 closed

[2020-09-21 09:58] sophokles73 commented on #2187
Closed via #2191

[2020-09-21 09:58] #2187 closed

[2020-09-21 11:33] sophokles73 opened #2193 "Device Registry Management API declares plaintext pwd as Base64 encoded byte array"
The registry management API declares the plaintext password field of the PasswordSecret as type `String` of format `byte` which means that the property value is supposed to be a Base64 encoded byte array (http://spec.openapis.org/oas/v3.0.3#dataTypeFormat).
FMPOV this is wrong and the plaintext password should be a simple String.
WDYT @calohmn @dejanb @ctron @jbtrystram ?

[2020-09-21 12:05] sophokles73 opened #2194 "PasswordSecret's pwd-hash type is not used as declared"
The API declares the *pwd-hash* as type *String* of format *byte* which means that the property value is supposed to be a Base64 encoded byte array. However, if the hash-function is `bcrypt` then the hash is a plain String which itself contains the Base64 encoding of the pwd-hash and the salt used to create the hash.

FMPOV we have the follwing options:
1. Keep the property declared as String with

[2020-09-21 13:14] roullli opened #2195 "Problem with deploying hono on private K8s cluster"
I'm running Hono inside my own cluster built based on RPis.
everything looks like to be fine.
I used helm to install the latest version of Hono.
here is the result for `kubectl get all -n hono`
![image](https://user-images.githubusercontent.com/51787620/93770404-cd344b00-fc24-11ea-9fb6-d995cdaa29f0.png)
It shows everything is fine.
but there is a warning for almost all adapters and servers. here i

[2020-09-21 14:42] calohmn opened #2197 "Homepage: Items in 'Who uses Hono' section are hidden"
The 'Who uses Hono' section on the homepage is currently empty - the items in there seem to be hidden.

[2020-09-21 15:08] sophokles73 commented on #2195
That only means that the readiness probe did not succeed on a single invocation. It obviously succeeded on subsequent invocations, otherwise the pod wouldn't have become ready. Are you experiencing any issues when using the services?

[2020-09-21 15:39] sophokles73 commented on #2064
I agree with the handling of unprocessable Telemetry QoS 0 messages being in line with the spec and the guarantees made by Hono.

Most people I have talked to believe that this behavior is actually *not* compliant with the spec, i.e. the server only has the options to send a PUBACK or close the connection. We have decided for closing the connection as most MQTT client implementations are not prepa

[2020-09-22 05:01] roullli commented on #2195
Ok, I thought that there is a serious problem with my cluster!! I'm facing a problem with my application which is using Hono. but since everything is fine with Hono I have to think about what is wrong with the app!

[2020-09-22 05:01] #2195 closed

[2020-09-22 07:13] sophokles73 commented on #2197
@b-abel would you mind taking a look at this?

[2020-09-22 07:18] b-abel commented on #2197
Will do.

[2020-09-22 10:19] b-abel commented on #2197
Blocked by https://github.com/EclipseFdn/iot.eclipse.org/issues/526.

[2020-09-22 10:38] b-abel commented on #2197
The script breaks regularly. The Eclipse Foundation is working on a new solution. In the meantime, we could just deliver the script ourselves. The only thing is that new adopters would not be added automatically. But this is a pretty rare event.

[2020-09-22 12:30] calohmn commented on #1956
@jbtrystram @dejanb @sophokles73
As brought up in the Hono gitter channel, I think a release notes entry is missing here about a Device Registry API change, also informing how to configure the tenant/device pattern, so that e.g. systems using Ditto can still create devices (with a colon in the id).

Regarding the changes in the `device-registry-v1.yaml`, defining the schema pattern for the device

[2020-09-22 14:02] sophokles73 commented on #1956
Isn't this an inconsistency that the patterns are explicitly defined in the API, while they can still be adapted using the configuration properties? I mean, a device registry that has overridden the patterns using the properties doesn't conform to the API anymore, does is?

I agree. This seems rather inappropriate.

Yes, I agree.

WDYT?

The default pattern used in the registry should do so, yes.

[2020-09-23 07:27] dejanb commented on #2193
@sophokles73 Yeah, that looks like a bug to me

[2020-09-23 09:17] #2184 closed

[2020-09-23 10:13] calohmn opened #2201 "Allow colon in default device id pattern"
From https://github.com/eclipse/hono/issues/1956#issuecomment-696689998:
As it is a common use case to use Hono with Eclipse Ditto, a Hono device identifier should by default also be allowed to contain a colon, since Ditto requires this.

Also the device and tenant identifier pattern should be removed from the device management API definition, as these patterns may be adapted via the device regist

[2020-09-23 11:01] sophokles73 commented on #2201
@calohmn are you going to fix this?

[2020-09-23 11:25] #2193 closed

[2020-09-23 11:58] calohmn commented on #2201
@sophokles73 yes

[2020-09-24 07:38] Christian-Schmid opened #2205 "Feature Request: Device Connection Rate Limiting"
Eclipse Hono currently supports the following resource limits:

- Number of Device Connections
- Overall Connection Time
- Data Volume

I would like to discuss your opinion on a new limitation, the "Limitation of Number of concurrent connection attempts for device connections".

Such feature would be interesting because of the following points:

- To establish a connection with a protocol adapter

[2020-09-24 08:45] Christian-Schmid commented on #1469
Good question :-)
Honestly I haven't been missing those metrics anymore since raising this issue.
Back then we were interested in them while analyzing some timing issues in our cluster.
Meanwhile we also used the jaeger tracing information to debug such cases.

Fmpov we can close the issue for now. And if someone is missing them, we can reopen.

[2020-09-24 11:02] mbaeuerle commented on #1434
An update on this:
It seems it does not make sense to use the whole range of the shown time window with `[$__range]`.
Using a big range like this basically means that for interpolation also values way older are used.
Using a range of `[1m]` fixes the issue.
See also https://www.robustperception.io/irate-graphs-are-better-graphs:

The Hono example dashboards often also use `[$__range]`. Maybe it ma

[2020-09-24 14:19] sophokles73 opened #2208 "MongoDB based registry fails to update existing/adding new secret in single request"
Given existing hashed-password credentials with a single password secret, the Mongo DB fails to update the existing secret while also adding a new (password) secret to the credentials in a single request. Instead, the registry returns a 400 status code.

[2020-09-24 14:58] #2208 closed

[2020-09-25 15:32] sophokles73 opened #2215 "Device Registry Management API accepts credentials without secrets"
The Management API currently defines the *secrets* property of the credentials types as optional. However, there is not much use for credentials that do not contain any secrets. FMPOV the property should therefore be mandatory and the secrets array should be required to contain at least one element. Formally, this would constitute a *breaking API change*. However, I wonder if there is a use case t

[2020-09-27 15:23] akofoed opened #2217 "Device-ID and Tenant-ID validation regex configuration option not working"
According to the documentation in [file-based](https://www.eclipse.org/hono/docs/admin-guide/file-based-device-registry-config/) or [Mongo-based](https://www.eclipse.org/hono/docs/admin-guide/mongodb-device-registry-config/) it should be possible to pass the command-line option HONO_REGISTRY_HTTP_DEVICE_ID_REGEX or set the option "hono.registry.http.deviceIdRegex" in the  application.yaml. This is

[2020-09-28 06:03] sophokles73 commented on #2217
The `hono.registry.http.*` properties are available since Hono 1.4.0. They are replacing the corresponding properties with the `hono.registry.rest` prefix. The new prefix is used, if no properties with the `hono.registry.rest` prefix are set. Can you check if you are setting any of the following properties:
* `hono.registry.rest.keyPath`
* `hono.registry.rest.keyStorePath`
* `hono.registry.rest.in

[2020-09-28 06:11] calohmn commented on #2217
These setter methods are generally not called directly in the code as the property objects get populated via Spring Boot.

[2020-09-28 11:08] akofoed commented on #2217
Thanks for you reply.
I am using 1.4.0 and are using the hono.registry.http config options. This is my application.yml:

[code]

When i try to create a new device with a namespace ID (eg. namespace:deviceID using HTTP POST (or get):
http://$REGISTRY_IP:28080/v1/devices/$MY_TENANT/namespace:deviceID

I get a 400 Bad Request:
`request parameter [name: device_id, value: namespace:deviceID] failed val

[2020-09-28 11:52] calohmn commented on #2217
@akofoed It looks like you used the wrong property name in your application.yml. It is "deviceIdPattern", instead of "deviceIdRegex".
See also the [config](https://github.com/eclipse/packages/blob/b8a638db33c495cdef93b2461fbeeac86622bfb2/charts/hono/templates/hono-service-device-registry-mongodb/hono-service-device-registry-secret.yaml#L59) from the Hono helm chart.

[2020-09-28 12:06] akofoed commented on #2217
Thanks @calohmn I can confirm that it is working when using deviceIdPattern.

The documentation must then be in need of an update:
https://www.eclipse.org/hono/docs/admin-guide/mongodb-device-registry-config/
It says:
[code]

[2020-09-28 12:10] calohmn commented on #2217
@akofoed Indeed, thanks for pointing that out.

[2020-09-28 12:22] sophokles73 commented on #2217
Let's use this issue to fix the documentation accordingly.

[2020-09-28 13:23] #2217 closed

[2020-09-28 15:41] kaniyan opened #2221 "Fix information regarding custom properties in Tenant API"
[Tenant API documentation](https://www.eclipse.org/hono/docs/api/tenant/#tenant-information-format) mentions as below about allowing custom properties.

 Also the example in the Tenant API contains some custom properties at both the root level (_customer_) as well as the adapter configuration level (_deployment_).

With PR #2040 from Hono 1.3.0 it is not possible to add any more custom properties

[2020-09-29 07:35] sophokles73 commented on #2221
Well, the Tenant API and the Device Registry Management API are not tied to each other. There is no requirement to use the latter for managing the content of data store that the Tenant API is implemented on top of. I would therefore rather keep the Tenant API as is, even if the protocol adapters (currently) do not make use of any such additional data returned by the *get Tenant* operation.

[2020-09-29 08:12] dejanb commented on #2215
@sophokles73 this change sounds reasonable to me

[2020-09-29 09:51] #2201 closed

[2020-09-30 18:01] #2166 closed

[2020-10-01 10:45] fkaltner opened #2226 "Provide metrics for message credits"
In order to support users/developers of northbound applications it would be useful to have metrics for message credits: by this one could tell if there is e.g. a slow consumer which may lead to message credits being drained on AMQP links.

Also this would be handy in the context of a streaming architecture for monitoring the "liveliness" of a stream processing pipeline.

As far as I understood bei

[2020-10-01 12:05] sophokles73 commented on #2215
closed via #2219

[2020-10-01 12:06] #2215 closed

[2020-10-02 09:15] sophokles73 commented on #1469
@Christian-Schmid we have added some similar [metrics for sending telemetry and events downstream](https://www.eclipse.org/hono/docs/api/metrics/#protocol-adapter-metrics). Maybe these are of interest to you instead.

[2020-10-02 09:15] #1469 closed

[2020-10-02 15:23] sophokles73 opened #2230 "Define limits for adapters receiving commands"
The protocol adapters currently receive commands over a link that does not limit the max-message-size using the connection's default session which does not limit the session window. These limits should be set based on configuration properties with reasonable defaults in order to prevent the adapters from running into OOM exceptions when command bursts occur.

[2020-10-06 10:13] bialad commented on #1958
I'm running Hono v1.4.0, but get 501 Not Implemented when calling this endpoint with:

`http://{{REGISTRY_IP}}:{{REGISTRY_PORT_HTTP}}/v1/devices/{{TENANT}}?enabled=false`

Am I doing something wrong?

[2020-10-06 10:13] bialad commented on #1958
I'm running Hono v1.4.0, but get 501 Not Implemented when calling this endpoint with:

`http://{{REGISTRY_IP}}:{{REGISTRY_PORT_HTTP}}/v1/devices/{{TENANT}}?enabled=false`

Am I doing something wrong?

[2020-10-06 10:45] #2174 closed

[2020-10-06 10:45] #2183 closed

[2020-10-06 11:17] sophokles73 commented on #1958
@bialad can you please post your question on stackoverflow as described in our [community guide](https://www.eclipse.org/hono/community/get-in-touch/)? We can then answer your question in a way that others can also benefit from.
Thanks

[2020-10-07 09:59] b-abel opened #2232 "Support service configuration for local development"
Configuring the components of Hono (protocol adapters, device registry, auth server, dispatch router, message broker, ...) to play nicely together is a non-trivial task. While the Helm chart does a great job in configuring them for Kubernetes, there is no support for local development, like starting a protocol adapter from the IDE.
The old Docker Swarm deployment scripts could be modified quite ea

[2020-10-08 06:09] calohmn opened #2234 "Command with unsupported AMQP message body isn't rejected"
Brought forward in the discussion in #2214:
A command message with an unsupported AMQP message body is forwarded to the device with an empty payload.

Instead of payload data getting lost, such a command message should get rejected as invalid.

[2020-10-08 12:12] #2221 closed

[2020-10-08 12:56] roullli opened #2238 "MQTT refuses connection"
Hi,

I'm trying to test the MQTT adapter to see if it is working properly or not! I used this command `mosquitto_pub -u '4711@DEFAULT_TENANT' -P hono-secret -t telemetry -m '{"temp": 5}'` as it was mentioned in the user guide document. It responds me back the connection refused error.
![image](https://user-images.githubusercontent.com/51787620/95461209-9da07500-097e-11eb-8a05-3f77df97f15a.png)

I

[2020-10-08 13:35] sophokles73 commented on #2238
You will need to specify the host and port to connect to as described in the Getting Started guide ...

[2020-10-08 13:38] kaniyan opened #2239 "Management API: Search tenants with optional filters, paging and sorting options"
Device Registry Management API already supports [searching devices](https://www.eclipse.org/hono/docs/api/management/#/devices/searchDevicesForTenant) for a tenant with optional filters, paging and sorting options.
This is a feature request to have such a search operation also for tenants.

**EDIT:**
Extend _MongoDB device registry_ to support this new feature.

[2020-10-08 13:55] roullli commented on #2238
Oh sorry, I didn't read the getting started guide!
I have a question which it was somehow confusing for me while I was reading the documents.
I have a rover and I want to send command and control through the MQTT adapter to control the Rover. I noticed that the rover should subscribe to this 'command/+/+/req/#' topic. but I'm not sure where to publish the command in order to receive to the Rover.

[2020-10-08 14:10] sophokles73 commented on #2238
Applications interact with the devices connected to Hono's protocol adapters via Hono's north bound [Telementry, Event and Command & Control APIs](https://www.eclipse.org/hono/docs/api/). These APIs use AMQP 1.0 as the transport protocol, i.e. you need to interact with these service endpoints via AMQP 1.0. The Hono command line client can be used to send commands to devices connected to Hono's pro

[2020-10-08 14:17] roullli commented on #2238
Thanks for your help. I'll go deep through the documentation.

[2020-10-08 14:17] #2238 closed

[2020-10-08 14:22] sophokles73 commented on #2239
Sounds like a good idea to complement the existing search Devices operation.

[2020-10-09 13:34] calohmn opened #2244 "[MQTT/AMQP] Issues with devices not properly disconnecting and then reconnecting"
When an MQTT device connection gets broken without the MQTT adapter noticing, and when the device then reconnects (before the MQTT keepAlive period has elapsed) and re-subscribes for commands, one of these issues may arise:
- **A:** If reconnect happened on different adapter/verticle instance:
The late disconnect (after the keepAlive period) will trigger a "disconnectedTtdEvent" message, supercedi

[2020-10-12 07:47] Geonjae-Joo opened #2246 "Kura to Hono"
I run Kura on rasPi.
I deployed Kubernetes on Local machine, and Hono on kubernetes using helm and minikube.
and I can ping both of them.
![image](https://user-images.githubusercontent.com/62494715/95719235-80371800-0caa-11eb-9311-58aceb387e4a.png)
kura static ip: 10.252.107.238

What I have done is I exposed mqtt adapter deployment and minikube tunnel as depicted below.
![image](https://user-imag

[2020-10-12 08:13] calohmn opened #2247 "Don't propagate ClientErrorExceptions on telemetry sender creation to device"
When creating a telemetry/event sender in a protocol adapter via `HonoConnection.createSender()` fails with a ClientErrorException, that exception should be propagated as a ServerErrorException to the device.

[2020-10-12 09:14] sophokles73 commented on #2246
which version of Kura are you using?

[2020-10-12 09:59] Geonjae-Joo commented on #2246
@sophokles73
I'm using 4.1.1.

![image](https://user-images.githubusercontent.com/62494715/95733377-05c3c380-0cbd-11eb-83bd-391d1a732a7d.png)

[2020-10-12 10:47] sophokles73 commented on #2246
Then I guess you should be able to follow the instructions provided by the [Kura Documentation](http://eclipse.github.io/kura/cloud-stacks/kura-hono.html)

[2020-10-12 13:50] #2234 closed

[2020-10-12 19:21] calohmn commented on #2244
Ideas for fixing this:

#### A: If reconnect happened on different adapter/verticle instance
Upon disconnect, when de-registering the command consumer, the command handling adapter instance mapping gets removed.
As there is already a new mapping (from the reconnect/re-subscribe) with a different instance id, this operation will return a 404. In that case the "disconnectedTtdEvent" shall not get se

[2020-10-13 10:09] b-abel commented on #8
AMQP 1.0 defines different sections of a message that contain different types of metadata. In Hono we use at least message properties (<em>creation-time</em>), headers (<em>time-to-live</em>, <em>durable</em>), application properties (<em>device_id</em>, <em>orig_address</em>, <em>orig_adapter</em>, <em>ttd</em>, ...).
Kafka only knows headers. So, all metadata must be put there (we decided agains

[2020-10-13 10:14] b-abel commented on #8
Additionally, we have yet to analyze where Hono is using AMQP capabilities to provide features that we need to define and implement for Kafka-based messaging. For example: Do we want to define a *TTL* header that the consumer has to consider?

[2020-10-13 11:00] sophokles73 commented on #2244
@calohmn this looks like a duplicate of #1483, doesn't it?

[2020-10-13 13:35] calohmn commented on #2244
@sophokles73 It's the same scenario, yes - with the added implications regarding a potentially removed command handler noted here (case B).

[2020-10-13 13:54] calohmn opened #2250 "Include Jaeger client in published Hono images"
The Hono docker images published on Dockerhub should include the Jaeger OpenTracing client from Hono 1.5 onwards.
This makes it possible to easily setup a Hono deployment that includes the Jaeger components via the IoT Packages Hono helm chart.

Using a different OpenTracing client will still be possible by extending the image with the corresponding jars and making sure the client is found/loaded

[2020-10-13 13:59] calohmn commented on #2250
As building and pushing the Hono images to Dockerhub is done manually on every release, the corresponding build will just have to be done with the added `jaeger` maven profile.

[2020-10-13 16:17] sophokles73 commented on #2244
can we then close either one in favor of the other?

[2020-10-14 06:14] sophokles73 commented on #2244
@calohmn your ideas for addressing this issue sound reasonable to me :+1:

[2020-10-14 09:35] #2230 closed

[2020-10-15 01:54] Geonjae-Joo commented on #2246
I solved it , I leave how I worked it out in case anyone gets the same issue.

I needed to port-forward my service of adapters
![image](https://user-images.githubusercontent.com/62494715/96067407-a6400080-0ed4-11eb-8b98-355405c3be44.png)

then it's connected
![image](https://user-images.githubusercontent.com/62494715/96067463-c4a5fc00-0ed4-11eb-8918-15be69972f7f.png)

[2020-10-15 01:54] #2246 closed

[2020-10-15 06:12] sophokles73 commented on #2246
@Geonjae-Joo Great! Thanks for following up :+1:

[2020-10-15 10:44] calohmn commented on #1483
The described scenario, where the disconnected event gets sent although it shouldn't be, will be fixed for the MQTT and AMQP adapters via #2244. Infos on how to adapt *custom* protocol adapters will be added here after that's done.

[2020-10-19 09:50] calohmn commented on #1483
The described scenario has been fixed for the AMQP/MQTT adapter.

In order to fix a *custom* protocol adapter, its dependencies first have to be updated to a Hono version containing that fix (will be in Hono 1.5). The adapter code calling `ProtocolAdapterCommandConsumer#close(SpanContext)` then has to be adapted as shown here:
https://github.com/eclipse/hono/blob/e4e6e2464b51fe6f5c34b6a2db2826600b

[2020-10-19 09:50] #1483 closed

[2020-10-19 14:14] sophokles73 commented on #2133
@BobClaerhout Hi Bob, would you mind taking a look at this and get in touch with @Alfusainey ?

[2020-10-19 14:16] sophokles73 commented on #2244
@calohmn can this be closed?

[2020-10-19 14:19] sophokles73 commented on #2194
@calohmn @ctron @dejanb @kaniyan WDYT?

[2020-10-19 15:04] sophokles73 commented on #2152
closed via #2191

[2020-10-19 15:04] #2152 closed

[2020-10-19 15:24] sophokles73 commented on #8
This is the approach that I am currently following for the AMQP 1.0 based implementation of the adapter client.

Passing on a device provided TTL makes sense FMPOV as the device should know best for how long the information should be considered relevant/accurate. We should explicitly define such *well known* headers in the Kafka based API specs.

[2020-10-20 07:23] calohmn commented on #2194
Choosing option 1 would mean users have to base64 encode the existing device registry credential values for the Hono 1.5 update, right?
I think I would favour option 2 as the more practical one, as I don't see much benefit implementation-wise to require the `pwd-hash` to be base64 encoded.

[2020-10-20 07:57] BobClaerhout commented on #2133
Thanks for the notification @sophokles73.
Hi @Alfusainey,

The primary goal of adding the mapper is/was making sure that the other processing continued without any problems at all costs. This means that it should not fail in any way when nothing is configured, wrongly configured, ...

If I'm correct, the mapper will return a failure when the actual mapping doesn't work (in the pure sense of the wo

[2020-10-20 08:35] roullli opened #2257 "Command and Control issue"
Hi,

I am trying to control a rover by Hono's Command and Control functionality.
I have created a Python code which subscribes to `command/+/+/req/#` topic successfully
import tkinter
import paho.mqtt.client as mqtt

[code]
and I tested it with Hono Command Line Client, which also was successful.
`java -jar hono-cli-1.3.0-exec.jar --hono.client.host=192.168.1.154 --hono.client.port=15672 --hono.cl

[2020-10-20 10:35] sophokles73 commented on #2257
You need to connect to Hono's north bound Command & Control API. If you have installed Hono using the Helm chart, then the north bound C&C API is exposed by the Dispatch Router service. You cannot send a command to a device by means of any of the protocol adapters.

[2020-10-21 08:34] Alfusainey commented on #2133
Thanks @BobClaerhout for the clarification! i will add my concerns inline

ok, can you please point me to the codebase where such a failure is returned? I cannot seem to find it

According to the API contract of the message mapping:
[code]
So I am only going by what is stated in the API above. If any user of the API reads that, then it is fair to assume that ANY implementation will return a failed

[2020-10-21 10:02] roullli commented on #2257
Thanks for your reply.
is there any example Python code (or anything else) for sending commands?
I want to see whats the problem with my code. since it connects to the AMQP network but the MQTT client can not receive the command.
I used `command/rover` address to send command for my device(rover2) in tenant "rover" which is subscribed to `command/+/+/req/#`.

[2020-10-21 10:30] kaniyan commented on #2194
Also with the second option, we could avoid the extra _encode/decode_ of `pwd-hash`  when the `hash-function` is `bcrypt`. I also tend towards option#2. IMHO we could also declare the `pwd-hash`  _type_ using `oneOf` keyword as we do for the `FilterJson#value` _type_.

[2020-10-21 11:33] sophokles73 commented on #2257
you need to also set the address and other properties in the command message. See https://www.eclipse.org/hono/docs/api/command-and-control/ for details...

[2020-10-22 04:32] #2244 closed

[2020-10-22 06:04] sophokles73 commented on #2257
There is no python code, but you can take a look at https://github.com/eclipse/hono/blob/master/client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java for a Java based implementation ...

[2020-10-22 07:00] sophokles73 commented on #2194
You are talking about bcrypt hashes here, right? Because for other hash functions we *need* the value of the property to be encoded (either Base64 or Base16 or ...) because a plain string cannot hold a byte array otherwise.

[2020-10-22 09:21] thjaeckle opened #2258 "Specify the content-type of a telemetry/event message via MQTT property bag"
I recently learned that Hono supports MQTT property bags in order to specify e.g. the `hono-ttl` for a published event, see:
https://www.eclipse.org/hono/docs/user-guide/mqtt-adapter/#publishing-events

I really like that approach and would like to suggest/discuss whether it would be possible to also specify the `content-type` of a published telemetry / event message with that mechanism.

As the H

[2020-10-22 09:32] calohmn commented on #2250
To make it more explicit that we now see 'jaeger' as a standard build option (just like 'metrics-prometheus'), the documentation could be adapted, replacing the parts where `mvn clean install -Pbuild-docker-image,metrics-prometheus` is mentioned with `mvn clean install -Pbuild-docker-image,metrics-prometheus,jaeger`.

[2020-10-22 09:38] sophokles73 commented on #2258
sounds good to me :+1:

[2020-10-23 06:17] calohmn opened #2260 "Do "adapter enabled for tenant" check before credentials validation"
Followup of #2115:
Currently, a connection attempt from a device means that the target protocol adapter does some tenant related checks only *after* the credentials given by the device have been validated.

As the credentials validation may be quite expensive, it would be better to do the tenant related checks *before* that already, as soon as tenant information has been obtained from the credenti

[2020-10-23 06:21] #2115 closed

[2020-10-26 07:44] b-abel commented on #8
We have decided that event messages will be sorted per device and telemetry messages as well. We also agreed to use separate topics for events and telemetry messages (for each client).

I just noticed that we did not explicitly name the consequence here: Events and telemetry messages of the same device are sorted separately. Backend applications, therefore, have to process both types of messages i

[2020-10-26 10:33] sophokles73 commented on #2133
FMPOV we need to deal with the following cases:
1. No mapping service is configured for the gateway.
2. Mapping service is configured for the gateway but the configured URL is invalid.
3. Mapping service is configured for the gateway but invocation of the service results in an error status code.

Maybe we can agree on the following error handling:

1. Nothing to be done at all.
2. Should be handle

[2020-10-26 12:26] sophokles73 commented on #8
I do not see any difference to the way it works with AMQP 1.0. We have two separate and independent endpoints there as well ...

[2020-10-26 13:04] Alfusainey commented on #2133
@sophokles73

1. Nothing to be done at all.

👍
If its not configured, then mapping is not needed and the forwarding of messages should proceed like before

 👍

Yes. If a user needs the mapping service and configured it correctly with a valid URL, it sounds reasonable to me to abort forwarding of the message and notify the device (if possible)

[2020-10-26 15:10] calohmn commented on #2260
PRs for the HTTP and MQTT adapter have been created.
The changes there only cause a minor change of behaviour towards an HTTP device: A connection attempt with wrong credentials and with one of the above checks failing, will now result in an error outcome pointing to the failed check (e.g. "403 (Forbidden)" for the HTTP adapter not being enabled for the tenant), not pointing to the wrong credentia

[2020-10-26 15:24] sophokles73 commented on #2260
That is the behavior that we had in previous version of Hono already. We deliberately chose to change that and do the capacity check etc *after* the SASL handshake because AMQP does not provide means to convey an error message to the client as part of a (failed) SASL handshake. So FMPOV we should keep the AMQP adapter as-is ...

[2020-10-26 17:58] calohmn commented on #2260
Ok, I see. I'll skip changes to the AMQP adapter here then.

[2020-10-27 07:16] BobClaerhout commented on #2133
I think there is a 4th option as well. Consider following use-case:
We have a gateway which is sending data for devices. Most of the time, the messages are coming from the devices and thus the payload can be mapped (i.e.: a new deviceId can be found within the message). However, the gateway also sends messages, these messages do not contain any deviceId since this is coming from the gateway itself

[2020-10-27 07:24] sophokles73 commented on #2133
@BobClaerhout how should/could this be accomplished?

[2020-10-27 07:41] BobClaerhout commented on #2133
In case of the `HttpBasedMessageMapping` this can be done by returning a different HTTP STATUS CODE: I suggest returning a 204 when no mapping has been done compared to a 200 when the mapping has succeeded.
I don't know how this should work when the mapper is called using another protocol but IMO the mapping shouldn't fail in that case.

[2020-10-27 08:19] sophokles73 commented on #2133
This would require a change of behavior in the protocol adapter for handling this status code, wouldn't it? Couldn't the mapper simply return the message payload and device ID unaltered in its response in this case? IMHO the adapter would then simply forward the message downstream using the gateway's device ID as intended, wouldn't it?

[2020-10-27 08:26] #1960 closed

[2020-10-27 09:16] kaniyan commented on #2260
We could perform the adapter enabled check before the credentials validation but IMHO I am not sure if it is better to perform connection limit checks before the validation of the credentials. Connection limit checks include validation of connection, connection duration and message limits. These checks involve querying data from the Prometheus and those results are cached. Let us assume cases such

[2020-10-27 10:45] roullli commented on #2257
I tried to fix the msg format which is sending by the code. The message goes reaches Hono but it seems that AMQP Network rejects the msg. I sniffed the packets and here is the result:
![image](https://user-images.githubusercontent.com/51787620/97291069-172ad500-1852-11eb-8cca-420c894b1201.png)
How can I find what is wrong with the msg? Is it somewhere in documentation?

[2020-10-27 10:49] sophokles73 opened #2267 "Add AMQP 1.0 based implementation of Hono client for protocol adapters"
Needs to implement the client interfaces defined as part of #2156

[2020-10-27 10:55] sophokles73 commented on #2156
@b-abel  now that we have added the new interfaces, can we close this issue?

[2020-10-27 10:58] sophokles73 commented on #2257
Can you post the code that you use for sending the command?

[2020-10-27 11:00] sophokles73 commented on #2260
Yes, we could at least do the tenant enabled check before verifying credentials. The other checks should IMHO be done after successful verification of credentials for the reason pointed out above ...

[2020-10-27 11:01] b-abel commented on #2156
@sophokles73 Yes.

[2020-10-27 11:05] roullli commented on #2257
[code]

[2020-10-27 11:06] sophokles73 commented on #2156
closed via #2168

[2020-10-27 11:06] #2156 closed

[2020-10-27 11:14] sophokles73 commented on #2257
The code looks good. There is one thing that might cause the problem, however.
I am no expert in Python, but the line
[code]
suggests to me that the JSON payload is being added to the message as a an *AMQP Value* section instead of a *Data* section, as required by Hono's Command & Control API. You will need to check with the Python library that you are using for sending the AQMP message. Which is

[2020-10-27 11:33] roullli commented on #2257
I'm using Qpid Proton library to send AMQP message: http://qpid.apache.org/releases/qpid-proton-0.32.0/proton/python/docs/overview.html
I used Helm Chart to deploy Hono and currently, I'm using the latest version (1.4)

[2020-10-27 12:42] sophokles73 commented on #2257
You might want to try to set the message body as bytes instead of a string. However, I have no clue how this works in Python ...

[2020-10-27 14:04] BobClaerhout commented on #2133
I don't think so, right now, mapping fails:

[code]

It currently expects an `SC_OK`. If the mapping fails, the message is returned with the original data. So no change is required,  however, it's not documented that way. We currently have it implemented as described above.

[2020-10-27 14:12] sophokles73 commented on #2133
But didn't we want to reject the data from the device if invocation of the mapper fails (case 3)?

[2020-10-27 14:16] calohmn commented on #2260
Good point, yes, even though Prometheus data is cached, there would still be quite many superfluous Prometheus requests for repeated connection attempts with wrong credentials.
I'll create a new PR with just the tenant-enabled check.

[2020-10-27 14:30] BobClaerhout commented on #2133
Ah ok, now I see :)
Yes, if we are implementing that, I believe we should allow all 2xx return codes to result in an upstream message. Of which 204 results in using the gateway id and payload and 200 results in using the new deviceId and payload.

[2020-10-27 14:39] sophokles73 commented on #2133
and then we could as well say that the mapper can only return a 200 code with the mapped payload in the response body. The mapper implementation would then simply include the request body in the response and the device ID from the request header in the response header and the HttpBasedMapper doesn't need to consider 204 explicitly. WDYT?

[2020-10-27 15:34] alinaserg opened #2272 "Auto-Provisioning of Gateways"
There're two patterns in Hono how devices can be registered on-the-fly.

1) For devices directly connected to Hono adapters auto-provisoning is done based on X.509 certificates.
2) For devices connected via gateways to Hono adapters, so called implicit device registration (see #2053 ) will be provided.

I want to ask you, if the combination of these two patterns is possible for complete on-the-fly

[2020-10-27 16:02] alinaserg commented on #2082
I think the approach proposed by @ctron could work for this use case:

That's why I close this issue.
If there will be necessity for this feature from somebody else in the future, the issue can be reopened.

[2020-10-27 16:02] #2082 closed

[2020-10-27 16:04] BobClaerhout commented on #2133
That's indeed a possibility. I think it's personal preference. To me, it sounds a bit strange that a 2xx code could result in an exceptional flow in the adapter. It's exactly what the http status codes are for IMO. However, if you prefer only accepting 200 codes, I'm fine with it.

[2020-10-28 09:46] fkaltner commented on #2272
I already had a similar idea a couple of months ago, see: https://github.com/eclipse/hono/issues/2053#issuecomment-668609655

After a short chat with @b-abel we came to the following suggestion:
In general it should be possible to combine both approaches, the main challenge ist the authorisation:

1. Auto-provisioning of gateways via client certificates is only allowed if the tenant has the corres

[2020-10-28 10:33] alinaserg commented on #2272
Thanks @fkaltner for the proposal, additional question regarding replacement of gateways' authority. See below 3 use cases how auto-provisioning can be activated:

**Activating auto-provisioning:**

1. Devices connected directly to Hono protocol adapters -> enabling auto-provisioning on tenant level for CA cert.
2. Devices connected via gateways to Hono protocol adapters, gateways **don't use** cl

[2020-10-28 10:59] alinaserg commented on #2272
@e-grigorov In the current Hono implementation of device auto-provisioning the device-id is generated in Hono Device Registry.
As far as I understood in case of gateways auto-provisioning the device-id of the gateway will be provided from the gateway.
Is it correct?

[2020-10-28 11:14] alinaserg commented on #2272
I see one more open point in the gateway auto-provisioning topic for Ditto, namely using of gateway's policies as a template for creation of digital twins. As gateways will be registered on-the-fly, there won't be policies templates pre-configured for these gateways.
I would like to address this point to @thjaeckle @jokraehe

[2020-10-28 14:46] e-grigorov commented on #2272
As far as I understood in case of gateways auto-provisioning the device-id of the gateway will be provided from the gateway.
Is it correct?

Actually, the device identifier is so called [namespaced](https://www.eclipse.org/ditto/basic-namespaces-and-names.html#namespaced-id) i.e. it's built by \<namespace>:\<id>. I guess that \<id> part can be read from the device certificate. The question is how

[2020-10-28 15:09] calohmn opened #2273 "Support using Kafka for Command & Control messages"
For a Hono instance that uses Kafka as messaging infrastructure for sending telemetry/event messages (see the [corresponding proposal](https://github.com/eclipse/hono/issues/8#issuecomment-683628747)), it makes sense to provide Kafka support also for Command & Control messages.

This would mean northbound applications don't have to use both a Kafka API (for telemetry/events) and an AMQP-based API

[2020-10-29 07:25] calohmn commented on #2273
General notes and possible approaches:

### Topics to be used by northbound applications

The general idea is for northbound applications to publish command messages on a Kafka topic and to receive command response messages by subscribing to a Kafka topic. In order for applications to only be able to publish/receive command (response) messages for their specific tenant, the topic names should cont

[2020-10-29 08:17] sophokles73 commented on #2273
Thanks for the detailed overview of options :+1: IMHO option 4 looks most promising as it reduces complexity in the adapters and is mostly compliant with #2029. In fact, I do not see why we would still need a separate Device Connection Service in this case. Couldn't that be part of the Command Forwarder as proposed in #2029 (where the component is called *Command Routing Service*)?

[2020-10-29 09:01] sophokles73 commented on #2272
Not sure if this is sufficient. Currently, we only allow gateway devices to implicitly register devices connected via the gateway. If we now want to automatically register the gateway device itself, how do we know that it is a gateway device and should thus be entitled to register other devices implicitly? So far, we make this distinction by means of having a device manager explicitly enabling the

[2020-10-29 09:45] calohmn commented on #2273
@sophokles73 Yes, the design of option 4 above would just be the first, "least implementation effort" approach (also making use of the optimized HotRod-based DeviceConnection client).

Developing this further, it can really be just one component and we can tweak the Command Routing service design of #2029 in that direction (with emphasis on the fact that routing doesn't involve forwarding back to

[2020-10-29 10:13] b-abel commented on #2272
FMPOV the tenant-wide option to enable/disable auto-provisioning is sufficient, having an additional option per gateway adds not much practical value but increases the complexity significantly.

[2020-10-29 12:11] marcel-bluestone opened #2274 "building from source: Error on running integration tests - certificate expired"
Hello,
after I followed the steps for building from source, the build worked without errors.
Running the integration tests however creates a lot of errors, causing everything to shut down.

It seems that the certificate has expired, but that may not be the whole problem.
The log is attached, I hope someone can help here.

Thanks
[mvn_test.log](https://github.com/eclipse/hono/files/5458193/mvn_test

[2020-10-29 12:30] alinaserg commented on #2272
@e-grigorov regarding automatic exchange of provisioning properties.
My understanding was that even by initial communication between gateway and protocol adapter, the gateway acts on behalf of edge devices and doesn't send messages on its own. Is it correct?
If yes, then the gateway should provide device-id of the edge device, on behalf of which the gateway is acting. Meaning the gateway knows alr

[2020-10-29 13:29] dejanb commented on #2273
@calohmn thanks for this detailed analysis. On the first read, I also agree that solution 4 is the best next evolution of the current implementation and will align with other improvements already planned (as @sophokles73 pointed out).

I can see also that we can in the future keep evolving this more towards solution 2. By probably replacing infinispan (caches) with KTable and also if at some point

[2020-10-29 14:06] calohmn commented on #2273
The "Key-Value store" box drawn in the diagram for solution 2 is something that I left out in the figure for solution 4 (there it's abstracted away by the Device Connection service box). So yes, the different options for such a key-value store apply to solution 4 as well.

You mean in this new CommandRouter component, potentially using Kafka Streams there, right? Yes, that's something I would also

[2020-10-29 14:17] sophokles73 commented on #2274
Which branch are you trying to build?

[2020-10-29 15:08] calohmn commented on #2029
Based on the discussion in #2273, here is an updated design.

With that, command routing on the `command_internal/$adapterInstance` address isn't done via the AMQP messaging network anymore. Instead, **protocol adapters connect directly via AMQP with the CommandRouter**.

As one protocol adapter shouldn't have to open connections with *each* CommandRouter instance, it has to be ensured that an inc

[2020-10-29 15:54] dejanb commented on #2273
Looks good to me.

[2020-10-29 15:56] marcel-bluestone commented on #2274
I downloaded the sources from here https://github.com/eclipse/hono/archive/1.4.0.tar.gz

[2020-10-29 15:58] dejanb commented on #2029
Looks good. Can we consider here switching "device connection management API" to HTTP at some point? I find it a better fit especially in k8s environment. It's not the necessary for the first phase of course.

[2020-10-29 16:16] sophokles73 commented on #2274
Indeed, the example certs included in the source code at that tag have expired. You can recreate them before doing the build by running the `demo-certs/create_certs.sh` script. Note that this needs to be done once only, i.e. it is not necessary to do this before each build.

[2020-10-30 07:00] marcel-bluestone commented on #2274
That did the trick. Thanks a lot!

[2020-10-30 07:00] #2274 closed

[2020-10-30 07:16] sophokles73 commented on #2272
IMHO we could add a boolean property, e.g. *create-devices-as-gateways*, to trust anchors. Setting this property to `true` would then cause any devices that are being auto-provisioned for that trust anchor to also have their *auto-provisioning-enabled* property (as introduced in #2094) set to `true`. That way we would not need to turn *all* devices of a tenant into gateways but only those that are

[2020-10-30 07:42] fkaltner commented on #2272
This makes sense to me. I missed that the certificate-based auto-provisioning is also used for _normal_ device (by the way is there a wording for it? I tend to call it "edge device" contrasting it to "gateway"). Consequently, in order not to have to use separate tenants for separating between gateways and normal devices, this is a sound proposal in my eyes.

[2020-10-30 08:02] calohmn commented on #2273
About the usage of multiple `command-$tenant` consumer groups (one group per CommandRouter instance) in solution 4:

I'm wondering whether this could lead to a message getting delivered twice if a device reconnects and re-subscribes.

Let's say a device is connected to adapter A which in turn is connected with CommandRouter X. A high rate of commands flows down that path to the device.
Now the dev

[2020-10-30 08:39] fkaltner commented on #2272
After discussing with @b-abel it turned out there's also a security aspect to consider:

If we would not separate between devices and gateways by the suggested _create-devices-as-gateways_ flag  (meaning we would just use a tenant-wide flag) an attacker gaining access to the credentials of any _normal_ device could use those credentials not only to "impersonate" a _normal_ device but also to "impe

[2020-10-30 09:13] b-abel commented on #2272
Note to avoid confusion: there is already a boolean property _auto-provisioning-enabled_ on the trust anchor, #2094 adds a property with the same name to the device registration data.

So, a tenant configuration could look like this (only relevant properties) when fully partitioned:

[code]

_Device registration data_ for devices that are auto-provisioned with trust anchor "CN=ca,OU=gateway-provis

[2020-10-30 10:18] #2260 closed

[2020-10-30 10:18] sophokles73 commented on #2133
@BobClaerhout I did not want to prescribe any particular implementation. However, IMHO returning 200 in the given case will be easier to implement as there is no additional handling of 204 required ...

[2020-10-30 16:12] dejanb commented on #2273
@calohmn You are trying to solve "exactly once" delivery/processing problem here which is something that's hardly ever successfully implemented in a distributed system. For example, even if you implement all of the above what could happen is that protocol adapter sends a command to a device and fail immediately after without sending an ack. So we don't
 know if a device received a command or not.

[2020-11-02 07:50] calohmn commented on #2273
@dejanb I agree that we aren't aiming for "exactly once" qos here, rather "at least once". But still I think we should try to prevent possible scenarios where message duplication can occur. And if an approach (like solution 2 or 3) has fewer scenarios where such duplication can occur, that is an advantage of that approach to be taken into account.

For the scenario described above I could also ima

[2020-11-02 14:14] b-abel commented on #2273
@dejanb @calohmn IMHO the Command and Control API already provides the means to do that: the message-id needs to be unique on the sender side. I think it is fair to assume, that if a solution does not already use idempotent commands, it could still use the message-id to perform de-duplication on the device.

[2020-11-02 16:54] calohmn commented on #2273
In the above described duplicate-messages scenario, the message-id would be the same then, therefore I think it should be paid attention to.
In general, I think we cannot fully prevent passing on duplicate messages (with same message-id) - e.g. there could be a case of a CommandRouter instance crashing before it has committed the updated partition offsets.

[2020-11-03 09:03] sophokles73 commented on #2029
Note that based on http://qpid.apache.org/releases/qpid-dispatch-1.14.0/user-guide/index.html#configuring-routing-qdr an unsettled command message sent by an application will be settled with final state *accepted* if any of the receivers has accepted the message and none have rejected it.

IMHO this means that if a command routing service instance which *does not have a matching link* MUST NOT acc

[2020-11-03 09:05] andrew-kratik commented on #2239
Would be great to extend Management API and allow getting list of tenants. As it will allow business applications to manage tenants better. For example find all tenants that are not linked (by mistake/error) to Ditto tenant and delete/fix this.

[2020-11-03 09:09] calohmn commented on #2029
Yes.

Well, if the goal is to have an HTTP API, I think we can define the new "command routing API" as an HTTP API from the start.
(I would prefer the term "command routing API" to  "device connection management API" here.)

What I'm still thinking about is whether we should put a `setLastKnownGatewayForDevice` method in there.
The lastKnownGateway is currently used for deciding to which gateway t

[2020-11-03 09:29] sophokles73 commented on #2273
Now the device disconnects and reconnects (and re-subscribes) this time to adapter B which is connected to CommandRouter Y.
CommandRouter Y could have been put under pressure somehow and could be slower in processing the incoming commands (reading is done independently to Router X because of different consumer groups). This could mean that messages arrive at CommandRouter Y now which have already

[2020-11-03 09:56] sophokles73 commented on #2133
@BobClaerhout any further comments? I guess the code will need to be updated/adapted to what we discussed in any case, right?

[2020-11-03 10:01] calohmn commented on #2029
But, the protocol adapters need an AMQP connection to the CommandRouting component anyway (for receiving the commands). So, this connection (and the corresponding configuration) could be used for the API methods as well, not requiring the adapters to use 2 CommandRouting component related endpoint configurations (HTTP and AMQP). Therefore I think I would rather use AMQP here.

[2020-11-03 12:38] dejanb commented on #2273
IMHO going with the single consumer group and then relying on yet another component to deliver messages between components reliably will introduce additional operational complexity (and I'm not sure solve all issues). For example, it's nice to think that clustered event bus will forward messages between command routers, but what happens when hazelcast/infispan crash?

Maybe the solution would be t

[2020-11-03 13:42] calohmn commented on #2273
@sophokles73:

It could solve this, but I guess this case would be more complicated since command processing in router Y would then have to read from an earlier offset just for this device.  So, an incoming subscription would mean that any not-yet-delivered commands from an earlier offset would have to be handled first for that device, and processing of any new commands coming in for that device m

[2020-11-03 18:58] b-abel opened #2279 "Explanation of Connection Event is unclear"
The specification of the [Connection Event](https://www.eclipse.org/hono/docs/api/event/#connection-event) states:

| :------------- | :-------: | :----------------------- | :-------- | :---------- |
| *content-type* | yes       | *properties*             | *symbol*  | Must be set to  *application/vnd.eclipse-hono-dc-notification+json* |
| *device_id*    | yes       | *application-properties* | *s

[2020-11-04 09:49] calohmn commented on #2029
I've added a PR for a AMQP based API in #2280.
(Even though we might skip the direct AMQP connection from protocol adapter to CommandRouter in favor of the hop back to the AMQP messaging network (see discussion in #2273), I still think it would be good to start out with an AMQP API. It's in line with the other Hono internal APIs between adapters and device registry. For HTTP, we would also first h

[2020-11-04 11:07] BobClaerhout commented on #2133
@sophokles73  I don't have any more comments on that. The code indeed needs an update for that. We can start by implementing the 200 already and see whether we can add the 204 return code as well later.

[2020-11-04 15:32] kaniyan opened #2282 "[#8] Authentication and authorisation of Kafka clients used in Hono"
There is already an issue #8, which talks about using Kafka as an alternative to the AMQP 1.0 messaging infrastructure. In that issue, we see discussion regarding how Kafka clients can be used in Hono protocol adapters to send _telemetry_ and _event_ data. I opened this issue to discuss about how those Kafka clients can be configured to communicate securely i.e the clients are authenticated and au

[2020-11-04 22:23] akofoed opened #2283 "MQTT Adaptor wrongly prefixes topic to payload if received with TLS"
HONO Adaptor Version: 1.4

**Goal**
To receive the JSON string on AMQP exactly as it was sent. I am using the gateway functionality in HONO meaning that the mqtt-connected-device (gateway) is sending on behalf on another device.

**Problem:**
When sending a simple JSON string to the MQTT adaptor unencrypted (port 1883) it is received by the CLI client correctly. However, if sent encrypted to port

[2020-11-05 08:18] sophokles73 commented on #2133
@BobClaerhout are you going to create a PR for this?

[2020-11-05 08:34] sophokles73 commented on #2282
Thanks for starting this discussion, @kaniyan
I agree that there shouldn't be an issue using whatever authentication mechanism Kafka supports on the adapter side as this will be completely abstracted away by the Kafka Java client anyway, right? I think the more pressing questions will be:
* How does the Kafka broker validate the client's credentials and can Kafka be integrated with a separate serv

[2020-11-05 09:25] sophokles73 commented on #2283
@akofoed I can confirm this behavior using the sandbox installation (which is running 1.4.0) as well.
I will take a look at it.

[2020-11-05 12:22] sophokles73 commented on #2283
The 1.4.0 release runs on vert.x 3.9.2 and exposes the problematic behavior. When running the 1.4.0 code on vert.x 3.9.3 the problem seems to be gone. I have no clue, though, what the underlying problem might be.

@akofoed You can build your own images from the 1.4.0 source code as described [here](https://www.eclipse.org/hono/docs/dev-guide/building_hono/). Before running the build, you should ru

[2020-11-06 11:09] calohmn commented on #2273
As discussed in the community call yesterday:
If we are going for solution 2, having Kafka command consumers included in the protocol adapters, we could also (with probably not much extra effort) implement solution 1 (each adapter gets every command for a tenant directly) as a configurable alternative alongside solution 2. Hono deployments with only a few protocol adapter instances could be config

[2020-11-06 11:35] akofoed commented on #2283
Thanks Kai :)

[2020-11-06 11:35] #2283 closed

[2020-11-06 11:44] alinaserg commented on #2272
Coming back to this requirement. As it is described device identifier (device-id) may consist of 2 configurable parts:

1. Configurable <**device-id-prefix**> (in this case device-id prefix is Ditto-Namespace)
2. Configurable <**ID**> can be taken from client certificate ("subject-dn" or "serial-number").

Can the configuration of device-identifier be provided by additional property of trust ancho

[2020-11-06 13:32] alinaserg commented on #2272
Before the gateway is provisioned in Hono only protocol adapter endpoints and client certificate are preconfigured on the gateway. As tenant-id will be identified in Hono based on the CA-certificate and device-id will be created during device registration there's necessity to provide this information to the gateway.

How can we provide created device-id and tenant-id after registration of the devi

[2020-11-06 13:58] alinaserg commented on #2272
Additionally to the above mentioned points Device Registration service must send a request to Ditto for thing creation.

As it's described in https://github.com/eclipse/hono/issues/2053#issuecomment-669886189

Could Device Registration service after registration of gateway and saving credentials (provided from the gateway X.509 certificate) publish an empty notification event with tenant_id and de

[2020-11-06 14:20] fkaltner commented on #2272
FMPOV this makes sense, especially since it is making the process for certificate-based and gateway-based auto-provisioning more consistent.

[2020-11-09 07:27] BobClaerhout commented on #2133
TBH I'm a bit busy. I would be happy to create a PR for this but I can't do this right now.

[2020-11-09 07:29] sophokles73 commented on #2133
@BobClaerhout @Alfusainey
Maybe Alfu wants to jump in?

[2020-11-09 09:41] sophokles73 commented on #2257
@roullli have you been able to send a command using your Python client?

[2020-11-09 09:47] roullli commented on #2257
Unfortunately not! still working on it!

[2020-11-09 12:46] sophokles73 commented on #2257
I have posted an answer to your [question on stackoverflow](https://stackoverflow.com/questions/64698271/difficulty-in-sending-amqp-1-0-message). Hope that helps with getting it working ...

[2020-11-10 01:11] Alfusainey commented on #2133
sure, i will take a look :-) when is the next (earliest) release date? i couldn't find it [here](https://projects.eclipse.org/projects/iot.hono)

[2020-11-10 07:20] sophokles73 commented on #2133
@Alfusainey I have added the 1.5.0 release to the project management website.

[2020-11-10 07:57] BobClaerhout commented on #2133
great! Thanks @Alfusainey!

[2020-11-10 10:42] fkaltner opened #2288 "HTTP Adapter forwards wrong QoS default level as application property when sending events"

[2020-11-10 10:43] fkaltner commented on #2288
@sophokles73 May I work on this?

[2020-11-10 11:02] calohmn commented on #2029
Just to reiterate the next steps here:
In the next Hono 1.5 release, we would still support the current way commands get routed (first reaching a protocol adapter and then potentially being forwarded to another adapter). For that, the adapter would still use the configuration to access the DeviceConnection service and would use the `ProtocolAdapterCommandConsumerFactoryImpl` (perhaps renamed to "*

[2020-11-10 11:39] sophokles73 commented on #2288
sure, IMHO the first step would be to add corresponding assertions to the existing integration tests in order to demonstrate the problem. Which version(s) are affected?

[2020-11-10 16:56] kaniyan commented on #2282
## Authentication:

Kafka server offers various authentication mechanisms as below.
- SASL/GSSAPI (Kerberos) - starting at version 0.9.0.0
- SASL/PLAIN - starting at version 0.10.0.0
- SASL/SCRAM-SHA-256 and SASL/SCRAM-SHA-512 - starting at version 0.10.2.0
- SASL/OAUTHBEARER - starting at version 2.0

I focused only on the below two mechanisms as they are closer to the setup what we have right no

[2020-11-11 05:58] roullli commented on #2257
Great, Thanks! So I'll close this issue and follow the discussion over there.

[2020-11-11 05:58] #2257 closed

[2020-11-11 09:13] ArashJavan opened #2291 "Inspecting Hono Adapter Metrics using Prometheus/Grafana"
I followed the "Getting Started" and installed hono using "helm" in my local minikube instance.
Everything is running well, I can send and receive messages through hono (mqtt, http, amqp).
Now I would like to inspect these messages via grafana. Both prometheus and grafana are running.

I can also access the grafana dashboard. But how can I inspcet the telemtry data sent from a device to MQTT and H

[2020-11-11 09:40] calohmn opened #2292 "Putting MQTT client identifier in credentials API 'get' operation"
In the [MQTT adapter user guide "Authentication" chapter](https://www.eclipse.org/hono/docs/user-guide/mqtt-adapter/#authentication) it is stated that the MQTT client identifier is put as client-id in the Credentials API *get* request payload.

Looking at the implementation, this is only true for the client certificate authentication, not for username/password authentication.

Should this feature

[2020-11-12 07:07] sophokles73 commented on #2292
We defined this behavior of the MQTT adapter in order to provide for better integration with Eclipse Kapua, which uses this information to determine the device ID. SO FMPOV this needs to be fixed to also include the clientID in the username/password case ...

[2020-11-12 07:30] sophokles73 commented on #2291
Not sure what you mean by *inspect the telemetry data*. Hono itself is payload agnostic and has no clue about the semantics of any data being contained in messages. We therefore only report metrics regarding the meta data of messages like message type, protocol adapter, QoS etc.

Based on that, if your devices send data in a particular format, then I am afraid that you will need to process the pay

[2020-11-12 07:50] sophokles73 commented on #2282
So, my understanding is that kafka can be integrated with Hono in these ways if we have control over the kafka installation/configuration. This, however would probably not work with a managed kafka service offered by third parties, right?

[2020-11-12 08:14] ArashJavan commented on #2291
@sophokles73 Thanks a lot your reply. That is exactly what I wanted to know. So I need to create my own adapter to register on a device and publish teh data to a prometheus server.

[2020-11-12 08:14] #2291 closed

[2020-11-12 08:22] sophokles73 commented on #2291
You need to create a consumer for Hono's north bound [Telemetry API](https://www.eclipse.org/hono/docs/api/telemetry/). Such a consumer is scoped to a *tenant*, i.e. it will receive telemetry data for *all* devices that belong to the tenant.

[2020-11-12 10:07] ArashJavan commented on #2291
@sophokles73 thanks for clarification :)

[2020-11-12 15:36] kaniyan commented on #2282
I checked few prominent managed services and they support _AdminClient_ and CLI scripts such as `bin/kafka-acls.sh`. But we can't expect all the managed Kafka services to support the above ways. Also some managed services provide additional CLI tools and APIs to provision users and to manage security setup.

[2020-11-12 19:31] calohmn opened #2295 "(Add option to) forward command & control message to all available gateways"
Currently, when an incoming command & control message has multiple possible target gateways (given by all currently connected/subscribed `via` gateways of the command target device), then the "lastKnownGateway" information is used for deciding to which gateway to forward the message to.

However, if a device only randomly sends telemetry/event messages and thereby only randomly updates the lastKno

[2020-11-13 08:46] #2292 closed

[2020-11-13 12:34] fkaltner commented on #2288
I added a test based on the 1.4.X branch in order to demonstrate the problem

As far as I can see, the bug was introduced with a43f572904420a004f4b21d5c247b66c24a5f023 on 2020-06-29.
So I think 1.2.x, 1.3.x and 1.4.x are affected.

To my understanding 1.5.x should not be affected as there was a code change which fixed this bug.

[2020-11-16 07:26] sophokles73 commented on #2288
Based on our *support policy* we should fix this on branches 1.4.x and 1.3.x. So I guess we should have
* a PR for adding the corresponding integration test (extensions) to master in order to assert this behavior for 1.5.0 and future versions
* a PR for adding the corresponding integration test (extensions) to 1.4.x along with the fix for 1.4.x
* a PR for adding the corresponding integration test

[2020-11-16 13:59] kaniyan commented on #2258
This has been closed via PR #2263 and this feature is scheduled for 1.5.0 release.

[2020-11-16 13:59] #2258 closed

[2020-11-17 09:25] fkaltner opened #2301 "Add integration tests for auto-provisioning status properties"
As discussed in https://github.com/eclipse/hono/pull/2287#issuecomment-728796657

[2020-11-17 09:25] fkaltner commented on #2301
@sophokles73 Please assign this to me.

[2020-11-17 09:30] kaniyan commented on #2272
@alinaserg Auto-provisioning of devices (except edge devices connected via gateways) always involves generation of a random unique identifier as the device identifier. In case of auto-provisioning of edge devices connected via gateways at-least there is a possibility that the device id are provided by the gateways, if not given then a random id is used. Unlike in the case of the edge devices conne

[2020-11-17 17:20] garyedwards opened #2305 "Add kustomize based deployment"
Hi thanks for a great project.  Just wondering if there are any kustomize based deployments out there and if so should they be added to this repo as a base?

We are working on something at the moment but would be great to know if there are any existing efforts.

[2020-11-18 15:00] calohmn opened #2306 "Move Hono Load Tests module (JMeter plugin) to Hono Extras repository"
The hono-jmeter maven module with its contained JMeter plugin hasn't been updated much for quite a while, so it is relatively independent from the other Hono codebase. I think it doesn't necessarily need to be in the Hono repository and could instead be moved to the Hono Extras repository.

This would also greatly reduce the number of transitive dependencies reported when checking Hono dependency

[2020-11-19 09:54] calohmn commented on #2273
**Kafka Topics**
While the above discussion is about the Hono internal routing of command messages, the choice of _Kafka topics_ is relevant to the northbound applications, sending the command messages.
The plan is to use **`hono.command.${tenant_id}`** as topic for sending commands and **`hono.command_response.${tenant_id}`** for receiving command responses.
That means there is no possibility any

[2020-11-19 10:58] thjaeckle commented on #2273
Yes, that should work - for the connection templates we always used a static "replyId" anyways so Ditto does not need specifying a dynamic replyId.

My 2 cents for the "technical Acknowledgements" topic:
Basically with Kafka the "command sending QoS" would be changed to "at least once", correct?
It could be quite problematic if e.g. a "toggle" command is send to a lamp which is delivered more than

[2020-11-19 11:45] sophokles73 commented on #2306
great idea

[2020-11-19 11:58] b-abel commented on #2273
Yes. From my understanding, in pub/sub messaging (as Kafka provides it), a publisher should not need to care about consumers (if or when the message is consumed, or by how many consumers).

My two cents on that:
I think we should inform and encourage users to use idempotent commands instead ("switchOn" and "switchOff"). The current AMQP-based [Command & Control API](https://www.eclipse.org/hono/do

[2020-11-20 08:00] sophokles73 commented on #2305
@garyedwards sorry for the delay and thanks for the question.

I am not aware of anybody having used kustomize for deploying Hono yet. I also have to admit that I am not familiar with kustomize, in fact, I wasn't even aware of its existence until this issue ;-)

Let me take a look at kustomize in order to get a better understanding first before coming back to you with an answer to your question.

[2020-11-20 08:49] sophokles73 commented on #2305
@garyedwards I have taken a look at kustomize. My understanding is that it would need some *base* kubernetes resource descriptors for Hono's components which could then be *kustomize*d, right?
We are providing a Helm chart for Hono which is hosted by the [Eclipse IoT Packages]() project. Therefore, we do not maintain kubernetes resource descriptors as part of Hono (anymore). You should be able to

[2020-11-20 08:58] kaniyan opened #2308 "MongoDB device registry ignores some filters during search devices operation"
- When the data type of a filter value is string and the value doesn't contain any search wild card characters `?` and `*`,  then that filter is being ignored by the MongoDB device registry.
- When there are no filters specified in the request, then at least the results should be filtered based on the tenant identifier in the request URL.

[2020-11-20 09:05] sophokles73 opened #2309 "Device Registry Management API status object uses kebab-case property"
The *status* object's *last-user* property is defined using kebab-case instead of camel-case.
This should be changed in order to be consistent with the other property names.
Since this is read-only property for informative purposes only, I think that we can change the name without breaking any provisioning processes.

[2020-11-20 13:13] kaniyan commented on #2308
This has been closed via PR #2307.

[2020-11-20 13:13] #2308 closed

[2020-11-20 13:48] kaniyan opened #2310 "JDBC based device registry does not support client context matching"
For more information refer to the issue #2134.

[2020-11-20 13:54] kaniyan opened #2311 "Implement search devices operation in the JDBC based device registry"
The _Open API_ spec for the _Device Registry Management API_ offers an API for [searching devices](https://www.eclipse.org/hono/docs/api/management/#/devices/searchDevicesForTenant) belonging to a tenant. This has been already implemented in the _MongoDB_ and _file-based device registries_. This has not been yet implemented in the _JDBC based device registry_.

[2020-11-23 07:38] calohmn opened #2314 "Remove Hono Load Tests module (JMeter plugin)"
The hono-jmeter maven module with its contained JMeter plugin hasn't been updated for quite a while.

It is also not used in any automated test runs.

JMeter has shown to be not the best kind of tool for load tests of Hono. It is difficult to generate the needed AMQP message load with it, A vert.x based AMQP client for example would use resources much more efficiently.

Therefore it would be bette

[2020-11-23 07:40] calohmn commented on #2306
Superseded by #2314 (removing the module altogether).

[2020-11-23 07:40] #2306 closed

[2020-11-23 08:41] ArashJavan opened #2315 "AMQP Client receives "SASL handshake failed""
Hi,
I installed the hono via "cloud2edge" package, as it is described [here](https://www.eclipse.org/packages/packages/cloud2edge/tour/).

I can create "tenant" and register devices. After that I tried using the "Hono Command Line Client" to send a command to a device by using this:
`java -jar hono-cli-*-exec.jar --hono.client.host=$AMQP_NETWORK_IP --hono.client.port=15672 --hono.client.username=c

[2020-11-23 09:17] garyedwards commented on #2305
Hi @sophokles73 thanks a lot for looking into this.  Your research is correct you would have a base config and then patches or overlays that customise the base.  I have been using the `helm template` technique as you suggest with some clean up from the files created and it works fine.  A standard base may be nice for the project as kustomize is gaining traction in the CD / GitOpt space.  I underst

[2020-11-23 09:40] kaniyan opened #2316 "Hono Github home page doesn't show the correct latest release"
Hono Github home page shows the latest release as 1.0.1 as in the attached screenshot, which is incorrect. As of now, the latest release is 1.4.3.

![Hono_latest_releases_not_correct](https://user-images.githubusercontent.com/18659982/99946976-8c1cfc00-2d77-11eb-9496-abe7717d1685.png)

[2020-11-23 10:39] sophokles73 commented on #2315
The log file you provided indicates that an AMQP client tries to connect to the adapter but provided wrong credentials. The log also tells me that you are trying to send the command to the device by connecting to the protocol adapter. That doesn't work. You need to connect to Hono's north bound Command & Control API instead. It seems like your `AMQP_NETWORK_IP` points to the AMQP adapter service i

[2020-11-23 10:49] ArashJavan commented on #2315
@sophokles73 I appreciate your help! Well, really strange since I use " setCloud2EdgeEnv" script for finding out all the IPs and ports! but nevertheless I removed cloud2edge package and installed only hono. And it is working now!
Should I get the error again, I will check explicitly for the IPs and will report here, if it is a real issue and not my own bug ;)

Thanks again!

[2020-11-23 10:49] #2315 closed

[2020-11-23 13:09] sophokles73 commented on #2305
As you pointed out correctly, such base config files would basically be a duplication of the effort required for maintaining the Helm chart. Personally, I will not have the time to do that and I strongly doubt that other committers will find the time. However, we also have a [Hono Extras](https://github.com/eclipse/hono-extras) repository for community contributions that should not go into Hono's

[2020-11-23 13:23] garyedwards commented on #2305
I would probably just end up automating pulling any helm chart changes using the `helm template` command to keep in sync with changes made by the main developers.  Maybe it is better I work on something for the wiki to highlight the `helm template` workflow for kustomize?  Happy for this to be closed.

[2020-11-23 13:28] sophokles73 commented on #2305
Yes, that would be cool. I guess we could [add a section to the documentation](https://www.eclipse.org/hono/docs/dev/deployment/). That would need to go into the `site/documentation/content/deployment` folder ...

[2020-11-24 09:21] kaniyan opened #2325 "Add documentation for the JDBC based device registry"
Add _User Guide_ for the JDBC based device registry. Also update the required pages such as _Device Identity_, _Secure Communication_, _Device Registries_, and _Device Registry Configurations_ .

[2020-11-24 09:23] sophokles73 commented on #2325
we already have an Admi Guide for the JDBC registry

[2020-11-24 09:25] kaniyan commented on #2325
Thanks for the info. I will update the above description.

[2020-11-24 13:19] sophokles73 commented on #2288
@fkaltner can this be closed?

[2020-11-24 13:20] sophokles73 commented on #2197
@calohmn this seems to be fixed, right?

[2020-11-24 13:58] fkaltner commented on #2288
Yes, this should be fixed as discussed.

[2020-11-24 13:58] #2288 closed

[2020-11-24 15:28] calohmn commented on #2197
@sophokles73 Yes, closing it.

[2020-11-24 15:28] #2197 closed

[2020-11-27 07:45] ArashJavan opened #2329 "Multiple AMQP consumers"
Hello,

currently I have two applications, which are connected to the AMQP-Network (northbound) of Hono and register on "telemetry" endpoint to receive the data sent by the edge-devices. But what I see is that each application get only a part of the telemtry data.

From this [post](https://stackoverflow.com/questions/10620976/rabbitmq-amqp-single-queue-multiple-consumers-for-same-message) and the

[2020-11-27 08:15] sophokles73 commented on #2329
Yes, this is possible. You will need to configure the *telemetry* address' `distribution` property in the [Qpid Dispatch Router's config file](http://qpid.apache.org/releases/qpid-dispatch-1.13.0/man/qdrouterd.conf.html) accordingly. In the [Hono Helm chart](https://github.com/eclipse/packages/blob/master/charts/hono/config/router/qdrouterd.json), it is configured as `balanced` by default. But it

[2020-11-27 08:21] ArashJavan commented on #2329
@sophokles73 again thank you for your support :)
I will try your suggestions.

[2020-11-27 08:21] #2329 closed

[2020-11-27 08:30] sophokles73 commented on #2329
@ArashJavan glad to help :-) Let us know about the outcome of your experiments so that others can profit from it as well.
BTW this will be much easier for others if you post questions regarding Hono on stackoverflow in the future instead (see https://www.eclipse.org/hono/community/get-in-touch/) ...

[2020-11-27 08:45] ArashJavan commented on #2329
@sophokles73 surely, I will share the results here and will use Stackoverflow for the future. Thanks for the hint.

[2020-11-27 13:02] #2068 closed

[2020-11-30 13:47] sophokles73 commented on #2301
@fkaltner can this be closed?

[2020-11-30 14:20] calohmn opened #2333 "Sandbox: Event messages aren't queued when there is no consumer"
Sending `event` messages to a Sandbox Hono protocol adapter should result in the messages getting queued in the broker when there is no northbound consumer for the messages currently connected.

But that doesn't seem to be the case. `event` messages only get delivered to a northbound consumer application when the application is connected while the message is being sent.

See also corresponding iss

[2020-11-30 14:34] calohmn commented on #2333
The solution seems to be explicitly setting the routing type for the corresponding Artemis address to ANYCAST (see https://github.com/eclipse/packages/issues/168#issuecomment-735811995).

As to how this bug came to be: Before https://github.com/eclipse/hono/commit/b24fd8172bba54e67b9643f745a31e57a1fe75bf#diff-46bc0359e463bc3b2689a7c867229499ad8bd315dc5d9784a26b0d48e7a65995L138 there was an explici

[2020-11-30 14:40] #2301 closed

[2020-12-01 07:50] #2333 closed

[2020-12-01 16:10] sophokles73 commented on #2267
FMPOV this can be closed. WDYT? @calohmn @kaniyan @b-abel

[2020-12-01 19:12] b-abel opened #2338 "NPE in AMQP adpter if no content-type set"
The AMQP adapter throws a nullpointer exception when a telemetry message without a content-type is received.
This results in a log like the following:

    18:16:53.031 [vert.x-eventloop-thread-3] WARN  o.eclipse.hono.tracing.TracingHelper - An unexpected error occurred!
    java.lang.NullPointerException: null
    at java.base/java.util.Objects.requireNonNull(Unknown Source)
    at org.eclipse.ho

[2020-12-03 06:19] #2338 closed

[2020-12-03 07:32] calohmn opened #2341 "AMQP adapter: Message properties aren't adopted in downstream message anymore"
The AMQP adapter documentation states that "Arbitrary properties (content-type, correlation-id, …)" can be set on Telemetry/Event messages, implying that these will be adopted in the downstream message.

With the 1.5 changes, such properties (apart from the content type) of the device AMQP message are not taken into account anymore.

That also breaks the contract of the AMQP adapter client interfa

[2020-12-03 07:49] calohmn opened #2342 "Set time-to-live on (dis)connectedTtd event messages"
The event messages sent from a protocol adapter when a device (un)subscribes for command messages currently get no `ttl` ("time-to-live") property set.

This could mean that these event messages get stored for an unnecessarily long period in the broker, especially if the northbound application isn't interested in these events.

For time-constrained command subscriptions (with "time-til-disconnect"

[2020-12-03 08:05] sophokles73 commented on #2338
@b-abel does this also affect 1.4.x or 1.3.x?

[2020-12-03 10:09] b-abel commented on #2338
@sophokles73, no. The NPE appears with the new client interfaces. The downstream senders now throw the exception if the content-type is not set.

[2020-12-03 10:51] calohmn commented on #2292
@sophokles73 Do you think the fix should also go in 1.4.x?
(Would be a bit more effort than a cherry-pick because of other changes in relevant classes.)

[2020-12-03 11:02] b-abel commented on #2338
In 1.4 (i.e. before the new client interfaces) the missing content-type is added in the `MessageHelper.addProperties()` method.

[2020-12-03 12:15] sophokles73 commented on #2292
Looks like nobody is using this feature anyway so far. So IMHO we can omit the fix from 1.4.x and 1.3.x

[2020-12-04 08:03] #2267 closed

[2020-12-04 10:01] calohmn commented on #2029
Corresponding changes have been committed now.

[2020-12-04 10:01] #2029 closed

[2020-12-04 13:42] mbaeuerle commented on #2342
I wonder if this is a regression of https://github.com/eclipse/hono/issues/1714

[2020-12-04 17:02] calohmn commented on #2342
@mbaeuerle It's not a regression since the "Connection events" of #1714 (sent when a device (dis)connects) are different from the  (dis)connectedTtd events mentioned here (sent when a device (un)subscribes for commands).

[2020-12-04 17:24] calohmn commented on #2342
Actually, the default `ttl` for a device and the tenant `maxTtl` are already getting applied here (if "defaults" are enabled for the adapter). What is missing is taking the `ttd` value into account.

[2020-12-07 10:30] calohmn opened #2346 "Error sending "Connection Event" event messages"
When configuring Connection Events with producer "events" (instead of "logging"), so that event messages are sent, there is an exception sending the event if the tenant isn't configured in a specific way.

Sending the events only works if the tenant has a `maxTtl` configured (with value other than -1).
Otherwise there is either a NPE (if no resourselimits are configured) or a NumberFormatException

[2020-12-07 12:46] calohmn commented on #2346
Fixed via d7e03b13f743c51bd68cf4b163a5ac5113269e13 (and commits in 1.3.x, 1.4.x).

[2020-12-07 12:46] #2346 closed

[2020-12-07 13:36] ansfarooqq opened #2348 "Error while running docker image"
Hi,
I am new IoT projects and trying to run eclipse/hono docker images. I am able to pull docker images from docker hub but when I try to run that image I am facing some errors given below. Could you please help me in it whether i need to pass some additional  parameters or dependencies while running these images
![docker run error](https://user-images.githubusercontent.com/75621738/101357334-966f

[2020-12-07 14:10] sophokles73 commented on #2348
@ansfarooqq You should follow the [Getting started guide](https://www.eclipse.org/hono/getting-started/) to get yourself acquainted with Hono at first.

[2020-12-07 14:31] ansfarooqq commented on #2348
@sophokles73 Thanks a lot for your prompt response. I have followed the "getting started guide" and have successfully understood the concept of adding devices/gateways and sending data to the application and so on using Hono sandbox. Now i wish to implement the same using docker images but I am not able to find proper documentation on that, So I am finding it bit difficult to run the docker images

[2020-12-07 14:41] sophokles73 commented on #2348
Please refer to https://www.eclipse.org/hono/docs/deployment/helm-based-deployment/

[2020-12-08 09:26] #2247 closed

[2020-12-08 14:32] calohmn commented on #2342
@Christian-Schmid @mbaeuerle Apart from the tenant `max-ttl` getting set as time-to-live here, do you think it makes sense to have a separate `connection-event-ttl` device/tenant-level default property?
This property could apply to both the "(dis)connectedTtd" events and the "Connection events" (#1714).

[2020-12-08 17:10] calohmn opened #2355 "Command Router: close tenant-scoped links when not needed anymore"
The Command Router component creates tenant-scoped command consumer links.
With the old command & control handling in the protocol adapters, such links were closed when not needed anymore using the tenant-timeout mechanism (#1188/#1475). In the Command Router component, the tenant-scoped links are currently not getting closed.

Applying an adapted tenant-timeout mechanism is probably difficult. Wh

[2020-12-09 10:06] #2314 closed

[2020-12-09 11:08] calohmn opened #2357 "Tenant timeout mechanism mustn't close links if there are still subscriptions"
The tenant-timeout mechanism (#1188/#1475) is currently used to close tenant-scoped command consumer links in the protocol adapters. It is triggered when there were no messages sent or received for a tenant for some time (1h per default).

But closing the tenant-scoped command consumer link when there are still command subscriptions from (AMQP, MQTT) devices, means that these devices won't get com

[2020-12-10 07:05] fkaltner commented on #1345
@calohmn:

together with @boaks, I think I found a solution to this problem. At least this change made the tests running on macOS. I created pull request so that you can test on your machine.

[2020-12-10 07:58] gongzhao2 opened #2363 "The received command message's topic missing tenant ID"
Hi, I try to send command to my device, but the message topic I received missing tenant ID, it's just a blank. like below picture.
![image](https://user-images.githubusercontent.com/66044894/101737541-fe276c00-3aff-11eb-8df0-25b865925f34.png)

Why the message.topic I received missing tenant ID, how can I add it to the topic?

Thanks in advance.

[2020-12-10 08:10] sophokles73 commented on #2363
which version of Hono are you using?

[2020-12-10 11:23] #2357 closed

[2020-12-10 13:55] gongzhao2 commented on #2363
Hi,
Hono version: 1.2.3
mosquitto version: 1.6.8

[2020-12-10 14:05] sophokles73 commented on #2363
You might want to refer to the [MQTT adapter user guide](https://www.eclipse.org/hono/docs/1.2/user-guide/mqtt-adapter/#command-control), which describes the adapter's behavior for different Command & Control client types. First you will need to figure out, which type matches your use case.

[2020-12-10 14:35] #2250 closed

[2020-12-10 15:37] gongzhao2 commented on #2363
I want to **receive commands with authenticated gateway**, that's why the message I received don't have tenant id.
![image](https://user-images.githubusercontent.com/66044894/101791442-7f9def00-3b3e-11eb-8506-790a655b04ef.png)
I want to know why the topic of the command received in this way does not contain tenant-id, because the authentication method of the device already contains the tenant-id?

[2020-12-10 16:33] calohmn commented on #2309
In #1910, the idea was to change 2 properties in the other direction, from camel-case to kebab-case (unfortunately, these `viaGroups` and `memberOf` properties are the first to appear when opening the topmost `device` object in the swagger UI).

Looking at all the properties in the `device-registry-v1.yaml` file, there are actually way more kebab-case properties (18 vs 4).
The `status` object cont

[2020-12-10 16:41] sophokles73 commented on #2363
No, you can not.

[2020-12-10 17:02] calohmn commented on #2363
Since you are using an authenticated gateway, you have established the MQTT connection in the context of the tenant given in the username (DEFAULT_TENANT in your example) anyway. So, all the commands that you receive via this connection will be for devices of that particular tenant. That's why there is no need for the tenant to be in the topic to which commands are published for an authenticated g

[2020-12-11 01:30] gongzhao2 commented on #2363
Thanks sophokles73, calohmn.

[2020-12-11 12:17] sophokles73 commented on #2341
FMPOV the AMQP adapter user guide currently does not explicitly state that all properties and application-properties of a message uploaded by a client are copied to the message being forwarded downstream. However, the guide currently is quite unspecific about which properties are actually required or optional.

[2020-12-11 12:25] 82siha1mpg opened #2368 "Issue with deploying Hono locally"
Hi,

I am trying to build Hono from the source and deploy it locally. I am running it on Windows 10 using docker. I have successfully build all packages of Hono.
Now, I am trying to deploy Sandbox locally and while doing that I have been facing few issues:
1. I am not able to create key and certificates which are described in "create_sandbox_cert_secrets.sh" shell scripts. So **I am not able to cr

[2020-12-11 12:32] sophokles73 commented on #2368
We do not support deployment of the sandbox to a plain Docker environment. Hono is supposed to be deployed to a kubernetes cluster using the Helm chart that we maintain in the Eclipse IoT Packages project. Please follow the instructions provided in [Hono's Deployment Guide](https://www.eclipse.org/hono/docs/deployment/helm-based-deployment/).

[2020-12-11 12:56] Christian-Schmid commented on #2342
Mhm good question.
I would probably tend for having a ``connection-event-ttl`` property.
The ``max-ttl`` for some of our tenants is in our case sometimes quite high with 24 hours.

The timespan as long as someone is interested in a "connection event" is probably much shorter. I would put this more in the time range of a few minutes maximum.

[2020-12-11 14:45] sophokles73 opened #2369 "Device Registry Management API status object uses camel-case properties"
The status object's *autoProvisioned* and *autoProvisioningNotificationSent* properties are defined using camel-case instead of kebab-case. This should be changed in order to be consistent with the other property names.

[2020-12-11 14:46] sophokles73 commented on #2309
@calohmn taking another look at the OpenApi spec, I believe you are right. I have opened #2369 instead ...

[2020-12-11 14:46] #2309 closed

[2020-12-11 17:41] #2369 closed

[2020-12-14 08:39] jnbsi opened #2370 "Device credential actions 'add' and 'update': No details when declining invalid payload (status 400 only)"
On calling the 'add or 'update' action for managing device credentials via Vert.x event bus and using invalid date-time values the request is rejected (status 400) but no further details are given.
The API expects the date-time values to conform to a specific format. (I.e. it's not possible to send a date only (w/o time) or to omit the time zone.) Due to the fact that only a status code 400 is ret

[2020-12-14 09:54] sophokles73 commented on #2370
I am not sure which component/class you are referring to. Hono's device registry implementations have been changed to no longer receive request messages via the vert.x Event Bus quite some time ago. However, if I understand correctly, we are talking about the response to an HTTP request to update credentials as defined in the Device Registry Management API, right?

[2020-12-14 12:39] #2341 closed

[2020-12-15 05:47] gongzhao2 commented on #2363
Hi there,
We are using lora network server of Chirpstack as our MQTT client to receive command(authenticated gateway), but the lora network server report an error "topic regex match error" because the topic hono returned is missing "tenant-ID".
![chirpstack_lns_error](https://user-images.githubusercontent.com/66044894/102176117-bdeb3380-3edb-11eb-9e8f-46d5df97ebaf.jpg)
Has the topic format returne

[2020-12-15 08:31] #2133 closed

[2020-12-15 09:04] sophokles73 commented on #2363
I am no expert in Chirpstack's server and its capabilities but it seems to me like you are trying to configure the Chirpstack server to act as a gateway for devices connected via LoRa. As such, it looks like you have configured the Chirpstack server to connect to Hono's MQTT adapter using a set of credentials which also contain the tenant that the (LoRa) devices belong to in the username.
You also

[2020-12-15 12:26] sophokles73 commented on #2226
Hono's protocol adapters already report several metrics regarding the forwarding of messages downstream. Please refer to the [Metrics definition](https://www.eclipse.org/hono/docs/api/metrics) for a list of meters. In particular, the *hono.downstream.full* and *hono.downstream.sent* meters could be used for detecting cases where adapters run out of credits.

[2020-12-15 21:33] truong11t2 opened #2371 "Connect Hono service inside OpenShift - CodeReady Container"
Hi,

I deployed Hono inside CodeReady Containers and it's running as fine as below.

![image](https://user-images.githubusercontent.com/59316294/102275088-32969000-3f25-11eb-8eec-68c43d0b804e.png)

I tried to reach service via external IP. However due to the issue [https://github.com/code-ready/crc/issues/1491](url) which I believed I will not able to connect service via external IP. Hence, I expo