[2020-12-15 21:54] truong11t2 commented on #2371
One more thing, if I use browser, I get 502 error code
![image](https://user-images.githubusercontent.com/59316294/102277257-4abbde80-3f28-11eb-8e7c-1a1ee5087467.png)

[2020-12-16 01:43] gongzhao2 commented on #2363
Hi，
I am also not familiar with Chirpstack's server, We just use it. This regex seems embed in Chirpstack server, I can't configure it. The only thing I can configure is upstream and downlink topic.
below picture roughly describe the data flow.
![image](https://user-images.githubusercontent.com/66044894/102293731-a31fca00-3f82-11eb-99d2-4a639ad2720d.png)
The problems is lora server of Chirpstack c

[2020-12-16 14:33] sophokles73 commented on #2363
And what have you configured them to?

[2020-12-16 14:41] sophokles73 commented on #2363
Based on the [Chirpstack application server documentation](https://www.chirpstack.io/application-server/integrations/mqtt/) that I found, what you are trying to do seems not to be possible at all. That is because Chirpstack's MQTT integration requires the component that should receive the data to *subscribe* to a topic on the Chirpstack MQTT server. Hono's MQTT protocol adapter cannot do that beca

[2020-12-17 02:56] gongzhao2 commented on #2363
Hi,
We configure below parameters to make chirpstack publich message to hono mqtt adapter:
refer from this [documentation](https://www.chirpstack.io/application-server/install/config/)
- event_topic_template="telemetry/tenant-id/{{ .DevEUI }}"
- command_topic_template="telemetry/tenant-id/{{ .DevEUI }}/req/#"
- server="tcp://hono-mqtt-adapter:1883"
- username="..."
- password="..."

So that Chirps

[2020-12-17 07:13] sophokles73 commented on #2363
Are you running your own instance of the Chirpstack application server? Are you running it for a single tenant only?

[2020-12-17 07:27] gongzhao2 commented on #2363
Actually, our partner is in charge of Chirpstack, I think they build their own instance of Chirpstack in their environment.
Does the single or multiple tenant influence this issue?

[2020-12-17 07:31] sophokles73 commented on #2363
I am not sure about the inner workings of Chirpstack Application server. But if there is only a single tenant (= `{{ .ApplicationID }}` ?), then the command_topic_template could probably simply be changed to `command//{{ .DevEUI }}/req/#"` or `command/+/{{ .DevEUI }}/req/#"`

[2020-12-17 07:38] gongzhao2 commented on #2363
Yeah, We have tried the above two topic formats
- command/+/{{ .DevEUI }}/req/#
- command/tenant-id/{{ .DevEUI }}/req/#

both of them report the same "REGEX" error.

[2020-12-17 07:40] gongzhao2 commented on #2363
I think the problem is Chirpstack can't accept the blank topic, this is the root cause.
So we plan to use mqtt bridge to forward the message to Chirpstack.

[2020-12-17 07:51] sophokles73 commented on #2363
I had actually proposed to use
`command//{{ .DevEUI }}/req/#`
i.e. without the `+` sign ...

[2020-12-17 08:07] sophokles73 commented on #2363
But I see your point. The MQTT adapter currently does not include the tenant ID in the topic in order to reduce message size. However, I can imagine that we make this behavior configurable at the tenant level, so that for certain tenants the tenant ID is included in the topic name.

[2020-12-17 08:18] gongzhao2 commented on #2363
Yeah, I think it is a good idea to make this configurable to meet the needs of different scenarios.

[2020-12-17 08:25] gongzhao2 commented on #2363
Is this a big change for Hono to implement this feature? need long time to implement it?
We currently use mqtt bridge method to circumvent this issue.

[2020-12-17 09:56] sophokles73 commented on #2363
No, this doesn't look like a big thing.

However, you seem to be running on a version of Hono (1.2.x) which the Hono open source project is not able to support anymore. We provide fixes for the two most recent minor versions. We have just released Hono 1.5.0, so you should upgrade to 1.4.4 or 1.5.0 in order to take advantage of service releases.

[2020-12-18 08:33] sophokles73 commented on #2239
@andrew-kratik Hi Andi, this has been scheduled for Hono 1.6.0 which we hope to release end of Jan 2021 ...

[2020-12-18 09:51] iamrsaravana commented on #8
Could you share the steps how to send hono data into Strimzi Kafka

[2020-12-18 09:57] andrew-kratik commented on #2239
Great
thanks @sophokles73

[2020-12-18 11:38] iamrsaravana commented on #8
Has anybody tried AMQP camel source connector for t to read data from Hono and send to Kafka? . Could you share your thoughts  why we cann't use it.

[2020-12-18 13:05] sophokles73 commented on #8
At least I haven't.

I do not see why you shouldn't be able to use it. However, you would then still need an AMQP 1.0 Messaging Network in place. The overall idea here is to support Kafka as an *alternative* to the AMQP 1.0 Messaging Network.

[2020-12-19 10:05] iamrsaravana commented on #8
Yes,  agreed still we need AMQP 1.0 Messaging network, after that we can push data directly to Kafka source connector. Hope this would avoid converting from AMQP 1.0 messages to a Kafka producer.

[2020-12-21 07:12] sophokles73 commented on #8
This issue is scheduled for the 1.6.0 release which we hope to do end of January 2021

[2020-12-21 07:17] iamrsaravana commented on #8
Thanks for confirmation.

[2020-12-21 07:41] sophokles73 commented on #2371
@ctron can you help out with this one?

[2020-12-21 13:09] vasanth-bk opened #2376 "Error creating Tenant with Tenant CA information"
Hono version: 1.5.0
Environment: Plain Kubernetes cluster

When I try to create a tenant with name "TEST_TENANT" with the following Tenant CA information
[code]

I'm getting the following response:
[code]
What am I doing wrong here? or what is the correct way to register a tenant with its trusted CA information ?

[2020-12-21 13:19] sophokles73 commented on #2376
The subject-dn seems to be wrong. It must not contain the `subject=` prefix.

[2020-12-21 13:32] vasanth-bk commented on #2376
Sorry for the typo. Even after removing `subject=` prefix, I'm facing the same error. I also made sure the JSON object is valid.

[2020-12-21 13:43] sophokles73 commented on #2376
when you are registering a public key (instead of an X.509 cert) then you also need to specify the validity period using `not-before` and `not-after`.

[2020-12-21 14:08] vasanth-bk commented on #2376
I tried as you suggested, but still the same issue exists

[code]
Response additionally says invalid JSON, but tested the JSON structure online, it is valid.
[code]

[2020-12-21 14:23] sophokles73 commented on #2376
The *not-before* and *not-after* properties require a value that is formatted according to the [date-time format defined by RFC 3339](https://tools.ietf.org/html/rfc3339#section-5.6).

[2020-12-21 14:55] kaniyan commented on #2376
Also the JSON payload is invalid for two more reasons.
1. The payload is enclosed within square brackets `[...]` which refers to an array and it doesn't confirm to the spec.
2. Inside the payload "tenant-id": "TEST_TENANT" is not allowed. The tenant ID is specified already in the URL.

The valid payload in your case should be

[code]

[2020-12-21 16:15] vasanth-bk commented on #2376
Thanks @kaniyan and @sophokles73, the error is resolved now after correcting the JSON payload.

1. Could you please point me to the documentation where it mentions to specify the `"not-after"` and `"not-before"` properties ?
2. What is the JSON key name if I choose to use X.509 cert for registering a tenant?

[2020-12-21 16:55] sophokles73 commented on #2376
This is all described in Hono's [Device Registry Management API](https://www.eclipse.org/hono/docs/api/management/)

[2020-12-22 07:57] sophokles73 commented on #2363
closed via #2374

[2020-12-22 07:57] #2363 closed

[2020-12-23 08:49] #2376 closed

[2020-12-23 13:09] sophokles73 opened #2381 "Support response caching at service client level"
The new AMQP 1.0 adapter client for accessing Hono's service APIs currently simply wraps the legacy client implementation under the hood. This also means that responses from the services are being cached at the tenant scoped link level. As a consequence, the cache is being removed/cleared if the underlying connection to the service is lost. This is in stark contrast to the overall intention of cac

[2020-12-24 19:52] truong11t2 commented on #2371
Hi @sophokles73
Thank you for your response. I actually made it work. Instead using route, I used the IP address of CRC (VM machine which running openshift) and some how it allowed me to reach the services.

`curl -i -u a3425b18-cd03-447b-8a3c-6f9a315411dd@f6801d88-4fcf-49ed-90e6-51522070d18a:my-pwd -H 'Content-Type: application/json' --data-binary '{"temp": 5}' 192.168.130.11:30080/telemetry`

`H

[2020-12-25 07:29] iamrsaravana opened #2384 "Not to able to read data using Camel AMQP source connector using Stimzi."
This is not an issue. i am looking for your suggestion:

I am planning to pull the data from Hono using Strimzi kafka connector (Camel AMQP source connector). I have followed the below steps to read data from Hono.

I downloaded Camel-amqp-kafka-connector from below link:

https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-amqp-kafka-connector/0.7.0/camel-amqp-kafka-connect

[2020-12-26 06:07] iamrsaravana commented on #2384
Stimizi operator logs as follows:

2020-12-26 05:54:31 INFO  AbstractConnectOperator:436 - Reconciliation #37(timer) KafkaConnect(kafka/my-connect-cluster): creating/updating connector: camelamqpsourceconnector
**2020-12-26 05:54:31 WARN  AbstractConnectOperator:573 - Reconciliation #37(timer) KafkaConnect(kafka/my-connect-cluster): Error reconciling connector camelamqpsourceconnector**
io.strimzi

[2020-12-26 06:07] #2384 closed

[2020-12-27 11:40] iamrsaravana opened #2385 "AMQP KAFKA Connector issue"
I am planning to pull the data from Hono using Strimzi kafka(Version 0.20.0) connector (Camel AMQP source connector). I have followed the below steps to read data from Hono.

**I downloaded Camel-amqp-kafka-connector, JMS Jar files from below link:**

https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-amqp-kafka-connector/0.7.0/camel-amqp-kafka-connector-0.7.0-package.tar.g

[2020-12-27 11:43] iamrsaravana commented on #2385
**I am getting below error messages:**

Could you help me, what values we need to give for  the below properties:

**camel.component.amqp.connectionFactory: org.apache.qpid.jms.JmsConnectionFactory
camel.component.amqp.connectionFactory.remoteURI: amqp://$( kubectl get service eclipse-hono-dispatch-router-ext --output="jsonpath={.spec.clusterIP}" -n hono):15671**

Error message:

fixed that issue

[2020-12-28 08:16] sophokles73 commented on #2385
@b-abel can you help out here?

[2020-12-29 05:22] iamrsaravana commented on #2385
Now I am able to send the data from Hono to Strimzi Kafka Connector using Camel AMQP Source Connector.

Follow the below steps to pull data from Hono and send to Strimzi Kafka Connector:

**1) Creating Name space:**
        kubectl create namespace kafka

**2) install latest Strimzi operator using the below command:**

       kubectl apply -f 'https://strimzi.io/install/latest?namespace=kafka' -n

[2020-12-29 05:34] iamrsaravana commented on #8
Now I am able to send the data from Hono to Strimzi Kafka Connector using Camel AMQP Source Connector.

Follow the below steps to pull data from Hono and send to Strimzi Kafka Connector:

1) Creating Name space:
kubectl create namespace kafka

2) install latest Strimzi operator using the below command:

   kubectl apply -f 'https://strimzi.io/install/latest?namespace=kafka' -n kafka
3) creating Ka

[2021-01-04 07:33] sophokles73 opened #2387 "Remove downstream sender's dependency on legacy client"
The `org.eclipse.hono.adapter.client.telemetry.amqp.ProtonBasedDownstreamSender` currently wraps the existing legacy client's `DownstreamSender`. The new client should not depend on the legacy client's implementation anymore:

[2021-01-04 10:02] b-abel commented on #2385
@iamrsaravana Sorry, for my late response, I was on vacation. It looks pretty interesting what you are doing. Thank you for documenting your solution here. So does everything work now as expected?
Out of curiosity, what is the goal? Do you want to consume all telemetry messages (for a tenant) via AMQP and then produce them to a Kafka topic?

[2021-01-04 13:36] calohmn commented on #2357
Fix has also been applied to 1.4.x.

[2021-01-04 13:59] #2381 closed

[2021-01-05 02:12] iamrsaravana commented on #2385
Yes. I am planning to pull the data from hono through Camel-AMQP-Source connector and writing into Kafka topics. This would some what faster than writing through HTTPS protocol as mentioned in this issue
https://github.com/eclipse/hono/issues/8.

This is alternative to Apache Kafka 2.x protocol binding which is coming next 1.6.0 release.

[2021-01-05 10:31] #2387 closed

[2021-01-05 10:39] vasanth-bk opened #2390 "Error in Artemis Pod logs - AMQ224088: Timeout (10 seconds) on acceptor "amqps" during protocol handshake"
Hono version: 1.5.0
Environment: Plain kubernetes cluster

Noticed in my kubernetes cluster that the artemis pod had restarted multiple times, when i checked the logs of the pod I am finding the below error:
[code]

Full logs below:

[code]

But there are no pods / services in the k8s cluster with the IP `10.244.3.1` that would be trying to perform a protocol handshake with artemis server.

Could

[2021-01-05 11:44] sophokles73 commented on #2390
IMHO this is caused by the readiness and liveness probes that kubernetes uses to determine if the pod is ready/alive.
Did you deploy Hono using the IoT Packages chart? The chart sets up probes which connect to the AMQPS port of the broker ...

[2021-01-05 15:56] b-abel opened #2392 "Transport protocol agnostic interface for northbound Hono-Client"
To use [Kafka for messaging](https://github.com/eclipse/hono/issues/8), we need a northbound client interface that does not depend on AMQP specific types, analogous to the changes in  #2156.

[2021-01-05 16:09] fkaltner opened #2393 "Migrate AutoProvisioner from DownstreamSenderFactory to ProtonBasedDownstreamSender"
See: https://github.com/eclipse/hono/pull/2360/files#r551900537

[2021-01-06 05:21] vasanth-bk commented on #2390
Yes I did deploy Hono using the eclipse-iot helm chart.
Hono has been running in the k8s cluster for around 20 days, I wonder why the Error occurs suddenly from yesterday.
I also noticed that some telemetry messages are getting dropped (randomly) and not reaching the dispatch router AMQP endpoint. I have tested this with the Hono command line client.
Could this continuous error logs every few seco

[2021-01-06 07:04] sophokles73 commented on #2390
I do not believe so. The checks are done every 5 and 9 seconds respectively ...

Not sure what you mean here. Are you talking about the protocol adapter(s) dropping some telemetry messages instead of forwarding them to Qpid?

[2021-01-06 07:12] vasanth-bk commented on #2390
On the south side I am sending 5 separate MQTT telemetry messages one after the other using mosquitto_pub utility. Meanwhile on the north side, Hono command line client has consumed only 3 telemetry messages from the AMQP network for that respective tenant.
I am not sure if the protocol adapter has dropped the telemetry messages or dispatch router has dropped it.

[2021-01-06 07:14] sophokles73 opened #2395 "Upgrade to vert.x 3.9.5"

[2021-01-06 07:33] sophokles73 commented on #2390
Are you using this setup exlusively? In particular, are you sure that no other consumers are attached for the same tenant? You can also take a look at the MQTT adapter logs and check for any spurious messages ...

[2021-01-06 12:14] #2395 closed

[2021-01-08 15:21] mhemmeter opened #2402 "Make messaging network in use configurable on tenant level"
Eclipse Hono 1.6.0 introduces support for Apache Kafka as the messaging network for downstream communication (device-to-cloud communication). In a managed service offering customers should be able to decide which messaging network they want to use (Apache Kafka or AMQP 1.0). Therefore it would be great to make the messaging network configurable on a tenant level.

I don't see the need to distingui

[2021-01-08 15:24] #1345 closed

[2021-01-08 16:31] sophokles73 commented on #2402
@b-abel is this something for you?

[2021-01-08 16:47] b-abel commented on #2402
Yes. Please assign to me.

[2021-01-11 07:03] sophokles73 commented on #1345
@calohmn can this be closed?

[2021-01-11 12:46] gaochundong commented on #8
thanks for the discussion.

[2021-01-11 13:36] sophokles73 opened #2403 "MongoDB based Credentials service returns wrong credentials"
The service fails to return the credentials matching the given *type* and *auth-id* if multiple credentials of the same *type* but with different *auth-id* values are registered for a device.

[2021-01-11 15:20] #2403 closed

[2021-01-12 09:45] vasanth-bk commented on #2390
I have a camel-amqp-kafka-connector consuming the data for the tenant. When I realized the no of MQTT messages published did not match the no of messages in Kafka topic, then I disconnected from the kafka connector and tested with Hono command line client.

Anyway, now all of the published MQTT messages are getting consumed properly at the north side.

But still there are Error logs:
```ERROR [org

[2021-01-12 13:35] kramarov666 opened #2407 "JDBC device registry tables creation."
Hi, I'm trying to create tables for device registry. In Postgresql database.
I'm creating them manually in pgadmin4  using these scripts:
https://github.com/eclipse/hono/tree/master/services/base-jdbc/src/main/sql/postgresql
Then I'm trying to create tenant and device using these commands:
[code]
[code]
Tenant creation went fine, but device creation failing with error:
[code]
[code]
I'm running **

[2021-01-12 14:19] sophokles73 opened #2408 "Device registry should use dedicated event type for indicating provisioning of a device"
The device registry currently uses the well-known *empty notification* in order to indicate the (implicit) provisioning of a device. However, the purpose of the *empty notification* has been defined differently and consumers of the event now need to determine the real purpose of the event by interpreting the presence/absence of particular properties instead of simply inspecting the event's content

[2021-01-12 14:59] fkaltner commented on #2408
Reminder: we have to coordinate these changes with the Ditto team, since Ditto uses the current event definition.

[2021-01-12 15:33] sophokles73 commented on #2408
We could keep backward compatibility until Ditto has been updated: always sending the (new) dedicated event but also sending the the (obsolete) Empty Notification if enabled by a config flag ...

[2021-01-13 06:59] #2170 closed

[2021-01-13 07:04] sophokles73 opened #2409 "Mongo DB based registry fails to start if connection cannot be established"
The Mongo DB based registry implementation fails to start if the connection to the Mongo DB cannot be established immediately, e.g. because the Mongo DB instance is in the process of starting up as well. In particular, this occurred during deployment of the cloud2edge IoT Package.

[2021-01-13 07:05] sophokles73 commented on #2409
IMHO the registry should not depend on the immediate availability of the DB for creating indices as part of startup but instead implement `HealthCheckProvider` and become *ready* once the connection can be established and the indices have been created.

[2021-01-13 07:49] sophokles73 commented on #2390
There is no error. The kubernetes cluster opens a TLS connection to the Artemis broker which expects the client (kubernetes) to engage in the AMQP protocol for opening an AMQP connection. However, kubernetes knows nothing about AMQP and is only interested in whether the peer accepts a TLS connection on the given port. This is how kubernetes determines if the pod (Artemis) is ready. Artemis then si

[2021-01-13 09:16] b-abel commented on #2402
The first idea would be:
1. adding a flag to the tenant configuration that indicates if Kafka should be used for that tenant
2. the protocol adapters start the support for AMQP- _and_ Kafka-based messaging on startup if configurations for both networks are present
3. when a protocol adapter receives a downstream message, it decides  which messaging to use based on the flag (1.)
4. once we have sup

[2021-01-13 09:35] mhemmeter commented on #2402
Sounds very good to me!

[2021-01-13 17:12] fkaltner opened #2413 "Auto-provisioning must not succeed if the same device is concurrently sending via two different gateways"
See: https://github.com/eclipse/hono/commit/fe27f781158b4161c0aa03db796643ef667fa0a4#r45925380

[2021-01-13 17:13] fkaltner commented on #2413
Can you assign this to me?

[2021-01-14 09:04] #2409 closed

[2021-01-14 09:30] #2413 closed

[2021-01-14 16:15] fkaltner commented on #2408
That's what I had in mind too. Can you assign this issue to me?

[2021-01-15 08:35] b-abel opened #2415 "Move general explanations of Kafka-based APIs to separate document"
Currently, the specification of the [Telemetry API for Kafka](https://www.eclipse.org/hono/docs/dev/api/telemetry-kafka/) contains a big part of general explanations regarding Kafka-based messaging (section [Kafka-based Messaging](https://www.eclipse.org/hono/docs/dev/api/telemetry-kafka/#kafka-based-messaging)). This is equally relevant for the Event API and the C&C API. It might make sense to mo

[2021-01-15 08:38] b-abel commented on #2415
Similar to the remarks about producers, it would make sense to add notes regarding consumers.

[2021-01-15 08:51] sophokles73 commented on #2415
sounds reasonable to me :+1:

[2021-01-15 12:27] boaks opened #2418 "CoAP - Event Queue Full - Response Code 4.00 (Bad Request)"
When sending event's too fast, the event queue gets full. Then the client receives

Is that by intention?
Should it be adapted to 5.03?

[2021-01-15 13:19] sophokles73 commented on #2418
Based on the response code (4.00) I'd say that this is a bug since this is clearly not the client's fault and I agree that this should rather result in a 5.03 being returned to the device.

[2021-01-15 14:23] calohmn commented on #2418
I guess at some point `.recover(thr -> Future.failedFuture(StatusCodeMapper.toServerError(thr)))` needs to be added to translate the client error (like [here](https://github.com/eclipse/hono/pull/2352/files#diff-1f6a8df336aae67d760da530cc0acc3cd6816c7f8f85647592772f738dc2dccbR94)).

[2021-01-15 16:06] calohmn commented on #2418
It looks to me as if Artemis has sent a "rejected" disposition here, which will get mapped to a "400 - Bad request" here:
https://github.com/eclipse/hono/blob/cb3fc07228b2c13ebcfcd066c1c265bef16113f3/client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java#L315-L319

The general case of translating a "rejected" disposition to a client error still seems valid to me (message got rejecte

[2021-01-15 16:10] boaks commented on #2418
I would prefer to adapt the HTTP_BAD_REQUEST in case of the AMQ-code for full event-queue.
For me this is similar to the telemetry case 5.03, when too many messages are send in a time period.

[2021-01-18 14:59] #2415 closed

[2021-01-18 16:03] fkaltner commented on #2408
I just had a chat with @thjaeckle: Ditto just relies on the AMQP application property _hono_registration_status_ and does not evaluate the content type.

Hence, if keep the application property, we won't need a config flag as far as I can see. @sophokles73 WDYT?

[2021-01-18 17:06] b-abel commented on #2392
I would like to use the consumer from #2420 for the implementation of the Kafka-based northbound client. This is very little code then for telemetry and events.

[2021-01-18 17:27] sophokles73 commented on #2408
Meaning that we can use the dedicated content-type instead of the empty notification's?

[2021-01-18 17:36] fkaltner commented on #2408
Yes the event could use the dedicated content type but needs to have the application property _hono_registration_status_ set as well.

[2021-01-19 06:52] sophokles73 commented on #2408
I do not see a problem with that at all. This would simply be part of the dedicated event's content model ...

[2021-01-19 07:11] vasanth-bk commented on #2390
Ok then, if this is an expected behaviour, I'm closing the issue.

[2021-01-19 07:11] #2390 closed

[2021-01-19 07:31] sophokles73 commented on #2418
@calohmn I would rather not check the error's *description* but the error's *condition* instead. Do you have a setup where you can reproduce the issue? I am asking because we will need to find out, which condition is being set by Artemis in this case. I would guess that it is `amqp:resource-limit-exceeded` but we will need to be sure ...

[2021-01-19 10:23] calohmn commented on #2418
@sophokles73 Very good point! I haven't been able to reproduce it easily yet (was trying to use the integration tests for that).
But this Artemis test strongly suggests the error condition can be used:
https://github.com/apache/activemq-artemis/blob/3541ebf2181aa8383942d039564fc8332b639cdc/tests/integration-tests/src/test/java/org/apache/activemq/artemis/tests/integration/amqp/AmqpFlowControlTest.

[2021-01-19 10:31] sophokles73 commented on #2418
Yes, might experiments suggest the same ...

[2021-01-19 12:07] sophokles73 commented on #2418
This also affects the other protocol adapters because the handling of the rejected disposition is not device protocol specific.

[2021-01-19 12:18] calohmn commented on #2418
I think in this case here a localized ServerErrorException should be used, as introduced in #2185.

[2021-01-19 12:29] sophokles73 commented on #2418
@calohmn what for? Isn't a 5.03 response adequately describing the issue, i.e. *wait a little and then try again*?

[2021-01-19 13:22] calohmn commented on #2418
@sophokles73 When knowing that the error has a "resource-limit-exceeded" cause, the user could possibly update the used messaging service plan, increasing the quota, so that the error soon doesn't arise any more.

[2021-01-19 13:29] boaks commented on #2418
This message is sent to the device. Therefore the device should have a hint, what to do. 5.03 is that hint, 4.00 not.
To inform the "user" to act may be a different action. I guess, this should be done by e-mail.

[2021-01-19 13:43] sophokles73 commented on #2418
@boaks I think we all agree that we want to return a 503 in this case. The only question is whether we want to include additional information about the problem in the response body in this case.
@calohmn I see your point but am a little hesitant to expose (potentially) internal technical details for that purpose. I am not sure if a user correctly connects the dots from the description that an addr

[2021-01-19 15:31] #2393 closed

[2021-01-19 15:44] #2408 closed

[2021-01-20 06:30] calohmn commented on #2418
@sophokles73 I think we can at least use the following message:
[code]
(entry for `ServiceInvocationException_messages.properties`)

A bit more specific would be: `consumer rejected the message because a resource limit was exceeded, possibly a (tenant-specific) queue size limit`

In any case, I think an error description would be helpful here. It could be added to an FAQ page ("what to do if this

[2021-01-20 08:34] #2418 closed

[2021-01-20 12:53] #2053 closed

[2021-01-22 12:57] sophokles73 opened #2429 "Service component containers fail to gracefully shut down"
The containers created from Hono's service components
* eclipse/hono-service-device-registry-mongodb
* eclipse/hono-service-device-registry-jdbc
* eclipse/hono-service-device-registry-file
* eclipse/hono-service-device-connection
* eclipse/hono-service-command-router
* eclipse/hono-service-auth

cannot be shut down gracefully (anymore) using a SIGTERM but need to be forcefully killed to stop them.

[2021-01-22 15:13] #2429 closed

[2021-01-25 07:06] sophokles73 commented on #2239
@kaniyan what's the status of this?

[2021-01-25 08:54] kaniyan commented on #2239
@sophokles73 With PR #2383, MongoDB device registry now supports this feature. Currently I am working on the integration tests for this feature.

[2021-01-25 13:23] b-abel commented on #2392
PR #2432 offers a Kafka-based implementation of the protocol-agnostic northbound interfaces.

[2021-01-25 13:31] b-abel commented on #2392
@sophokles73 What about the AMQP-based implementation? Strangling the _hono-cllient_ module is FMPOV best left with you.
FMPOV, resolving the old "client" module best left in your hands. However, I could provide (as an intermediate step) an implementation that "wraps" the `org.eclipse.hono.client.application.ApplicationClientFactory` and provides it with the new interface `org.eclipse.hono.client.

[2021-01-25 14:06] sophokles73 commented on #2392
@b-abel yes, you can leave the Proton based implementation to me.

[2021-01-26 11:03] b-abel opened #2434 "Adapt package names in module "clients" to common pattern"
The package names in some sub-modules of the module _clients_ do not follow a common pattern, as mentioned in the comments:
https://github.com/eclipse/hono/commit/4f32409ef080c5d5b0306a9e773136382b86a701#r46336494
https://github.com/eclipse/hono/commit/4f32409ef080c5d5b0306a9e773136382b86a701#r46336484
https://github.com/eclipse/hono/commit/4f32409ef080c5d5b0306a9e773136382b86a701#r46336467

The n

[2021-01-26 11:16] b-abel commented on #2434
There are two modules that contain code specific for a messaging protocol to be used in different kinds of clients. How should the pattern look there?

[2021-01-26 11:51] sophokles73 commented on #2434
The package names in *kafka-common* need to be adapted to start with *org.eclipse.hono.client.kafka*

[2021-01-26 12:54] #2434 closed

[2021-01-26 15:05] fkaltner opened #2436 "LoRa Adapter crashes on startup: missing bean declaration"
I guess the bean declaration for a _HttpAdapterMetrics_ bean is missing in its application configuration.

[code]

[2021-01-26 15:28] sophokles73 commented on #2436
@fkaltner are you going to provide a fix?

[2021-01-26 15:29] fkaltner commented on #2436
Yes, I am on it.

[2021-01-26 16:27] fkaltner commented on #2436
This also applies to 1.5.X. Hence I also created a PR for 1.5.X.

[2021-01-27 09:49] #2436 closed

[2021-01-28 10:58] calohmn commented on #2064
Sounds good. As the error topic, I would suggest using `errors/${tenant-id}/${device-id}` (keeping it in line with the `[event|telemetry|command]/${tenant-id}/${device-id}` topic structure).

[2021-01-28 14:35] alinaserg commented on #2064
Could you please provide some ideas how these error messages will look like? To make sure that the clients can react on them appropriately.

[2021-01-28 22:42] e-grigorov commented on #2064
If the device connection is closed because of Hono internal error and this error is still there. What about the next device attempt to connect? I am asking this question because the device reconnection exponential backoff algorithm usually relies on the connection failure. If the next connection is successful and almost immediately disconnected, it'll end with an infinite loop. Actually, I am curi

[2021-01-29 07:18] sophokles73 commented on #2064
@e-grigorov good point. I guess we will need to differentiate between *transient* errors and more *persistent* errors.

An example for a *transient* error would be a lost connection to the device registry or the AMQP messaging network. Such a connection will be re-established very quickly. Thus, an MQTT client will most likely succeed in performing the same operation again after it has reconnected

[2021-02-01 07:19] sophokles73 commented on #2239
@kaniyan any news on this? If you do not intend to implement this feature for the JDBC registry then please split this issue up into two so that we close the one regarding the Mongo DB based implementation. Please also add a note/warning to the JDBC and file based registry, indicating which operations defined by the API are *not* supported by these registries ...

[2021-02-01 09:07] kaniyan opened #2448 "Support searching of tenants with optional filters, paging and sorting options in JDBC based device registry"

[2021-02-01 09:19] kaniyan commented on #2239
This has been closed via PRs #2366, #2383 and #2433

[2021-02-01 09:19] #2239 closed

[2021-02-01 09:46] sophokles73 opened #2449 "JDBC registry should support caching of Credentials on client"
The JDBC based implementation of the Credentials service currently does not allow clients to cache results. This is because the service does not include a *cache directive* in responses sent to clients.

[2021-02-01 14:47] calohmn commented on #2064
Here some ideas towards implementing this feature:

**When to use?**
One option would be to enable the changed error handling (no disconnect, send PUBACK if qos>0) and enable publishing the error message when the same gateway/device, that published the telemetry/event message, has an open subscription on the error topic, possibly on another MQTT connection.
That would mean however, that if the con

[2021-02-01 14:59] sophokles73 commented on #2064
@calohmn Sounds good to me, in general. Some questions/concerns I have:
1. It is not entirely clear to me if you want to send errors for QoS 0 messages as well. FMPOV this is not necessary.
2. It seems to me that you want to use the MQTT level packet-id in the topic for sending errors caused by event/telemetry messages but use the application level request ID in the topic for sending errors caused

[2021-02-01 16:27] calohmn commented on #2064
For errors happening when processing QoS 0 messages, the connection is currently disconnected as well.
So, there should be some option to change that.

I would find it consistent, if the existence of an error topic suscription (or the added "ignoreErrors" property bag param) would cause that change in error handling also for QoS 0 messages. And not using that topic to send error messages in that c

[2021-02-02 09:13] e-grigorov commented on #2064
Having this error channel per message, how do you envision the client behavior? Let's say, the client sends message1, message2 and message3. The message order is important because there are some dependencies. message2 is reported with an error. What's next? The device cannot retry message2 because message3 was already sent. FMPOV, so called "transient" errors will be hard to be managed. Some Hono

[2021-02-02 09:39] sophokles73 opened #2453 "vert.x max event loop execute time cannot be configured"
The [Common Configuration Admin Guide](https://www.eclipse.org/hono/docs/admin-guide/common-config/#vert-x-options) defines the `HONO_VERTX_MAX_EVENT_LOOP_EXECUTE_TIME_MILLIS` for setting the vert.x instance's max-event-loop-execute-time. However, specifying this property has no effect.

[2021-02-02 10:06] calohmn commented on #2064
If order is important and retries should be done if needed, I think the client would have to wait for either the PUBACK for message2 or a corresponding error message on the error topic before sending message3.

What kind of mechanism do you have in mind here?

[2021-02-02 10:23] #2453 closed

[2021-02-02 12:59] e-grigorov commented on #2064
Basically, this means that there will be a guarantee that the message error will be returned before the PUBACK. I am not sure how such synchronization can be implemented on top of libraries like Paho where we have different callbacks and ACK messages are internally handled.

Most simple one, caching. I am nto sure, most probably, we have such?

[2021-02-02 16:51] calohmn commented on #2064
We could first publish the error message and let the device acknowledge that. Only after the protocol adapter has received that error message PUBACK (or after some timeout period has elapsed), it would send the PUBACK for the original telemetry/event message. (This would of course only be done if the device has subscribed for errors with QoS 1.)
Would this work for you?

I'm not sure which kind of

[2021-02-03 10:19] calohmn commented on #2064
Thinking about it more, the above idea with sequential (error) message PUBACKs looks too complicated.

I would rather suggest the following:
We implement 3 different error handling modes:
- **disconnect on error**: this is the current behaviour and conforming to the MQTT spec. If there is a error topic subscription, the error will be published on that topic.
- **ignore errors**: Errors will not le

[2021-02-03 16:54] e-grigorov commented on #2064
I am not sure that such flow can be implemented on top of typical MQTT library like Paho. The main reason is that QoS is internally managed by the library and the user doesn't need to take care of this while the error channel will be delivered to the user. Without an internal access to the library, I don't think that this retry can be implemented. It's a big issue because no one will start to impl

[2021-02-03 17:18] mbaeuerle opened #2456 "Add user defined identifying label to trusted-ca's"
The Hono tenant management API allows adding multiple trusted CAs which are then used as trust anchors to authenticate devices.
When adding a trust anchor one has to provide some information (amongst others):
* subject-dn
* not-before
* not-after

A tenant can however have multiple trusted CAs with the same subject-dn and different expiration dates.
Consider a tenant having the following CAs:
[cod

[2021-02-04 15:41] sophokles73 commented on #1665
I am no longer sure if it is a good idea to support this as it would allow Tenant 1 to have C configured as its trust anchor and Tenant 2 to have B configured as its trust anchor. When a device now presents a chain [A,B], it would no longer be clear to which tenant the device belongs because we would have two matches:
1. Tenant 1 because A's issuer DN matches B's subject DN and
2. Tenant 2 because

[2021-02-05 08:30] kaniyan commented on #2239
Hi @andrew-kratik, with the recent release of Hono 1.6.0, now the the Device Registry Management API supports retrieving the registered tenants with optional filters, paging and sorting options. The MongoDB based device registry in Hono supports this feature.

[2021-02-05 10:33] Christian-Schmid opened #2457 "Respect maxPayload also for commands"
The Eclipse Hono protocol adapters offer a configuration property ``maxPayloadSize``, e.g. ``hono.coap.maxPayloadSize``.
With this property it is possible to limit the payload size of incoming requests.

Would it make sense to apply this limit also for outgoing requests (command messages towards the device)?
One benefit I would see, is that device implementors could consider this maximum when crea

[2021-02-05 10:48] sophokles73 commented on #2457
This is already supported at the protocol adapter level: https://www.eclipse.org/hono/docs/admin-guide/hono-client-configuration/#connection-properties

You can set `HONO_MESSAGING_MAXMESSAGESIZE` to the maximum number of bytes that the adapter should accept for upstream commands to send to the devices ....

[2021-02-05 10:54] andrew-kratik commented on #2239
Great news, thanks!)

[2021-02-05 14:15] Christian-Schmid commented on #2457
Thank you very much. The property we're already using, but I wasn't certain if they are intended for that purpose.

[2021-02-05 14:15] #2457 closed

[2021-02-05 15:38] kaniyan commented on #2064
1. FMPOV we cannot rely only on the packet identifier to correlate the error reasons with that of messages sent.  In the MQTT spec, packet id is defined as a non-zero 16-bit identifier and it is normally an incrementing number and the highest possible value is 65535. When a MQTT connection is opened, packet id starts with a value of 1 and then gets incremented as the messages are being sent. Norma

[2021-02-05 16:01] alinaserg commented on #293
I want to start the discussion of the above described issue again and if it will be possible try to find the solution for MQTT protocol adapter as well as for AMQP adapter.

As far as I know the behaviour of MQTT adapter was changed in the mean time with [#876](https://github.com/eclipse/hono/issues/876)). Meaning if device tries to communicate with MQTT adapter after credentials were revoked or d

[2021-02-08 07:30] sophokles73 commented on #293
So far, the protocol adapters do not become aware of changes to the device's registration status and/or credentials because there is no notification mechanism in place. FMPOV the mechanism discussed above might be used for the purpose proposed by @alinaserg. However, I do not think that there is any particular relation with #2064 because this will not prevent devices from
1. trying to connect to a

[2021-02-08 08:42] calohmn commented on #2064
IMHO It would be better to have a unique identifier to correlate. If a device intends to know about the error reason, then we could also leave the message id generation to the device.

@kaniyan I wouldn't want to *require* the device to always set an extra message id property bag parameter for the error topic feature. For QoS 1 messages, the MQTT message id would be just fine for the usual case, t

[2021-02-08 09:10] kaniyan commented on #2064
I agree that using the Client Identifier together with the packet id solves the correlation issue to a good extent (as the reset of the packet identifier to value 1 after reaching max value is still possible).

I understood that the above `correlation-id` property bag param refers to an identifier given by a device to correlate the error messages. If so, then we are talking about the same identifi

[2021-02-08 09:38] calohmn commented on #293
@sophokles73 I think the relation to #2064 is here, that as long as we don't have the added notification mechanism from the device registry to the protocol adapters, the AMQP/MQTT device connections would at least get closed in the above mentioned cases when the device tries to send another telemetry/event message. For MQTT, this means preserving the existing disconnect behaviour explicitly for th

[2021-02-08 09:43] calohmn commented on #2064
Yes. I think I would rather name the property bag parameter `correlation-id` here as not to imply that this has to be the MQTT message id. That id could also be used for the device-side request/response pattern then (see https://github.com/eclipse/hono/issues/1276#issuecomment-674095874).

[2021-02-08 10:04] sophokles73 commented on #293
FMPOV one of the biggest advantages of using events is that you do not need to make assumptions regarding who will receive and process the events. You simply publish an event in order to indicate that something specific has happened. AFAIC we can therefore very well use the same event type, regardless of who the consumer of the event will be.

Indeed, this seems to be the more important question.

[2021-02-08 12:16] sophokles73 commented on #2456
I do not see a problem with adding such behavior to the Registry Management API. However, I'd rather name the additional property *id* instead of *cert-id* because the trust anchor does not contain the certificate but its properties only.
I propose to define the property's value as unique among a tenant's trust anchors.
The property itself should be optional FMPOV. If no value is specified, the re

[2021-02-08 12:18] sophokles73 commented on #2385
Can this be closed @iamrsaravana ?

[2021-02-08 12:20] sophokles73 commented on #2370
@jnbsi can this be closed?

[2021-02-08 12:21] #2368 closed

[2021-02-08 12:22] sophokles73 commented on #2348
@ansfarooqq can this be closed?

[2021-02-08 13:01] iamrsaravana commented on #2385
Yes

On Mon, Feb 8, 2021, 17:48 Kai Hudalla <notifications@github.com> wrote:

[2021-02-08 13:03] #2385 closed

[2021-02-08 14:37] mbaeuerle commented on #2456
These suggestions sound good to me!

[2021-02-08 15:51] b-abel opened #2460 "[#8] Duplicate logic for parsing of Kafka headers"
I found that the classes `RecordUtil` and `KafkaMessageHelper` implement the same use case: getting and decoding Kafka headers. It would be good to have this implemented only once.

[2021-02-08 16:22] b-abel commented on #2460
The main difference I found is, that `RecordUtil` does not return a value if it found another header with the same key while `KafkaMessageHelper` always returns the first header with a matching key. (On the producer-side we should anyways always ensure that we cannot have duplicate keys).

[2021-02-08 17:33] kaniyan commented on #2456
Generating a unique ID if not provided sounds good. In that case, we can make use of the `randomUUID` as we do for the _device/tenant_ identifiers.

[2021-02-09 08:06] jnbsi commented on #2370
@sophokles73 Yes, the topic seems to be obsolete. Hence, the ticket can be closed.

[2021-02-09 08:06] #2370 closed

[2021-02-09 09:20] calohmn commented on #2064
@e-grigorov I don't see why this couldn't be implemented with most if not all Paho clients. I mean after having published a message you typically get a delivery token. On/with that token you can either call a method to wait for the PUBACK (along with a timeout parameter) or you can periodically check if the PUBACK has been received (i.e. the delivery identified by the token is complete). There may

[2021-02-09 15:53] kaniyan commented on #2456
FMPOV it would be a breaking change to include this in a minor version release (1.7.0), if the above mentioned identifier is set to _unique_. Most probably a unique constraint should be imposed at the database level and the existing data should be migrated, so that this new field contains a unique value. In order to avoid that, we can introduce this new field without any unique constraint attribut

[2021-02-10 07:12] calohmn opened #2465 "MQTT adapter: NPE when processing command response"
The following NPE was observed in the logs:
[code]

[2021-02-10 09:54] calohmn commented on #2465
Occurs when the tenant object isn't already in the cache.

[2021-02-10 10:16] #2465 closed

[2021-02-10 10:58] calohmn commented on #2465
Fix also applied to 1.5.x and 1.6.x.

[2021-02-10 14:23] kaniyan commented on #2456
As we discussed, the addition of a new optional identifier doesn't introduce any breaking change in the Device Management API. So it can be included in a minor release. But the device registry implementations, might need to have a strategy to generate these ids for the existing data.

[2021-02-10 17:28] fkaltner opened #2469 "Prepare Kafka integration tests"
In parallel to the ongoing Kafka migration tasks the Hono integration tests need to spin up a Kafka (and Zookeeper) container which is properly configured for Docker-internal access (by Protocol Adapters and Device Registries) and Docker-external access (by the integration tests themselves)

Furthermore the integration test helpers need to be adapted to use the currently developed _org.eclipse.hon

[2021-02-10 17:29] fkaltner commented on #2469
@sophokles73 may I work on this?

[2021-02-11 12:37] kaniyan commented on #2460
It is better to avoid duplication and reuse the code. IMHO `KafkaMessageHelper` is already being used for the `telemetry/event` side and it could also be extended to process `commands` too.

[2021-02-11 13:39] calohmn commented on #2460
How about renaming `KafkaMessageHelper` to `RecordHelper` then (`Message` is more of an AMQP term) and adding the duplicate header check?

[2021-02-11 13:55] b-abel commented on #2460
I'm fine with that.

My implementation does not enforce this on purpose. I would rather accept a message with a duplicate key in the header than dropping it as there is no way to inform the initial sender about it. We should better spend our energy on the producer-side and implement producer in a way that prevents duplicate header keys and clearly state that requirement in the command API.

[2021-02-11 14:18] calohmn commented on #2460
What if the producer is the northbound application (sending commands and not using our Kafka client classes)? I would rather be more strict here than work with the potentially wrong header value. And about informing the initial sender: this is a problem we face also concerning other ways in which the record might be invalid (missing headers or invalid values). So, I would rather not make a special

[2021-02-11 15:13] kaniyan opened #2471 "Device Registry: Error responses do not comply with the specification"
The current device registry implementations _(File, JDBC and MongoDB)_  return error responses that do not comply with the below _schema_ as defined by the [Device Registry Management API](https://www.eclipse.org/hono/docs/api/management/).

[code]

Currently I see two patterns, in case of error responses being returned by the device registries.

1. The first pattern is an error response of type `

[2021-02-11 15:33] kaniyan commented on #2460
@b-abel  @calohmn We already deal with handling of multiple headers having the same key in Hono. In case of HTTP headers, we take the first header value. We could apply the same here in case of kafka headers too and keep it uniform. IMHO what is important, is to clearly document the behavior in the specifications.

[2021-02-12 08:01] calohmn opened #2472 "[1.5] Protocol adapters reuse obsolete downstream senders after disconnect"
After a disconnect with the AMQP messaging network has occurred, protocol adapters don't clear the cache containing the downstream sender objects.
This leads to telemetry/event messages not getting sent.

Bug only exists in 1.5, not in 1.6 and master.

[2021-02-12 08:07] fkaltner commented on #2472
Regarding the labels you added: aren't the device registries affected as well since they also may send events when they use gateway-based auto-provisioning?

[2021-02-12 08:15] calohmn commented on #2472
Fixed via 8126063e795d06c0de839c09d344653db274cb22.

[2021-02-12 08:15] #2472 closed

[2021-02-12 09:53] fkaltner commented on #2469
@b-abel Here's a draft PR which can be used to play around https://github.com/eclipse/hono/pull/2473

Note that the integration tests will still fail as northbound consumers still connect to AMQP. I'll continue to work on that and update the PR as soon as I am done.

Regarding the device registries: will you update the configuration of those similar to _AbstractAdapterConfig_, so that Kafka can be

[2021-02-12 10:20] b-abel commented on #2469
Cool. I'll have a look.

This is currently not on my priority list :smile:  Could you please create an issue for it?

[2021-02-12 11:09] fkaltner opened #2475 "Make Kafka connection of device registries configurable"
Like already done for AbstractAdapterConfig: use Kafka if config properties are set, use AMQP otherwise.

[2021-02-12 11:10] fkaltner commented on #2469
Sure. Created #2475.

[2021-02-12 12:33] b-abel opened #2476 "[#8] Add unit tests for module `hono-client-application-kafka`"
Most of the module `hono-client-application-kafka` is not covered with tests yet. The tests in `AbstractAtLeastOnceKafkaConsumerKafkaMockConsumerTest` and `AbstractAtLeastOnceKafkaConsumerMockitoTest` show how the consumer logic can be tested.

[2021-02-12 12:35] b-abel opened #2477 "Add time-to-live to Kafka-based Clients"
The Kafka-based downstream message APIs already define an optional header *ttl*, but the producer and consumer implementations do not use them by now. The protocol adapters put a TTL property in the metadata (if defined) that is in seconds. The producer should add the creation-time if missing, like it is already done for *ttd* and change the *ttl* from seconds to milliseconds. On the consumer side

[2021-02-12 12:39] b-abel commented on #2477
Ignoring records with elapsed *ttl* should be done as early as possible in our Kafka consumer implementation to be close to the behavior of AMQP. WDYT, @sophokles73?

[2021-02-12 12:45] b-abel opened #2478 "Add Command&Control support to new northbound Client Interface"
The new northbound client interface `org.eclipse.hono.application.client.ApplicationClientFactory` currently only supports downstream messaging and misses support for Command&Control.

[2021-02-12 13:16] sophokles73 commented on #2477
Sounds good. Maybe we can make this configurable as well with the default being to discard expired records.

[2021-02-12 13:18] sophokles73 commented on #2478
@b-abel will this go into 1.7.0?

[2021-02-12 17:01] b-abel commented on #2477
If we do not discard the record in the consumer, we should add the information in the message object passed to the message handler. In the case of the northbound client, this would mean adding this property to `DownstreamMessage`, which probably makes no sense for AMQP. With AMQP, the message handler would not be called for messages with elapsed *ttl*.

[2021-02-12 17:07] b-abel commented on #2478
@calohmn Is this something for you?
The next issue I plan to work on is #2402. I'm not sure that I can finish both this month.

[2021-02-15 07:35] calohmn commented on #2064
One correction regarding the above design:
MQTT devices will have to create the error subscription **on the same MQTT connection** that they send the telemetry/event messages on.

Otherwise the connection with the error subscription might be with another MQTT adapter instance and there would be no way transporting the telemetry/event sending error from the adapter instance where it occurred, to th

[2021-02-15 09:47] calohmn opened #2480 "CommandRouter/Kafka: prevent lost/duplicate message deliveries"
The Kafka command message consumer in the CommandRouter component is currently configured to auto-commit partition offsets.

This means there is a high likelihood of duplicate command messages when a CommandRouter instance is restarted.

On the other hand, it also means that a command message could get lost, if the commit takes place *before* a command message is forwarded on the internal command

[2021-02-15 14:27] BobClaerhout opened #2482 "Command and control for Lora adapter"
Current situation
=================

Currently, the Eclipse Hono lora adapter implements the AbstractVertxBasedHttpProtocolAdapter now. This means that command and control is dependent on incoming messages/connections.

To send a command, following steps need to be taken:

1.  Device is provisioned in the LNS (LoraWAN network server).

2.  LNS is configured to forward messages to Hono

3.  Device

[2021-02-16 07:31] calohmn commented on #2460
Well, taking the first header and not causing an error is still not my preference, but at least there's some consistency to it. So, ok.
Interestingly, the Kafka `Headers` interface only has a `lastHeader` method for getting a single header.

[2021-02-16 08:43] calohmn commented on #2064
@kaniyan I would take over implementing the error subscription handling, if you don't mind. Maybe you could afterwards adopt the changes from #2198 concerning always closing the connection in case of a non-transient error (device/tenant/adapter not registered/enabled).

[2021-02-16 08:48] kaniyan commented on #2064
@calohmn Go ahead with the implementation. I can take over the scenario of identifying the non-transient errors and handling them.

[2021-02-17 13:08] fkaltner opened #2486 "AbstractAtLeastOnceKafkaConsumer may consume nothing when a leader for a subscribed topic is not elected yet"
AbstractAtLeastOnceKafkaConsumer first calls `subscribe` and then uses `poll` to query records from Kafka.

The call to `subscribe` though does not mean necessarily mean that the assignment of a consumer to a partition was made. This can be seen whenever the consumer subscribes to a topic which does not yet exist and right afterwards a record is published to this topic auto-creating it. Hono's int

[2021-02-17 13:32] kaniyan commented on #2486
It makes sense to wait until the partitions have been assigned. The same scenario has been handled by making use of the `partitionsAssignedHandler(...)` in `KafkaBasedInternalCommandConsumer` and `KafkaBasedCommandConsumerFactoryImpl`.

[2021-02-17 13:59] b-abel commented on #2486
@kaniyan Have you tried to combine this will manual offset commit?

[2021-02-17 14:18] kaniyan commented on #2486
@b-abel Currently the above mentioned classes don't employ manual offset commit. I didn't get it why manual offset commit is relevant in the context of this issue.  My suggestion is that in `AbstractAtLeastOnceKafkaConsumer`, once we subscribe to a _topic/topic pattern_, to wait until the partitions are assigned before calling `kafkaConsumer.poll(...)`.

[2021-02-17 14:24] kaniyan commented on #2456
This has been closed via PR #2470.

[2021-02-17 14:24] #2456 closed

[2021-02-17 14:27] fkaltner commented on #2486
@kaniyan The problem is that a call to `subscribe` only does not lead to any partition assignment as far as I observed it. That's what I wanted to say with the last section:

Or did I miss something here and this is indeed possible?

[2021-02-17 15:39] b-abel commented on #2486
Without manual offset commit you have zero delivery guarantees, messages can be delivered multiple times or never. FMPOV this is completely useless for messaging in Hono.

[2021-02-17 15:57] kaniyan commented on #2486
I am aware of the manual offset commit and zero delivery guarantees and hence there is a TODO in the above mentioned classes (`KafkaBasedInternalCommandConsumer` & `KafkaBasedCommandConsumerFactoryImpl`) to incorporate it. I didn't get the relevance of your comment regarding manual offset commit with regard to this issue. I understood now that the intention of the comment was to find out if manual

[2021-02-17 16:02] fkaltner commented on #2486
Together with @calohmn I investigated this further. A possible (working 😃 ) option would be to use `partitionsFor` to query the partitions for the topics right after the call to `subscribe`.

If done this way, I couldn't reproduce the error on my machine - seems like the call to `partitionsFor` is only answered when all consumers are assigned to partitions. In the callback the call to `poll` can b

[2021-02-17 16:22] kaniyan commented on #2486
@fkaltner After _subscribe_, I noticed that the _partitionsAssignedHandler_ is being invoked. My understanding is that this handler is invoked as the partitions have been assigned. After taking a closer look with debug statements, even though _partitionsAssignedHandler_ has been invoked but still no partitions have been assigned.  I get it what you meant  by `handler is never called`.

[2021-02-17 16:30] fkaltner commented on #2486
@kaniyan Just to make sure we're on the same page:

to my understanding the partitionsAssignedHandler is only invoked when you called `subscribe` and set a handler in KafkaConsumer by calling `handler` (see: https://vertx.io/docs/vertx-kafka-client/java/#_receiving_messages_from_a_topic_joining_a_consumer_group)

or

after calling `subscribe` and `poll` (see https://vertx.io/docs/vertx-kafka-clien

[2021-02-18 07:57] calohmn commented on #2482
Thanks for the detailed proposal!

Some thoughts and questions on this:

Where exactly would the LNS endpoint and authentication information be kept in Hono?
LNS endpoint in the device registration data ("ext" section)? I guess where the authentication information should go would be something to discuss further, maybe using the device credentials data for that, although I'm not sure about that.

W

[2021-02-18 08:17] b-abel commented on #2486
What I am interested in is if it is possible to use the abstraction the Vert.x KafkaProducer provides combined with manual offset committing. My understanding was that you can either use the [handler](https://vertx.io/docs/apidocs/io/vertx/kafka/client/consumer/KafkaConsumer.html#handler-io.vertx.core.Handler-) and the helping handlers like [partitionsAssignedHandler](https://vertx.io/docs/apidocs

[2021-02-18 08:23] b-abel commented on #2486
@fkaltner Do you know if this problem occurs only with automatic topic creation? If so, it might not be worth a lot of effort, because I think we should expect that the external topics (event, telemetry, C&C) are created upfront. I would not recommend using automatic topic creation there.

[2021-02-18 08:55] fkaltner commented on #2486
@b-abel To my current understanding of the problem this is true. I also talked briefly with @calohmn about the topics better being created upfront in my opinion (as we do currently for AMQP as well) but we didn't come to a conclusion about this. From your comment I get that this is still to be discussed?

[2021-02-18 08:59] fkaltner commented on #2486
Attaching a log file of a failed test run illustrating the problem with Kafka Client logs on verbose level.

[test.log](https://github.com/eclipse/hono/files/6001520/test.log)

[2021-02-18 09:10] fkaltner commented on #2486
Thinking about up-front topic creation:

I guess, from a DevOps perspective, this makes sense. Usually the number of partitions is limited in a Kafka cluster. So I think the right point in time to fail would be when a new tenant is created and the resources in a cluster are not sufficient anymore. If this is not done when the tenant is created, this could lead to lots of tenants being created and

[2021-02-18 09:37] b-abel commented on #2486
As far as I know, automatic topic creation is not recommended for production setups. For Hono, the idea was that when a tenant is created, the tenant manager also creates its topics and corresponding ACLs.
Automatic topic creation is configured at the broker. So we cannot assume that a cluster has this enabled. It looks like Confluent disables it too: https://riferrei.com/2020/03/17/why-the-proper

[2021-02-18 09:38] BobClaerhout commented on #2482
Thanks for the response @calohmn,

I think it would be useful to configure the endpoint and the authentication information within a new section called `command`. I would propose following structure:
[code]
I believe `ext` (hono docs: `Allows arbitrary properties as extension to the ones specified by the Hono API.`) is something reserved for the properties next to the Hono API and the goal of this

[2021-02-18 09:48] fkaltner commented on #2486
@b-abel Is this already implemented for any of Hono's registries? If not, shall we create an issue for that or are you already on it?

@calohmn & @kaniyan  What about C&C? Do you need automatic topic creation for command routing?

[2021-02-18 09:49] calohmn commented on #2486
I agree: I think explicit topic creation when provisioning the tenant should be the norm and would prevent possible timeouts when accessing the topics for the first time (because of the time it takes to create the topic and propagate the metadata).
And yes, I guess in many environments, `auto.create.topics.enable` would be `false` anyway.

Nonetheless I think we should support the case that the to

[2021-02-18 12:26] kaniyan commented on #2486
Whenever a tenant is being registered, then the necessary topics and ACLs should also be added. I am also of the same opinion that the topics are not be created on the fly by enabling `auto.create.topics.enable` to _true_.

[2021-02-19 07:01] sophokles73 commented on #2482
Do you want to add this section to the device registration information or the tenant? I believe that most of it would actually be tenant specific, not device specific, or am I mistaken? One of the problems with this approach is that we would add secrets (tokens, private keys passwords) to this structure in clear text. That might not be an issue for some users but it might for others (most?). What'

[2021-02-19 07:54] BobClaerhout commented on #2482
I would add it to the device registration. it's not that common but when a specific tenant has 2 different LNS in place, configuration on the tenant would not suffice. Also, the information on how to reach a gateway (LNS) simply belongs in the registration of that gateway/device IMO.

Your remark on adding secrets in plain text is indeed an issue. We might encode and decode these configurations wi

[2021-02-19 10:03] #2449 closed

[2021-02-19 15:30] sophokles73 commented on #2482
Well you could still define the (multiple) LNS endpoints at the tenant level once and then refer to them at the device level. That way you will need to update credentials and URLs in one place only.

[2021-02-19 15:34] BobClaerhout commented on #2482
I don't get why this is helpful. The LNS is the gateway to hono. So in case of a Lora network, you only have one gateway configured in hono. All devices are sending data through that one hono gateway and therefor you will only have one device using that defined endpoint on the tenant. I can't seem to grasp the advantage of configuring it on the tenant.

[2021-02-22 07:06] sophokles73 commented on #2482
Ok, now I see. You want to attach the corresponding information to the (Hono) gateway device representing the LNS. That certainly makes sense and I agree that you would most likely have one such gateway device (per tenant) only.

@calohmn I guess a protocol adapter should be able to access a gateway device's registration information when it receives a
command to forward to that gateway, right?
How

[2021-02-22 08:08] b-abel opened #2490 "Support messaging with Kafka in Quarkus-based Protocol Adapters"
While the protocol adapters that use Spring Boot already support downstream messaging with Kafka, the Quarkus-based protocol adapters miss this support.

[2021-02-22 08:11] b-abel commented on #2490
I would wait until #2402 is done so that the work does not have to be done twice.

[2021-02-22 15:45] sophokles73 opened #2492 "Upgrade to latest Spring minor version"
We currently use Spring 5.2 which will run out of support end of 2021. Along with the Spring framework itself, we also need to upgrade Spring Boot and Spring Security.

[2021-02-22 17:13] fkaltner commented on #2486
It turned out that setting the Kafka client's configuration property `auto.offset.reset `(see https://docs.confluent.io/platform/current/installation/configuration/consumer-configs.html#consumerconfigs_auto.offset.reset) to `earliest` makes the problem (consumer is not assigned to any partition) disappear on my machine (which is macOS based) as well on a Linux machine running the same test in a Je

[2021-02-23 09:59] kaniyan commented on #2478
@b-abel @calohmn I am working on this.

[2021-02-23 15:25] calohmn opened #2495 "NPE in MQTT adapter when trying to parse property bag"
The following exception was observed in MQTT adapter logs:
[code]

The issue is in the way the `PropertyBag` class treats the MQTT topic parameter.

To reproduce:
`PropertyBag.fromTopic("/?")`
or `PropertyBag.fromTopic("/?test=1")`
or `PropertyBag.fromTopic("/test")`.

`PropertyBag.fromTopic("/")` produces an `ArrayIndexOutOfBoundsException`.

The `IllegalArgumentException` produced by `PropertyBa

[2021-02-23 16:16] calohmn commented on #2482
command to forward to that gateway, right?

Yes, sure. The Lora adapter would just have to invoke `assertRegistration` on the gateway device and get the LNS data from the result.

From the first look at it, I think the refactoring will mainly need to be done in the `AbstractVertxBasedHttpProtocolAdapter` class, providing the necessary hooks/extension points for:
- registering a command consumer wi

[2021-02-24 07:29] #2492 closed

[2021-02-25 11:40] sophokles73 opened #2501 "Support TLS 1.3 in Hono components by default"
The Hono components all support setting the supported TLS protocol versions by means of a configuration property.
By default, i.e. if not set explicitly, only TLS 1.2 is supported. With TLS 1.3 having been around for quite some time now, it seems reasonable to add it to the protocols supported by default.

[2021-02-26 09:40] #2477 closed

[2021-02-26 10:30] sophokles73 commented on #2501
Fixed via #2502

[2021-02-26 10:30] #2501 closed

[2021-02-26 14:07] #2495 closed

[2021-02-26 15:25] rpahli opened #2511 "[Feature] Support RabbitMQ messaging"
Hello guys,

I currently use hono in version 1.0 and have replaced the AMQP messaging infrastucture with rabbitMQ and AMQP 0.9.1. I currently work on migrating to the newest hono version and want to ask if you are intrested in the rabbitmq integration. If so I would be happy to prepare the PR for the integration.

[2021-03-01 07:11] sophokles73 commented on #2511
Hi,
thanks a lot for the offer :-) I am no expert in AMQP 0.9.1, so I wonder if the north bound interface for clients is identical to the one for using AMQP 1.0?

[2021-03-01 08:17] rpahli commented on #2511
Hello @sophokles73 ,

no both protocols are different on client and server and therefore incompatible.

[2021-03-01 08:39] sophokles73 commented on #2511
I see. I guess you needed to add a new Rabbit based implementation of the *clients* module's interfaces then in order for the protocol adapters to be able to connect to RabbitMQ, right?

[2021-03-01 09:25] rpahli commented on #2511
Yes I started using the kafka adapters as a base. I already have a first working solution.

[2021-03-01 10:12] sophokles73 commented on #2511
You mean the code under `clients/adapter-kafka`?

[2021-03-01 12:01] rpahli commented on #2511
Yes that's the code. Yes the plan is to support also Command & Control. But I'll provide this in a separate PR.

[2021-03-01 12:03] sophokles73 opened #2512 "Turn telemetry/event/command messages into CloudEvents"
The [CloudEvents](https://cloudevents.io/) spec describes a set of standard (meta data) properties and transport protocol bindings which are used to allow compatible applications to recognize and process such events in a standardized way.

It shouldn't be too hard to add the missing properties to the messages exchanged by Hono's Telemetry, Event and C&C APIs.

[2021-03-01 13:11] sophokles73 commented on #2511
Ok, in general, I think we could support using RabbitMQ in the same (configurable) way that we now support AMQP 1.0 and Kafka, i.e. as a third option to be set on the tenant or by means of configuration of the downstream messaging. I am (currently) not aware of anybody else who wants to use RabbitMQ for this but that might simply be due to my ignorance ;-)

In any case, I believe that we can only

[2021-03-01 15:42] BobClaerhout opened #2515 "Add LoRa provider for the things stack"
The Things Network released a new version (v3.x) which includes some changes in the integration payload as well. Luckily they also renamed the solution to "The Things Stack" which allows us to use a different provider endpoint.
An example of such a message can be found here:
[code]
Format is described at https://www.thethingsindustries.com/docs/reference/data-formats/

[2021-03-01 17:29] rpahli commented on #2511
Yes I'm able to maintain the code for the RabbitMQ part. So if the initial integration is finished you can add me as a maintainer for this part of the code. :-)

[2021-03-02 07:32] sophokles73 commented on #2515
To me it looks like the *decoded_payload* will contain data that has been produced from the raw data sent by the device according to a configured *formatter*. If that is the case, we will probably run into the same problems as with other providers, i.e. we cannot reasonably assume a specific data format as it could be anything: Base64 encoded bytes, Base16 encoded bytes, UTF8 encoded JSON etc.

[2021-03-02 09:17] kaniyan commented on #2511
Currently we support AMQP 1.0 and Kafka support is in progress. In the process to support Kafka, we have refactored our APIs to be protocol agnostic and also configurable at tenant level to choose protocols for downstream messaging, thereby providing more flexibility for Hono to support more messaging systems/protocols. Considering this, I find it good also to have AMQP 0.9.1 support in Hono.

I a

[2021-03-02 09:18] rpahli commented on #2511
Yes this is the client I'm using.

[2021-03-03 09:47] BobClaerhout commented on #2515
I agree, but just above the `decoded_payload` there is `frm_payload` which is base64 encoded (as documented) so we should be able to use that, right?

[2021-03-03 10:03] sophokles73 commented on #2515
I didn't recognize that as the (binary) payload sent by the device. If it is and if this field is always part of the JSON, then we should extract the binary payload from it and put it into the downstream message's body.

[2021-03-03 10:06] BobClaerhout commented on #2515
exactly, that's what I will be doing. If you have your own custom format configured by the things stack formatter, you should create your own adapter. But if you are just forwarding the binary payload without formatting, you can use the default things stack provider (which is my goal).

[2021-03-03 13:54] #2460 closed

[2021-03-03 14:38] sophokles73 commented on #2511
Looks like we all agree.

@rpahli we look forward to your contribution :-)

[2021-03-04 08:59] calohmn opened #2521 "Disconnecting an AMQP connection doesn't abort ongoing connection attempt"
Calling `honoConnection.disconnect` on a HonoConnection, where a connection attempt is currently in progress, doesn't lead to the connection attempt to be aborted.
This means the HonoConnection will possibly be connected after that although the invoking code doesn't expect it to be and although the HonoConnection object possibly isn't being worked with anymore.

For the Hono Integration tests this

[2021-03-04 10:34] BobClaerhout commented on #2482
@calohmn created a PR: https://github.com/eclipse/hono/issues/2482
Would be nice if you could have a quick look at it so I'm not heading in the wrong direction.

[2021-03-04 14:03] b-abel commented on #2511
@rpahli Please notice my PR #2525 where I tried to make the addition of a new messaging system easier.

[2021-03-04 14:04] sophokles73 opened #2526 "Quarkus native images do not support Jaeger"
The native images of the Quarkus based components currently do not support using Jaeger for reporting tracing information.
An exception is thrown during runtime when the first Span is being created.

[2021-03-04 14:25] #2526 closed

[2021-03-04 15:38] calohmn commented on #2482
@BobClaerhout Yes, I'll have a look.

[2021-03-05 07:14] #2515 closed

[2021-03-05 10:32] calohmn commented on #1276
A note about MQTT, thinking about possible future MQTT 5 support:
In MQTT 5, a response topic can be given when publishing a message:
https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mqtt-v5.0-os.html#_Toc3901114
https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mqtt-v5.0-os.html#_Request_/_Response
Important to note is that the response topic must not contain wildcard characters.
That means that we woul

[2021-03-09 14:49] calohmn commented on #2064
@kaniyan The logic for determining the kind of error on which always to do a disconnect can be added here now:

https://github.com/eclipse/hono/blob/60972d3eb03d2373a9ca37b84ef35c90b67413f2/adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java#L1131-L1132

[2021-03-10 11:52] sophokles73 commented on #2064
@calohmn @kaniyan can this be closed?

[2021-03-10 12:10] calohmn commented on #2064
I would keep it open to still adopt the changes from #2198 concerning always closing the connection in case of a non-transient error (device/tenant/adapter not registered/enabled).

[2021-03-10 12:49] kaniyan commented on #2064
I would also keep it open. I will create a PR for closing the connection in case of non-transient errors.

[2021-03-10 18:54] calohmn commented on #293
So, this new multicast address would be needed for tenant/device updated/deleted notifications for now.
I think the first question here would be, whether we want to use a tenant-specific link address (like "notification/${tenant}"), or a fixed address (like "notification").
Going for a fixed address would mean:
- less link handling overhead in the adapters
- less management overhead of such addres

[2021-03-11 07:02] sophokles73 commented on #293
+1

[2021-03-11 10:33] calohmn opened #2535 "Remove "tech preview" status of Command Router"
Remove the "tech preview" status of the Command Router component in the Hono documentation.

[2021-03-12 09:47] calohmn opened #2536 "Command Router: add tenant timeout mechanism to clear registration client caches"
The protocol adapters track tenant-related activity (processing of telemetry/events/commands) via the metrics and trigger a tenant timeout after some tenant idle time to clear tenant-related resources, like the device registration client cache.

In the command router there is currently no such mechanism (no metrics used there). Still, cleanup of unused device registration client caches would be go

[2021-03-12 11:51] sophokles73 commented on #2482
@BobClaerhout can this be closed now that #2522 has been merged?

[2021-03-12 12:12] BobClaerhout commented on #2482
Yes, sure. Happy to have that in there :)

[2021-03-12 12:12] #2482 closed

[2021-03-12 17:13] BobClaerhout opened #2538 "TlsEnable = false is not enough to disable TLS"
Since https://github.com/eclipse/packages/commit/3f6f58873d18c71c35844a0c3167da17710b2745 you have one additional config to make to disable TLS.
Setting tlsEnabled to false in the AmqpMessagingNetworkSpec is not enough, you have to set to clear trustStorepath as well:
[code]
Otherwise, this line of code enables the tls again:
https://github.com/eclipse/hono/blob/1bc3764acfeb667e9f41087660ea0b84741

[2021-03-15 08:11] fkaltner opened #2540 "Refactor client module so that it does not assume a certain component as client"
See https://github.com/eclipse/hono/pull/2534#pullrequestreview-611886500

I think it makes also sense to convert `AdapterConfigurationSupport` to an interface, as well as `ProtocolAdapterProperties`(only the part which is actually required). This would also enable us to give them proper names illustrating what is actually required for configuration for the client.

NB: This issue should not be st

[2021-03-15 08:27] sophokles73 commented on #2538
I see your point. However, I wonder what the purpose of the configuration from your example should be. FMPOV it doesn't make sense to configure (client) key material for the connection to the messaging network if you are not planning to use TLS, does it?

[2021-03-15 08:31] BobClaerhout commented on #2538
No, you're right. I might still have too much configuration in there. But the other configuration parts do not result in silently enabling the TLS again. So that's less of an issue. Because of the mentioned change, the `trustStorePath` has to be cleared which is not something you do when you just want to set the `tlsEnabled` flag to `false`

[2021-03-15 08:35] sophokles73 commented on #2538
Ok, so you want to use the flag to (temporarily) disable TLS, right?

BTW The *tlsEnabled* configuration variable is described [here](https://www.eclipse.org/hono/docs/dev/admin-guide/hono-client-configuration/).

[2021-03-15 09:04] BobClaerhout commented on #2538
Yes, I think there is a difference between `tlsEnabled` not being set (and a truststore is configured) and `tlsEnabled` explicitly configured to `false`. Currently, both options result in the same outcome.

[2021-03-15 10:27] BobClaerhout commented on #2538
This might already be fixed by defaulting to `true` and removing the check on `trustStorePath`?

[2021-03-15 11:52] calohmn commented on #2536
The description above mostly applies to Hono 1.5, where there was a cache object for each tenant.
With the changes for #2381, this has been changed in favor of one cache object for the registrationClients. And in that cache, entries are expired now via the corresponding cache mechanism, not only manually on access.

Therefore, the tenant timeout mechanism isn't really needed here in terms of the r

[2021-03-15 14:40] #2536 closed

[2021-03-15 14:55] calohmn opened #2542 "Enable forced sampling of traces for a specific tenant (Command Router)"
The new config options introduced in #896 to enable forced sampling of traces (i.e. recording of traces in the tracing backend) for a specific tenant should also be taken into account in the Command Router.

[2021-03-15 14:57] calohmn commented on #1394
This is already implemented via the HTTP adapter base class.

[2021-03-15 14:57] #1394 closed

[2021-03-15 15:05] calohmn commented on #1514
Relevant helper methods already exist in `TenantTraceSamplingHelper` class. These require `tenantObject` and `authId` as input.
Since the way to obtain these objects early on during request processing is highly dependent on the (authentication mechanism in the) protocol adapter, a further integration into the `AbstractProtocolAdapterBase` base class doesn't look feasible.

[2021-03-15 15:05] #1514 closed

[2021-03-16 08:17] calohmn opened #2543 ""Result is already complete" on AMQP connection attempt"
When trying to init an AMQP connection, this exception may occur:
[code]

Can be reproduced by opening multiple connections to a Qdrouter instance, exceeding the `maxConnectionsPerHost` configuration value of that instance.

Corresponding connection attempt flow:
- the `ProtonConnection` gets established in the Hono ConnectionFactory
- handling of the `Open` frame fails with "amqp:resource-limit-e

[2021-03-16 08:18] calohmn commented on #2521
This exception may trigger #2543.

[2021-03-16 10:31] kaniyan commented on #2064
With PR #2539, now the MQTT  connections are closed in case of terminal errors.

This issue is closed via #2508 and #2539.

[2021-03-16 10:31] #2064 closed

[2021-03-16 10:32] calohmn opened #2545 "Close AMQP adapter device connection on terminal errors"
When any of the following errors occurs while an AMQP device sends a telemetry/event/command response message, the connection to the device should be closed:

* The adapter is disabled for the tenant that the client belongs to,
* The authenticated device or gateway is disabled or not registered,
* The tenant is disabled or does not exist.

Corresponds to the changes made for the MQTT adapter in #2

[2021-03-16 16:51] #2543 closed

[2021-03-17 08:42] sophokles73 opened #2549 "Kafka configuration cannot be set using Quarkus based images"
The classes used for configuring Kafka producers and consumers take advantage of a feature of Spring Boot which allows to set Map valued properties via environment/system variables. However, there is no such mechanism in place in Quarkus which effectively prevents Kafka connections being configured at all when using Quarkus based images.

[2021-03-17 09:56] sophokles73 opened #2551 "Device Registry implementations create unnecessary link/producer"
The Device Registry implementations create an AMQP sender link and/or a Kafka producer for telemetry and event messages during startup. However, the registries do not send telemetry messages and therefore no corresponding link should be created.

[2021-03-17 10:07] sophokles73 commented on #2551
This seems to be an unwanted side effect of #2534.

[2021-03-18 08:57] #2521 closed

[2021-03-18 09:02] sophokles73 commented on #2535
FMPOV this should also include using the Command Router instead of Device Connection service in the integration tests by default.

[2021-03-18 09:03] sophokles73 commented on #2475
@fkaltner can this be closed?

[2021-03-18 09:05] #2475 closed

[2021-03-18 09:12] fkaltner commented on #2551
Thanks for taking care of this!

[2021-03-18 13:25] jnbsi opened #2556 "Disable server-side support of specific TLS/SSL cipher suites by configuration"
As SSL cipher suites' level of security decreases over time and SSL engines might not get adapted promptly it can become necessary to be able to deactivate server-side support for certain SSL cipher suites explicitly.
I.e. there could be an additional configuration property on each service/adapter that takes a list of cipher suite names which will be disabled on the corresponding SSL endpoint.

[2021-03-18 13:29] sophokles73 commented on #2480
@calohmn do we need this in 1.7.0 or can/should we postpone this issue?

[2021-03-18 14:36] calohmn opened #2557 "Component View page needs to be updated with Command Router"
The Component View page in the documentation
https://www.eclipse.org/hono/docs/architecture/component-view/
needs to be updated to include the Command Router component.

[2021-03-19 08:06] gongzhao2 opened #2559 "The auth-id regular expression configuration cannot be configured separately"
Hi,

We upgraded our hono from file-based version to latest version which use Mongodb as database.
Unfortunately, the auth-id of our old credentials contains the special character colon.
`"auth-id": "com.gz:gw01"`
So we cannot successfully call Hono’s credential API. When we try to get one credentials, it returns 400 status code, and device-registry report below error logs.
[code]

Then I find the

[2021-03-19 08:12] gongzhao2 commented on #2559
Wouldn't it be better if this parameter "REGEX_AUTH_ID" can be replaced with the corresponding variable?

[2021-03-19 13:59] #2535 closed

[2021-03-19 15:15] #2490 closed

[2021-03-19 15:33] kaniyan commented on #2559
@gongzhao2 IMHO having colon in `auth-id` doesn't sound like a good practice to me as colon is commonly used as password delimiter in many protocols.

@sophokles73 I found this PR #2223 for removing the `auth-id` regex pattern from API. It seems to be that we intentionally don't want to support that anymore and in case of `PasswordCredential` we accept ids that confirm to the regex `^[a-zA-Z0-9-_=

[2021-03-19 15:50] sophokles73 commented on #2559
Well, it didn't seem to make much sense to statically define the pattern in the Management API because it should actually be a property of the registry implementation. We defined it as a constant because at that time nobody bothered about setting a different pattern.
However, making the pattern configurable by means of an environment variable of the registry sounds like a good idea as the policy f

[2021-03-19 16:19] sophokles73 commented on #2556
I would be more in favor of specifying a white list, i.e. a list of supported cipher suites, instead. Would that work for you?

[2021-03-22 11:20] andrew-kratik commented on #8
Hi @sophokles73
Thanks for your great work!
Can you clarify when Kafka support (and Hono 1.7.0) is expected to be released?

[2021-03-22 12:00] sophokles73 commented on #8
We are planning to release 1.7.0 this week. Note that support for Kafka is still considered experimental, though.

[2021-03-22 15:10] calohmn commented on #2480
Yes, we can postpone it.

[2021-03-23 13:16] calohmn opened #2565 "Integration tests fail because of Artemis "AMQ222212: Disk Full" error"
Integration test runs today failed because of "disk full" errors:
https://github.com/eclipse/hono/runs/2174282812?check_suite_focus=true
[code]

[2021-03-23 17:44] calohmn commented on #2565
Fixed via ec287050d4163123d291b26c201b03d880747e52, increasing the 'max-disk-usage' configuration value of the integration tests Artemis configuration from 90 to 98.

[2021-03-23 17:44] #2565 closed

[2021-03-23 17:58] kaniyan commented on #2545
This has been closed via PR #2564.

[2021-03-23 17:58] #2545 closed

[2021-03-24 08:08] #2542 closed

[2021-03-24 08:37] sophokles73 commented on #2469
@fkaltner can this be closed?

[2021-03-24 08:40] fkaltner commented on #2469
Integration tests for request/response commands are still not there as the implementation is not complete yet. But we can also create a new issue for that as this issue has the 1.7.0. milestone.

[2021-03-24 09:16] sophokles73 commented on #2469
Yes, that is what I would propose as well. Let's close this issue as it has indeed laid out the groundwork necessary for implementing the integration tests. can you create a new issue for the request/response command tests and then close this issue?

[2021-03-24 09:42] fkaltner opened #2569 "Add Kafka based integration tests for Request-Response-Commands"
Follow-up of #2469

[2021-03-24 09:43] #2469 closed

[2021-03-24 13:47] sophokles73 commented on #2402
@b-abel @fkaltner @calohmn Anything else that needs to be done here?

[2021-03-24 13:51] b-abel commented on #2402
FMPOV this can be closed.

[2021-03-24 14:03] calohmn commented on #2402
I also think this is done.

[2021-03-24 14:04] fkaltner commented on #2402
Looks good to me!

[2021-03-24 14:14] #2402 closed

[2021-03-24 17:51] #2557 closed

[2021-03-25 16:17] #665 closed

[2021-03-26 07:13] calohmn opened #2576 "Command Router receives no commands after restart"
The Command Router component uses tenant-specific receiver links to receive command messages.

When a Command Router crashes and restarts, these links don't get recreated automatically, so that commands for still-subscribed devices are not forwarded to the adapters.

This is a problem when

- all command routers are restarted at the same time
- or one command router gets restarted, and it previous

[2021-03-26 07:18] calohmn commented on #2576
A fix for this should address these cases:

**Command Router with embedded cache**
The device connection/command subscription data will need to be restored from the adapters.
The commandRouter config in the adapters will need to have a "restoreOnReconnect: true" setting in this case.
With this flag set, the adapter will handle a reconnect of the AMQP connection to the Command Router by going throu

[2021-03-26 08:05] sophokles73 commented on #2576
For the second case with the Data Grid:
I am not sure if it is a feasible approach to iterate over all keys in the cache to determine the distinct tenant IDs ...
Instead, the protocol adapter instances could keep such a list of distinct tenant IDs themselves and provide it in a separate (AMQP) message sent after (re-)establishment of a lost connection to a Command Router instance. Wouldn't that be

[2021-03-26 08:38] BobClaerhout commented on #2576
Thanks for creating the issue @calohmn.
I would also like to mention that the Lorawan adapter also have this issue so it would be nice if this adapter also gets this fix (which probably requires an implementation in the base adapter or in the http adapter as well).
Considering they ways to solve this: I don't really have a preference. I do not have enough knowledge of the command router yet to add

[2021-03-26 13:06] sophokles73 opened #2577 "Upgrade to latest Californium service release"

[2021-03-26 14:05] #2577 closed

[2021-03-26 16:31] b-abel commented on #2194
How to proceed here?
@ctron @dejanb Any thoughts from your side?

[2021-03-29 07:30] b-abel commented on #1571
@dejanb, are you working on this? Otherwise, I volunteer to provide a PR for it.

[2021-03-29 12:41] ctron commented on #2194
I think it makes sense to:

The definition would be: Whatever the hash function requires, encoded into a string.

If that means base64 for sha, then ok. If that means string for bcrypt, fine as well. If a hash type finds a datatype it cannot process -> authentication error.

[2021-03-30 05:55] sophokles73 commented on #2194
Looks like we have a winner :-) I am ok with going for option 2 as well ...

[2021-03-30 10:53] iamrsaravana opened #2579 "Dispatch router is sending less records from HONO mqtt brocker."
Dear Committer,

We are sending data through MQTT client which is pushing data into hono mqtt adapter

**Here below python code sending 10 payloads to hono:**
root@worker-node3:/projects# python3 mqtt_publisher_new.py
********************threading started********************
{"DeviceId":"Device1@LTTS_TENANT","Temperature":96,"Humidity":30,"Current_Timestamp":2021-03-30T10:31:06.484741,"Clientid":"

[2021-03-30 11:04] sophokles73 commented on #2579
It is hard to tell if you did anything wrong without having access to the (device) client side Python code which seems to be in a file called `mqtt_publisher_new.py`. Can you provide the content of that file?

[2021-03-30 13:04] b-abel commented on #2194
Great. I'll provide a PR for that.

[2021-03-30 23:32] iamrsaravana commented on #2579
import paho.mqtt.client as paho #mqtt library
import os
import json
import time
from datetime import datetime
import threading
import random
from datetime import datetime

#host name is localhost because both broker and python are Running on same
#machine/Computer.
broker="10.109.210.31" #host name , Replace with your IP address.
topic="telemetry";
port=1883 #MQTT data listening port
#ACCESS_TOKEN

[2021-03-30 23:34] iamrsaravana commented on #2579
we have checked mqtt broker pod's log which was getting  10 request from python code, but it is not transferring those payload to downstream applications.

[2021-03-31 07:06] sophokles73 commented on #2579
First of all: when I run this on my machine against a local Hono deployed to minikube, everything works as expected, i.e. I can see 30 messages being received by the downstream consumer.
That said, your code seems to start three clients in parallel, all using the same credentials for connecting. You should not do that. Each device (client) should use its own set of credentials in order to be able

[2021-03-31 09:13] sophokles73 commented on #2579
Here's the Python code that I used successfully. It uses the example device that is being created if you use the Hono Helm chart to deploy. You can, of course, also use your own device and adapt username and password accordingly ...

[code]
Can you confirm that this works for you as well?

[2021-03-31 09:56] iamrsaravana commented on #2579
Which version of Hono are you using?
**we are using 1.5.0**
How did you deploy Hono, are you running in minikube?
**we installed it in k8s**
Which messages do you receive on the consumer side? Is it the first five or is it every second message only?
**publishing Input:**
Connection Accepted.
message [mid: 1] accepted by server
sent message [rc=0, is published: True]: {
"Temperature": 93,
"Humidity

[2021-03-31 09:57] iamrsaravana commented on #2579
Looks like 1.7.0 version yet to publish in helm. are you building images from source code?

[2021-03-31 10:07] sophokles73 commented on #2579
Maybe you can add the message count to the messages being sent like this:
[code]
we can then see, which messages are coming through to the downstream consumer

[2021-03-31 10:30] iamrsaravana commented on #2579
in pod log file:
 kubectl logs pod/eclipse-hono-adapter-mqtt-vertx-6c795675d9-4l6dc -n hono -c eclipse-hono-adapter-mqtt-vertx

i can see it receiving 10 inputs from publisher

10:28:33.208 [vert.x-eventloop-thread-0] DEBUG o.e.h.a.m.i.VertxBasedMqttProtocolAdapter - connection request from client [client-id: Device1]
10:28:33.208 [vert.x-eventloop-thread-0] DEBUG o.e.h.s.auth.device.ChainAuthHand

[2021-03-31 11:12] sophokles73 commented on #2579
What is the *AMQP connector*?

[2021-03-31 11:25] iamrsaravana commented on #2579
I meant dispatch router.

[2021-03-31 14:15] sophokles73 commented on #2579
Can you please provide the output of both the Python sender and the hono-cli?

[2021-04-01 08:23] #2194 closed

[2021-04-01 08:27] iamrsaravana commented on #2579
It was our mistake one consumer was running in the background, because of that we are getting only half of the records are coming.

[2021-04-01 08:28] sophokles73 commented on #2579
Glad it works for you as well :-)
Can you close this issue then?

[2021-04-01 08:31] iamrsaravana commented on #2579
yes please.

[2021-04-01 08:40] #2579 closed

[2021-04-01 15:00] #2576 closed

[2021-04-06 07:07] calohmn commented on #2576
@BobClaerhout The fix is in base/client modules, so the Lora adapter got fixed as well.

[2021-04-06 07:10] calohmn commented on #2576
Concerning the embedded cache case:
I think we should configure the embedded cache with file persistence by default then and expect the storage directory to be mapped to a persistent volume in the Kubernetes cluster then. That means the mapping data is restored upon Command Router restart.
@sophokles73 WDYT?

[2021-04-06 07:19] sophokles73 commented on #2576
Wouldn't that need to be done in the Helm chart?

[2021-04-06 07:35] calohmn commented on #2576
The IoT Packages helm chart currently doesn't use a `cache-config.xml` file where the persistence configuration then would have to be put.
We could avoid having to define a `cache-config.xml` for the default embedded cache case by programmatically enabling cache file persistence in case no cache config file exists.

[2021-04-06 08:11] sophokles73 commented on #2576
For the integration tests there is no need for file persistence. For the Helm chart I see the benefit of using file persistence by default but I would then still prefer to include a default `cache-config.xml` file in the chart which can also be used as a blue print for custom configurations ...

[2021-04-06 08:35] calohmn commented on #2576
Ok, then we'll include a `cache-config.xml` file in the chart, making things more explicit there. I've created #213 for that.

[2021-04-06 08:59] jnbsi commented on #2556
Yes, that would work as well!

[2021-04-07 05:46] sophokles73 opened #2584 "Improve MQTT adapter user guide"
The user guide describes (correctly) how a device may subscribe to commands using the wild card based topic filter. However, this has left some readers with the impression, that the topic filter supports any kind of wild cards in general. We should make it more explicit that this is indeed not the fact.

[2021-04-07 05:50] sophokles73 commented on #2392
@b-abel @kaniyan Anything left to do here or can this be closed (and be added to 1.7.0)?

[2021-04-07 07:47] kaniyan commented on #2392
FMPOV this can be closed. We have a separate issue #2478 for C&C.

[2021-04-07 08:14] #2392 closed

[2021-04-07 08:47] sophokles73 commented on #2084
A possible option to improve the situation might be to apply the same approach as used for recording the number of connections, i.e. periodically reporting the accumulated number of bytes processed by the adapter.

[2021-04-07 09:38] sophokles73 commented on #1571
closed via #2580

[2021-04-07 09:38] #1571 closed

[2021-04-07 13:42] b-abel opened #2587 "Support bundled Database in JDBC Device Registry"
Using the JDBC device registry with a bundled database would provide a simple example registry and allow to replace the file-based registry.

[2021-04-07 19:59] eclipsewebmaster opened #2588 "Project vserver - OS support change"
Webmaster has been notified that the version of Ubuntu your project vserver is running will no longer be supported after April 30, 2021.  That means no new security patches will be issued and our cloud tools will have reduced functionality.

If the vserver is still needed we can coordinate its replacement via this issue.

Otherwise Webmaster will remove the instance after May 28, 2021 if there has

[2021-04-08 06:07] sophokles73 commented on #2588
@eclipsewebmaster We are currently running
[code]
 Are you sure that this version is running out of support? We can also upgrade to 20.04 if I am not mistaken ...

[2021-04-08 21:59] eclipsewebmaster commented on #2588
Well according to our cloud management panel the hono instance is running ubuntu-1604-xenial which is what is going out of support.  If you've done an inplace upgrade to 18.04 then you should be fine, but I can't see that(obviously)

[2021-04-09 06:44] calohmn opened #2590 "Support non-static replication factor for internal C&C Kafka topic"
Currently the replication factor used when creating the internal C&C Kafka topic is always set to 1.
This may cause errors depending on the Kafka cluster setup.
Instead, the broker "default.replication.factor" setting should be used.

[2021-04-09 07:06] b-abel commented on #2587
@sophokles73 Would you assign this issue to me? I am preparing a PR.

[2021-04-09 08:10] sophokles73 commented on #2588
Yes, we upgraded to 18.04 LTS some months ago.

[2021-04-09 12:35] sophokles73 opened #2592 "Command responses need to be forwarded using correct messaging infrastructure"
The messaging infrastructure to be used by devices of a tenant can potentially be changed during runtime by updating the tenant configuration. The following might happen:
1. a protocol adapter receives a command request via AMQP
1. the adapter sends the command request to the device
1. the preference is changed from AMQP to Kafka
1. the device sends its command response to the adapter
1. the adapt

[2021-04-09 13:10] #2590 closed

[2021-04-09 19:19] eclipsewebmaster commented on #2588
In that case I think we're done here.

[2021-04-09 19:19] #2588 closed

[2021-04-12 08:53] sophokles73 commented on #2478
@b-abel @kaniyan Can this be closed?

[2021-04-12 08:56] sophokles73 commented on #2592
@calohmn @b-abel @kaniyan Can you confirm that this might be an issue?

[2021-04-12 08:59] kaniyan commented on #2478
@sophokles73  This can be closed now.

[2021-04-12 08:59] kaniyan commented on #2478
This has been closed via PRs #2498, #2529, #2533 and #2583.

[2021-04-12 08:59] #2478 closed

[2021-04-12 09:45] sophokles73 opened #2597 "CoAP adapter uses wrong timer for commands"
When the CoAP adapter processes an upstream command to be forwarded to a device, it erroneously uses the Micrometer timer associated  with the device's CoAP request for tracking the forwarding of the command. Instead, it should use the timer created by the command consumer to do so as the HTTP adapter does.

[2021-04-12 09:52] b-abel opened #2598 "Documentation: Paths in Links should end with slash"
The addresses that Hugo generates usually end with "/". For example `https://www.eclipse.org/hono/docs/user-guide/` and not `https://www.eclipse.org/hono/docs/user-guide`. Without the trailing slash, the browser gets a 301 redirect which causes the page to be loaded slower and will be punished by search engine ranking algorithms. This is even true when linking to anchors: they should look like e.g

[2021-04-12 11:28] calohmn commented on #2592
I think whether we should see this as an issue depends on the kinds of requirements we associate with changing the messaging network preference from AMQP to Kafka.

I think one could argue that as soon as this switch is done, the northbound application has to have the corresponding Kafka consumers in place and the Kafka topics for the tenant must exist. If that is the case, the northbound applicat

[2021-04-12 11:54] #2597 closed

[2021-04-12 12:00] b-abel commented on #2592
I agree.
Does Hono have a hard guarantee that every command response will be delivered? FMPOV, the messaging infrastructure to be used should not be changed regularly, but at most once per tenant. Therefore, I would like to keep the logic that supports such a one-time event to an absolute minimum.

[2021-04-12 12:08] sophokles73 commented on #2592
This is all fine as long as we make sure that an application (and Ditto in particular) has a chance to detect the problem and act accordingly.

[2021-04-12 12:14] kaniyan opened #2599 "Update Hono CLI to use new north bound client"
Remove usage of legacy northbound client (`ApplicationClientFactory`) in _Hono CLI_ with the new client(`ApplicationClient`).

[2021-04-12 12:33] kaniyan opened #2600 "Remove usage of ApplicationClientFactory from integration tests"

[2021-04-12 13:22] fkaltner opened #2601 "Update Hono Documentation to include Kafka"
With the upcoming Kafka support the Hono documentation should be adapted, e.g. the CLI documentation, Getting Started and all other places where the messaging network is used.

[2021-04-13 17:54] b-abel commented on #2599
I could provide a PR for this.

[2021-04-15 09:27] kaniyan commented on #2600
This has been closed via #2605.

[2021-04-15 09:27] #2600 closed

[2021-04-19 07:57] sophokles73 commented on #2590
@calohmn what is the status of this in 1.7.x?

[2021-04-19 08:54] calohmn commented on #2590
@sophokles73 Fix has now been applied to 1.7.x (108f5f80404e39a9c85167cf280284174c107c5e).

[2021-04-19 09:19] #2599 closed

[2021-04-20 13:05] calohmn opened #2615 "Timeout metric gets increased with every request"
When sending a request, which expects a response, using an AMQP client based on the Hono `RequestResponseClient` or `AbstractRequestResponseClient` classes, each request increases the `timeout` metric.

[2021-04-20 14:12] andrew-kratik commented on #2448
Hi @kaniyan
any planned timeline to support this?
thanks

[2021-04-21 06:14] sophokles73 commented on #2569
@fkaltner @kaniyan @b-abel What is the status of this? Is there anything left to be done? Is anybody working on this?

[2021-04-21 06:15] sophokles73 commented on #2598
@b-abel Are you working on this?

[2021-04-21 06:27] fkaltner commented on #2569
To my knowledge @kaniyan is working on this. Correct, @kaniyan ?

[2021-04-21 07:14] b-abel commented on #2598
Currently not. I don't see a high priority. Do you?

[2021-04-21 07:19] sophokles73 commented on #2598
I am not sure. If it is not too much effort, I think we should try to get it over with ASAP ...

[2021-04-21 07:30] kaniyan commented on #2569
I have created a PR #2608 which also includes a commit for this issue too. Once that PR is reviewed and merged, we can close this issue.

[2021-04-21 07:38] kaniyan commented on #2569
PR #2608 has been approved now and also merged into master. We can close this issue now.

[2021-04-21 07:38] #2569 closed

[2021-04-21 08:10] #2615 closed

[2021-04-21 08:53] kaniyan commented on #2448
Hi @andrew-kratik, This search feature is already available in MongoDB registry. AFAIK there is no planned timeline for this feature in JDBC registry. We are open for any contributions.

@ctron In case if you would like to add anything to this.

[2021-04-21 09:11] gongzhao2 opened #2618 "In version 1.7.0, telemetry data will be lost"
Hi,

**Environment:**
Hono: 1.7.0
Message Broker: Enmasse
Kubernetes: 1.15.6

**Description:**
I deploy 1.7.0 version of Hono in my environment. Then I want to do some test.
I start "Eclipse Hono 1.7.0 Command Line Client" to receive message, then I use mosquitto to send telemetry message to Hono MQTT adapter.
Strange things happened, I can only receive messages at intervals. For example, I sent m

[2021-04-21 09:15] gongzhao2 commented on #2618
Screenshot of Hono's pod:
![image](https://user-images.githubusercontent.com/66044894/115528672-d5d92680-a2c4-11eb-87f0-247db940f5ad.png)

Screenshot of command line client:
it's can only receive `telemetry: 1`, `telemetry: 3`, `telemetry: 5`. without `telemetry: 2`, `telemetry: 4`, `telemetry: 6`
![image](https://user-images.githubusercontent.com/66044894/115528839-f903d600-a2c4-11eb-8be2-f2482a9

[2021-04-21 09:39] calohmn commented on #2618
Can you run the Hono CLI client with an added `trace` option for the `spring.profiles.active` parameter?
I.e.. using `--spring.profiles.active=receiver,trace` instead of `--spring.profiles.active=receiver`.
It would be good if you could add the log output of the CLI client here then.

[2021-04-21 16:12] alinaserg commented on #2272
I would like to adapt my requirement in regards of device-id pattern described above in [this comment](https://github.com/eclipse/hono/issues/2272#issuecomment-728804928).

Taking into account the fact that in case of a certificate renewal a new serial number is generated, the usage of certificate serial number as a device-id will lead to the situation that after certificate renewal the device mus

[2021-04-21 19:59] e-grigorov commented on #2272
Some details to clarify about Subject-DN:
- What is the exact string representation of the distinguished name as it's a compound value?
- Are there any special symbols? I guess comma and how it's escaped?
- Is it possible to have characters which are not allowed in device-id? If so, is there escaping mechanism?

[2021-04-22 01:03] gongzhao2 commented on #2618
I use below command to start CLI client
[code]
And the follows is its log:
[code]

[2021-04-22 06:23] calohmn commented on #2618
Ok, so that means the "rejected by peer" error doesn't seem to originate from the CLI receiver. Therefore it must come from the Qpid router of EnMasse. Right now I can't think of a scenario where it would reject messages in such an alternating fashion. It's strange.

Can you verify that the "rejected by peer" error in the adapter comes indeed for each message that doesn't get received by the CLI a

[2021-04-22 06:29] sophokles73 commented on #2272
I suggest to use the the algorithm described in [RFC 2253, Section 2](https://www.ietf.org/rfc/rfc2253.html#section-2) to canonicalize a Subject DN to its String representation. We already use this format for Hono's Credentials API.

[2021-04-22 06:31] sophokles73 commented on #2618
Maybe there is a second consumer connected to the dispatch router which rejects the messages?

[2021-04-22 07:25] gongzhao2 commented on #2618
"rejected by peer" is caused by the message I sent.

It is currently a clean environment with no other consumers and senders.

The weird thing is
I sometimes fail to receive every message, and each message corresponds to a "rejected by peer" log.

Start CLI client:
[code]

Qpid router logs:
[code]

Send message command:
[code]

MQTT Adapter log:
[code]

CLI Client can't receive any messages I sent

[2021-04-22 09:41] sophokles73 opened #2620 "Include cipher suite name when reporting connection attempts"
The protocol adapters currently report connection attempts with an outcome (successful/unsuccessful) tag. It would be nice to also have a tag `cipher` which contains the cipher suite used when a connection has been established on top of TLS.

[2021-04-22 09:48] b-abel commented on #2598
I did not found the problems described here with the current documentation anymore (maybe due to the newer Hugo version). While investigating I found related problems that are fixed in #2621.

[2021-04-22 09:48] #2598 closed

[2021-04-22 14:29] e-grigorov commented on #2272
The point is that for a given Subject DN, the string representation must be stable i.e. always the same. The linked specification says:

This any order can be an issue, we need a stable order.
Another point:

Do you escape other characters?
To me this question is still valid: Is it possible to have characters which are not allowed in device-id? If so, is there escaping mechanism?

[2021-04-22 14:36] calohmn opened #2623 "Integration tests: Kafka consumers should be closed, Kafka topics deleted after each test"
Currently, when running the integration tests, the Kafka topics related to each temporary tenant are not deleted.
This results in an ever growing list of topics during one test run, as shown by this log message:
[code]
Also the Kafka consumers created for one particular test method should be closed at the end of the method.

[2021-04-22 14:45] calohmn commented on #2623
When deleting the topics for the temporary tenants, the Command Router "command.*" topic subscription doesn't seem to get updated. This results in countless offset commit errors to be logged:
[code]
A solution could be to do manual offset commits there, as planned in #2480.
This also relates to  #293, with which the CommandRouter can get informed about the deletion of a tenant.

[2021-04-23 04:45] calohmn commented on #2618
It could be helpful to increase the log level of the EnMasse qpid router.
For that, you can first log into the router pod:
[code]
and then enter:
[code]
Note that will produce a lot of logging, so it should only be done on a test instance.
You can then grep the logs for keywords like "reject" or "failed" or also the message id from the "rejected by peer" log entry of the MQTT adapter logs (e.g. "G

[2021-04-23 07:02] sophokles73 commented on #293
@calohmn Are you actually working on this?

[2021-04-23 07:18] calohmn commented on #293
I had started working on it but I'm currently doing other things.

[2021-04-26 06:28] gongzhao2 commented on #2618
Hi there,

I follow your instruction but can't find any valuable logs in Enmasse qpid router.
We will try to upgrade Enmasse to check whether we can fix this issue.

[2021-04-26 06:53] calohmn commented on #2618
I doubt that updating EnMasse will make a difference here. EnMasse is there for setting up the infrastructure and e.g. creating the Qpid router addresses and Artemis queues. When it comes to handling the messages during runtime, it's only about the Qpid router (and the Artemis broker in case of Hono "event" messages).
Do you see a line containing `-> @disposition` and `state=@rejected` in the Qpid

[2021-04-26 08:28] gongzhao2 commented on #2618
Hi calohmn,

The current state has become intermittently receiving messages.

**The normal log of the qpid that received the message**:
[code]

**Error log of qpid rejecting message:**
[code]

[2021-04-26 08:40] mbaeuerle opened #2626 "Introduce maximum number of devices and credentials per tenant in (MongoDB) device registry"
At the moment a tenant can have an unlimited number of devices and credentials in Hono.
Like for other resources (e.g. maximum connections) a service administrator may want to limit the number of devices which can be created for a tenant.
There are already resource limits on tenant level like the maximum connections which can be configured independently for each tenant. I therefore propose to add

[2021-04-26 09:20] jnbsi opened #2627 "Collect data about used TLS cipher suites"
For operations teams it might be useful to be able to see which cipher suites are effectively used by devices that connect to any of the protocol adapters. Therefore it would be useful to have additional metrics collected by the protocol adapters to allow an analysis of the cipher suites usage.

[2021-04-26 09:24] sophokles73 commented on #2627
@jnbsi This seems to be a duplicate of #2620

[2021-04-26 09:30] jnbsi commented on #2627
@sophokles73 Yes, you are right. #2620 covers this concern.

[2021-04-26 09:30] #2627 closed

[2021-04-26 09:33] jnbsi commented on #2620
Maybe the TLS version used for the connection could also be tracked by a separate tag. This would ease aggregations based not only on the name of the cipher but also on the TLS version.

[2021-04-26 10:22] calohmn commented on #2618
The log shows that the Qpid router has received the rejected outcome (`<- @disposition`) and has then probably forwarded that outcome (`-> @disposition`) to the adapter, although that's not in the log excerpt above. The question is, received from whom?

Just to be sure, the `telemetry/loadtest` EnMasse address has been created with `type: anycast`, correct? Meaning there is no broker involved, lik

[2021-04-26 10:39] calohmn commented on #2623
There is an issue with deleting the topics directly at the end of the test:

The current plan is to commit partition offsets in the command router manually. This will be done periodically (commitAsync, e.g. every 5s) and whenever a rebalance is triggered (commitSync).
After an integration test method is finished, the periodic commit might not have happened yet, so let's assume this is the case for

[2021-04-26 13:51] boaks opened #2628 "demo-certs / expired DEFAULT_TENANT_CA certificate?"
Trying to test x509 client certificate with a localy deployed hono, I get:

in the server's log. What makes me wondering is, that

[code]

Reports a deprecated tenant certificate. The demo-certs contains a new one, valid until 10.11.2021.

I build with

[code]

using microk8s.

Is there a way/trick to deploy it with the updated tenant ca certificate?

[2021-04-26 14:19] calohmn commented on #2628
@boaks That seems to be an issue in the IoT packages Hono Helm chart files.
The `example-tenants.sh` script to add the default tenant (see [here](https://github.com/eclipse/packages/blob/b8a638db33c495cdef93b2461fbeeac86622bfb2/charts/hono/example/example-tenants.sh#L24)) doesn't use the correct values (see [here](https://github.com/eclipse/packages/blob/523f6b98becbb9773353d92d9103a0b14258cbaa/ch

[2021-04-26 14:27] boaks commented on #2628
The public key hasn't changed?

[2021-04-26 14:35] boaks commented on #2628
@calohmn

Just to mention, the new certificate you point to, is not the one on the master of last week ...

[2021-04-26 14:53] calohmn commented on #2628
The referenced files above are from the IoT packages repo and are different from the example certificates in the Hono repo.
I can provide a fix in the IoT packages project (along with the update to Hono 1.7.1).

[2021-04-26 15:18] sophokles73 commented on #2272
@e-grigorov

We are using Java's standard [javax.security.auth.x500.X500Principal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/javax/security/auth/x500/X500Principal.html#getName(java.lang.String)) class to create the string representation using the `RFC2253` format.

[2021-04-26 16:09] sophokles73 commented on #2272
Regarding multi valued SET OF AttributeTypeAndValue: I do not think that this is an issue because the client certificate will be transferred by means of its DER encoding in a (D)TLS handshake and DER encodes the contents of SET OF lexicographically, i.e. the elements of the SET will always be encoded (and read) in the same order.

[2021-04-27 08:20] gongzhao2 commented on #2618
Sorry for that I didn't double check if there are additional consumers.(Actually I still don't know where it is)
Maybe somewhere has remain connection to consume messages I sent.
I create a new tenant and test passed. There is nothing wrong with Hono.

Thanks!

[2021-04-27 08:20] #2618 closed

[2021-04-27 08:31] calohmn commented on #2628
The fix is in the Iot Packages Hono Helm chart 1.7.2 (see https://github.com/eclipse/packages/pull/221).

[2021-04-27 08:31] #2628 closed

[2021-04-27 11:11] sophokles73 commented on #2480
@calohmn can this be closed?

[2021-04-27 11:14] calohmn commented on #2480
@sophokles73 Not yet, I'll create one more PR (manual offset commits in command router).

[2021-04-27 13:29] boaks commented on #2099
I prepared a first PR #2629, which introduces x509 (again).

[2021-04-28 10:51] prabhaone opened #2633 "Kafka cluster bootstrap server configuration via Helm chart"
We are trying to deploying  hono with Kafka messaging component via helm chart.

we are running Kafka cluster and zookeeper separate cluster .

we are running Hono as separate kubernetes cluster.

As per the hono documentation we need to pass the   **bootstrap.servers** as environment variable in the adminclient or common configuration.

How we can pass this environment variable via helm chart whi

[2021-04-28 17:44] hristobojilov commented on #2272
This is highly problematic simply because for many device protocols i.e MQTT 3.1.1 it's possible to connect and subscribe to a topic with a single packet request and this implies that loss of the notification is highly likely.

 We need to:
- Drop the tenant altogether and use only the device_id info from the certificate
- Exchange the tenant info with the MQTT adapter in a reliable manner
- Hard-

[2021-04-29 08:48] kaniyan commented on #2272
The event is intended for the other direction to the business applications and MQTT doesn't play a role there. This shouldn't be a issue.

[2021-04-29 09:22] hristobojilov opened #2634 "Problem with tenant-id for gateways in case client certificate is used"
This parameter is required for posting events by the virtual devices attached to the gateway.

Each virtual device 'knows' its own ID but not the tenant-id which is associated with some kind of account information.
Typical firmware configuration will include client certificate allowing connection to the hub.
If Auto-Provisioning is used as described by issue #2272 the device-id setting will come f

[2021-04-29 10:20] #2634 closed

[2021-04-29 10:21] hristobojilov commented on #2634
This needs further discussion.

[2021-04-29 11:12] mrclbrchr opened #2635 "HTTP Status Code 503 While CLI is Running"
Hello, i hope this thread isnt unnecessary, but i couldnt find any solution yet.

I'm new to hono and want to find out how it is working and how i can use it.

So i've set everything up, started my minikube and minikube tunnel. The getting started python script was running correctly so i changed the adapter adresses to the ones give from my minikube cluster. My problem is, that amqp does not recie

[2021-04-29 12:14] kaniyan commented on #2635
Did you also adapt the address(_hono.client.host_) to point to your local dispatch router instance while running `hono-cli`.jar?
Some logs would be helpful to debug further. While running `hono-cli.jar` are there any warning/error messages?

[2021-04-29 12:54] #2099 closed

[2021-04-29 19:21] mrclbrchr commented on #2635
You truly made my day! Thank you very much.

There  is a variable amqpNetworkIp in the python script which is used for the hono.client.host, so i looked up my service list and set my eclipse-hono-adapter-amqp-vertx for this variable, seemed to make sense, but obviously it doesnt. After i changed it to the eclipse-hono-dispatch-router-ext everything is working now.

Could you maybe explain why my a

[2021-04-30 07:25] #2620 closed

[2021-04-30 08:18] kaniyan commented on #2635
@mrclbrchr I am glad it helped :)

AMQP adapter is another protocol adapter like MQTT and HTTP adapters to which the devices can connect. The north bound applications connect to the AMQP 1.0 network (in the example setup to the dispatch router). Please refer to the [Hono's component diagram](https://www.eclipse.org/hono/docs/architecture/component-view/) to have an overall view of the system.

If

[2021-04-30 09:21] #2635 closed

[2021-05-03 08:52] Christian-Schmid opened #2639 "Enhance HTTP Device Registry Management Api Error Messages"
Hi,

this is kind of a feature request:

In the http device registry management api an error message looks currently as follows:

[code]
In other projects in the Eclipse IoT, e.g. in the Dito project they look as follows (see [Definition](https://www.eclipse.org/ditto/basic-errors.html) for further info):
[code]
For our use cases it would be nice to have such advanced error messages as well in the

[2021-05-04 06:12] sophokles73 commented on #2633
The Hono Helm chart is being maintained in the Eclipse IoT Packages project](https://github.com/eclipse/packages). Can you please create your issue there?

[2021-05-04 06:14] prabhaone commented on #2633
Thanks for your reply. Thanks.

[2021-05-04 08:54] b-abel commented on #2633
The Helm chart does not contain support for Kafka yet. A corresponding issue already exists: https://github.com/eclipse/packages/issues/222. It will be worked on shortly.

[2021-05-05 11:56] sophokles73 commented on #2084
It seems that the existing implementation is prone to generating a lot of load on a Prometheus server under certain conditions. In particular, the load would spike if a protocol adapter to which many devices of many different tenants were connected would crash (or be shut down) and the devices would immediately re-connect to another instance of the protocol adapter.

In this case, for the first de

[2021-05-05 14:07] sophokles73 opened #2644 "Upgrade to vert.x 3.9.7"

[2021-05-06 13:04] #2644 closed

[2021-05-07 08:46] mrclbrchr opened #2648 "Deployment MQTT Broker/Individual MQTT Adapter"
Hello everybody,

recently i'm facing the question, where the hono mqtt broker is placed exactly. Reffering to the architecture component view, is it deployed in the mqtt-adapter or in the AMQP Messaging Network?

Further i'm asking myself, is it possible to deploy my own mqtt service like moqsuitto and integrate it into my hono deployment?

[2021-05-07 08:56] sophokles73 commented on #2648
There is no MQTT broker involved anywhere in Hono. The MQTT protocol adapter simply exposes an endpoint that allows devices to use the MQTT 3.1.1 protocol to exchange messages. However, the MQTT adapter only supports a very limited subset of MQTT 3.1.1 as is described in the [MQTT User Guide](https://www.eclipse.org/hono/docs/user-guide/mqtt-adapter/). All messages that are received from devices u

[2021-05-10 09:11] sophokles73 commented on #2639
The *status* property seems kind of redundant or is there any particular reason why that should be in there?
Ditto seems to define the *error* property as

This code is not to be considered as API and must therefore not be relied on.
It might change without prior notice.

it seems that it is a kind of *formal* identifier but not formal enough to actually rely on/use it. So we either omit this or d

[2021-05-10 11:41] sophokles73 commented on #2471
This should probably also be addresses in context of #2639

[2021-05-10 14:40] calohmn commented on #2480
Implemented via 8569ed9d976bae43d1816db33d077e6861f4ca20, adf43a253be0753e1460093176c96634ceba43f1 and e867fdc84aea3f0c884868c97e5d8cab39c063f6.

[2021-05-10 14:40] #2480 closed

[2021-05-12 09:05] sophokles73 commented on #2648
@mrclbrchr can this be closed?

[2021-05-12 09:09] sophokles73 opened #2654 "Quarkus native image based Command Router fails to use file persistence with embedded cache"
The Quarkus based native Command Router image fails to instantiate classes required for persisting cache values to the local file system. See https://github.com/eclipse/packages/issues/231

[2021-05-12 09:11] sophokles73 commented on #2623
@calohmn can this be closed?

[2021-05-12 10:52] calohmn commented on #2623
@sophokles73 yes, it's implemented.

[2021-05-12 10:52] #2623 closed

[2021-05-12 11:02] #2648 closed

[2021-05-12 11:48] #2654 closed

[2021-05-12 15:19] #2587 closed

[2021-05-14 07:10] sophokles73 commented on #8
@calohmn @b-abel @kaniyan @fkaltner There seem to be no more related issues/PRs pending for this, so I wonder if we can close this issue for the time being. I am sure that there will be additions/improvements being made in the (near) future. But I guess that the ground work has been done by you already :+1:
So WDYT?

[2021-05-14 07:13] calohmn commented on #8
Yes, issue can be closed FMPOV.

[2021-05-14 07:33] kaniyan commented on #8
FMPOV too this issue can be closed.

[2021-05-14 08:04] b-abel commented on #8
Yes, let's close it.

[2021-05-14 09:39] b-abel opened #2657 "Deprecate file-based Device Registry"
With #2587 the device registry can be used without providing an external database. This allows to use it instead of the file-based registry. FMPOV the file-based can be deprecated now. I would remove it in a future version to reduce the amount of code that needs to be maintained. This should be done once the JDBC-based registry has been used in the Helm chart as the default for a while.

[2021-05-14 10:48] #8 closed

[2021-05-14 16:38] #2084 closed

[2021-05-17 08:52] #2584 closed

[2021-05-17 14:50] sophokles73 commented on #2272
@kaniyan I guess the only thing missing now is some updated documentation and release notes?

[2021-05-17 15:31] calohmn opened #2660 "Investigate "already creating client for key" when registering command consumer"
There have been some integration test failures with an `error registering consumer with the command router service` failure.
The cause here was a `already creating client for key` error when trying to create the AMQP sender link between the AMQP protocol adapter and the Command Router component.

[code]
Debug log output would have been
[code]
(number of retries is 3 with 20ms delay in between)

It

[2021-05-17 18:05] calohmn opened #2661 "Kafka: Provide feedback on failed Command messages"
One main difference between the Kafka and AMQP Command & Control implementations is that with Kafka, there is no protocol-provided way to inform the northbound application about a failed delivery, like there is with AMQP using the delivery disposition update mechanism (using a `rejected`, `modified` or `released` outcome).

A failure to forward a command message to the device could for example be

[2021-05-18 07:24] kaniyan commented on #2272
For auto-provisionig of gateways those are the only things missing. The other parts of the story such as device-id pattern and sending of events are not there yet and I am working on those.

[2021-05-18 07:27] sophokles73 commented on #2272
FMPOV the device-id pattern support is a separate feature that is independent from the fact that we can auto provision devices as gateways. I therefore suggest to create a new issue for that.

[2021-05-18 07:29] kaniyan commented on #2272
:+1:

[2021-05-18 08:28] sophokles73 commented on #2272
@kaniyan So, are you going to create the new issue?

[2021-05-18 08:35] kaniyan commented on #2272
I will create them.

[2021-05-18 08:40] sophokles73 commented on #2272
Great, and please do not forget to create a PR for adding the documentation and release notes updates for this issue ...

[2021-05-18 09:35] kaniyan commented on #2272
I have created a PR #2663 for updating the documentation and release notes.

[2021-05-18 11:01] sophokles73 commented on #2486
@fkaltner @calohmn @kaniyan is there anything to be done here?

[2021-05-18 11:01] #2348 closed

[2021-05-18 11:03] sophokles73 commented on #2282
@kaniyan is there anything to be done here?

[2021-05-18 11:04] sophokles73 commented on #2273
@calohmn can this be closed?

[2021-05-18 11:05] sophokles73 commented on #2176
@calohmn is there anything to be done here?

[2021-05-18 11:06] kaniyan commented on #2282
Nothing more to be done on this issue. I will close this issue.

[2021-05-18 11:06] #2282 closed

[2021-05-18 11:08] sophokles73 commented on #1226
@BobClaerhout Has this been addressed by your latest contribution(s) or is there more work to be done?

[2021-05-18 11:12] sophokles73 commented on #2476
@b-abel is this still an issue?

[2021-05-18 11:14] kaniyan commented on #2486
With PR #2662, `AbstractAtLeastOnceKafkaConsumer` is no more used and making this issue obsolete. FMPOV this issue can be closed.

[2021-05-18 11:22] calohmn commented on #2486
I agree.

[2021-05-18 11:23] b-abel commented on #2476
Closed: There are now a couple of tests in that module.

[2021-05-18 11:23] #2476 closed

[2021-05-18 11:26] kaniyan opened #2664 "Support device identifier pattern during device/gateway auto-provisioning"
The _tenant_ configuration should support configuring a _device identifier pattern_ which would be used by the device registries to generate _device identifier_ of _devices/gateways_ during _auto-provisioning_.

See below examples for device-id patterns. For more information on this feature refer to the discussion thread in issue #2272.

- `device-id-pattern: "prefix123:{{subject-DN}}"` -> use "pr

[2021-05-18 11:36] kaniyan opened #2665 "Send event notification after successful device/gateway auto-provisioning"
This is to extend support to send an empty notification event with _content-type_ as `application/vnd.eclipse-hono-device-provisioning-notification` once a device or gateway is successfully auto-provisioned. For more information refer to the [discussion thread](https://github.com/eclipse/hono/issues/2272#issuecomment-723094832) and [documentation](https://www.eclipse.org/hono/docs/api/event/#devic

[2021-05-18 11:47] calohmn commented on #2273
yes, it's implemented according to solution 2 above.

[2021-05-18 11:47] #2273 closed

[2021-05-18 12:48] sophokles73 commented on #2316
I have created *releases* for the 1.6.x and 1.7.x tags

[2021-05-18 12:48] #2316 closed

[2021-05-18 15:21] sophokles73 opened #2667 "Hono images do not contain Gson classes required by Jaeger client"
The Hono container images <= 1.7.2 do not contain the *Gson* classes which are required by the Jaeger client when trying to retrieve centrally managed sampling strategy configuration as implemented in https://github.com/eclipse/packages/pull/236

[2021-05-18 15:25] sophokles73 commented on #2667
fixed in b790922bd815979f602c82dae57efdbb4e6700c1

[2021-05-18 15:25] #2667 closed

[2021-05-19 06:14] #2556 closed

[2021-05-19 07:12] BobClaerhout commented on #1226
Yes, this has been addressed. I'll create a new issue if required.

[2021-05-19 07:12] #1226 closed

[2021-05-19 08:01] sophokles73 commented on #2272
@kaniyan I guess this can be closed now, right?

[2021-05-19 08:09] kaniyan commented on #2272
This has been closed via PRs #2637, #2647 and #2663. Issues #2664 and #2665  are created corresponding to the extra features requested in the discussion thread of this issue.

[2021-05-19 08:09] #2272 closed

[2021-05-19 08:10] sophokles73 opened #2669 "Upgrade to latest Quarkus 1.11.x service release"

[2021-05-19 12:25] #2669 closed

[2021-05-20 06:16] sophokles73 commented on #2486
@fkaltner any last words?

[2021-05-20 06:58] #2664 closed

[2021-05-20 07:03] mrclbrchr opened #2672 "custom adapter ambiguities"
Hello everbody,

currenty i try to find out how to use a custom adapter. Beside the custom http adapter, i cant find something directly referring to this question in the documentation. I just found the example where a bluetooth device is connected via a gateway. Is this whats meant to be "a simple mechanism to add custom protocol adapters" or is there some other solution that i just didnt found ou

[2021-05-20 07:03] sophokles73 commented on #2664
@kaniyan FMPOV it would be good to also have this new functionality covered by an integration test ...

[2021-05-20 07:11] kaniyan commented on #2664
I have already included the below two new  tests  methods to cover this functionality.

`CredentialsApiTests.testGetCredentialsWithDeviceAutoProvisioningUsingDeviceIdTemplate()`

`CredentialsApiTests.testGetCredentialsWithGatewayAutoProvisioningUsingDeviceIdTemplate()`

[2021-05-20 07:36] sophokles73 commented on #2672
Maybe you can start out with describing what you want to do. We can then determine if a *custom protocol adapter* is the way to go or whether a [protocol gateway](https://www.eclipse.org/hono/docs/concepts/connecting-devices/#connecting-via-a-protocol-gateway) would be more appropriate.

[2021-05-20 07:42] mrclbrchr commented on #2672
Finding out how to use a custom adapter is really what i want to do. My purpose is to find out how hono is working and if its suitable for my needs. So i want to test things like these.

[2021-05-20 07:57] sophokles73 commented on #2672
The [Custom HTTP Adapter Developer Guide](https://www.eclipse.org/hono/docs/dev-guide/custom_http_adapter/) is kind of outdated as we mostly encourage people to use one of the standard adapters or, if not possible, to implement a protocol gateway as indicated above, instead of implementing a protocol adapter. The reason for that is that custom protocol adapters are expected to *behave* in the same

[2021-05-20 08:49] mrclbrchr commented on #2672
Thanks for your help so far. I got it right that in general its recommended to use a gateaway, no matter if it is a device or protocol gateway? Im just wondering because i took a look at the https://www.eclipse.org/hono/docs/concepts/connecting-devices/ article, and even there a custom protocol isnt mentioned.

Im not sure if it is the best example for a use case, but it could be one for me. Lets

[2021-05-20 09:07] #2486 closed

[2021-05-20 09:09] mrclbrchr commented on #2672
Thank you, earlier on i wanted to use Gitter, but i was a little bit confused because "This application will be able to read your organization, team membership, and private project boards.", and that seemed a little bit scary to me as i dont want to give access to my or my organitation repo if i only want to chat.

[2021-05-20 11:55] #2672 closed

[2021-05-21 13:51] sophokles73 opened #2675 "Quarkus native image based adapters compute wrong max number of connections"
The `MemoryBasedConnectionLimitStrategy` that is used by the protocol adapters determines the recommended maximum number of connections per adapter instance based on the amount of memory that the adapter needs to run and the memory required for each connection.
The memory to run the adapter depends on whether the adapter runs on a standard JVM or on the Substrate VM. The native images run on the S

[2021-05-21 13:52] sophokles73 commented on #2675
It seems feasible to define separate minimum memory requirements for the standard Java and the Substrate VM in order to allow for reasonable calculation of the recommended maximum connections per instance.

[2021-05-25 07:12] b-abel opened #2676 "Manage Kafka Topics in Registries"
The Kafka topics that a tenant uses for messaging should be created by the tenant management service of the device registry.
When a tenant is created, the corresponding topics need to be created. And when a tenant is deleted, the topics need to be removed.

[2021-05-26 08:05] sophokles73 commented on #2639
@Christian-Schmid @kaniyan Any thoughts?

[2021-05-26 08:09] sophokles73 commented on #2626
@mbaeuerle  Is there a particular reason why you want/need to limit the number of credentials?

[2021-05-26 08:17] sophokles73 commented on #1824
Based on the discussion in https://github.com/eclipse/hono/pull/2078#issuecomment-660978460 and the fact that we have updated the cache to retrieve the used-up data volume in the background (#2652), I wonder if we still want to follow through with this issue.

FMPOV we can close it as *won't fix* and also close the corresponding PR (#2078).
WDYT @kaniyan @fkaltner @calohmn ?

[2021-05-26 09:24] b-abel opened #2678 "Status of the Demo certs"
Since we have demo certificates and the files for creating them in the _packages_ project, I wonder what the status of the demo certificates in this project is. Where are the certificates supposed to be used? Are we committed to keeping the creation script in sync manually between both projects?

[2021-05-26 10:53] sophokles73 commented on #2678
Which project are you referring to by *this project*?

We use the demo certs for running Hono's unit and integration tests. The Hono chart in the *IoT Packages* project uses the demo certs for TLS enabling the containers' external network endpoints.

[2021-05-26 11:01] b-abel commented on #2678
@sophokles73 Thank you for your explanation. My understanding is now that the _demo_ certs in Hono are currently more like _test_ certificates. Therefore we do not necessarily need to keep the creation scripts in sync with the ones in the _IoT Packages_ project, but rather tailor them to the needs of the tests in Hono.

[2021-05-26 11:02] sophokles73 commented on #2471
I have taken a closer look to how this could/needs to be changed in Hono. The underlying issue here seems to be that the `TenantManagementService`, `DeviceManagementService` and `CredentialsManagementService` interfaces' methods also return a succeeded future in an (expected) error case. The succeeded future, however, provides no means to convey an error message because the future's type is `Resul

[2021-05-26 11:08] b-abel commented on #2678
What originally got me thinking about this was that Hono's demo certs are configured as _truststore_ in the CLI. This makes little sense if these certificates are not usually used anywhere outside of automated tests.

[2021-05-26 11:19] sophokles73 commented on #2678
This is from the time when the deployment scripts for Hono were also part of the Hono project itself. With the chart having been moved to the IoT Packages project, the CLI would rather need to be configured with the trust store containing the CAs of the Hono installation at hand. That might be the (example) certs for the Hono chart or the certs that a user has configured to use when deploying Hono

[2021-05-26 13:01] b-abel commented on #2601
Regarding the _Getting Started_ guide: the simplest solution would probably be to make a complete copy of the guide with adaptions to Kafka. The two documents can always be integrated later if it becomes apparent that both variants of messaging should be promoted permanently. WDYT?

[2021-05-26 13:21] kaniyan commented on #2471
Also `TenantService`, `CredentialsService` and `RegistrationService` follows the same pattern. Eventhough the chages in those classes are not required in relation with this issue, this would lead to double standards. At some point of time, it is also good to change them and have a single standard.

In consideration of the issue #2639, FMPOV failing with a _current version_ of `ServiceInvocationExc

[2021-05-26 15:38] kaniyan commented on #2471
The operation result is designed to contain both success and erroneous outcomes. Since these methods have return type `Future<OperationResult<>>`, IMHO it doesn't make that awkward but it is not straight forward if any one look into the code to understand.

I agree in case of unexpected error being conveyed in failed futures. I also like the other approach which makes things straight forward. Even

[2021-05-27 08:34] kaniyan commented on #2665
What should be done if sending an auto-provisioning event notification fails even after specified number of retries?
1. As I understood, in many cases auto-provisioning may not be useful until the north-bound side (e.g ditto) is notified with an provisioning event. FMPOV sending an auto-provisioning event is also a part of the auto-provisioning process. If sending an event fails, then auto-provisi

[2021-05-27 12:10] kaniyan commented on #2639
FMPOV error status code and error message are fully sufficient to address any error occurs. I also like the concept of having an error code. For me having this error code is more of a convenience and I don't think that we should address it now with the same priority as the other error attributes. I would consider this something for the future.

[2021-05-27 12:40] mbaeuerle commented on #2626
@sophokles73 yes, a service administrator may want to limit the number of credentials for a tenant e.g. to implement multiple service plans where each plan can have a different amount of maximum devices/credentials.

[2021-05-27 13:31] sophokles73 commented on #2626
Well, I understood that you want to limit them. What I do not understand is *why* you would want to limit the number of credentials? Does having more credentials incur higher cost?

[2021-05-27 13:51] jnbsi commented on #2626
I think this is a security concern. A (anonymous) user might create reams of credentials which could flood the database (even though the data size per credential is small). This can be prevented i.e. by rate limiting or simply by defining an upper limit of credentials per device. Since the number of devices can be limited, the total number of credentials would be limited as well.

[2021-05-28 06:34] #2675 closed

[2021-05-28 09:15] sophokles73 commented on #2676
FMPOV that is not very desirable as it ties the registry to a particular messaging infrastructure.

[2021-05-28 10:53] sophokles73 opened #2681 "Quarkus based components do not report JVM metrics"
The Quarkus based Hono components fail to include JVM related metrics on their Prometheus scrape endpoint.

[2021-05-28 12:15] b-abel opened #2683 "Add Kafka to the Sandbox"
In order to be able to easily demonstrate the usage of Hono similar to the _Getting Started_ guide, the sandbox deployment should be provided with Kafka-based messaging.

[2021-05-28 12:18] b-abel commented on #2683
**Proposal**

- deploy a small Kafka cluster (one broker should be sufficient) alongside the existing containers
- configure adapters for AMQP _and_ Kafka messaging. This enabled the possibility to select the messaging per tenant

[2021-05-28 13:46] sophokles73 commented on #2665
What if we fail to send the event but right before we are able to revert the changes in the DB the process crashes/stops? Then we would need to deal with (i.e. prevent) the (potentially) duplicate creation of the device when it connects the next time right? Is that easier to manage?

It would feel very strange to me if we would introduce such a property in the credentials object. Why shouldn't we

[2021-05-28 15:47] sophokles73 opened #2686 "Unit test org.eclipse.hono.client.kafka.consumer.AsyncHandlingAutoCommitKafkaConsumerTest is flaky"
The *testConsumerCommitsOffsetsOfSkippedExpiredRecords* test case sometimes fails in our CI build with
[code]

[2021-05-31 07:14] Christian-Schmid opened #2688 "Allow zero downtime rotation of hono auth secret"
Hi,

we're operating Eclipse Hono and would like to perform zero-downtime updates on all components in our cluster.

For authentication between the different Eclipse Hono components we use the Hono Auth Service. There we configured a shared secret (HONO_AUTH_SVC_SIGNING_SHARED_SECRET) to be used to for signing the issued tokens. Consuming services (e.g. Command Router / Mongo DB Device Registry) a

[2021-05-31 07:59] sophokles73 commented on #2540
An obvious candidate seems to be to factor out the telemetry client into a separate module because the device registry for example uses requires it to publish events. The Command Router, on the other hand, also needs to consume commands and needs to query the registry services but is (obviously) not a protocol adapter. We could therefore simply use a less opinionated name for the *adapter* client

[2021-05-31 08:02] sophokles73 commented on #2688
Supporting multiple keys for validation seems reasonable to me. However, IMHO we should also add the possibility to limit their validity period in that case so that old keys won't be used anymore by accident, e.g. if the administrator forgot to remove them from configuration.

[2021-05-31 08:53] kaniyan commented on #2665
In order to handle data integrity when DB process crashes/stops then we need some extra mechanism to deal with. Introducing such mechanism could involve introducing some properties which won't bring any advantages over what we have right now. In that case, we can still continue with the status property what we have right now.

Auto-provisioning of devices/gateways take place while fetching credent

[2021-05-31 09:06] sophokles73 commented on #2665
The protocol adapters (locally) cache the responses from the Credentials service so I guess this wouldn't be much of an issue as the Credentials service will be queried every couple of minutes only anyway ...

[2021-05-31 09:24] #2657 closed

[2021-05-31 09:25] sophokles73 commented on #2110
With the file based registry having been deprecated (#2657) we can restrict this issue to the Mongo DB based registry implementation.

[2021-05-31 09:37] sophokles73 commented on #2639
If not present users will eventually start using the message to decide which case happened.

@Christian-Schmid
Not sure if fully get your point here. Are you referring to *automatic* processing of error responses or are you referring to *interactive* users reading the error messages and acting accordingly? My take is that client code should be able to automatically process an error response simply

[2021-05-31 11:00] sophokles73 commented on #2471
@calohmn any thoughts?

[2021-05-31 12:24] calohmn commented on #2471
I always found it rather confusing that Hono API methods with a `Future<OperationResult<T>>` or `Future<Result<T>>` return value would return a succeeded Future for some failures and a failed Future for others.
(Also usage of the `empty` method as in `Future.succeededFuture(OperationResult.empty(HttpURLConnection.HTTP_BAD_REQUEST))` strikes me as a bit odd.)

I also found the difference in this re

[2021-05-31 12:48] ctron commented on #2471
I think in the Java world, you always need to deal with unexpected Exceptions. So one needs to deal with that in any case.

However, I also think that one can do better in expected errors. Like @calohmn mentioned, there may be additional information that needs to be carried. That could also be put into an Exception, but that feels odd to me as well. As it isn't an "Exception", it may be a regular

[2021-05-31 14:39] sophokles73 commented on #2471
Of course, but in our case any unexpected errors already result in failed futures which we already handle. The issue here FMPOV is that we need to duplicate error handling code.

I currently do not see any *additional information* that we would want to include in case of invocations resulting in an error status code. The *OperationResult.empty()* method does not include a cache directive in the re

[2021-05-31 14:56] Christian-Schmid commented on #2639
I had the following two use cases in mind:

1) **An automated system test:** As long as there are different client caused error scenarios which are mapped to the same _http status code_ (Like in the initial example - HTTP 409 Conflict) one has to check that the _http status code_ **and** that the _error text_ in the message matches. Error messages are more likely to change. A dedicated _error code

[2021-05-31 15:14] Christian-Schmid commented on #2688
Good point.

My first idea was actually not to have support for n-keys but just for a primary (= key as of today) and a fallback key (one which is used if validation of the primary fails).

The fallback key would just be configured during the time of rotation of the primary key.
Like this unnecessary non-success validations could be prevented as well.
One downside of this however is, that it requi

[2021-05-31 16:11] b-abel commented on #2683
As discussed in https://github.com/eclipse/hono/pull/2682#issuecomment-851353803, the Kafka broker(s) should be configured to accept client connections without TLS.

[2021-05-31 16:57] calohmn opened #2690 "NPE when trying to publish command without payload to MQTT/LoRa device"
Sending a command with no payload to an MQTT device results in this NPE:
[code]

A similar exception also occurs in a scenario involving a LoRa device

[2021-06-01 06:44] sophokles73 opened #2691 "Upgrade to Quarkus 1.11.7"
Upgrade to latest service release.

[2021-06-01 07:12] #2681 closed

[2021-06-01 07:14] #2676 closed

[2021-06-01 09:09] calohmn opened #2694 "Enable reporting of jaeger client metrics for quarkus images"
The `quarkus.jaeger.metrics.enabled` property has to be set to `true` here - see https://github.com/eclipse/hono/pull/2655#discussion_r633283019.

First test have revealed that this doesn't seem to be enough. Also adding the `quarkus-jaeger-deployment` dependency doesn't help here.

[2021-06-01 09:27] sophokles73 commented on #2694
My understanding of the description of the Quarkus property

is that it will only be evaluated if there is a Quarkus metrics extension has been added to the project (which we haven't).

[2021-06-01 12:01] sophokles73 opened #2695 "Remove support for Micrometer Graphite/InfluxDB"
To my knowledge there has not been anybody using the Graphite nor InfluxDB based Micrometer registry ever. FMPOV we can therefore simply remove the corresponding profiles and dependencies.

WDYT @calohmn @kaniyan @dejanb @ctron

[2021-06-01 12:14] calohmn commented on #2695
+1. They also currently don't work with the quarkus images, I guess.

[2021-06-01 12:15] kaniyan commented on #2695
+1

[2021-06-01 12:42] sophokles73 opened #2696 "Remove modificationEnabled config property from MongoDB based registry"
The property had originally been introduced with the file based registry in order to prevent users of the Sandbox installation to modify other people's data. In the MongoDB based registry this feature is not really required FMPOV. Apart from that, it is not implemented 100% correctly anyway, so I think we should simply remove it altogether.

[2021-06-01 12:47] sophokles73 commented on #2626
The maximum number of devices per tenant can already be configured at a global level, i.e. using the same maximum number of devices for all tenants.

[2021-06-01 12:47] #2690 closed

[2021-06-01 14:07] calohmn commented on #2686
Fixed via 1807142c8fef3049d4ddc2c6a331e0f372e45ff1.

[2021-06-01 14:07] #2686 closed

[2021-06-01 15:01] mbaeuerle opened #2698 "Add status section to credentials"
This is a feature request which was previously discussed in the comment here: https://github.com/eclipse/hono/issues/1960#issuecomment-692845041

The request is to add a basic status section to credentials containing the `created` and `last-updated` date-times and the `last_user` just as it was added to devices.
[code]

[2021-06-01 15:39] #2696 closed

[2021-06-02 11:58] kaniyan opened #2700 "Get device registration returns incorrect status"
Device registration information contains status properties namely `auto-provisioned` and `auto-provisioning-notification-sent` to indicate if a device has been auto-provisioned and a corresponding notification has been sent or not. Whenever device registration information is retrieved, the value of the these properties are always _false_ even though they are _true_ in the underlying database.

The

[2021-06-02 13:46] b-abel opened #2702 "Support TTL for Telemetry"
The [Telemetry API for Kafka](https://www.eclipse.org/hono/docs/api/telemetry-kafka/#produce-telemetry-data) defines a TTL record header to limit the _time-to-live_ of a message. The protocol adapters (at least HTTP and MQTT) already support that devices set a TTL for event messages. For Kafka-based messaging this should be supported for Telemetry messages as well because they are persisted.

[2021-06-02 13:47] kaniyan commented on #2700
This has been closed via #2699.

[2021-06-02 13:48] #2700 closed

[2021-06-02 14:00] sophokles73 commented on #2700
@kaniyan  please also back-port this to 1.8.x and 1.7.x if applicable ...

[2021-06-03 08:17] #2626 closed

[2021-06-07 06:55] fkaltner commented on #1824
In my opinion (see https://github.com/eclipse/hono/pull/2078#issuecomment-660990005) the accuracy of the current implementation is sufficient. Hence I also think this issue can be closed.

I think that https://github.com/eclipse/hono/pull/2652 does not address this issue as far as I understood it by reading the description. In order to do so, the cached values (in the Caffeine cache) needed to be

[2021-06-07 06:58] #1824 closed

[2021-06-07 07:03] sophokles73 commented on #2665
@kaniyan can this be closed?

[2021-06-07 07:31] fkaltner commented on #2601
@sophokles73 Maybe I missed something, butI thought both variants actually were supposed to coexist permanently?

[2021-06-07 07:38] sophokles73 commented on #2601
FMPOV there is no reason to discontinue the AMQP support. However, we should still have a *preferred* setup that we use by default and which we should then also use in the Getting Started guide, right?

[2021-06-07 07:39] calohmn opened #2704 "LoRa Adapter: command subscriptions never get removed"
With the command & control implementation in #2482, the LoRa adapter adds a command subscription for the LoraWAN network server (LNS) when the adapter has received a telemetry message from the LNS.

But, this command subscription never gets removed, also not when the tenant of the LNS or the gateway device entry is deleted.

This means that when  the LoRa adapter loses the connection to the Comman

[2021-06-07 07:42] calohmn commented on #2704
With the upcoming new notification API, informing protocol adapters of tenant/device entry change (see #293), the command subscriptions should be removed when gateway device or corresponding tenant get deleted.

Up til then, we could consider adding a periodic tenant/device check to clean up command subscriptions.

[2021-06-07 07:52] kaniyan commented on #2665
Currently I am working on documentation. After this we can close this issue.

[2021-06-07 08:06] calohmn opened #2705 "Command Router: endless "Enable Command Routing" loop"
We've encountered a scenario, where an "Enable Command Routing" invocation in the Command Router (see #2576) resulted in an endless loop, trying to invoke the command consumer registration for a large list of tenants again and again.

The scenario included a few subsequent "Enable Command Routing" requests with a lot of tenants (several hundred entries all in all, also caused by #2704 in connectio

[2021-06-07 08:07] b-abel commented on #2601
I am not sure now: can we all agree on the proposal to create two separate documents?

I think there needs to be some sort of end-to-end documentation for each type of messaging system that shows how to use the overall system with clients. The existing Getting Started Guide FMPOV does a great job at this. The differences between AMQP-based and Kafka-based messaging are significant enough that I th

[2021-06-07 08:12] sophokles73 commented on #2705
@calohmn If I understand correctly, then the root issue is that there are (many) test tenants that do not exist anymore and which are therefore endlessly re-scheduled in the loop, right?

[2021-06-07 08:26] calohmn commented on #2705
@sophokles73 No, the non-existing tenants result in `ClientErrorExceptions`, meaning there is no retry for that tenant.

There are 2 problems FMPOV:
- There is no limit to the retry mechanism, so that any re-occuring 500 or 503 error for example will result in endless retries.
- There is no delay in the tenants queue processing, meaning that there may be a "no credit available" error if there are

[2021-06-07 08:29] sophokles73 commented on #2705
@calohmn are you working on this already or should I take a shot?

[2021-06-07 08:51] calohmn commented on #2705
@sophokles73 I started with some ideas about adding a retry delay.

<details>
<summary>details</summary>

[code]

</details>

But in order to prevent the "no credits" error, some more changes are probably needed. So, if you want to work on this, that's fine with me.

[2021-06-07 08:58] fkaltner commented on #2540
I think the main problem was already addressed by bccad71b6737e62d6c6865136b0a413a0abdc4b9 making the reference to ProtocolAdapterProperties obsolete. But the separate modules do also make sense 👍 as the naming of the imports still was a bit odd...

[2021-06-07 09:07] b-abel opened #2706 "Document compatibility of Kafka versions"
While Hono's APIs for Kafka only require at least Kafka version `1.0` (brokers and clients), Hono's clients require a much newer version.

I found the following to be a concise summary of the rules that determine the compatibility of Kafka clients and brokers ([Source](https://docs.cloudera.com/cdp-private-cloud-base/7.1.6/kafka-managing/topics/kafka-manage-client-broker-comp.html)):

Hono's clien

[2021-06-07 09:17] fkaltner commented on #2665
@kaniyan I think undoing an auto-provisioned device also may have another unwanted side-effect: the benefit of auto-provisioning feature is that devices just start sending new messages without having to register the device first. Say at the time the very first message is sent, the connection to the messaging network in Hono is interrupted. Then the device would get an error. Probably it would try

[2021-06-07 09:25] fkaltner commented on #2601
If the documents do differ significantly there's no reason no to have them 😃

Maybe I misunderstood what you wrote. I got the impression the argument was to have a (mostly) duplicated copy for now and postpone the effort for integrating both documents later, since the assumption was that one copy may become obsolete...

[2021-06-07 10:51] sophokles73 commented on #2705
I do not see why the situation should not recover here. If the client (the Command Router in this case) does not have any credit left then it simply doesn't send the request to the Tenant service but adds the request to the end of the queue to be retried later on. Over time, the client will get credit again from the Tenant service and can then invoke the get Tenant operation and successfully re-es

[2021-06-07 11:01] sophokles73 commented on #2705
The only issue I currently see is that the processingSpan is finished only after the last command consumer has been re-established. Until then, a lot of attempts will likely be made and be logged to the processingSpan. Maybe this causes some problems within the tracing implementation.

[2021-06-07 12:22] calohmn commented on #2705
The picture isn't totally clear there.

I can only say that
- a heap dump of the command router showed the `tenantsToEnable` list to have over 1000 entries (container having run with high CPU usage for at least 2-3 days)
- the LoRa adapters have invoked the "Enable Command Routing" operation every 6 hours. The last batch of these invocations has added 60 distinct tenants to the `tenantsToEnable` l

[2021-06-07 13:17] iamrsaravana opened #2707 "how to assign parition id in dispatch router"
I am trying to connect hono with kafka using amqp source connector as mentioned it below

https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-amqp-kafka-source-connector.html

but i am not able to give partition id while pushing data into kafka.

AMQP connector:

apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: camelamqpsourceconnector-excavator
  labe

[2021-06-07 14:06] #2691 closed

[2021-06-08 05:20] calohmn commented on #2705
It looks like the bug is actually in the `ProtonBasedTenantClient` here.

I've had a closer look at the heap dump from when the Command Router was under high load.
The `CommandRouterServiceImpl` uses a `ProtonBasedTenantClient` which has a `pendingRequests` field.

![grafik](https://user-images.githubusercontent.com/891931/121125389-c8510f00-c826-11eb-88f9-4993aeaee2f0.png)

What is striking here

[2021-06-08 06:45] sophokles73 commented on #2707
Can you explain what you are trying to achieve? Are you trying to forward data consumed from Hono's north bound Telemetry and/or Event API to a kafka cluster?

[2021-06-08 09:21] #2665 closed

[2021-06-08 12:20] calohmn commented on #2661
The idea is now to (first) implement sending error command responses for _request/response_ command messages.

I would make these messages distinguishable from command responses sent from the device itself by using a special content type, namely `application/vnd.eclipse-hono-delivery-failure-notification+json`.

[2021-06-08 12:20] sophokles73 commented on #2540
@calohmn @kaniyan I do have two more PRs on hold for factoring out the C&C and the Device Registry client(s) into separate modules. FMPOV we should go all the way now and resolve the (still) existing *adapter* client module into dedicated *registry* and *command* client modules as well. WDYT?

[2021-06-08 12:32] calohmn commented on #2540
@sophokles73 Ok, good. There will probably be a conflict with #2711 - I can adapt that PR after your PR got merged then.

[2021-06-08 12:34] kaniyan commented on #2540
+1

[2021-06-09 04:44] iamrsaravana commented on #2707
Yes. we are trying to send event api to Kafka Cluster. we are using 1.8 version, but i could not find how to send tenent's data into Kafka topics directly.

Could you share document or steps to sending data directly to kafka topics.

[2021-06-09 04:56] iamrsaravana commented on #2706
Yes. Documentation is not up to date. Kafka based API introduced version 1.7. but still we are not able to use it because of  no proper documentation.

[2021-06-09 06:12] sophokles73 commented on #2707
I still do not see what you are trying to do in the end. Do you want to
1. use the AMQP 1.0 Messaging Network and then forward data received from it to kafka, or
2. use Kafka *instead* of the AMQP 1.0 Messaging Network within Hono?

[2021-06-09 10:43] b-abel opened #2715 "Sandbox: add Client Certificates for Example Device"
When deploying Hono with the Helm chart with an example device registry, an example device `4711` is created with a couple of corresponding credentials. One of the credentials allows authenticating the device with a certificate issued for it.
In the Sandbox deployment, the credentials for the client certificate are missing. Adding those credentials would allow testing device authentication with cl

[2021-06-09 13:05] iamrsaravana commented on #2707
planning to use Kafka instead of AMQP 1.0

[2021-06-09 13:58] b-abel opened #2716 "Don't default to localhost in examples in the documentation"
The usage examples in Hono's documentation assume in many places (especially in the User guides) that the Hono installation is accessible at localhost, either explicitly by specifying it as the host, or as an implicit default (e.g. in the Mosquitto clients).
There is no longer a supported, documented way to deploy Hono such that this assumption is true. The most accessible approach from a user per

[2021-06-09 14:06] sophokles73 commented on #2706
FMPOV we should add it to the already existing [Hono Kafka Client Configuration](https://www.eclipse.org/hono/docs/admin-guide/hono-kafka-client-configuration/) where we already describe how the client needs to be configured in order to use a given broker. IMHO this kind of additional information would fit in here quite well.

[2021-06-09 14:10] sophokles73 commented on #2707
Kafka support is still considered experimental in Hono. You might want to try the [Hono Helm chart](https://github.com/eclipse/packages/tree/master/charts/hono) which supports setting up a Hono installation using a single node Kafka cluster.
In addition, [Hono's Kafka Client Admin Guide](https://www.eclipse.org/hono/docs/admin-guide/hono-kafka-client-configuration/) describes the configuration pro

[2021-06-09 14:17] b-abel commented on #2707
@iamrsaravana I need much more explanation of what you are trying to do, which steps did you take, and which error you are facing to be able to help you.
Some background that might help you to better understand the current state:
Using Hono with Kafka-based messaging is still under development and considered a preview. An option to deploy Hono preconfigured for Kafka-based messaging together with

[2021-06-09 14:32] mbaeuerle opened #2717 "Add possibility for encrypting PSK keys in device registry"
In the (MongoDB) device registry all of the credential types except for PSKs are hashed for security reasons.
PSKs which are used for CoAP devices however cannot be hashed because of their very nature.
To store such secrets more securely I propose to add the possibility for encrypting these secrets.

This could be achieved by providing a configurable crypt key which is used for encrypting and decr

[2021-06-09 14:53] mbaeuerle opened #2718 "Add max payload size to all device registry requests"
Currently there is no payload limit for requests to the device registry. Therefore it would be possible to upload and store multible megabytes worth of data, inside a device json for example.
To prevent that, a config property could be added which defines the maximum payload size for device registry requests.
This could work in a similar way to the `maxPayloadSize` config property already present

[2021-06-10 09:05] sophokles73 commented on #2718
sounds reasonable

[2021-06-10 09:16] sophokles73 commented on #2718
I have taken a closer look at the code and found that the registry implementations' */tenant* and */credentials* related resources already support limiting the request payload. The configuration variable to use for setting the limit is `HONO_REGISTRY_HTTP_MAXPAYLOAD_SIZE`. However, this property is not documented yet.

I will also add support for limiting the payload size to the */devices* resourc

[2021-06-10 12:33] calohmn commented on #2704
With the changes from #2720, the LoRa adapter now checks whenever a tenant has been idle for a given time period (with no telemetry/event/command messages received during that time) whether that tenant actually still exists and is enabled. If either is not the case, the command consumers for that tenant will be closed.

Note that for that mechanism to actually be used, the corresponding config pro

[2021-06-10 13:59] #2706 closed

[2021-06-10 14:39] b-abel opened #2725 "Documentation: Styling of "table of contents" is wrong"
Currently, the styling of the ToC on the pages of the documentation is wrong: the first level is intended instead of the second. The cause is in the Hugo theme: see https://github.com/matcornic/hugo-theme-learn/issues/378 for a description and a screenshot. The issue is already fixed there, but there has not been a release since then. I created an issue to ask about the planned timeline: https://g

[2021-06-10 14:41] calohmn opened #2726 "LoRa adapter: Create only one gateway device command consumer per application instance"
Apply some minor Command & Control improvements:
A command subscription for a gateway device only needs to be done once for the whole LoRa adapter application - currently the corresponding `LoraProtocolAdapter#commandSubscriptions` map is kept per `LoraProtocolAdapter` verticle instance.

Along with that, the closing of command consumers in the `handleTenantTimeout` method (introduced in #2720) sh

[2021-06-10 14:48] b-abel commented on #2725
I assume that we need to wait for the next release of the theme (instead of just checking it out from the latest commit). If we need a released version for the Eclipse process, I guess we can neither apply the patch provided in the repository there to our css files. Or would that be an option for a temporary workaround?

[2021-06-11 06:17] #2704 closed

[2021-06-11 06:31] sophokles73 commented on #2725
If we can rectify the situation by simply taking over the corresponding CSS changes into our own stylesheet, then I see no problem with doing so. You should then add a comment to these additions in the Hono stylesheet indicating where the code came from and how it is licensed.

[2021-06-11 06:45] sophokles73 commented on #2540
closed via #2721

[2021-06-11 06:45] #2540 closed

[2021-06-11 06:45] sophokles73 commented on #2705
@calohmn can this be closed?

[2021-06-11 07:10] calohmn commented on #2705
Yes.

[2021-06-11 07:10] #2705 closed

[2021-06-11 07:59] #2718 closed

[2021-06-11 08:02] b-abel commented on #2407
@kramarov666 Is this still an issue for you?

Have you seen that the JDBC device registry supports automatic table creation in Hono version 1.8.0?

Sidenote: the scripts have been moved to https://github.com/eclipse/hono/tree/master/services/base-jdbc/src/main/resources/sql/postgresql

[2021-06-11 08:05] sophokles73 opened #2727 "Migrate Sandbox deployment to Helm chart"
The Sandbox currently uses a shell script and the Docker command line client to deploy Hono to Docker Swarm running on the Sandbox machine. It would be much more convenient and more consistent with our general approach for deploying Hono if we could run Kubernetes on the Sandbox (e.g. [k3s](https://k3s.io/)) and then simply use the Hono Helm chart to deploy.

[2021-06-11 08:06] sophokles73 commented on #2727
@b-abel I think we should get this done before adding kafka to the Sandbox (#2683).

[2021-06-11 08:19] b-abel commented on #2727
I would like to work on this issue.

[2021-06-11 08:36] kramarov666 commented on #2407
Hi, thanks for your response. I guess it's not an issue anymore.

[2021-06-11 13:03] mbaeuerle commented on #2718
@sophokles73 thank you very much!

[2021-06-13 08:11] #2695 closed

[2021-06-14 15:51] b-abel opened #2731 "Read truststore password from file"
Currently, a password can be provided for a JKS truststore file by setting the property `trustStorePassword`. The client configuration should additionally allow providing a path to a file that contains the password. This would allow reading it from a separate secret instead of putting it plain into a configuration file.

[2021-06-15 06:30] sophokles73 commented on #2731
Sounds reasonable to me :+1:

[2021-06-15 07:18] calohmn opened #2732 "Limit rate at which setLastKnownGatewayForDevice requests are sent"
Currently, for every telemetry/event message that a device with gateway support has sent, a `setLastKnownGatewayForDevice` request is made to the Command Router component.

If telemetry/event messages are sent at a high rate, this may cause a lot of traffic to the Command Router component.

Sending `setLastKnownGatewayForDevice` requests with the same gateway at a high rate (e.g. higher than 1 req

[2021-06-15 09:10] sophokles73 commented on #2717
Mongo DB seems to support [application (field) level encryption](https://docs.mongodb.com/manual/core/security-client-side-encryption/). Is that what you have in mind?

[2021-06-15 11:12] calohmn commented on #2661
Implemented for request/response command messages - see #2728, #2712.

[2021-06-15 11:12] #2661 closed

[2021-06-15 11:43] sophokles73 commented on #2661
@calohmn can you also add an entry to the release notes?

[2021-06-15 12:18] mbaeuerle opened #2735 "Secret in credential can be added without password"
Observed behavior:
It is possible to create a credential with secrets which do not contain a password.

Expected behavior:
Creating a credential without any passwords should result in an error.

Steps to reproduce:

1. Make sure the credential is empty. If the credential is not empty to my knowledge everything works as expected
  ![grafik](https://user-images.githubusercontent.com/1345394/12205003

[2021-06-15 12:28] calohmn commented on #2661
@sophokles73 done (fa52f41161241b11868e33ecf3ee1c937f6c99bb).

[2021-06-15 13:33] calohmn opened #2736 "Support receiving AMQP commands after tenant switched to Kafka"
The following scenario is given:
Hono is runnning with both AMQP and Kafka messaging systems and a tenant configuration has just been updated to use Kafka instead of the AMQP messaging system.
This means that from now on all messages sent by a device of that tenant are published to Kafka only.
Concerning the other direction, commands will at first still be received also via AMQP - at least as long

[2021-06-16 08:58] calohmn opened #2737 "ProtonBasedApplicationClient: Add reconnect handling"
Scenario:
The `ProtonBasedApplicationClient` is used and for example an event consumer has been created (via `createEventConsumer()`).

When the connection to the remote peer somehow gets broken, there currently seems to be no proper way for the application to deal with this.

A close handler can be given in `createEventConsumer()` but this might not get invoked, e.g. if the connection gets closed

[2021-06-16 10:04] calohmn commented on #2732
A high rate of requests here could also have an impact on the performance of "register command consumer" requests, possibly leading to timeouts which will result in failed device command subscription or device TTD requests.

[2021-06-16 14:00] calohmn opened #2738 "Skip setLastKnownGatewayForDevice request if device only has one 'via' gateway"
The 'lastKnownGateway' information is only relevant if a device has more than one gateway defined in its `via` property.
See the list of 3 rules here on how a command target gateway is determined:
https://www.eclipse.org/hono/docs/api/device-connection/#get-command-handling-protocol-adapter-instances-for-device

Therefore the `setLastKnownGatewayForDevice` request could be skipped if the device on

[2021-06-16 14:23] calohmn commented on #2738
One edge scenario affected by such a change would be:
- Device initially only has one `via` gateway and sends telemetry/event messages.
- Device gets a further `via` gateways, doesn't send any new telemetry/event messages yet.
- Multiple of these via gateways then subscribe for commands.

This means a command targeted at the device would be forwarded to whichever of the gateways is first in the `v

[2021-06-17 13:15] calohmn commented on #2736
Btw: for the other way round, having a tenant configured for AMQP, we currently implicitly also support receiving commands via Kafka because of the wildcard topic Kafka consumer.

[2021-06-17 14:14] calohmn opened #2740 "Fix inconsistencies receiving commands from "other" messaging network type (only allow one-way commands)"
This is about a Hono deployment where both an AMQP messaging system and Kafka are used.

Currently, commands published to _Kafka_ will be forwarded to the device regardless of the to-be-used messaging system setting in the tenant configuration - provided the command topic for the tenant exists.
Support for this comes at no cost since we are using a wildcard topic command Kafka consumer.
As pointed

[2021-06-17 16:00] calohmn commented on #2740
As discussed in the Hono community call: The one-way command limitation seems non-intuitive. It would be better to also support request/response command messages and then send the command response back using the same messaging network that the command was received in.
For this, there is already #2592.
Therefore closing this here.

[2021-06-17 16:00] #2740 closed

[2021-06-17 16:04] calohmn commented on #2592
As discussed in the Hono community call:
The preferred solution here is to send the command response using the same messaging network that the command was received from. The used messaging system therefore has to be encoded in the request id contained in the command forwarded to the device.

(This relates to #2736, allowing commands to be received from all configured messaging networks.)

[2021-06-21 05:52] calohmn opened #2741 "KafkaBasedCommandSender might not receive command response if response topic didn't exist before"
The `CommandAndControlAmqpIT#testSendCommandFailsWhenNoCredit` test sometimes fails:
[code]

Log output:
[code]

[2021-06-21 09:53] calohmn commented on #2732
Instead of skipping requests, a PR (#2742) has now been created to update last-known-gateway entries for multiple devices per tenant at once via batch requests.

[2021-06-22 06:39] calohmn commented on #2741
I could reproduce the issue locally. On sending a request/response command, the `KafkaBasedCommandSender` first creates a command response consumer. As the tenant-related Kafka topics don't get explicitly created in the integration tests, this means the topic will be auto-created when this topic subscription is created.
The
[code]
warning is related to that.
As it seems, in these cases sometimes t

[2021-06-22 07:17] #2732 closed

[2021-06-23 06:40] calohmn commented on #2741
**Another issue:**
There is another potential error case, where the command response consumer skips a command response record.
It occurs if the record is published *before* the command response consumer has fetched the committed offsets.
As the `auto.offset.reset` config of the consumer is set to `latest`, the consumer will then only handle records published after the said record.

A fix here woul

[2021-06-24 09:08] sophokles73 commented on #2735
This problem also exists in the JDBC based and the file based registry.

[2021-06-24 12:43] sophokles73 commented on #2731
@b-abel are you working on this? Otherwise, I could give it a shot ...

[2021-06-24 12:52] b-abel commented on #2731
I have not started yet. Feel free to take it.

[2021-06-24 14:17] #2741 closed

[2021-06-24 14:45] calohmn opened #2745 "ConcurrentModificationException in Command Router"
This has appeared in log output of a Command Router container:
[code]

[2021-06-24 14:48] calohmn opened #2746 "Command Router: Cannot perform [send] operation after producer has been closed"
The following log output has appeared in a Command Router container:
[code]

[2021-06-25 10:40] #2731 closed

[2021-06-25 15:16] calohmn commented on #2745
The cause of the exception is that `queue.remove(item)` gets called from inside the `queue` iteration code (via failing the sendAction promise):
[code]

[2021-06-28 05:39] calohmn opened #2750 "IllegalStateException: MQTT endpoint is closed"
If an MQTT device aborts its connection attempt before having received a CONNACK, there may be this exception in the MQTT adapter:
[code]
This leads to the `CONNECT` tracing span to not get finished. Also the metrics reporting for this request won't be done.

[2021-06-28 05:54] calohmn commented on #2750
Fixed via 60ec983c7c2977d70f0c5b64d1cc53764fcb8eff.

[2021-06-28 05:54] #2750 closed

[2021-06-28 06:43] sophokles73 commented on #2750
@calohmn looks like this should also go into the current bug fix branches, right?

[2021-06-28 07:29] calohmn commented on #2750
I've applied the fix to 1.8.x now (573146ee56586de2b735ccf97b7f259ce47dab6e).
In 1.7.x, this issue doesn't occur.

[2021-06-28 07:38] #2735 closed

[2021-06-28 08:16] sophokles73 commented on #2745
@calohmn does this also affect 1.8.x?

[2021-06-28 08:29] calohmn commented on #2745
@sophokles73 yes, I'll apply the fix for 1.8.x as well.

[2021-06-29 13:21] calohmn commented on #2738
@sophokles73 Any objections/comments on the above?

[2021-06-29 13:46] sophokles73 commented on #2738
Do they all subscribe for commands of the specific device or for commands for the gateway device?

[2021-06-29 13:57] calohmn commented on #2738
The latter. They subscribe for commands using just their gateway id - i.e. they subscribe to receive commands from _all_ devices that are configured to work with that gateway.

[2021-06-29 15:22] sophokles73 commented on #2738
Sounds reasonable to me.

[2021-06-30 05:27] calohmn commented on #2738
Fixed via 4d50688482896c26fd708361f2e69233534069ef.

[2021-06-30 05:27] #2738 closed

[2021-06-30 09:08] #2736 closed

[2021-06-30 09:12] calohmn commented on #2592
Fixed via 4b3afcd8a04dd217272c1e3bbdf09307957372a2 (#2753).

[2021-06-30 09:12] #2592 closed

[2021-07-01 07:13] sophokles73 commented on #2745
@calohmn can you also add an entry to the release notes?

[2021-07-01 07:30] calohmn commented on #2745
@sophokles73 yes, I've added an entry.

[2021-07-01 08:24] mrclbrchr opened #2757 "Hono Client for multiple tenants"
Yet i wasnt able to find a answer for my question in the documentation. Is it possible to start a client for multiple tenants?
Instead of "--tenant.id=tenant", something like "--tenant.id=tenant1, tenant2". I tried it that way but it wont work. Is it even possible?

[2021-07-01 08:37] sophokles73 commented on #2757
Technically this is possible. However, the CLI doesn't support it. The client would need to open multiple receiver links, one for each tenant. For simple consumption of messages this shouldn't be a big thing. However, if you also want to use the CLI for sending commands then additional changes would need to be required because then you would also need to specify the tenant ID of the device that th

[2021-07-01 08:58] mrclbrchr commented on #2757
Alright, lets say i'm an administrator and want to controll and monitor multiple devices in multiples tenants. What would be your approach to do this? Start multiple clients or configure one client to manage all tenants?

[2021-07-01 11:26] sophokles73 commented on #2757
Can you tell me a little bit about what you have in mind when you say *monitoring* and *controlling*? If you only want to send an occasional command to an arbitrary device, then I guess starting the CLI when necessary should work. Or am I mistaken?

[2021-07-01 11:58] sophokles73 commented on #2698
Adding this information at the credentials level would require to change the overall structure of the response payload of the GET credentials operation which currently is a JSON array (of credentials) but would then need to be changed to a JSON object which contains the status object and the credentials array. I'd rather not introduce such a breaking change here.

Instead, we could add the status

[2021-07-01 12:35] calohmn opened #2760 "Improve handling of adapter shutdown in case of many devices subscribed for commands"
The given scenario is that of an AMQP or MQTT adapter being shut down while there are a lot of devices still connected and  subscribed for commands.
The adapter will then close each command subscription and send corresponding "disconnected" event messages.

The many "unregister command consumer" requests in that scenario may cause "no credits" errors on the Command Router connection AMQP link.

A

[2021-07-01 12:58] sophokles73 commented on #2760
Or we might simply not close the consumers at all. In the end, the same thing happens when the adapter crashes, right? So we need to be able to cope with this situation anyway, don't we?

[2021-07-01 13:36] sophokles73 opened #2761 "Upgrade Spring Security"
Spring Security 5.4.x prior to 5.4.7 is affected by https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22119

[2021-07-01 13:39] sophokles73 commented on #2761
Hono does only uses the bcrypt related functionality of Spring Security's crypto library and therefore should not be affected by CVE-2021-22119. However, upgrading to the latest service release version should give everybody peace of mind.

[2021-07-01 13:42] #2761 closed

[2021-07-01 13:43] #2745 closed

[2021-07-01 13:53] calohmn commented on #2760
Yes, we could just skip closing the consumers (cleanup needed for some special cases is part of #2028).

But I guess we do have to send the "disconnectedTtdEvent" messages still - the corresponding devices might not automatically reconnect right away.
Looking into this in more detail, there are cases where we currently skip sending the "disconnected" event. That happens. if the "unregister command

[2021-07-01 16:12] sophokles73 opened #2763 "Upgrade to latest Spring Boot 2.4.x service release"

[2021-07-02 05:56] sophokles73 opened #2765 "KafkaBasedCommandConsumerFactoryImplIT fails during CI build"
The *KafkaBasedCommandConsumerFactoryImplIT* test has failed during the CI build with the following log output:

[code]

[2021-07-02 06:16] mrclbrchr commented on #2757
I think about multiple devices like 3d-printers that are running all the time. I want to monitor if one of them sends any event like for example "overheating" and react to that event with a command. For this purpose the CLI must run all the time i think. The question is, do i need to run mutiple CLI's for multiple tenants, or can i just run one CLI for my tenants, which is optimally connected to a

[2021-07-02 06:37] sophokles73 commented on #2757
What you are talking about is an *application* on top of Hono. The CLI has been created mainly for demonstration purposes as part of the Getting Started guide. For your use case you should implement your own application based on an existing AMQP 1.0 client for your preferred programming language and then interact with Hono's north bound Telemetry, Event and C&C APIs. If you are using Java then you

[2021-07-02 07:20] calohmn commented on #2765
The NPE is a followup of the "test execution timed out" error. I've committed a fix to handle the case of not all records having been received in a better way.
I'm not sure yet, what caused the original issue (i..e the missing record) here.

[2021-07-02 07:28] #2757 closed

[2021-07-02 10:36] sophokles73 opened #2766 "Upgrade to Quarkus 1.13.x"
The 1.11.x branch will most likely not get any more bug fixes and/or improvements anymore.
Before we migrate to vert.x 4 and Quarkus 2, we should therefore upgrade to the latest service release of the 1.13.x branch.

[2021-07-02 13:11] #2763 closed

[2021-07-02 14:11] calohmn opened #2767 "Limit rate at which Command Router handles Kafka command records"
Currently there is no limit to the rate with which the Command Router receives and handles incoming Kafka command records (as provided via the `poll` operations of the `KafkaConsumer`).
This may lead to errors and eventually an OOM error if the records can't be processed at the same rate they are read (e.g. due to the device registry link hitting a `no credits` error).

Therefore the polling opera

[2021-07-05 05:59] #2110 closed

[2021-07-05 06:08] sophokles73 commented on #2765
This still seems to happen
[code]

[2021-07-05 06:22] calohmn commented on #2765
Yes, I think I found the reason for this. There is an edge case where the (wildcard topic pattern) command consumer will report its availability to receive command records *before* the partition offset positions have been fetched. This means the fix for #2741 has to be applied here also for the check concerning a topic matched by a wildcard topic pattern.

[2021-07-05 10:52] sophokles73 commented on #2325
closed via 4be9fb260440b34051ad6e2c1762a8ab7021909d

[2021-07-05 10:52] #2325 closed

[2021-07-05 11:26] calohmn opened #2772 "DEPENDENCIES file content not up to date"
Invoking `create_dependencies_list.sh` with the newest dash licenses snapshot jar produces a change in the DEPENDENCIES file.
Besides an added entry (`net.i2p.crypto/eddsa/0.3.0, CC0, approved`), the entry for `org.apache.sshd/sshd-common/2.3.0` gets changed from `approved` to `restricted`.

`sshd.common` is a dependency of `org.wildfly.security:wildfly-elytron-auth-util` and `org.wildfly.security

[2021-07-05 11:39] mbaeuerle commented on #2717
@sophokles73 yes it looks like this MongoDB encryption feature is what I had in mind!

[2021-07-05 11:51] calohmn opened #2773 "Command Router: Errors/Delays when internal command topic got deleted"
After a protocol adapter pod has been stopped, the Command Router might still try to forward command messages on the internal command address (if the command consumers using that adapter were not properly unregistered).

This should not result in any problems - the assignment of any devices to the obsolete adapter instance id will be overwritten by devices connecting to different adapter instances

[2021-07-05 12:56] sophokles73 commented on #2717
I took a more thorough look at Mongo DB's application level encryption functionality. It seems that in order to use it, the application needs to have access to the (raw) Mongo DB Java driver in version 3.12.0+. The vert.x MongoClient used by the registry, however, is a wrapper around the 3.10.1 driver only. We could test if vert.x also works with the 3.12.0 driver but that would put us *off the tr

[2021-07-05 13:45] sophokles73 commented on #2772
I have created a [PR with Clearlydefined](https://github.com/clearlydefined/curated-data/pull/13222) to add the missing declared license information.

[2021-07-05 13:45] calohmn commented on #2746
Fixed via #2751.

[2021-07-05 13:45] #2746 closed

[2021-07-05 13:52] sophokles73 commented on #2766
closed via #2768

[2021-07-05 13:52] #2766 closed

[2021-07-05 13:58] #2767 closed

[2021-07-05 14:43] calohmn commented on #2773
Related:
[KAFKA-3450: Producer blocks on send to topic that doesn't exist if auto create is disabled](https://issues.apache.org/jira/browse/KAFKA-3450)

[2021-07-06 07:21] calohmn commented on #2773
The standard behaviour of the KafkaProducer when trying to publish on a non-existing topic (with topic auto-creation disabled in the server) is to block on `send()` for the `max.block.ms` period (default 1 minute), resulting in a
`org.apache.kafka.common.errors.TimeoutException: Topic [topic] not present in metadata after [max.block.ms value] ms.` exception.

After that, there will be repeated fur

[2021-07-06 07:47] calohmn commented on #2773
Workarounds/ways to prevent this:
-  don't delete the `hono.command_internal.[adapterInstance]` topic on adapter shutdown
   -> this would leave behind many unused topics over time, where you can't see which is still being used
- reduce the above mentioned KafkaProducer timeouts
   -> this would still result in quite long response times for commands that have no target available

The proper way to

[2021-07-06 13:33] alex-ellwein opened #2774 ""created" timestamp is lost upon update of a tenant in Hono's device registry"
If a tenant is created in Hono's MongoDB device registry via POST request, there is a "created" field containing the timestamp of creation in "tenants" collection. Pretty fine.

Upon update of the same tenant via PUT request, an "updatedOn" field appears -- however, the "created" field has then been deleted, so i suppose this is a bug or an undesired behavior, because the historical information, s

[2021-07-06 14:12] sophokles73 commented on #2774
Which version of Hono are you referring to?

[2021-07-06 14:13] alex-ellwein commented on #2774
I've tested with Hono 1.8.1.

[2021-07-06 14:25] calohmn commented on #2774
Looking at the Device Registry Management API spec, there is also a difference in the `Tenant` and `Device` structures in this respect: The `Device` schema defines the `status` entry with `created` and `updated` fields, while the `Tenant` schema doesn't have that.

[2021-07-06 15:40] sophokles73 commented on #2774
there is an "updateOn" timestamp created upon modification of a device credential, which is maybe fine from the REST perspective, but wouldn't it be more clear to keep track on creation as well as modification of the database entity in separate timestamp fields?

See #2698

[2021-07-06 15:41] sophokles73 commented on #2774
This is indeed undesired, even if we (currently) do not expose this information to clients as @calohmn pointed out.

[2021-07-07 13:34] calohmn commented on #2028
FMPOV, there are 2 approaches here, the first requiring the adapters to be part of the same K8s cluster, the second not having that requrirement:

## Option 1: Liveness Check Using a Kubernetes API client in the Command Router

The Command Router places a watch on the list of Kubernetes pods so that it keeps a list of currently alive protocol adapter pods.
A given `commandHandlingAdapterInstance`

[2021-07-08 05:56] sophokles73 commented on #2772
I created another [PR with Clearlydefined](https://github.com/clearlydefined/curated-data/pull/13275) to add the missing source location.

[2021-07-08 09:06] #2717 closed

[2021-07-08 13:28] #2774 closed

[2021-07-08 14:23] calohmn opened #2777 "Integration tests module compilation takes very long"
Something that has baffled me for quite a while is how long it takes to compile the "tests" Hono module with the integration tests.
On my machine that takes about 60 seconds (for just 63 classes)!
This means there is quite some patience needed when developing integration tests.

I've tried to narrow it down a bit, to see which classes take up the most time.
Removing everything except the `org.ecli

[2021-07-09 05:56] sophokles73 commented on #2777
Great analysis :+1:
Getting down the compilation time is always welcome. AFAIK I do not really care whether we use *Truth* or *AssertJ* but I became quite fond of the syntax used by AssertJ's *assertThat* methods so replacing them with the very similar versions from *Truth* shouldn't be an issue for me.

[2021-07-09 09:19] calohmn commented on #2765
The error has occurred again:
[code]

It seems, the root cause is the offset commit not having happened as part of closing the first consumer.
This is indicated by the log line
[code]

I'm reopening this issue to see whether at least logging can be improved to see why the offset commit wasn't being done above.

[2021-07-09 11:54] calohmn commented on #2777
I've added #2779 to adapt the integration tests module.
Going further, other modules should be adapted as well - changing "Device Registry Base" brings down compilation time from 33s to 6s.

[2021-07-12 06:27] calohmn commented on #2765
The offset commit didn't happen above because the corresponding record didn't get marked as completed in time.
That was because the result Future of the `publish` operation didn't get finished until _after_ the published record had already been received by the consumer in the test.
That means waiting on the record being received by the test method consumer in order to make sure the record offset w

[2021-07-12 08:59] b-abel commented on #2765
@calohmn I am trying to understand the current state here. Is #2769 still required?

[2021-07-12 09:08] calohmn commented on #2765
@b-abel The changes in #2769 have addressed one possible scenario in which the test could have failed.
But, as noted in my last comment above, there is still a possible test failure scenario left, because the test makes some wrong assumptions about the order in which futures are finished.
I'm currently preparing a PR to address this, adding the above mentioned delay in `AsyncHandlingAutoCommitKafk

[2021-07-12 11:19] b-abel commented on #2725
That should work. I'll have a closer look at it.

Btw: I don't think that versioning matters here because the styling of the documentation is always taken from the "master" branch.

[2021-07-12 12:27] calohmn commented on #2772
I've added the missing `net.i2p.crypto/eddsa/0.3.0` entry.

[2021-07-12 13:32] calohmn opened #2780 "KafkaConsumer: Wait some time for record handling to be complete before a synchronous commit"
From https://github.com/eclipse/hono/issues/2765#issuecomment-878008438:
The `AsyncHandlingAutoCommitKafkaConsumer` should wait for a certain amount of time for the completion of yet incomplete record result futures before doing a synchronous offset commit as part of handling the revocation of a partition assignment, e.g. when the consumer is being closed.

[2021-07-12 15:48] calohmn commented on #2765
I've created #2780 to add the above mentioned feature to `AsyncHandlingAutoCommitKafkaConsumer`.
To fix the rare cases where the above error occurs, I've added a delay in the test (can be reverted when #2780 is done).

[2021-07-12 15:48] #2765 closed

[2021-07-13 11:33] calohmn commented on #2777
Tests have been adapted to use `Truth` `assertThat()` now.

[2021-07-13 11:33] #2777 closed

[2021-07-13 14:43] #2772 closed

[2021-07-14 12:34] #2683 closed

[2021-07-14 12:34] #2727 closed

[2021-07-14 14:03] andrew-kratik commented on #763
Hello @sophokles73
Could you please advice any manual how to make kura to send telemetry data in Ditto format (using Hono+Ditto on server)
I was able to connect Kura to Hono server but can't find any info how to force Kura to send telemetry data in required time/format.
Thanks

[2021-07-14 14:43] sophokles73 commented on #763
@andrew-kratik Your question does not seem to be related to this issue (apart from the title), is it? Also, this issue is already resolved and closed. Could you therefore please create a new issue for your question or use one of the other options outlined on the [Hono website](https://www.eclipse.org/hono/community/get-in-touch/)?

[2021-07-16 09:18] mrclbrchr opened #2783 "HTTP401 while trying to use certs"
Hello,

im trying to use certificates to authorize my connection. Im starting my CLI with the hono.http.keyPath und hono.http.certPath option. But if i try to send some http telemetry data, i recieve error 401, and im wondering why. Ive created a device named "3D-Printer-1" and my command looks like followed:
[code]

[2021-07-16 09:31] sophokles73 commented on #2783
You are posting your data to the non-TLS port of the HTTP adapter (`http://10.98.140.92:8080/telemetry`). You should try to post to the TLS secured port using https as the protocol, probably `https://10.98.140.92:8443/telemetry` ...

[2021-07-16 09:53] mrclbrchr commented on #2783
Hmm now im facing the problem that i recieve error 404. Are there any requirements while creating the device and tenant that i maybe missed out?

[2021-07-16 10:40] sophokles73 commented on #2783
Have you registered x509 credentials for the device?

[2021-07-16 10:46] sophokles73 opened #2784 "Upgrade to Californium 2.6.4"

[2021-07-16 11:03] #2784 closed

[2021-07-16 11:16] mrclbrchr commented on #2783
Maybe not correctly.
Is this guide https://blog.bosch-si.com/developer/x-509-based-device-authentication-in-eclipse-hono/ still viable?

[2021-07-16 11:37] sophokles73 commented on #2783
It would be very helpful to see the debug output of the HTTP adapter that you are posting to. We could then determine, if this is indeed a credentials related problem or something else.

[2021-07-19 06:31] sophokles73 opened #2785 "Run ITs using a dedicated Infinispan server"
The ITs are currently run using an embedded Infinispan cache in the Command Router and Device Connection components. However, in production a dedicated Infinispan server/cluster will usually be employed. It therefore seems reasonable to run ITs using a dedicated Infinispan server as well, in order to identify issues early on in the development process.

[2021-07-20 11:29] #2785 closed

[2021-07-20 14:55] sophokles73 opened #2787 "Upgrade to Infinispan 12.0"

[2021-07-21 06:30] sophokles73 opened #2789 "Device Connection Client does not support TLS connections on Quarkus"
The Infinispan based Device Connection client's *org.eclipse.hono.deviceconnection.infinispan.client.quarkus.InfinispanRemoteConfigurationProperties* class does not yet support setting the Hot Rod client properties required for configuring a trust or key store. This makes it impossible to use a TLS secured connection to an Infinispan server when using the Quarkus based variants of Hono's component

[2021-07-21 11:35] #2789 closed

[2021-07-22 08:13] mrclbrchr commented on #2783
Currently i'm trying another approach. I'm following the guide mentioned above, but now im facing the following issue, which is probably not that difficult, but i did not solve it yet.

[code]

The content of the json is exactly as described in the guide, but im just getting HTTP400 followed by the message "request does not contain a valid Tenant object".