[2019-04-26 11:03] BobClaerhout commented on #1190
I agree but I think the original message is still required. In the Proximus example, you can add custom fields. Hono will never be able to normalize these fields since they are custom. Nevertheless, we can normalize some fields.

Great suggestion!

[2019-04-26 12:38] almheida opened #1203 "Implement credentials caching mechanism in Hono Adapters to speedup credentials lookup"
Protocol adaptors use Hono Credentials API to lookup credentials for device authentication, each time the device is connected to the adapter. So far by messaging flow (specifically through HTTP protocol) a lookup operation against the credentials store is to be performed each time the device sends message through the adapter. That might turn to be costly in term of many resulting request timeouts

[2019-04-26 12:55] #1087 closed

[2019-04-26 13:03] calohmn opened #1205 "No traces for Hono service invocations (1.0-M2)"
When deploying Hono with the Jaeger OpenTracing component and having a look at the created traces for the protocol adapter requests, there are some tracing spans missing.
These are the ones related to the various Hono services (credentials service, tenant service, registration service).

This was still working in Hono 1.0-M1.

[2019-04-26 13:24] sophokles73 commented on #1203
The reason why the `CredentialsClientFactoryImpl` currently does not cache results is for security reasons. In general, it is considered bad practice to cache credentials. In addition to that, the (Credentials) service implementation uses the *cache-control* application property in its response messages to indicate to the client, if the data in the body is supposed to be cached, and if so, how lon

[2019-04-26 13:32] BobClaerhout commented on #1190
I've updated the PR with the content-type addition. I also had a look at which fields might be candidate to normalize the meta-data but I do not know the exact content of all providers.
I had a look at the messages used for the tests and found following kerlink message:
[code]
Since this message doesn't have any metadata, I presume we cannot normalize the metadata.
@DanielMaier-BSI, can you provid

[2019-04-26 15:21] #1205 closed

[2019-04-26 15:37] sophokles73 opened #1208 "Migrate to JUnit5"
as a first step, it would be nice if we could run the existing tests using the *vintage engine* of JUnit5 so that we can then start migrating test cases to JUnit5 as we go.

[2019-04-28 02:38] alexju88 opened #1209 "Start Consumer with Enmasse"
Hi guys,
I have deployed Hono with Enmasse integrated, I have exported enmasse server certificate and ca certificate and import both of them into a truststore, and I run following commands but still has problem:

1.
mvn spring-boot:run -Drun.arguments=--hono.client.host=192.168.0.170,--hono.client.port=30646,--hono.client.username=consumer@HONO,--hono.client.password=verysecret,--hono.client.trust

[2019-04-28 03:00] alexju88 commented on #1209
When I try the 3rd command with server certificate defined as below:
3.
mvn spring-boot:run -Drun.arguments=--hono.client.host=192.168.0.170,--hono.client.port=30646,--hono.client.username=consumer@HONO,--hono.client.password=verysecret,--hono.client.trustStorePath=/opt/hono/install/new/eclipse-hono-deploy-0.9/deploy/helm-enmasse/hono-demo-certs-jar/**enmasse.crt**

Still meet errors:
10:57:55.292

[2019-04-29 01:44] alexju88 commented on #1209
Hi @calohmn， could you tell me how to authenticate a consumer for Enmasse?

[2019-04-29 07:13] DanielMaier-BSI commented on #1190
In the tests we only included the fields we needed. For message format of the providers please refer to their docs:
- Everynet: https://ns.docs.everynet.io/data-api/uplink-message.html
- Actility: https://dx-api.thingpark.com/core/latest/doc/index.html#message
- Objenious: https://api.objenious.com/doc/doc.html#section/Integration-with-external-applications/Messages-format
- Proximus: https://docs

[2019-04-29 07:15] sophokles73 commented on #1186
@alexju88 can you please close this issue if your problems have been resolved?

[2019-04-29 07:16] #1186 closed

[2019-04-29 07:17] alexju88 commented on #1186
Just know this function, sorry..I'm a new github user.

[2019-04-29 07:49] DanielMaier-BSI commented on #1203
What came into my mind regarding this topic:

Caching of hashed credentials should not be a security issue, so I am fine with that and I also think we should do this. Especially HTTP based adapters need to execute many authentication requests.

Caching the credentials locally in the adapters would already improve the situation, however in our deployment setup this comes with some limitations:
- Ou

[2019-04-29 07:55] calohmn opened #1210 "Improve reconnect interval handling"
The handling of the *reconnect interval* concerning AMQP connections between Hono components should be improved.

Currently, when for example the connection between a protocol adapter and the device registry fails or is closed, the re-connect attempt happens only after 500ms (that is the DEFAULT_RECONNECT_INTERVAL_MILLIS = 500).

I guess this was introduced for the scenario that the device registr

[2019-04-29 07:59] sophokles73 commented on #1203
Actually, I doubt that this would make much difference, because the expensive operation will not be the retrieval from the DB but the remote invocation of the Credentials service from the protocol adapters. If you replace the local cache in the adapters with a distributed cache, then you will also have remote calls for retrieving the values from another cache node in case of a cache-miss.
I would

[2019-04-29 08:08] DanielMaier-BSI commented on #1203
As I understood infinispan caches, there is a replicated mode where each key is cached on each node. But as I am not an infinispan expert and I don't know if this scales for many nodes, I am fine with a simple approach. Perhaps an infinspan expert reads this :).

[2019-04-29 08:16] calohmn commented on #1209
@alexju88 It looks like you just need to use the name and password of the user you created in EnMasse (instead of the "consumer@HONO"/"verysecret" credentials):
[code]

[2019-04-29 09:24] alexju88 commented on #1209
Hi Carsten,

I used following command, but still meet same authentication error:

mvn spring-boot:run -Drun.arguments=--hono.client.host=192.168.0.170,--hono.client.port=30646,--hono.client.username=hono,--hono.client.password=bosch-iot-2019,--hono.client.trustStorePath=target/config/hono-demo-certs-jar/enmasse.crt

[2019-04-29 10:14] almheida commented on #1203
Having the simple implementation for caching is always preferable, nevertheless, that implementation  should consider the fact that the cached credential might be updated "by simple update credential operation in the credential store", which make the copies in replicas not more valid. Implementing that mechanism in the adaptor should consider one of the following:

- by updating the certificate ev

[2019-04-29 11:45] sophokles73 commented on #1203
Like all other cached objects, the credentials would be evicted from the local caches after the time indicated by the *cache-policy* set on the response messages returned by the Credentials service. The cached credentials will then be valid until evicted from the local cache. This should be sufficient FMPOV.

[2019-04-29 12:40] calohmn commented on #1209
@alexju88 Make sure that the `hono.client.password` is correct.

In order for the example consumer to work, also make sure that the necessary addresses have been created in EnMasse:
telemetry/DEFAULT_TENANT  -> address of type "anycast"
event/DEFAULT_TENANT  -> address of type "queue"
control/DEFAULT_TENANT  -> address of type "anycast"

[2019-04-29 14:49] erryB commented on #1154
@sophokles73 you are correct, Event Processor component could directly expose the AMQP 1.0 endpoint, but in that case it would be necessary to change the endpoint for each different platform (e.g. not all platforms will have or require an Event Processor Host). Having two different components allows us to isolate the endpoint as an extensible point and keep the Event Processor component simple, fo

[2019-04-29 17:21] mhemmeter commented on #1154
Hi @erryB, thanks for your feedback. Let me first focus on the differences between IoT Hub and Event Hubs (second paragraph above).

I understand that the main driver for the proposal of using IoT Hub is the command path (outbound connectivity) and I fully agree to your argument that we should try to limit the number of dependencies to a minimum. However my understanding is that we need in this pr

[2019-04-30 03:31] alexju88 commented on #1209
Should the address space, address be named according to Hono's user? like：

Address space: DEFAULTTENANT
Address: event
User: hono

Address space: DEFAULTTENANT
Address: telemetry
User: hono

Address space: DEFAULTTENANT
Address: control
User: hono

[2019-04-30 07:35] calohmn commented on #1209
@alexju88 The name of the EnMasse address space doesn't matter.
For each Hono tenant (e.g. "MyHonoTenantName"), you have to create 3 corresponding addresses in EnMasse: `telemetry/MyHonoTenantName`, `event/MyHonoTenantName`, `control/MyHonoTenantName`.

Then you would create a user in EnMasse with rights to *receive* messages on the `telemetry/MyHonoTenantName` and `event/MyHonoTenantName` address

[2019-04-30 08:14] alexju88 commented on #1209
Thank you Carsten, I have already create address and users, just like what you said, consumer works.
Very appreciate!

[2019-04-30 08:14] #1209 closed

[2019-04-30 12:19] calohmn commented on #896
Ok. I would suggest to start out with `trace-sampling-mode [default|all]`. Adding `default-all-errors` (and possibly `errors-only` and `none`) could be done later.

More interesting is probably adding the possibility to force trace-sampling just for a specific *device* as well. This information should be held in the device registry's device information, imho.
That means that `trace-sampling-mode`

[2019-04-30 17:48] mhemmeter commented on #1154
Coming back to pricing today: The good thing with Event Hubs is that not only the dedicated offering is available but also also the basic and standard tiers. So if you are running Eclipse Hono using Event Hubs as the messaging network in a cost sensitive context I think you can do so by choosing basic or standard tier.

[2019-05-04 07:55] San13 opened #1219 "Uploading telemetry message receive 404 Not Found"
I refer Getting Started page #[553](https://github.com/eclipse/hono/issues/553) for uploading telemetry data. I did the following steps and fail to send telemetry message with error 404 Not found

1) Register Device
[code]

2) Add Credential
[code]

3) Check Device Registration
`$> curl -i http://localhost:28080/registration/DEFAULT_TENANT/4720
`

4) Upload Telemetry Message
[code]

HTTP/1.1 404 N

[2019-05-05 10:54] San13 commented on #1219
Problem solve after following up this issue link #600

[2019-05-05 10:54] #1219 closed

[2019-05-06 09:04] b-abel opened #1221 "Proposal: Hono Feature List for Landing Page"
I am working on a new new landing page for Hono's web site. I would like to add some icons with a bit of text to highlight some of the main features of Hono. The attached screenshot only shows the general idea and is not intended to be used (especially the icons are just random placeholders).
I think 6 would a good number, more are hard to grasp and a multiple of 3 would be good for the layout. My

[2019-05-06 10:29] sophokles73 commented on #1121
fixed in https://github.com/eclipse/hono/commit/cca9ba1148e1a11a11a2b516489d5d3cefaad43d

[2019-05-06 10:29] #1121 closed

[2019-05-06 11:07] sophokles73 commented on #1221
@b-abel thanks for putting up this list and creating the proposal. I like the idea a lot and I agree that we should get away with six items.

Here are my two cents:

1. IMHO we should try to keep it real, i.e. instead of inventing the *bazillions*, I'd rather be a little more modest and e.g. start off with

2. I would simply add a single word:

3. Again, just a small addition:

4. Adding some expl

[2019-05-06 13:28] BobClaerhout commented on #1190
Thanks @DanielMaier-BSI for the overview of these messages. However, since I do know little about these Kerlink messages I'm afraid we cannot take a decision on the normalization of the data

[2019-05-06 13:29] kaniyan commented on #1221
@b-abel Sounds good.

[2019-05-06 13:40] DanielMaier-BSI commented on #1190
Well I do have the kerlink docs as a PDF. Unfortunately it is not a single example json which I can post, the information is distributed across different tables. I am not sure if I am allowed to post the whole PDF here in public. If you like I can send it to you per mail.

[2019-05-06 13:51] BobClaerhout commented on #1190
Maybe we should avoid any problems concerning the distribution of those documents? Besides this, I propose to postpone the decision on this as currently nobody (or at least we) needs this.
Should we create another issue for this?

[2019-05-06 14:28] ctron commented on #1221
:+1: Millions sounds better IMHO.

Maybe: "Your device is built on top a custom protocol? Hono provides a simple mechanism to implement custom protocol adapters."

[2019-05-06 14:29] DanielMaier-BSI commented on #1190
I would be fine with another issue.

[2019-05-07 13:39] #1136 closed

[2019-05-07 14:21] BobClaerhout opened #1226 "Implement downlink for LoRaWAN adapter"
Currently the LoRaWAN adapter subscribes to pre-defined tenants. This is incorrect as different devices from the same tenant might connect to different adapters.
A first good step would be to subscribe to commands when a first message from a specific device is received on the LoRaWAN adapter.
The only downside to this is that a device which has not yet sent any messages to the LoRaWAN adapter (aft

[2019-05-08 06:03] sophokles73 commented on #1208
fixed in https://github.com/eclipse/hono/commit/014d7c7a83219f3ffb536039f6b62927a5d9872a

[2019-05-08 06:03] #1208 closed

[2019-05-08 07:26] Christian-Schmid opened #1227 "Remove metrics for no longer active tenants from Prometheus response"
Hi,

we've just started to use the new metrics based on Prometheus in Eclipse Hono. Very nice work!
However, one question has come to our attention regarding the amount of responded DataPoints of protocol adapters:
In the Prometheus response I could observe two groups of data points:
a) "Static data points" which are always there, e.g. with information of the jvm (for example: ``jvm_buffer_memory_

[2019-05-08 15:04] erryB commented on #1154
Thanks @mhemmeter
You are correct, we do need a Service Bus Queue for the offline fallback. However, if we decide not to leverage IoT Hub, we need to add not only another Service Bus Queue, but also a connection bounding mechanism, because EH has a maximum of 5K connections that can be established. Besides that, we need to handle Cloud to Device messages because we couldn’t use Direct Methods to d

[2019-05-10 06:20] ctron commented on #1227
I think this goes hand in hand with issue #1188 ... maybe we do need some kind of "tenant closed" event (internally!) on which we can hook in functionality like that.

[2019-05-10 07:34] sophokles73 opened #1229 "Upgrade to vert.x 3.7.0"
This will allow us to use ECC based certiifcates ...

[2019-05-10 07:35] sophokles73 commented on #1203
@kaniyan are you also going to make the changes to the Credentials service implementation for taking advantage of the caching?

[2019-05-10 07:40] kaniyan commented on #1203
@sophokles73 yes, as you suggested above. But I didn't start yet. Currently I am working on #1162.

[2019-05-10 11:46] sophokles73 commented on #1190
I have to admit that I do not feel very comfortable with the approach for the AMQP message body.
In the original code, the adapter defined the payload as a JSON structure like
[code]
where the payload was a Base64 encoding of the binary payload that the LoRa device had sent.
The other protocol adapters all simply put the payload from the device into the downstream AMQP message body as a byte array

[2019-05-10 11:51] sophokles73 commented on #623
Especially, if "none-tls" connectors are in use, the may introduce their own "most common used" asymmetric variant, e.g. ECC for "coap over DTLS".

@boaks  Does this mean that you would like to be able to register a trust anchor per adapter type? FMPOV this would only make sense if we restrict the number of public keys in the trust anchor to 1. Otherwise we will still need to try each key in the s

[2019-05-10 12:20] kaniyan commented on #1203
@sophokles73 The Credentials service implementation is already equipped with cache directives to take advantage of the caching, if needed. The default behaviour is already set to _no-cache_ in `FileBasedCredentialsService`. FMPOV there is no need to make any changes on that part.

[2019-05-10 12:47] sophokles73 commented on #1203
@kaniyan then we can leave it up to implementers of the Credentials service to decide on the particular cache directive they want to return for which credentials type. Even better :-)

[2019-05-10 12:50] sophokles73 commented on #1203
@almheida FMPOV all necessary changes have been made to support caching of Credentials in the protocol adapters. Can you confirm and close this issue?

[2019-05-10 13:30] BobClaerhout commented on #1190
To be honest, it was a surprise for me when I noticed the message received in Hono is not the one going out.
As you know, we also use Dash7 (protocol) with Dash7 gateways besides LoRaWAN. These gateways append metadata (similar to the LoRaWAN network provider). This combined message is sent to the MQTT adapter and this exact message is sent to the business application. FMPOV every gateway/network

[2019-05-13 06:43] sophokles73 opened #1230 "Remove token from assert Registration response"
The protocol adapters invoke the *assert Registration* operation on the Device Registration service in order to make sure that a given device is registered and enabled. In the past, the Device Registration service was required to return a signed JWT including the device and tenant ID in its response. This token had been forwarded to the former *Hono Messaging* component which used it to verify the

[2019-05-13 15:37] sophokles73 commented on #1190
@BobClaerhout thanks for your feedback. I agree that option 1 is probably easier to do. However, my proposal is not to replace the existing behavior with option 1 but instead replace the existing behavior with including the plain (binary) payload from the device in the downstream message. This should be the *default* behavior of the LoRaWAN adapter.

In addition, the adapter should support a confi

[2019-05-13 15:40] sophokles73 commented on #1154
Hi @erryB,

going through the documentation of the Event Hub, I wonder, if it is possible to use multiple *topics* with the Event Hub as you can with Apache Kafka. We could then use two topics per tenant (one for telemetry and one for events) in order to implement the downstream direction for multiple tenants using a single Event Hub instance.

WDYT?

[2019-05-13 16:51] mhemmeter commented on #1190
The current LoRaWAN Protocol Adapter normalizes the messages that are sent from the different network providers to Hono in order to be able to develop the business application in a network provider agnostic manner. For the business application this is very helpful as Hono abstracts the device connectivity not only with respect to the transport layer protocol but also the LoRa network providers.

W

[2019-05-14 01:26] amit1306 opened #1235 "Error: Deploying Hono on Kubernetes under custom namespace"
It seems the namespaces are stored on server and I am not able to deploy the hono under custom namespace i.e. com.org.abc.

Error: Cannot Create namespace at cluster level.

Note: I cannot have permissions at cluster level so only option is to deploy hono under custom namespace

[2019-05-14 02:18] San13 opened #1236 "Sandbox is down"
Could you please make sandbox up again

[2019-05-14 06:06] sophokles73 commented on #1236
should be up and running again, can you confirm?

[2019-05-14 06:29] sophokles73 commented on #1190
I agree that the adapter knows about the encoding that the network provider uses for the payload. Thus, the adapter can extract the payload, decode it if necessary (hex or Base64) and put it to the downstream message's body. Downstream consumers can always expect the payload to be exactly the data that the device has sent. I do not see any problem there.

That seems to be only partially true as th

[2019-05-14 06:42] San13 commented on #1236
I tried via https://hono.eclipse.org/ this url. This site still can't be reached.

[2019-05-14 06:49] sophokles73 commented on #1236
not sure what you expect to find there. As indicated on the web site:

Since Hono itself does not provide a web page, there is nothing to be served on https://hono.eclipse.org.

[2019-05-14 06:56] San13 commented on #1236
My bad. I thought i am gonna see some web page. I tried to register a test device. It works. Thanks

[2019-05-14 06:56] #1236 closed

[2019-05-14 08:35] BobClaerhout commented on #1190
I think we are slowly moving towards the current solution: including a normalized payload AND the original message. I agree this isn't the prettiest solution but it covers both requirements.
We, as a technical user, are very much interested in the communication meta data. An end-user is mostly interested in the actual (normalized) data and is not interested in which LoRa provider is handling the c

[2019-05-14 09:44] mhemmeter commented on #1190
Great, looks like we will come to a conclusion short term. @DanielMaier-BSI, @mbaeuerle any other ideas or input?
@BobClaerhout, I have another question to you: Currently the LoRaWAN Protocol Adapter does not cover Command & Control for all network providers (downstream communication in LoRa). Do you have that use case in your system at all? If yes do you think you can cover that in the current im

[2019-05-14 10:05] BobClaerhout commented on #1190
I've created an issue for this: https://github.com/eclipse/hono/issues/1226
I saw a downlink implementation for kerlink. I'm currenlty using the actility provider and therefore implementing that one already.
I'm starting from the Kerlink adapter. The messages we are sending to our devices are binary messages.
As for the other providers: I do not know enough of the others to state whether it is pos

[2019-05-14 10:41] sophokles73 commented on #1235
I am afraid you will need to be a little more specific. What are you trying to achieve? What exactly are you doing?

[2019-05-14 11:00] sophokles73 commented on #1190
Is there a particular reason why you bring up this approach again, @BobClaerhout? FMPOV there is no reason why we would need to go that way instead of what I had proposed earlier, or is there?

[2019-05-14 12:08] BobClaerhout commented on #1190
If my understanding is correct, we are talking about 3 options now:
**Option 1**: forward message as received from network provider:
[code]
Pro's:
- Works the same as all adapters. Every message received is forwarded as received without any adaptions
- No need for custom provider knowledge in the adapters
- Metadata is available

Con's:
- Message is not normalized: business application needs to pa

[2019-05-14 13:22] calohmn commented on #1073
Here's how I would suggest introducing these changes:

- Next Hono milestone (M4):
  - **Introduce new endpoint for sending commands (with gateway-mapping feature)**
Applications can already use the new `control_request/${tenant_id}` endpoint and the provided command client classes will use that too.
The existing `control/${tenant_id}/${device_id}` endpoint will still work, but will lack the gatew

[2019-05-14 13:58] boaks commented on #623
I have just no experience with "trust anchor (consisting of multiple keys)".

[2019-05-14 14:06] boaks commented on #623
@b-abel

A little delayed:
When I wrote that comment, it was only possible to use one x.509 ca. per tenant. Without knowing about the "multiple keys trust anchor", that would end up in either RSA or ECC certificates for one tenant and it would have been not possible to use both for one tenant.
If the "multiple keys trust anchor" solves that in an other way, great.

[2019-05-14 15:46] mhemmeter commented on #1190
Based on the discussion in this issue I vote for option 2.

[2019-05-15 07:00] Christian-Schmid opened #1238 "Allow to enable SSL for Health Check Server by configuration"
Hi,
we use some additional endpoints in the ``VertxBasedHealthCheckServer`` which we want to secure by means of SSL like the main server.

Therefore we extended the configuration options of the health check server to allow configuration of such.

Maybe you are interested in such config option as well, I will create a PR :-)

[2019-05-15 07:08] sophokles73 commented on #1238
Not sure if I understand correctly. What "additional endpoints" are you talking about?

[2019-05-15 07:18] Christian-Schmid commented on #1238
We want to use the Hono provided Prometheus metrics, they are exposed on that server.
So far all our internal communication is secured by SSL, so we would like to secure the Prometheus metrics endpoint with SSL as well.

[2019-05-15 09:07] sophokles73 commented on #1238
I see, and yes, we would be very interested in a PR adding that functionality...

[2019-05-16 10:54] Christian-Schmid commented on #1238
I created https://github.com/eclipse/hono/pull/1239 to show the functionality. If it is ok, i can add some integration tests.

[2019-05-20 07:21] calohmn opened #1245 "Move update of "last_via" property out of "assertRegistration" method"
The update of the `last_via` property is currently done as part of the `RegistrationService#assertRegistration` method (as defined in the javadoc).

It should be decoupled from that, allowing for more optimized implementations.

[2019-05-20 07:30] almheida commented on #1203
@sophokles73 Yes, Thank you! everything looks good.

[2019-05-20 07:30] #1203 closed

[2019-05-20 08:53] BobClaerhout commented on #1190
We had a discussion on this last Friday in the F2F.
A short recap of this: Option 2 is the preferred one.
Additionally, we will try to get as much normalized data out of the message as possible. A resulting json of data which can not be normalized will be placed in a message property.
To conclude the resulting message:

"Base64Payload",
Message properties
[
    "Rss": "rss",
    "Non-normalized-da

[2019-05-20 09:38] sophokles73 commented on #1190
FWIW, the payload will not be Base64 encoded but will be the plain binary bytes as received from the device.

[2019-05-20 09:40] sophokles73 commented on #1190
what about *additional_data* instead of *Non-normaized-data*? Also keep in mind to not use the `-` (dash) character in application property names since they cannot be read by a JMS client (JMS does not allow dashes in property names, don't ask me why) ...

[2019-05-20 09:54] #1229 closed

[2019-05-20 10:04] calohmn commented on #1245
Without being tied to `DeviceRegistry#assertRegistration`, the update of the `last_via` property should then only be done when there is a command subscription request being handled.

In that regard, the term `last_via` may not fit very well anymore.

I would rather use `commandGateway` instead. That would mean adding these methods to `RegistrationService`:
[code]

[2019-05-20 10:51] BobClaerhout commented on #1190
Correct, this reminds me that content-type is also set as message property in order for the business application to be able to decode the message.

Fine by me. If nobody has any other suggestions, will do this.

[2019-05-20 12:29] sophokles73 commented on #1230
fixed in https://github.com/eclipse/hono/commit/de1e04549fa9f6d0c2cc86eab93eec83acb6fff6

[2019-05-20 12:29] #1230 closed

[2019-05-20 13:36] sophokles73 commented on #1190
IMHO we should also use a common prefix for the *normalized* data property names, e.g. `lora_rss` and `lora_eui` etc.

[2019-05-20 13:39] sophokles73 opened #1247 "Upgrade to Artemis 2.10.x"

[2019-05-20 13:43] sophokles73 commented on #1226
what do you mean exactly with *connect to different adapters*? Do you mean devices of the same tenant, some connecting using MQTT and some using LoRaWAN? Or do you mean devices of the same tenant, all connecting using LoRaWAN but some connecting to LoRaWAN adapter instance 1 whereas others connect to adapter instance 2? Do the devices connect via a single network provider back end or are you talki

[2019-05-20 15:01] BobClaerhout commented on #1190
I do not agree with this. If someone writes his own adapter, he can reuse the existing fields to send the same data to the business application.
The sigfox adapter for example will also have rss values.

[2019-05-20 15:13] calohmn commented on #1245
The solution here shall introduce a new `RegistrationService#updateDeviceLastVia` method and corresponding `RegistrationClient` methods, to be invoked by the Protocol adapters after the `assertRegistration` request was successful.

In order to be able to decide, whether the `updateDeviceLastVia` request is actually needed, `assertRegistration` should also return the `via` property of the device re

[2019-05-20 15:56] sophokles73 commented on #1190
Then use `hono_` as the prefix ..

[2019-05-20 16:33] mhemmeter commented on #1190
I would appreciate if we can avoid this (please see my comments above). It would definetly be of value if the business application must not care which LoRa network provider has sent the message. What are the arguments against using a common encoding (e.g. Base64)?

[2019-05-20 17:16] erryB commented on #1154
Hi @sophokles73

The comparison of Kafka to Event Hubs features is described in [this page](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview). Basically Event Hubs provides an endpoint which can be used by Kafka applications. In the overall evaluation, though, we also need to take into account some limitations which can become relevant in multi-tenant scena

[2019-05-21 05:52] sophokles73 commented on #1190
There simply is no need at all for encoding the binary data when put into a Data section. An AMQP Data section contains raw bytes. That is also what the device sends: raw bytes. You only need to encode the data e.g. using Base64 if you want to put it into a JSON structure ...

[2019-05-21 06:08] sophokles73 commented on #1154
Ok, I see. So each Event Hub instance within a Namespace corresponds to a *Topic* within a Kafka cluster.
My understanding is that I can create multiple (how many?) Event Hubs per namespace and, as you indicated, a limited number of Namespaces per subscription. For the moment, I just want to make sure, that I understand all options that are on the table ...

[2019-05-21 07:56] BobClaerhout commented on #1190
Ok.

[2019-05-21 08:25] mhemmeter commented on #1190
Understood. If that's the preferred way of the community let's go for it. However this breaks the API of our commercial product and prevents us from switching to the upstream version of the LoRaWAN Protocol Adapter short term.

[2019-05-21 11:37] erryB commented on #1154
Yes that's correct. You can create up to 10 Event Hubs per EH Namespace and up to 100 EH Namespaces per subscription. [Here](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas) you can find all the details and other limits.

[2019-05-21 11:44] sophokles73 commented on #1154
@erryB thanks for the info, Erica. This is very helpful for considering which approach could/will work for us.

[2019-05-21 11:54] calohmn commented on #1245
The suggested changes for this issue concerning the Device Registration API (AMQP) are:
- New mandatory operation `Update last-used gateway for device` for the AMQP interface.
In `RegistrationService` this looks like:
`Future<Void> updateLastUsedGateway(String tenantId, String deviceId, String gatewayId, Span span)`
- New mandatory operation `Get last-used gateway for device` for the AMQP interfac

[2019-05-21 12:52] calohmn commented on #1073
@sophokles73, @ctron comments on the above?

[2019-05-21 14:54] BobClaerhout commented on #1190
In fact, I still do not agree :)
Other properties (e.g.: orig_adapter, orig_address, gateway_id, ...) are not prefixed by `hono_` so I would omit the prefix and just have properties like geo_location, rss, ...

[2019-05-22 06:45] sophokles73 commented on #1190
@BobClaerhout are you concerned about using a common prefix like  `hono_` in general or is it because we already have some properties that do not contain the prefix (yet), resulting in *inconsistent* behavior?

[2019-05-22 06:58] sophokles73 commented on #1073
@calohmn I wonder why supporting the old reply address would require changes in `CommandConsumerFactory`? FMPOV the client classes we provide already *only* use the new addresses, both for sending commands as well as for receiving responses. However, we still support `control/${tenant_id}/${device_id}` for sending commands on the dispatch router so if an application uses the old address. If an app

[2019-05-22 07:02] sophokles73 commented on #1245
sounds good to me

[2019-05-22 07:19] BobClaerhout commented on #1190
It is because of the inconsistent behavior

[2019-05-22 07:39] sophokles73 commented on #1190
But do you agree that it is helpful to use a common prefix so that we can prevent clashes between Hono defined and *custom* properties?

[2019-05-22 07:51] calohmn commented on #1073
That was just my initial assumption when seeing that the `getCommandResponseSender` method creates a `CommandResponseSender` that will always prepend a fixed prefix ("control" or soon "control_response") to the replyToId address part when sending the command response back to the application.

But upon closer inspection that looks unnecessary. I now want to encode the info about the "control" prefi

[2019-05-22 08:19] calohmn opened #1250 "Fix failing TelemetryHttpIT.testUploadMessagesWithTtdThatDoNotReplyWithCommand"
Recently, there have been been some integration tests failures with this error:
[code]

Log excerpt:
[code]

For comparison: Excerpt of a successful run of this test:
[code]

[2019-05-22 11:18] BobClaerhout commented on #1190
If I would have to choose, I would not use the prefix. But I do not have a strong opinion on this (hence my previous agreement). I just noticed other properties are not prefixed so in that case I wouldn't add the hono prefix for these properties neither.
Regarding your comment to prevent the clashes. If somebody is adding other properties, he/she can always prefix this with something else to avoid

[2019-05-22 11:26] sophokles73 commented on #1235
I think I see what you mean. Currently, the Helm based deployment allows to specify the Kubernetes namespace to release into. However, in several places of the resource descriptors and config files, we assume the namespace to be `hono`.

[2019-05-22 11:28] #1235 closed

[2019-05-23 06:37] sophokles73 commented on #1250
@calohmn I have no idea what is happening in the failing case. The log also doesn't indicate anything to me. Do you have any clue?

[2019-05-23 06:39] sophokles73 commented on #1250
Maybe we run into a timing issue/race condition because the TTD value specified by the device is just 1 sec. and the establishment of the command receiver links takes longer than that?

[2019-05-23 09:37] calohmn opened #1255 "Support tenant-scoped CommandClient"
With the changes for #930, the sender link for sending commands is scoped on the tenant now.

That means there only needs to be one sender link on which all commands for devices of one particular tenant can be sent.

However, the current `CommandClient` and `AsyncCommandClient` instances are geared towards a particular device. The underlying sender link can't be shared for sending commands for dif

[2019-05-23 09:54] sophokles73 commented on #1255
IMHO we should replace the existing methods with methods accepting the device ID, i.e. we should change the clients' underlying sender link to be always scoped to the tenant instead of the device.

[2019-05-23 12:01] BobClaerhout commented on #1190
I've updated the PR according to this discussion.
Currently the prefix is not there.

[2019-05-24 09:50] calohmn commented on #1255
@sophokles73 For the `AsyncCommandClient` class this looks like the straightforward solution.

For the `CommandClient` class however, we have to take into account that there is a command response receiver link *scoped on the device* being opened there. This requires some more thought.

[2019-05-24 12:02] calohmn commented on #1073
@sophokles73 Actually, there is a change to the `CommandConsumerFactory` interface needed:
The command response sender link with either the "control" or "control_response" address prefix is created via the `getCommandResponseSender` method. From its parameters `tenantId` and `replyId` the decision between whether to use "control" or "control_response" can't be made. In the invoking method, this in

[2019-05-24 15:37] #1190 closed

[2019-05-27 12:31] calohmn commented on #1073
As suggested by @sophokles73, a solution that is easier to implement would be to keep the command *response* address pattern the same ("control"). For the command requests, the "command" prefix (instead of "control_request") will be newly introduced.

The changes would then be:
- Next Hono milestone (M4):
  - Introduce new `command/${tenant_id}` endpoint for sending commands (with gateway-mapping

[2019-05-27 13:54] wklenk commented on #623
I also would like to vote for support of multiple trusted CAs per tenant. Reason is that our solution uses devices from multiple hardware manufactures. We cannot prescribe these manufacturers which root CAs to build their certificate chain on.

[2019-05-27 13:56] sophokles73 commented on #623
Just out of curiosity: who controls the provisioning of the client certs in this case? The HW manufacturer or the owner of the devices?

[2019-05-27 14:47] wklenk commented on #623
As the client certificate (chain) is put on the device at the end of the manufacturing process, I think the manufacturer controls the provisioning of the client certificates.

[2019-05-27 15:09] sophokles73 commented on #623
Does this mean that if I buy such a device, then I have to trust the manufacturer to correctly set up a PKI and that I have no control over how the device authenticates to the Hono protocol adapter?

[2019-05-27 15:26] wklenk commented on #623
Mhh, yes, you have to trust that the manufacturer sets up and operates his PKI in a reasonable way. As all manufacturers of this specific type of device are members of a consortium, there may be a set of rules and specifications to follow.
As an owner of the device, why should you be interested how the device connects to Hono (MQTT or HTTP)?

[2019-05-28 05:56] sophokles73 commented on #623
I can understand that you would not care much if you bought a solution from a provider which includes devices and the solution in the cloud that the devices are integrated with. The devices in that case would connect to the providers' back end and is therefore also responsible for making this as safe as possible.

However, if I buy devices from multiple vendors and want to integrate them with my o

[2019-05-28 06:58] sophokles73 commented on #623
The whole idea of a trust anchor is to be able to validate certificate chains rooted at a given set of (trusted) public keys. When validating the chain, the trust anchor to use is chosen/set based on arbitrary criteria. The criteria used so far in Hono is: find the (single) public key that has been registered for a particular subject DN.

A common use case for having multiple public keys per tenan

[2019-05-28 12:09] calohmn commented on #1250
Log excerpt with extra debug output:
[code]

[2019-05-28 12:14] sophokles73 commented on #1250
@calohmn the second message doesn't seem to have a TTD value on it. That is unexpected ....

[2019-05-28 12:19] calohmn commented on #1250
The above log excerpt shows that there is a `cannot create concurrent command consumer` exception when processing the 2nd message. This causes the `commandConsumerTracker.result()` to be null and a `null` ttd value to be used when sending the message downstream.

It seems to be that the consumer link is not closed in time before the next message is processed.
To me it looks like we might want to c

[2019-05-28 13:21] calohmn commented on #1073
The disadvantage of the above easier-to-implement solution would be a somewhat inconsistent naming scheme: Only the Downstream Application sender link has the "command" prefix. Downstream Application receiver link, device subscription address and device command response address have the "control" prefix.

If we want to stick with the "command" prefix instead of "control", we could

**Option A:**
-

[2019-05-28 15:05] sophokles73 commented on #1250
I think that we cannot do that because we need to send a disposition frame to the sender of the command based on the outcome of the HTTP adapter's attempt to send the response (containing the command) to the device ...

[2019-05-28 15:27] kaniyan opened #1262 "MQTT Adapter: Close device connection when a telemetry/event message cannot be processed."
A device publishes an _event/telemetry_ message with _QoS 1_. The _MQTT adapter_ after successfully establishing the device connection, realizes that the message cannot be _processed_ e.g _no credit available_, _the message limit is exceeded_ etc.  In this case the device remains connected and keeps waiting for the `PUBACK` packet from the Hono.

Similar scenario is when a device publishes a _tele

[2019-05-28 16:08] sophokles73 commented on #1262
From the spec:

Client; it has no way of informing that Client. It MUST either make a positive
acknowledgement, according to the normal QoS rules, or close the Network
Connection.

First, this seems to refer to a case where the server considers the client to *not be authorized* to PUBLISH the message. Your example is about insufficient credits, though, which seems to be a different case FMPOV. How

[2019-05-29 12:16] ctron commented on #1262
I made the experience that e.g. Paho doesn't handle missing ACKs very well. As it simply seems to follow the spec and waits/blocks until all ACKs have been received.

With QoS 1 the clients wait for an ACK, as the remote side either sends an ACK, or is expected to close the connection.

So I agree that the client also has to handle the situation where the ACK is missing/lost due to other connectio

[2019-05-29 12:48] kaniyan commented on #1262
I also have the same experience with _MQTT_ clients (Paho and mosquitto clients) which kept waiting indefinitely. IMHO it is better to keep the behavior of the `MQTT` communication in Hono as close to the `MQTT spec` as possible. Thereby users can always refer to it.

+1. Waiting for the ACK even for a defined period of time also adds overhead to the IoT devices. Since the server already knows tha

[2019-05-29 14:33] sophokles73 commented on #1262
@dejanb @calohmn what's your opinion on this?

[2019-05-29 14:35] sophokles73 commented on #1250
fixed in https://github.com/eclipse/hono/commit/b069d40c8e02da2f7fa67dedfc0422f86e3b1028

[2019-05-29 14:35] #1250 closed

[2019-05-30 07:41] sophokles73 commented on #929
fixed in https://github.com/eclipse/hono/commit/84eb7b0e7c704fcbcc9c688a4efac91b02a79ecb

[2019-05-30 07:41] #929 closed

[2019-05-30 12:30] sophokles73 opened #1266 "Support ECC based certificates"
Hono's protocol adapters should be able to use ECC based server certificates and should be able to authenticate devices presenting an ECC based client certificate that contains an ECDSA signature.

[2019-05-30 12:37] #1266 closed

[2019-05-31 07:15] sophokles73 opened #1267 "File based Device Registry allows modification of data"
The sandbox runs the file based device registry with the *modificationAllowed* configuration flag set to `false`. However, the *last-via* property of a device gets updated anyway.

[2019-05-31 09:10] sophokles73 opened #1268 "Gateway mode on Sandbox does not work"
Trying to use device 4711 to upload data on behalf of device 4712 yields a *gateway unauthorized* result, even if device 4712's *via* property contains `4711`.

[2019-05-31 09:31] #1267 closed

[2019-05-31 09:31] #1268 closed

[2019-05-31 10:35] sophokles73 commented on #1102
@ctron is this done with the OpenAPI spec included in 1.0-M4? Or does this issue also cover the implementation?

[2019-05-31 11:35] ctron commented on #1102
I would see the actual implementation as part of this issue as well.

[2019-06-03 08:11] calohmn commented on #1255
With the `CommandClientImpl` being an `AbstractHonoClient` with one `ProtonSender` and one `ProtonReceiver` we would have to override quite some of the base class functionality in order to handle multiple *device-scoped* command response receiver links (not opening and closing them on every `sendCommand`). I would rather keep the `CommandClientImpl` device-scoped, but handle re-use of the tenant-s

[2019-06-03 09:10] calohmn commented on #1262
Defaulting to closing the connection sounds reasonable to me.

As to whether to make it configurable:
Thinking of a heterogenous client landscape concerning one specific tenant, making it configurable for just the tenant might cause people to want to make it also configurable on a per-device basis.
But I don't know if we want to go this way and introduce such technical details in device data.

How

[2019-06-03 09:42] sophokles73 commented on #1255
isn't the intended behavior of the CommandClient the one that we already have in all the other Device Registry clients i.e. using a single set of sender and receiver links for multiple requests?

[2019-06-03 11:30] calohmn commented on #1255
Yes, the CommandClient would have a single device-scoped Command receiver link and the tenant-scoped Command sender link, provided by and shared via the  ApplicationClientFactory / CommandClientFactory instance. Both would be used for multiple requests. Or what have you been aiming at?

[2019-06-03 11:49] sophokles73 commented on #1255
Well, I would not call it *scoped to a single device* but rather *scoped to a single UUID* c´generated on instantiation, right?

[2019-06-03 14:45] sophokles73 opened #1269 "Remove deprecated operations from Tenant API"
The (optional) operations that have been marked as deprecated need to be removed from the Tenant API spec.

[2019-06-03 14:47] sophokles73 opened #1270 "Remove deprecated operations from Credentials API"
The (optional) operations that have been marked as deprecated need to be removed from the Credentials API spec.

[2019-06-03 14:49] sophokles73 opened #1271 "Remove optional operations from Device Registration API"
The (optional) operations that have been marked as deprecated need to be removed from the Device Registration API spec.

[2019-06-04 08:14] ctron commented on #1073
* I would prefer it if the endpoint name for `Command` would actually be `command` and not `control`. That is somewhat confusing for people at the moment.
* I would also prefer it to be explicit in naming (so `command_request` and `command_response`).
* I also think it might make sense that actually think about shrinking the actual address names (e.g. `response` instead of `command_response`). I t

[2019-06-04 08:34] sophokles73 commented on #1073
and then

Not sure if I understand correctly what you actually prefer. Is it just `command` or `command_request`?

[2019-06-04 08:39] sophokles73 commented on #1073
Regardless of what we chose as the *new* endpoint name(s), we will need to keep the existing endpoints for some time.

That said, I also like using `command` (and its short version `c`) for sending commands to devices.

However, I am a little concerned that using just `response` as the endpoint for sending and receiving response messages in reply to the commands might be a little too generic.We mi

[2019-06-05 08:26] calohmn opened #1272 "Reduce number of Command & Control receiver links"
Currently there is one Command & Control receiver link *for each device*, opened from the protocol adapter instance to the AMQP network.
This link is on the address `control/$tenant/$device` (or `control/$tenant/$gateway` respectively).

It would be good if we could reduce that potentially large number of links.

As proposed by @sophokles73, we could use receiver links for each protocol adapter in

[2019-06-05 09:03] ctron commented on #1272
Wouldn't it make sense to allow the client side to also re-use that information in some way. Like passing along the protocol adapter ID in the telemetry messages and allow the client to send a command directly to that protocol adapter.

That would allow to forward the device command (after an inbound message) directly to the correct protocol adapter and prevent us from doing a lookup in order to f

[2019-06-05 09:18] ctron commented on #1073
I would prefer `command_request`. But on the other hand, that is quite long. And so, altough preferring the longer, more explicit version, I would still recommend to use `command`. Maybe someone has an idea to achieve both.

[2019-06-05 12:50] calohmn commented on #1272
I see that this would speed up routing of command messages.

However, I think we still need to support the use case that an application can send commands without having received the protocol adapter ID from Hono. E.g. there could be an MQTT device subscribed with ttd=-1 and the application could already have been restarted since getting the event with ttd=-1.

That means that this direct addressin

[2019-06-06 06:19] alexju88 opened #1275 "Failed to create SSL connection"
Hi Sir,
I'm trying to start a consumer according to link:https://www.eclipse.org/hono/getting-started/#starting-a-consumer, I extracted tls.crt certificate from Enmasse secret "external-certs-messaging" and decode it with base64.
**my command is as below:**
mvn spring-boot:run -Drun.arguments=--hono.client.host=192.168.0.92,--hono.client.port=32219,--hono.client.username=hono,--hono.client.passwor

[2019-06-06 06:26] sophokles73 commented on #1275
can you post the content of `target/config/hono-demo-certs-jar/tls.crt`

[2019-06-06 06:44] alexju88 commented on #1275
-----BEGIN CERTIFICATE-----
MIIDXDCCAkSgAwIBAgIJAO2iBi+nmRNCMA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTkwNTIxMDIyODM3WhcNNDkwNzAyMDIyODM3WjBCMRMw
EQYDVQQKDAppby5lbm1hc3NlMSswKQYDVQQDDCJtZXNzYWdpbmctNjJvYWQ1azAw
ZC5ob25vLXRlc3Quc3ZjMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
z1FhsvxOjK0mtqxXVXTYb7R46xq0n3//2Iob8K8yPha/Z9N

[2019-06-06 06:44] alexju88 commented on #1275
-----BEGIN CERTIFICATE-----
MIIDXDCCAkSgAwIBAgIJAO2iBi+nmRNCMA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTkwNTIxMDIyODM3WhcNNDkwNzAyMDIyODM3WjBCMRMw
EQYDVQQKDAppby5lbm1hc3NlMSswKQYDVQQDDCJtZXNzYWdpbmctNjJvYWQ1azAw
ZC5ob25vLXRlc3Quc3ZjMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
z1FhsvxOjK0mtqxXVXTYb7R46xq0n3//2Iob8K8yPha/Z9N

[2019-06-06 06:46] alexju88 commented on #1275
And I tried to import the ca.crt and tls.crt of Enmasse secret "external-certs-messaging" into java default truststore "/etc/pki/ca-trust/extracted/java/cacerts", and try below command:

mvn spring-boot:run -Drun.arguments=--hono.client.host=192.168.0.92,--hono.client.port=32219,--hono.client.username=hono,--hono.client.password=hono_iot_2019,--hono.client.trustStorePath=/etc/pki/ca-trust/extracte

[2019-06-06 06:57] sophokles73 commented on #1275
There is no need to import any of the certificates into Java's default trust store. In fact, I strongly discourage you from doing so because this might affect the security of other applications based on Java that you run on your platform.

I think the problem you are running into is the fact that you are specifying the wrong certificate file as the trust store on the command line. The server sends

[2019-06-06 07:23] alexju88 commented on #1275
I tried ca.crt but meet same error with tls.crt, if I use cacerts as trustStorePath, the result is "failed to authenticate" and Enmasse application also get similar error log. That means SSL connection has been established, credential has been passed from Consumer to Enmasse. So I guess may be user account "hono" in Enmasse has problem.  Enmasse checked the credential from consumer application and

[2019-06-06 07:59] sophokles73 commented on #1275
can you try to run
[code]
and post the output?

[2019-06-06 09:17] alexju88 commented on #1275
I run it and get same error:

17:10:28.365 [main] INFO  org.eclipse.hono.cli.Application - running command line client in role(s): receiver,ssl
17:10:28.980 [main] INFO  org.eclipse.hono.cli.Application - Started Application in 1.608 seconds (JVM running for 6.205)
17:10:30.816 [vert.x-eventloop-thread-0] INFO  o.e.hono.client.impl.HonoClientImpl - max number of attempts [3] to re-connect to peer

[2019-06-06 09:39] alexju88 commented on #1275
Hi,
I think SSL connection has been established and authentication is not a problem now, but we meet a new problem as below:

WARNING: Please consider reporting this to the maintainers of org.springframework.cglib.core.ReflectUtils$1
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a futur

[2019-06-06 09:39] sophokles73 commented on #1275
Ok then let's start debugging the TLS handshake.
It would be easier if you started the consumer using the cli client jar file instead of using the spring-boot Maven plugin.

Please run
[code]

[2019-06-06 09:39] alexju88 commented on #1275
mvn command:

mvn spring-boot:run -Drun.arguments=--hono.client.host=192.168.0.92,--hono.client.port=32220,--hono.client.username=hono,--hono.client.password=hono_iot_2019,--hono.client.trustStorePath=/etc/pki/ca-trust/extracted/java/cacerts

[2019-06-06 09:44] alexju88 commented on #1275
Thanks, where can I find hono-cli-*-exec.jar ? I can't find it in target folder ..

[2019-06-06 09:45] sophokles73 commented on #1275
what is the content of the target folder?

[2019-06-06 09:59] alexju88 commented on #1275
target content is as below:

[root@cnhwmn01-test target]# ll
total 28
drwxr-xr-x 3 root root 4096 May 21 15:26 classes
drwxr-xr-x 5 root root 4096 Apr 28 11:05 config
drwxr-xr-x 2 root root 4096 Apr 16 15:30 dependency-maven-plugin-markers
drwxr-xr-x 3 root root 4096 Apr 16 15:30 generated-sources
drwxr-xr-x 3 root root 4096 Apr 16 15:30 generated-test-sources
drwxr-xr-x 3 root root 4096 Apr 16 15

[2019-06-06 10:00] alexju88 commented on #1275
[root@cnhwmn01-test target]# tree
.
├── classes
│   ├── application.yml
│   ├── banner.txt
│   ├── logback-spring.xml
│   └── org
│       └── eclipse
│           └── hono
│               └── cli
│                   ├── AbstractCliClient.class
│                   ├── AbstractClient.class
│                   ├── AmqpSend$1.class
│                   ├── AmqpSend.class
│                   ├── AppConfi

[2019-06-06 10:00] sophokles73 commented on #1275
Are you following the Getting Started guide to build and deploy Hono or are you deploying pre-built images from Docker Hub?

[2019-06-06 10:03] alexju88 commented on #1275
We  followed the Getting Started guide and use helm+tiller to deploy Hono.
Tenant,device,credentials functions are all OK, only telemetry data can not been pushed to consumer.
 So how can we get that jar file? could you upload it to Github other repo ?

[2019-06-06 11:38] sophokles73 commented on #1269
fixed in b966b326368dd82b38cb85c82819a886cabbde6c

[2019-06-06 11:38] #1269 closed

[2019-06-06 12:58] calohmn opened #1276 "Add explicit support for request/response communication pattern (device to application)"
This issue is about a use case where a device sends a request message and expects a corresponding response from a northbound application.

Such a scenario can already be implemented with Hono. The device can send a telemetry/event message with a correlation id property/parameter and with a `ttd` parameter (signaling its readiness to receive a command message). The northbound application can send a

[2019-06-06 15:04] calohmn commented on #1276
Initial idea:

**Device side: Sending the request message**
- to the MQTT adapter:
  - device chooses a correlation id
  - device subscribes to a topic `req_resp/${tenant-id}/${device-id}/resp/${correlation-id}/#`
  - device publishes request to `req_resp/${tenant-id}/${device-id}/req/${correlation-id}`
- to the HTTP adapter:
  - device chooses a correlation id (could also be described as request

[2019-06-07 11:32] calohmn commented on #1073
Just `command` for the request would be fine with me.

So, to sum it up, choosing `command_response` over just using `response` (which I also find too generic), we would end up with option A from above

[2019-06-07 11:50] sophokles73 commented on #1073
not sure but I think that should be:

[2019-06-07 13:17] calohmn commented on #1073
@sophokles73 Yes, however that would apply only for the AMQP adapter endpoint.

For HTTP and MQTT adapters, we would just add new `command` endpoints:
HTTP command response: `/command/res/${commandRequestId}`
MQTT command response: `command///res/${req-id}/${status}`

[2019-06-10 02:10] alexju88 commented on #1275
Hi Sir, I tried java client and error is same with mvn:"Node not found":

10:09:30.420 [main] INFO  org.eclipse.hono.cli.Application - Starting Application v0.9 on cnhwmn01-test with PID 28155 (/opt/hono/test/jar/hono-cli-0.9-exec.jar started by root in /opt/hono/test/jar)
10:09:30.423 [main] INFO  org.eclipse.hono.cli.Application - The following profiles are active: receiver,ssl
10:09:30.495 [mai

[2019-06-10 02:13] alexju88 commented on #1275
Authentication with Enmasse is OK since if I change password to connect it will show authentication error.

[2019-06-10 06:02] alexju88 commented on #1275
Problem solved. Thanks! @sophokles73

[2019-06-10 06:02] #1275 closed

[2019-06-11 07:12] alexju88 opened #1282 "503 Service Unavailable when I Publish an Event"
Hi Sir,
I have successfully publish an telemetry to Enmasse and receive it in consumer, but when I try to publish an event, the command will meet 503 service unavailable problem.

**My command:**
curl -i -X POST -u s01@alexju:guess -H 'Content-Type: application/json'  --data-binary '{"alarm": true}' http://192.168.0.92:30080/event/

**My enmasse user** has full access for any address as here : htt

[2019-06-11 15:59] kaniyan opened #1284 "Extend message limit check to include commands"
With the implementation of  #929, Hono now supports _message limit checks_ for _telemetry_ and _event_ messages. This needs to be extended to cover the _commands_ being sent from north bound applications. Also the protocol adapters should be enabled to verify the _message limit_ before accepting _commands_ from north bound applications.

[2019-06-13 11:52] ctron opened #1286 "HonoConnectionImpl throws NPE"
I just noticed this in the log:

[code]

<details>
<summary>Full stack trace</summary>

[code]

</details>

[2019-06-13 11:54] ctron commented on #1286
It also looks like as if following requests fail with `already creating client for key`

[2019-06-13 12:24] sophokles73 commented on #1286
Is there a way to reproduce this?

[2019-06-13 12:30] ctron commented on #1286
I haven't found one. But I didn't really try.

What I was doing was to quickly send telemetry requests during the startup of the protocol adapter.

[2019-06-13 14:44] kaniyan opened #1287 "Add metrics to keep track of the total time the devices are connected to Hono"
Add metrics to keep track of the total time the devices are connected to Hono per tenant.

Currently there are metrics in Hono to track the number of simultaneous device connections. In addition to it, it is also valuable to track how long the devices are connected to Hono per tenant.   This can also be used to effectively manage the resources by setting the _resource-limits_ and also shown in the

[2019-06-13 15:33] DanielMaier-BSI opened #1288 "flowLatency delays creation of senders unnecessarily long"
Hi,

when someone configures flowLatency in hono client, hono client will delay creation of a sender by flowLatency if no credits are available immediately. Given the following setup:

- flowLatency of 200ms leads to no credit issues in our infrastructure from time to time
- So I thought flowLatency of 1000ms should be really enough even in our setup

We now get "always" credits, however the creat

[2019-06-13 16:09] sophokles73 commented on #1288
You should always get your infrastructure fixed in any case :-) That said, I think that we could (should) improve the code for establishing a sender link in `HonoConnectionImpl.createSender()` so that it registers a *send queue drain handler* in case no credit is available yet. The timer for the *flow latency* would then only act to limit the time to wait for credit to an upper limit. However, if

[2019-06-13 16:12] kaniyan opened #1289 "Delivery outcome is always 'accepted' in northbound side while sending commands"
A northbound application sends a command to a device. The protocol adapter (tried with _MQTT_ and _AMQP_ adapters) sends back a _rejected_ disposition. This information is not cascaded to the northbound application and thereby the application waits until the time out expires.

`CommandClient` implementation uses `AbstractRequestResponseClient.sendRequest(Message message, Handler<ProtonDelivery> on

[2019-06-14 08:03] calohmn commented on #1289
It looks like the reason is, that the CommandConsumer in the protocol adapter has `ProtonReceiver.isAutoAccept` set in its receiver.
Since the proper delivery update (with `rejected` outcome) by the protocol adapter is done asynchronously and not directly in the message handler of the receiver, the receiver will send an `accepted` disposition frame.

[2019-06-14 08:36] calohmn commented on #1286
We also just encountered this issue. It looks like it could have something to do with a previous connection error:
[code]
Comparing the current code with the one from 0.9 (HonoClientImpl), one difference is that now there is no `checkConnected()` invocation preceding the receiver creation anymore.

[2019-06-14 08:39] #1271 closed

[2019-06-14 10:08] sophokles73 commented on #1286
@calohmn that might indeed be the problem. At least this would explain the behavior wrt the context that the problem occurred in for @ctron. Looks like the downstream connection(s) were not established yet when the devices started to send telemetry ...

[2019-06-14 11:34] ctron commented on #1282
I think you are using wrong address names. Instead of just `telemetry` you need to add the tenant e.g.: `telemetry/DEFAULT_TENANT`

[2019-06-14 13:16] calohmn commented on #1286
Reproducible with the Lora protocol adapter: It tries to open command consumer links on startup. This is currently done in `AbstractVertxBasedHttpProtocolAdapter.onStartupSuccess`. But in that method, the `commandConsumerFactory` connection might not have been connected yet (see `AbstractProtocolAdapterBase.startInternal`).

[2019-06-14 13:32] #1270 closed

[2019-06-14 14:57] DanielMaier-BSI commented on #1288
I will try to provide a PR next week.

One additional question out of curiosity: This solution would work fine for command response clients as they get newly created for every single response. As you mentioned in another issue for telemetry connection in protocol adapters this is not true. If there are multiple messages for the same tenant concurrently all but the first will still get a 503 error.

[2019-06-17 07:31] sophokles73 commented on #1288
We did not introduce a *message buffer* but a request to create a downstream sender will be retried for several times if a concurrent request is in progress already. This should improve the situation to some extent.

[2019-06-18 07:26] alinaserg opened #1296 "Feature request: Just-in-Time device provisioning"
We have got a new requirement to register devices when they attempt to connect to the IoT platform the first time. The provisioning setting should be done based on X.509 client certificate.
What do you think regarding this feature?

[2019-06-18 08:22] sophokles73 opened #1297 "Upgrade to Spring Boot 2"
Spring Boot 1 will run out of support August 1st 2019 as indicated in [this blog post](https://spring.io/blog/2018/07/30/spring-boot-1-x-eol-aug-1st-2019)

IMHO we should include this upgrade in the 1.0 release already.

This will also entail upgrading to Spring 5 AFAIK

[2019-06-18 10:59] calohmn commented on #1286
I've added a `checkConnected()` invocation in `HonoConnection` when creating a sender/receiver. I've also fixed the LoraAdapter to create the consumers only after the connection has been made.
That should fix the NPE.

As a further improvement we could think about introducing some kind of retry mechanism here so that temporary disconnects lead to fewer errors.

[2019-06-18 11:28] kaniyan commented on #1297
The latest spring boot GA release is [2.1.5](https://spring.io/projects/spring-boot#learn). Spring Framework 5.1.7.RELEASE or above is [required](https://docs.spring.io/spring-boot/docs/current/reference/html/getting-started-system-requirements.html).

[2019-06-18 13:42] sophokles73 commented on #1288
fixed in https://github.com/eclipse/hono/commit/8f50891a1520bb02cca1aa4bd729ec7193f3351c

[2019-06-18 13:42] #1288 closed

[2019-06-18 14:12] sophokles73 commented on #1286
@calohmn @ctron can this be closed?

[2019-06-19 07:29] sophokles73 commented on #1296
Not sure what you mean by *IoT platform*. I assume you are talking about Eclipse Hono and the device connecting to e.g. the MQTT protocol adapter, presenting an X.509 client certificate for authentication, right?

[2019-06-19 07:32] alinaserg commented on #1296
Yes, you are right.

[2019-06-19 07:52] ctron commented on #1286
As I didn't use the lora adapter, is that still fixed with the other adapters as well?

[2019-06-19 08:25] calohmn commented on #1286
Yes, the extra `checkConnected()` check in `HonoConnectionImpl` prevents the NPE.

[2019-06-19 08:30] calohmn commented on #1286
Therefore closing this.

[2019-06-19 08:30] #1286 closed

[2019-06-19 11:03] alinaserg commented on #1296
Under just-in-time provisioning we understand the following: not provisioned in Hono devices attempt to establish the first connection (in our case devices connect via MQTT protocol Adapter) using a certificate. As the devices are not provisioned, the automatically registration of the devices should be started (Device Registry API should be called), if the devices have valid certificates. No manua

[2019-06-19 11:14] sophokles73 commented on #1296
So, in any case, the corresponding tenant(s) that the devices belong to would need to have been created upfront, along with the trusted CAs that should be used for authenticating the (unregistered) devices.

That said, trying to use the Device Registration API for the purpose of adding an unknown device would not work anymore because we decided to remove the optional operations from all of Hono's

[2019-06-19 11:31] alinaserg commented on #1296
The second option sounds interesting for us. Do you need some more information from us or it is already enough for you to accept it as a request for a new feature?

[2019-06-19 11:35] b-abel opened #1302 "Re-add links to stable version in documentation."
Until the 1.0 release there is no version of Hono, that is considered the "stable" version. Therefore all links in the code pointing to version `stable` have been replaced by links to `latest`. This was done by simply replacing each occurrence of the string "/docs/stable" by "/docs/latest".

This needs to be reverted right after the release of version 1.0.

**Do not replace every occurrence of "/d

[2019-06-19 16:08] sophokles73 commented on #1109
@b-abel I think we can consider this fixed and close the issue. All remaining changes are basically improvements of the existing content but are not related to changing the theme, right?

WDYT?

[2019-06-20 06:34] calohmn commented on #1286
As an afterthought here:
We also saw this NPE causing all following receiver creation requests on the given address to fail with `already creating client for key` (in `CachingClientFactory#getOrCreateClient()`.

Since this `getOrCreateClient()` method is used in quite many places and since bugs like the above NPE could be hard to spot with all the `already creating client for key` messages clutter

[2019-06-20 11:06] sophokles73 opened #1307 "Upgrade to Vert.x 3.7.1"
This also entails upgrading to Netty 4.1.34 and proton-j 0.33.1

[2019-06-20 11:41] b-abel commented on #1109
I agree.

[2019-06-20 11:41] #1109 closed

[2019-06-21 07:19] sophokles73 commented on #1262
At first I didn't think that this is actually mandated by the spec but in 4.8 this seems to be actually stated as a requirment:

detects a Transient Error it SHOULD NOT disconnect or have any other effect on its interactions with any
other Client.

So it seems that closing the connection on *any* problems we encounter processing an incoming message, actually seems to be what the spec expects us to

[2019-06-24 07:37] #1221 closed

[2019-06-24 07:55] #1091 closed

[2019-06-24 07:56] sophokles73 commented on #1073
@DanielMaier-BSI can we (i.e. you) close this issue now that the north bound endpoint prefix for command responses has been changed?

[2019-06-24 08:18] sophokles73 opened #1317 "Lower entry barrier for Getting Started guide"
We do not want to support Docker Swarm any longer in the guide and would also like to make it easier for a potential user to experience Hono's functionality without the need to check out the source code, compile it and set up a local Docker Swarm to deploy to.

Instead
* use the Sandbox if user can access it from local network
* otherwise use Minikube to run a local Kubernetes cluster to deploy to

[2019-06-25 06:47] #1073 closed

[2019-06-25 07:18] kaniyan commented on #1262
@sophokles73 :+1:

[2019-06-25 12:17] sophokles73 commented on #1282
@alexju88 is this still an issue? If not, can you close it?

[2019-06-26 08:41] #1289 closed

[2019-06-26 12:24] calohmn commented on #1255
Right, the command response receiver links are indeed scoped to the `replyId` - which may be an ID shared between commands for *different* devices.

In that sense the `CommandClient` instance can indeed keep just *one* command response receiver link to handle commands for multiple devices.

So yes, we can add a `deviceId` param to the `CommandClient#sendCommand` methods and refactor the `AbstractR

[2019-06-26 13:18] #1317 closed

[2019-06-26 13:27] #1245 closed

[2019-06-27 11:47] #1262 closed

[2019-06-27 12:00] sophokles73 commented on #1064
We keep the example devices and credentials in the example deployment. However, the Getting Started guide now lets the user create a new tenant, register a device and credentials as part of the guide.

Fixed via b08a16ca9f07dd7a25533064e606af462c74d881

[2019-06-27 12:00] #1064 closed

[2019-06-27 13:35] sophokles73 commented on #1297
CQs have been approved.

[2019-06-27 14:48] calohmn commented on #1255
Fixed via https://github.com/eclipse/hono/commit/409a8db4fd55edd49f7271bc11f306abee690c34 and https://github.com/eclipse/hono/commit/87fb11b6f837d0d5798aacffe6c2b3c3be03b150.

[2019-06-27 14:48] #1255 closed

[2019-06-28 07:06] calohmn opened #1326 "Helm deployment with Jaeger only succeeds on 2nd attempt"
When applying the Hono Helm deployment along with Jaeger
[code]
the deployment fails on the first attempt:
[code]

Only after deleting all resources:
[code]
and trying the deployment again does it succeed.
[code]

[2019-06-28 09:48] sophokles73 commented on #1297
fixed via https://github.com/eclipse/hono/pull/1303

[2019-06-28 09:48] #1297 closed

[2019-06-28 14:59] calohmn opened #1328 "Remove deprecated "control" endpoints"
This relates to #930 and #1073.

The old northbound and southbound "control" endpoints should be removed.
This also entails removing the bit flag encoded in the device-facing reply-to address (see `org.eclipse.hono.client.Command#FLAG_*`) and removing the "*LegacyEndpoint*" test classes (having `useLegacyCommandEndpoint` return true).

Note: The `CommandConsumerFactoryImpl` still needs to work wit

[2019-06-28 15:15] sophokles73 commented on #1307
Necessary CQs have been approved

[2019-07-01 07:24] calohmn commented on #930
Done.
In Hono 1.0 M4 still using the Device Registry for storing the gateway mapping.
In Hono 1.0 M5 using the new `Device Connection API`.

[2019-07-01 07:24] #930 closed

[2019-07-01 09:35] kaniyan opened #1330 "Report payload size of messages based on the configured minimum message size in HTTP, MQTT and AMQP Adapters"
Its also the case that the cloud providers set _minimum size_ for incoming messages. For example, lets say a _minimum message size_ is set to 4 KB. This can have an influence on how the number of messages or data volume are calculated.  A message of size 8KB is considered as two messages and another message with 10 KB is considered as three messages. Alternatively it can have influence on how data

[2019-07-01 15:53] sophokles73 commented on #1023
might also be related to #366

[2019-07-02 08:57] calohmn commented on #1210
@sophokles73 Concerning the `give Vert.x some time to clean up NetClient` comment below, does that mean there were issues with doing a direct reconnect with no delay here, so that we should use a minimum delay > 0? Would something like 10ms be enough?

https://github.com/eclipse/hono/blob/6a85919d1e1cc9c3f2849c88f5c642ab4778b799/client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.

[2019-07-02 09:50] #1307 closed

[2019-07-02 11:48] ctron opened #1332 "Start using major.minor.micro versions"
Currently Hono uses major.minor versions. I would suggest to start using major.minor.micro versions, beginning with the next milestone. But latest with version 1.0.0.

*    It is known as "semver" (https://semver.org/).
*    It is common model that many people (even outside of the Java context) do know and understand.
*    It would allow us to release service releases (after the 1.0 release), whic

[2019-07-02 15:19] sophokles73 commented on #1332
definitely
FMPOV we will release `1.0.0`, not `1.0`.

[2019-07-02 15:25] sophokles73 commented on #1272
IMHO it makes sense to work on this after we have removed the old `control` endpoint from the north bound C&C API (#1328), otherwise we will still have the old device scoped receiver links opened by the adapters ...

[2019-07-02 15:30] sophokles73 commented on #1210
@calohmn that's  a good question. I have no clue if this has ever really been a problem. If it was, it might have been related to the very early version of proton we have been using at that time so I guess you will simply need to try ...

[2019-07-02 17:22] mhp0rtal opened #1334 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => core/src/main/java/org/eclipse/hono/util/JwtHelper.java: Line number => 95: API name => SecretKeySpec:<BR> File name => core/src/main/java/org/eclipse/hono/util/JwtHelper.java: Line number => 95: API name => SecretKeySpec:<BR> File name => core/src/main/java/org/eclipse/hono/util/MessageDigestPasswordEncoder.java: Line number

[2019-07-03 12:29] calohmn opened #1336 "Support providing a trace context along with MQTT messages"
In order to have a complete overview of a telemetry/event message lifecycle in a tracing solution, it would be good to have the message related trace spans created in a protocol adapter be combined with trace spans created in the originating device/gateway. For that, the message reaching the protocol adapter must have trace context information and the protocol adapter must use these.

The HTTP ada

[2019-07-03 12:56] sophokles73 commented on #1336
If I am not mistaken, this would only work in scenarios where the device/gateway reports its spans to the same tracing system as the Hono components, right? I have a hard time imagining what kind of setup that would be?

[2019-07-03 13:25] calohmn commented on #1336
Yes, the same tracing system would need to be used (or at least tracing data of such 2 systems would have to be merged at some point).
Addmittedly, this is probably not very realistic for real-world scenarios. But it could be useful for having an integrated test environment (e.g. an overall health check), where the whole message lifecycle from device to northbound application is tested and can the

[2019-07-03 13:55] alinaserg opened #1337 "Support limiting the data volume per tenant for the remaining amount of days of the current calender month"
With the implementation of #929, Hono supports message limit check of data volume per time period. This time period can be defined e.g. in days.

The logic with limit check must be extended to limit the data volume not only for the time period but also on the calender month base. It means that the data volume is monthly calculated (the customer gets monthly data volume at the beginning of the mont

[2019-07-05 15:45] ctron opened #1339 "Mismatch expectation towards correlation ID"
Looking at the documentation, it looks like the "correlation id" **optional**:

* https://www.eclipse.org/hono/docs/latest/api/command-and-control-api/#send-a-one-way-command
* https://www.eclipse.org/hono/docs/latest/api/command-and-control-api/#send-a-request-response-command

However, looking at the actual code, this looks different:

https://github.com/eclipse/hono/blob/1574f9b3297d47a94ec465c

[2019-07-05 15:59] ctron commented on #1339
Ok, this is confusing: The actual thing which should be checked here is "message id". The message id is mandatory.

However, if the message ID is missing, Hono complains about the "correlation ID". This is wrong IMHO.

Also, does it complain about a **missing** ID, in the case the ID is not of type "string". I am not sure why non-strings are rejected, but even in that case it should say "message I

[2019-07-08 12:20] Alfusainey commented on #530
@sophokles73 I want to take a look into this but was wondering if its still an issue?

[2019-07-09 07:11] ctron commented on #1334
Hello @mhp0rtal,

I am sorry, but I find this report not really helpful. It looks like an output of some tool, without any further explanation. In addition it looks like this tool doesn't work well either.

For example:

https://github.com/eclipse/hono/blob/aa5232e6793d603a24ed3a7b2e8072882c34b316/core/src/main/java/org/eclipse/hono/auth/MessageDigestPasswordEncoder.java#L40

Line 40 in that file

[2019-07-09 08:47] calohmn commented on #1339
The naming of the `correlationId` variable is somewhat misleading here since it contains either the correlation id or the message id.

Regarding a request/response command, it looks to me that we should change the documentation to mark both `messageId` and `correlationId` as non-mandatory in the respective column but write that one of them MUST be set. We have the same kind of pattern already docu

[2019-07-09 09:08] Christian-Schmid opened #1340 "Policies for Device Credentials"
Hi,

this is kind of a feature request:

We would like to be able to define a password policy for the device credentials API.
With a policy it should be possible to define certain limitations / requirements for device credentials.

Some ideas we have in mind:
- Define a minimum number of characters  for passwords
- Define the possible set of characters for passwords
- Limit to certain credential t

[2019-07-09 12:45] calohmn commented on #1339
Regarding the check for type "string": I think we can support the other possible types (UnsignedLong, UUID, Binary) as well, pointing out in the docs that the correlation id of the command response will be the corresponding string value.

[2019-07-10 13:28] #1210 closed

[2019-07-10 14:11] sophokles73 commented on #1210
@calohmn IMHO you should also mention this enhancement in the release notes ...

[2019-07-10 15:56] calohmn opened #1345 "Error running CoAP integration tests ("Invalid argument")"
When running the Hono integration tests using the minikube VM as docker host, the CoAP tests fail with such an error:
[code]

[2019-07-10 15:58] ctron opened #1346 "Do not use vert.x EventBus in Device Registry anymore"
As discussed in today's community call, we want to think about dropping the use of the vertx event bus, between the communication endpoints and the service interfaces.

The proposal is to directly wire up the communication endpoint (like the HTTP device management endpoint, or the AMQP registration endpoint) with the service that implements the functionality.

This would reduce the complexity and

[2019-07-10 15:59] calohmn commented on #1345
The error also occurs when running the tests with `mvn verify -Prun-tests -Djava.net.preferIPv4Stack=true -Dit.test=TelemetryCoapIT`.

[2019-07-10 16:12] sophokles73 commented on #1345
Running `mvn verify -Prun-tests -Djava.net.preferIPv4Stack=true -Dit.test=TelemetryCoapIT` with a local Docker daemon on my Linux laptop succeeds. Does this only occur when using a *remote* Docker daemon or does it also fail on your machine when you use a local Docker daemon?

[2019-07-11 08:53] sophokles73 opened #1347 "Adapt Getting Started guide and Device Registy user guide to new HTTP Management API"
This needs to be done when we create the 1.0.0 release but not before, because the current documentation is supposed to cover 0.9.

[2019-07-11 11:09] sophokles73 commented on #1347
Hmm, on a second thought, that is probably not true, i.e. we currently only have *development* (i.e. *latest*) documentation that covers the current milestone. Once we have release 1.0.0 we will keep documentation for the *stable* version (1.0.0) and continue to update the *latest* documentation to cover what's going on on master ...

[2019-07-11 11:09] sophokles73 commented on #1347
@ctron @dejanb WDYT? Should we schedule this for the current milestone or for 1.0.0 only?

[2019-07-11 11:15] sophokles73 opened #1348 "Add production grade implementation of Device Connection service"
The implementation in the example Device Registry is based on a simple in-memory map and does not scale out. We should also have a horizontally scalable implementation for production environments.

[2019-07-11 16:11] kaniyan opened #1350 "Reject new connections from devices if the message limit has been reached"
The problem is that even though the message limit exceeds, we cannot prevent the _device/application_ from sending additional _telemetry/event/command_ messages, thus causing more and more costs. This has been discussed in the PR #1333, for more info refer [here](https://github.com/eclipse/hono/pull/1343#issuecomment-510426875).

Points discussed:
For stateful protocols like MQTT and AMQP,  that w

[2019-07-12 10:07] #1339 closed

[2019-07-12 10:12] calohmn commented on #1345
IIRC it worked when using a local Docker daemon.
I also get the error when using a remote Docker daemon with dockermachine.

[2019-07-12 10:24] dejanb commented on #1347
@sophokles73 I think it'd be good to start "releasing" documentation for the milestone releases as well for now. People are using it and depend on them, so having the docs available would make their lives easier (especially with a big change like this). I think it'd be good to have M5 documentation "tagged" and then we can modify docs for the master.

[2019-07-15 07:57] calohmn opened #1355 "Error during startup of example Device Registry"
During startup of the device registry component (with the new API), there is this error in the log file:
[code]
This points to the `via` entry in the `device-identities.json` not supporting a string value anymore but requiring an array now.

[2019-07-15 08:23] calohmn commented on #1355
I think, the fact that a `via` string value is not supported anymore should also be mentioned in the release-notes.

What about date entries like `2017-05-01T14:00:00+01:00` not working anymore - should we consider this a bug? Or just require the UTC format with the new API?

[2019-07-15 11:28] jbtrystram commented on #1346
I can't self-assign this i as I am not (yet?) a commiter, but I am working on this :)

[2019-07-15 12:25] calohmn commented on #1355
Regarding the date value in the credentials object:
_Previously_, the conversion from `String` to `Instant` was done manually (using `CredentialsObject#getTimestampIfPresentForField`, which uses `DateTimeFormatter.ISO_OFFSET_DATE_TIME`).

_Now_ the conversion is done via the `jsonObject.mapTo(CommonCredential.class)` invocation, which will use the `Json#InstantSerializer` (which uses `DateTimeForm

[2019-07-15 16:31] dejanb commented on #1355
@calohmn I think we can support single string converting to array using Jackson settings, so we can maintain backward compatibility in that way. I'll take a look into this.

[2019-07-15 17:03] dejanb commented on #1355
Hm, as far as I can see this date format is used in example and test credentials.

https://github.com/eclipse/hono/blob/master/tests/src/test/resources/deviceregistry/credentials.json#L12

 Can you give me the exact value that's causing this problem?

[2019-07-15 23:45] Alfusainey opened #1359 "Support multiple trust configurations in Device Registry HTTP API"
The new device registry `HTTP API` should support multiple trust configurations for a tenant. i will submit a patch for this issue once #1283 is merged

[2019-07-15 23:46] Alfusainey commented on #1359
i will submit a patch for this issue once #1283 is merged

[2019-07-16 07:48] sophokles73 opened #1360 "Clearly separate HTTP management API from Tenant, Device Registration and Credentials APIs"
The current implementation of the example device registry uses the same value objects for implementing the management API endpoints as well as the adapter facing APIs.
This seems problematic as it requires these value objects to consider the specifics of all of those APIs' content models instead of focusing on the requirements of the use case that each API has been designed to address. This makes

[2019-07-16 07:50] sophokles73 commented on #1360
@dejanb @ctron This is becoming an issue in the context of #1283 where the content model of the responses a protocol adapter expects starts to differ from the content model that is needed for managing tenants.

[2019-07-16 08:26] calohmn commented on #1355
I got the date related error after applying the Helm deployment in minikube and then GETting credentials for a device, so the value must have been this one:
https://github.com/eclipse/hono/blob/master/deploy/src/main/deploy/example-credentials.json#L12

[2019-07-16 08:34] calohmn commented on #1210
Yes, I've added a note there.

[2019-07-16 10:31] dejanb commented on #1355
@calohmn there's a pr for "via" issue. I'll take a look at the date format next.

[2019-07-16 10:58] sophokles73 commented on #1284
@kaniyan can this be closed?

[2019-07-16 11:00] sophokles73 commented on #1210
@calohmn can this be closed?

[2019-07-16 11:05] sophokles73 commented on #1337
just to be clear about this: the idea is that the amount of data is always the same for each (calendar) month while the number of days over which the limit is to be imposed varies between months, right?

[2019-07-16 11:07] sophokles73 commented on #1334
@mhp0rtal feel free to reopen if you have more information

[2019-07-16 11:07] #1334 closed

[2019-07-16 11:13] kaniyan commented on #1284
yes.

[2019-07-16 11:13] kaniyan commented on #1284
Fixed via [3e788a4](https://github.com/eclipse/hono/commit/3e788a43d8c0e39ceda2d85859ebc81753ee4565)

[2019-07-16 11:13] #1284 closed

[2019-07-16 13:03] Alfusainey commented on #1360
looking around a bit i see the ff. classes:

1. `org.eclipse.hono.service.management.device.Device` for storing device information
2. `org.eclipse.hono.service.management.tenant.Tenant` for storing tenant information (exactly similar to `TenantObject`)
3. `org.eclipse.hono.service.management.credentials.CommonCredential` and its subclasses for storing credentials information

which looks like dedi

[2019-07-16 13:33] dejanb commented on #1360
Yes, they are dedicated value objects for management API. We left the AMQP value objects in implementation because we wanted to keep the old data format in files and not change AMQP API classes. We should have proper mapping between two. I need to take a look at the exact problem we're having in this case.

[2019-07-16 14:15] sophokles73 commented on #530
@Alfusainey it is currently not a priority for me. However, if you would like to work on it, be my guest ...

[2019-07-16 14:43] calohmn commented on #1355
@dejanb One other thing concerning the credentials JSON structure:
I tried to adapt the example in the getting started guide to the new API and created a PUT request with a credentials JSON containing the `pwd-plain` field (as in the current example):
[code]
This was rejected with an exception, however.
 `UnrecognizedPropertyException: Unrecognized field "pwd-plain" (class org.eclipse.hono.service

[2019-07-16 14:54] Alfusainey commented on #1360
just to give a small context:

The `testGetTenantByCa` and `testGetTenantByCaFailsIfNotAuthorized` in the **TenantApiTests**  integration class does:

1.  A tenant add request with a JSON payload containing a single trust anchor and
2. Lookup the tenant using the subject-dn of the trust anchor added in (1)

However, the `TenantObject` class has been modified in #1283 to store a list of trust ancho

[2019-07-16 15:03] dejanb opened #1366 "Add spec version in the management API urls"
We should have version of the api present in the management API urls, for example

``` /v1/tenants```

instead of

```/tenants```

This will allow us to easier make changes to the specification and implementations in the future.

[2019-07-16 15:06] calohmn opened #1367 "Improve Device Registry API spec with examples, supported values"
Looking at the Open API spec for the Device Registry API
https://github.com/eclipse/hono/blob/master/site/documentation/static/api/device-registry-v1.yaml
I think we can improve its usability by adding more information about what kind of values are expected for the various fields.

Example:
For a PUT request on the `/credentials/` resource, the Swagger UI creates such an example value for the requ

[2019-07-17 06:40] ctron commented on #1360
But I think we are are changing the data model, then we might need to change the data model of the management API as well. If the tenant supports multiple trust anchors now, then we should change the HTTP API to align with that.

[2019-07-17 06:57] sophokles73 commented on #1360
@ctron that is true. It only seems that the syntax used by the management API and the adapter facing APIs are not (necessarily) the same anymore. In particular, some of the information that is required in the Tenant management API (e.g. the validity period of public key or the *cert* proeprty) will not even be included/supported in the Tenant API anymore. FMPOV it will be easier in the long term t

[2019-07-17 06:59] ctron commented on #1360
True! And we definitely can split them. And have separate objects. All that I am saying is, that they still should be aligned. If we add a new feature which is relevant to the other API (goes both ways) then we should make changes on both sides.

[2019-07-17 07:13] sophokles73 commented on #1360
@ctron absolutely, I think we're on the same page.

[2019-07-17 09:26] jbtrystram opened #1369 "Device registry doesn't start without a health check port configured"
The documentation specifies this property as not mandatory. Should we update the doc or is this a bug ?

edit : also , providing a value with an environment variable (i.e. `HONO_HEALTH_CHECK_PORT` do not work anymore)

[2019-07-17 09:53] jbtrystram opened #1370 "Creating a tenant or device with a generated ID refuses an empty body"
When I want to ceate a tenant or a device using the ID generation feature from the device registry, i would expect it to work even if the request body is empty. A workaround is to provide an empty JsonObject in the request body.

[2019-07-17 11:36] sophokles73 commented on #1370
I agree that this should work with an empty body (and no *content-type* header being set)

[2019-07-17 11:45] sophokles73 commented on #1369
Looking at the source code, it seems to me that this property has been required for quite some time. However, we might want to define a (reasonable) default value for it so that we do not need to explicitly set it?

[2019-07-17 14:15] jbtrystram commented on #1369
I don't see the value of it being a mandatory configuration value. A default value would be enough I think.
I'll have a quick look to add a default value.

[2019-07-17 15:17] sophokles73 commented on #1369
I guess the original idea was to not start the health check server at all, if no port has been configured explicitly. However, I do not see (m)any use cases where you would want to explicitly prevent the health check server from being started. In particular, since we are also using the health check server to expose the scraping endpoint for Prometheus ...
@dejanb @ctron WDYT?

[2019-07-18 09:34] calohmn opened #1377 "Support 'pwd-plain' when updating credentials"
Add support for using `pwd-plain` in a credentials secret when using the new device registry management API to update a credential.

[2019-07-18 09:38] calohmn commented on #1355
Ok, I've created #1377 for that.
To be noted is that `pwd-plain` is already used in PR #1371, updating the "getting started" guide to the new management API:
https://github.com/eclipse/hono/pull/1371/files#diff-2a45b0285f5e18c214c50a4d40f05f03R177

[2019-07-18 09:55] sophokles73 opened #1378 "Cannot retrieve example credentials from Device Registry"
Another issue occurs when trying to retrieve the example credentials for device 4711 via the new management API:
[code]
This points to date entries like `2017-05-01T14:00:00+01:00` in `credentials.json` causing such errors - only UTC (`2017-05-01T14:00:00Z`) being accepted there.

[2019-07-18 10:17] dejanb commented on #1355
@calohmn thanks!

[2019-07-18 12:43] #1370 closed

[2019-07-18 13:05] #1355 closed

[2019-07-18 13:09] #1102 closed

[2019-07-18 14:31] kaniyan opened #1381 "Report payload size of messages based on the configured minimum message size in COAP Adapter"
Equip _COAP_ Adapter, so that the message size is calculated based on the configured minimum message size. And the calculated value is reported to metrics.

Refer issue #1330 for more information.

[2019-07-18 14:57] jbtrystram commented on #1369
Configuring a value as an environment variable doesn't work either for the auth service, so it is not limited to the device registry.

[2019-07-18 15:07] #1359 closed

[2019-07-18 15:29] mbaeuerle opened #1383 "Health check configuration is missing in Auth Server docs"
Currently the health check configuration parameters are missing in the `Auth Server` docs:
https://www.eclipse.org/hono/docs/latest/admin-guide/auth-server-config/

To be specific these parameters can be set in the configuration but are missing in the docs:
[code]

[2019-07-18 17:21] sophokles73 commented on #1302
latest milestone is used as *stable* version until 1.0.0 is released.

[2019-07-18 17:21] #1302 closed

[2019-07-19 06:29] #1383 closed

[2019-07-19 06:34] sophokles73 commented on #1369
@jbtrystram please create a new issue for your problems with the environment variables not being picked up. This issue has been created for another reason ...

[2019-07-19 07:03] sophokles73 opened #1385 "Adapt Device Registry User Guide to new Management API"
The description of the HTTP endpoints exposed by the example Device Registry and the examples for using them need to be adapted to the new management API.

[2019-07-19 07:05] sophokles73 commented on #1238
closed via #1349

[2019-07-19 07:05] #1238 closed

[2019-07-19 07:06] sophokles73 commented on #1385
duplicate of #1347

[2019-07-19 07:06] #1385 closed

[2019-07-19 07:49] alinaserg commented on #1337
The amount of data is always the same for each calender month, but if the service is booked not at the beginning of the calender month, but a few days later the average amount of data per day must be calculated and of course will be differently for different calender months. It means that if the service booked on the 2nd of February and on the 2nd of May the calculated remaining data volume will b

[2019-07-19 08:06] jbtrystram opened #1386 "Health check configuration values are not picked up from environment variables"
When providing settings for the health check server through environment variables (i.e. `HONO_HEALTH_CHECK_INSECURE_PORT`) the values are not picked up.

[2019-07-19 12:02] sophokles73 commented on #1386
Can you describe what you are doing and what the expected result is?

[2019-07-19 14:10] kaniyan opened #1388 "Metrics data are not being recorded in the Prometheus back-end."
Metrics data are not being recorded in the Prometheus back-end. Hono is built from the _master_ branch and deployed using _Helm charts_ in _Kubernetes clusters_ spun by _minikube_ locally.

![image](https://user-images.githubusercontent.com/18659982/61540434-e698a080-aa3d-11e9-9a60-baff96ed7fe1.png)

[2019-07-22 08:52] mbaeuerle commented on #1388
Oh dear, looks like that's a problem introduced with the secure health check which is used in the deployment by default.

[2019-07-22 14:28] Alfusainey commented on #623
@sophokles73: I just want to understand your point here..

don't you think that the client can still determine the effective trust anchor if the encoded `cert` is kept in the registry? the client can retrieve the valid trust anchors by checking all certificates that are valid at the point the tenant data is retrieved from the registry (since this check will only be done once upon retrieving the da

[2019-07-22 14:33] calohmn opened #1389 "Enable forced sampling of traces for a specific tenant (MQTT adapter)"
The new config options introduced in #896 to enable forced sampling of traces (i.e. recording of traces in the tracing backend) for a specific tenant or auth-id should also be taken into account in the MQTT adapter.

[2019-07-23 05:21] sophokles73 commented on #623
The client (i.e. the protocol adapters) should not bother with certs vs. public keys. We also already agreed that the client should not need to filter on the validity dates because that is already done by the Tenant service implementation. Thus, there is no need to transfer an encoded certificate to the adapter.
A manager of the content of the device registry might still be able to upload a certif

[2019-07-23 06:39] #1378 closed

[2019-07-23 07:17] #1369 closed

[2019-07-23 12:57] calohmn commented on #896
Closed via #1382.

[2019-07-23 12:57] #896 closed

[2019-07-23 13:14] calohmn opened #1392 "Use OpenTracing in CoAP adapter"
Use OpenTracing to trace message handling in the CoAP protocol adapter.

[2019-07-23 13:16] calohmn opened #1393 "Enable forced sampling of traces for a specific tenant (SigFox adapter)"
The new config options introduced in #896 to enable forced sampling of traces (i.e. recording of traces in the tracing backend) for a specific tenant or auth-id should also be taken into account in the SigFox adapter.

[2019-07-23 13:16] calohmn opened #1394 "Enable forced sampling of traces for a specific tenant (LoRa adapter)"
The new config options introduced in #896 to enable forced sampling of traces (i.e. recording of traces in the tracing backend) for a specific tenant or auth-id should also be taken into account in the LoRa adapter.

[2019-07-23 13:16] calohmn opened #1395 "Enable forced sampling of traces for a specific tenant (CoAP adapter)"
The new config options introduced in #896 to enable forced sampling of traces (i.e. recording of traces in the tracing backend) for a specific tenant or auth-id should also be taken into account in the CoAP adapter.

This relies on tracing support being added first (#1392).

[2019-07-23 13:16] calohmn opened #1396 "Enable forced sampling of traces for a specific tenant (AMQP adapter)"
The new config options introduced in #896 to enable forced sampling of traces (i.e. recording of traces in the tracing backend) for a specific tenant or auth-id should also be taken into account in the AMQP adapter.

[2019-07-23 13:53] #1377 closed

[2019-07-23 16:02] #1389 closed

[2019-07-23 17:05] sophokles73 commented on #1388
The Prometheus server will probably need to be configured with the Hono trust store ...

[2019-07-23 17:39] #1388 closed

[2019-07-24 07:05] kaniyan opened #1397 "Report payload size of messages based on the configured minimum message size in LoRa Adapter"
Equip _LoRa_ Adapter, so that the message size is calculated based on the configured minimum message size. And the calculated value is reported to metrics.

Refer issue #1330 for more information.

[2019-07-24 07:19] kaniyan opened #1398 "Equip LoRa adapter to check the message limit for command messages"
Equip LoRa adapter to check the message limit (if configured) before accepting any _command requests/responses_. Refer #929.

[2019-07-24 08:10] sophokles73 commented on #1330
@kaniyan can this be closed?

[2019-07-24 08:56] sophokles73 opened #1400 "Emit Connection Events from AMQP adapter"
The AMQP adapter should use the Connection Events mechanism in order to indicate to downstream applications that a device has connected/disconnected.

[2019-07-24 09:50] sophokles73 commented on #1347
@dejanb the scope of this issue actually includes adapting the Registry user guide as well, which is not addressed by #1371 IIRC ...

[2019-07-24 12:12] sophokles73 commented on #1386
@jbtrystram can we (you) close this?

[2019-07-24 12:13] sophokles73 commented on #1366
@dejan can we close this?

[2019-07-24 12:14] #1282 closed

[2019-07-24 12:19] kaniyan commented on #1330
This can be closed after merging the documentation and device registry updates in PR #1399

[2019-07-24 12:24] #1366 closed

[2019-07-24 12:54] jbtrystram commented on #1386
I did not make further testing, i'll close this and will take time to re-test it at some point :)

[2019-07-24 12:54] #1386 closed

[2019-07-24 12:59] sophokles73 commented on #1330
@kaniyan merged

[2019-07-24 13:09] kaniyan commented on #1330
Closed via PRs #1333 and  #1399

[2019-07-24 13:09] #1330 closed

[2019-07-24 14:41] sophokles73 opened #1402 "Use OpenTracing in SigFox adapter"
Use OpenTracing to trace message handling in the SigFox protocol adapter.

[2019-07-24 14:43] #1347 closed

[2019-07-25 10:00] sophokles73 opened #1406 "Support configuration of forced tracing via Device Registry Management API"
I think this needs to be added to the Management API spec and we need to make sure that the example Device Registry supports it.

[2019-07-25 10:19] sophokles73 opened #1407 "Add documentation of Device Registry Management API to website"
It would be great if we could leverage the OpenAPI spec file for that purpose, e.g. turning it into a Swagger UI.

[2019-07-25 11:52] sophokles73 opened #1408 "Version identifier should be part of resource URIs"
Currently, the `device-registry-v1.yaml` defines the resource URIs without the `v1` prefix. However, I believe they need to be part of them in order to e.g. clearly distinguish them from later versions.
Example:
`/tenants/${tenantId}` should be `/v1/tenants/${tenantId}` instead.

[2019-07-25 11:55] sophokles73 commented on #1138
In particular, it means that we cannot use the Swagger UI to directly access the Sandbox registry, which would be great.
It would also allow us to get rid of the (ugly) Heroku CORS proxy in the OpenAPI spec file.

[2019-07-25 12:41] sophokles73 commented on #1381
@kaniyan can this be closed?

[2019-07-25 12:42] kaniyan commented on #1381
yes. This has been closed via PR #1405.

[2019-07-25 12:42] #1381 closed

[2019-07-26 07:51] sophokles73 commented on #1408
@ctron @dejanb @calohmn WDYT?

[2019-07-26 08:07] dejanb commented on #1408
@sophokles73 sounds right to me

[2019-07-26 08:10] calohmn commented on #1408
@sophokles73 I agree.

[2019-07-26 09:06] sophokles73 commented on #1408
Ok, then I'll create a PR.

[2019-07-26 09:56] dejanb commented on #1408
@sophokles73 on the closer look OpenAPI says that version should be defined in the 'server' component.

https://swagger.io/docs/specification/api-host-and-base-path/
https://swagger.io/specification/

When you asked the question, I was under impression that we don't have v1 defined anywhere. Why do you think it's better to have it explicitly in paths?

[2019-07-26 11:03] sophokles73 commented on #1408
hmm, originally, I thought that for an implementation of the API, it would be helpful (or even required), to be able to determine the version of the API from the URI, that the client invokes. However, for that it is not necessary to include the version identifier in the resource paths of the OpenAPI spec. An implementation can inspect the request URI in any case.
However, if the version identifier

[2019-07-26 11:11] sophokles73 commented on #1408
not an issue after all

[2019-07-26 11:11] #1408 closed

[2019-07-26 14:54] #1407 closed

[2019-07-29 08:29] sophokles73 opened #1412 "Example Device Registry fails to return all Tenant information"
When registering a new tenant with resource limits and a minimum message size, this information is not included in the body of the response when retrieving the tenant again.

To reproduce:
[code]

then GET the newly created tenant
[code]

[2019-07-30 12:29] sophokles73 commented on #1412
fixed in https://github.com/eclipse/hono/commit/f6ca7dc6c6e7d764029fc415e7f43a862bf74f08

[2019-07-30 12:29] #1412 closed

[2019-07-30 12:33] sophokles73 opened #1414 "Do not deploy Prometheus/Jaeger operators as part of Hono chart"
The Prometheus and Jaeger operators might have already been deployed to the cluster that the Hono chart is to be deployed to. Operators in general feel more like infrastructure (like the minikube clluster) which we can assume to be present.
Our chart would then only contain CRDs for creating a (Hono specific) instance of Prometheus and/or Jaeger.  This would also make deletion of an instance much

[2019-07-30 13:20] calohmn opened #1415 "Can't assert registration on registry based on BaseRegistrationService"
A device registry implementation based on the deprecated `BaseRegistrationService` class doesn't process invocations of the `assertRegistration` method.

There is only a timeout when waiting for the response:
[code]

[2019-07-30 13:21] calohmn commented on #1415
Fixed in 4c25583bd255443331abef095c68396c7ed8d5c6.

[2019-07-30 13:21] #1415 closed

[2019-07-31 15:46] ctron commented on #1402
Taking a look a at the HTTP protocol adapter for a reference, I am not sure what to add to the Sigfox adapter.

[2019-08-02 04:22] alexjuchina opened #1422 "MQTT Devices self-register through MQTT adapter"
Hi,
We are testing if our MQTT device could self-register through MQTT adapter, could you tell me if it is possible ? Device register through "hono-service-device-registry" with CURL command as document said is OK. But our device does not support http protocol.
Thanks.

[2019-08-02 04:22] juwenfeng1988 commented on #1422
If it's possible, could you tell me how ? thanks

[2019-08-02 07:05] calohmn commented on #1402
I also think the Tracing feature should already be provided by the HTTP adapter base class used in the SigFox adapter.

[2019-08-02 07:11] calohmn commented on #1393
Fixed in a1aac1ab6749adf7369624d666ac34565c60044a.

[2019-08-02 07:11] #1393 closed

[2019-08-02 07:13] sophokles73 commented on #1402
Even better, then I will close this issue ...

[2019-08-02 07:17] alexjuchina opened #1423 "MQTT client 3.1.3 supported?"
Hi,
We have a device which support protocol MQTT 3.1.3,  Hono MQTT adapater is 3.1.1, so theoretically can device communicate with Hono successfully ? For example, register device itself in Hono and send messages to Hono.
Thanks.

[2019-08-02 07:24] sophokles73 commented on #1422
Please use stackoverflow for any future questions. We are using GitHub for bugs and contributions only.

That said, no, Hono does not support the automatic registration of devices as of now. I would strongly discourage a design where a device would use the Device Registration and Credentials API directly to register itself. These APIs should not be exposed on the internet but should be accessible

[2019-08-02 07:28] sophokles73 commented on #1423
Please use stackoverflow for posting questions using the `eclipse-hono` tag.

I am not aware of an MQTT 3.1.3 version. Can you provide a pointer to its specification? Then I can take a look ...

See #1422 for an answer to your second question.

[2019-08-02 09:31] alexjuchina commented on #1422
Thank you Hudalla, so the device is better be registered internally and manually..without using API to register itself.. understand, for safety reason.
By the way, for the #1296 , do you have any plan to add auto provisioning API function?

[2019-08-02 11:35] sophokles73 commented on #1422
It will come eventually, but personally, I have no concrete plan to implement any time soon.

[2019-08-02 11:35] #1422 closed

[2019-08-02 12:26] sophokles73 opened #1424 "HonoClient endlessly retries to establish connection that fails due to SSL exception"
When the client tries to open a connection to a service and the TLS handshake fails, the client re-tries forever to establish the connection.
However, the handshake failure will most likely not go away without reconfiguring the client and/or server. Thus, the SSLException should be considered a *terminal error* that stops the client from re-trying.

[2019-08-05 08:09] alexjuchina commented on #1422
@sophokles73, If our customer indeed want to register their device or gateway into Hono by MQTT adapter automatically, and if we have to do some customization to achieve this, could you give us some suggestions?

[2019-08-05 10:12] sophokles73 commented on #1422
you will need to adapt the MQTT adapter and do the registration when the device opens the connection. I am not sure what kind of suggestions you expect. When the device opens the connection you extract whatever information you need from the request and invoke the API available for registering devices in your device registry implementation. Since there is no *mandatory* API defined for that, the sp

[2019-08-07 07:26] kaniyan opened #1430 "Devices not able to send event messages."
Hono is built from the master branch and deployed in the cluster spun locally by _minikube_. The devices are unable to send _event_ messages to Hono.

_Mqtt adapter log:_
[code]
[more...](https://github.com/eclipse/hono/files/3475743/Mqtt-adapter-07082019.log)

_Dispatch router log:_
[code]

[2019-08-07 12:40] sophokles73 commented on #1430
Looks like this is a regression introduced with 3dbf38117c02e9f5f1281b1c13c65ac221ed898b
The fix seems to be to disable hostname verification of the Artemis server certificate in the Dispatch Router configuration.

[2019-08-07 13:21] #1430 closed

[2019-08-07 15:07] #1414 closed

[2019-08-08 13:16] meshkatul-anwer-bosch opened #1434 "Problem with grafana chart for the 'Hono message details' in case of adapter crash."
Wrong load data is being shown in the grafana-chart for the 'Hono message details' chart in case of adapter pod crash.  The scenario can be easily reproduced by killing an adapter pod with '--force --grace-period=0'. The grafana-chart keeps showing the message count rate of the dead pod before it went down.

[2019-08-12 07:55] kaniyan opened #1440 "Support tracing of resource limit checks"
The message limits check and the concurrent connection limit check should be traced using OpenTracing.

[2019-08-12 11:06] kaniyan commented on #1326
@calohmn With the recent changes in helm charts, I don't think this issue is still applicable? WDYT?

[2019-08-12 12:56] DanielMaier-BSI opened #1441 "Hardcoded event bus send timeout in AbstractEndpoint leads to timeouts for long lasting operations"
https://github.com/eclipse/hono/blob/c21831c27fe11b21d8b09f4d39592b5ed2ad4293/service-base/src/main/java/org/eclipse/hono/service/AbstractEndpoint.java#L146-L151 sets send timeout of event bus to 3 seconds. This timeout gets also used by RequestResponseEndpoint. This leads to issues during creation of tenants in our tenant manager implementation as creating tenant in dependent systems, e.g. enmass

[2019-08-12 19:03] calohmn commented on #1326
@kaniyan yes, as the jaeger operator isn't used anymore this has become obsolete.

[2019-08-12 19:03] #1326 closed

[2019-08-14 05:24] CharlieCai3 opened #1443 "does MQTT 3.1.1 can support MQTT3.1 ?"
Hi Hono,
we have this issue:  device is with MQTT3.1 while Hono support 3.1.1,  how we can link device to hono with such different MQTT version deference ?   is there any workaround suggest ? Thanks.

[2019-08-14 13:00] 195858 opened #1444 "Error in Verification instructions for Helm Based Deployment"
The instructions here
https://www.eclipse.org/hono/docs/deployment/helm-based-deployment/ contain an error on the deployment validation step, service name is wrong, should be ``eclipse-hono-service-device-registry-ext ``
replace ...
[code]
export REGISTRY_IP=$(kubectl get service eclipse-hono-service-device-registry-ext --output='jsonpath={.status.loadBalancer.ingress[0].ip}' -n hono)```
[code]

[2019-08-14 13:03] 195858 opened #1445 "minikube tunnel - Amend minikube setup instructions"
on this page - https://www.eclipse.org/hono/docs/deployment/create-kubernetes-cluster/

where it says -

After the Minikube VM has started successfully, the ``minikube tunnel `` command should be run ...

amend tunnel command to include the -p flag

After the Minikube VM has started successfully, the ``minikube tunnel -p hono`` command should be run ...

[2019-08-15 12:25] calohmn commented on #1445
Thanks for reporting this. The extra profile parameter is needed when having started minikube with that parameter as well, as described in the documentation:
`minikube start --cpus 2 --memory 8192 -p hono`.

IMHO, it would be better to omit the parameter in the documentation altogether, to avoid such issues with forgetting the parameter with minikube commands. @sophokles73 WDYT?

[2019-08-16 05:48] sophokles73 commented on #1441
It does and we would be happy to receive a corresponding PR :-)

[2019-08-16 05:59] sophokles73 commented on #1443
I have to admit that I do not have any experience with MQTT 3.1.0 clients. My understanding from https://github.com/mqtt/mqtt.github.io/wiki/Differences-between-3.1.0-and-3.1.1 is that there seem to be quite some differences which might prevent establishment of a connection. Is that what you are also experiencing?

[2019-08-16 17:48] #1406 closed

[2019-08-19 11:15] sophokles73 commented on #1444
thanks for spotting :+1:
However, fixing this would be quite burdensome since the 1.0-M6 documentation is generated from the tag in the repository. We would need to create a new tag for the fix. I'll see what we can do about it. For the time being, I will keep this issue open so that users can easily find it ...

[2019-08-19 13:08] #1423 closed

[2019-08-19 13:09] #1402 closed

[2019-08-19 13:20] sophokles73 opened #1448 "Change semantics of default TTL on downstream events"
Currently, the protocol adapters set a TTL on downstream events as follows:
1. if message contains a TTL, keep it
2.1. otherwise, if a default TTL is set at the tenant level, use it
2.2. if a default TTL is set at the device level, use it.

In production environments, however, a service provider will probably want to be able to set an upper limit for message TTL in order to ensure reasonable resou

[2019-08-19 14:17] #1445 closed

[2019-08-19 14:44] sophokles73 opened #1450 "Upgrade to Netty 4.1.39"
This addresses several HTTP/2 related CVEs:
https://vuls.cert.org/confluence/pages/viewpage.action?pageId=56393752

[2019-08-19 15:11] sophokles73 commented on #1450
Also see https://groups.google.com/forum/?fromgroups#!searchin/vertx/netty$204.1.39%7Csort:date/vertx/5SV7muKoXMg/soenXNXdAAAJ

[2019-08-19 15:13] calohmn commented on #1448
So that means that if a *max TTL* but *no* *default TTL*  is set on the tenant level and if no default TTL is set for the device in the device registry, then the effective TTL on the downstream event will be the *max TTL*, correct?

In general, we have to take the tenant *max TTL* also into account for the implementation of  #267 and #266, where setting the TTL per event message shall get supporte

[2019-08-19 15:16] sophokles73 commented on #1448
FMPOV the downstream message should have no effective TTL at all in this case ...

[2019-08-19 15:18] calohmn commented on #1448
But no effective TTL means an infinite TTL, which is greater than the max TTL...

[2019-08-19 15:22] sophokles73 commented on #1448
That is true :-) So I guess you're right. In that case the effective TTL should be the max TTL.

[2019-08-19 15:59] Alfusainey commented on #1400
@sophokles73 are you working on this issue? if not, can I take a look?

[2019-08-20 06:59] sophokles73 commented on #1400
@Alfusainey no, nobody is currently working on this one. It would be great if you could implement it :+1:

[2019-08-20 07:21] sophokles73 commented on #1444
@195858 After having taken a closer look I cannot see any error in the documentation for 1.0-M6. May I ask which version you have tried to deploy? Have you built and deployed from master or have you checked out/downloaded 1.0-M6?

[2019-08-20 14:58] sophokles73 commented on #1348
fixed via #1439

[2019-08-20 14:58] #1348 closed

[2019-08-20 15:24] #1450 closed

[2019-08-20 15:35] ctron opened #1454 "Inconsistent content type for LoraWan messages"
Receiving a message from via LoraWand, using the ThingNetwork backend looks like this:

[code]

The payload is actually the Base 64 encoded raw bytes. However the `Content Type` indicates that this is `json`, which it is not.

[2019-08-21 07:32] sophokles73 commented on #1188
Fixed via #1416

[2019-08-21 07:32] #1188 closed

[2019-08-21 08:39] sophokles73 opened #1455 "Update website to point to Gitter instead of IRC"
We decided to use Gitter instead of IRC in the future, so we need to update the website accordingly, i.e. update the wording on the Community page and change the link accordingly.

[2019-08-21 15:29] #1396 closed

[2019-08-21 15:46] #1350 closed

[2019-08-21 16:02] #1455 closed

[2019-08-23 08:48] DanielMaier-BSI opened #1457 "Error in DelegatedCommandSender while sending command to another adapter instance"
We get the following error in DelegatedCommandSender very frequently in our automated system tests (quote from tracing)

`{
  "key": "error.object",
  "type": "string",
  "value": "org.eclipse.hono.client.ServerErrorException: peer did not settle message, failing delivery"
}`

according log statement:

`peer did not settle message [message ID: DelegatedCommandSenderImpl-304, remote state: Rejected

[2019-08-23 09:47] sophokles73 commented on #1443
@CharlieCai3 any news on this?

[2019-08-26 09:06] sophokles73 commented on #1457
@calohmn can you please take a look at this?

[2019-08-26 10:06] sophokles73 opened #1460 "Management API does not support Tenant's data limit"
The Management API does not explicitly support management of a tenant's data volume limits as required by the Tenant API. It could be specified managed as an *extension* property. However, in that case the registry implementation would need to map the *data-volume* extension property accordingly when returning tenant configuration to a Tenant API client.
I suggest to explicitly add the *data-volum

[2019-08-26 10:59] sophokles73 commented on #1460
@ctron @dejanb WDYT?

[2019-08-26 15:28] #1443 closed

[2019-08-26 15:34] sophokles73 commented on #1247
@dejanb What about this one, do you think it is worthwhile doing for 1.0.0?

[2019-08-26 15:36] sophokles73 commented on #903
@kaniyan Personally, I do not think that we need to actively close connections to devices that have been disabled. The checks we already have in place are sufficient FMPOV.

@calohmn @ctron @dejanb WDYT?

[2019-08-26 15:38] sophokles73 commented on #394
@ctron is this still an issue now that we have the Management API?

[2019-08-26 15:40] sophokles73 commented on #12
We have settled to use Hugo's multi language support for this purpose, i.e. every (supported) version is reflected by a language (using the version name) in the docs.

[2019-08-26 15:40] #12 closed

[2019-08-26 15:41] sophokles73 commented on #354
IMHO this is obsolete with the example dashboards that we already have

[2019-08-26 15:41] #354 closed

[2019-08-27 08:34] kaniyan opened #1462 "Upgrade to vertx 3.8.x"
Upgrade to vertx 3.8.x which already use netty 4.1.39.Final and  proton-j 0.33.2.
For more info refer[ release notes](https://github.com/vert-x3/wiki/wiki/3.8.1-Release-Notes).

[2019-08-27 08:38] kaniyan commented on #903
@sophokles73 With the current checks and resource limits in place, I wouldn't emphasis any longer on actively closing the connections. IMHO we can close this issue.

[2019-08-27 08:54] calohmn commented on #1462
See also [3.8.0 Deprecations and breaking changes](https://github.com/vert-x3/wiki/wiki/3.8.0-Deprecations-and-breaking-changes).

[2019-08-27 12:12] ctron commented on #394
Yes, indeed!

[2019-08-27 12:12] #394 closed

[2019-08-27 13:12] sophokles73 commented on #1462
we have (manually) upgraded to Netty 4.1.39.Final already (#1450). I think we should defer this upgrade to post 1.0.0 as it will also require several new CQs ...

[2019-08-27 13:13] sophokles73 commented on #1444
@195858 any news on this?

[2019-08-27 13:21] sophokles73 commented on #1345
@calohmn is this still an issue? And, more importantly, is this really an issue at all, i.e. is running the integration tests using a minikube's Docker daemon an important use case?

[2019-08-27 13:30] 195858 commented on #1444
Hi, I just picked it up from the documentation on the web site while following the installation instructions - https://www.eclipse.org/hono/docs/deployment/helm-based-deployment/

I don't know which version that documentation is generated from.

[2019-08-27 14:00] sophokles73 commented on #1444
https://www.eclipse.org/hono/docs/deployment/helm-based-deployment/ refers to the latest (stable) version, which at the moment is 1.0-M7. So, if you are deploying using the Helm chart from the 1.0-M7 tag, the documentation should be correct. I have just now downloaded the 1.0-M7 release artifact from Hono's Downloads page and was able to follow the exact steps as documented in the Helm deployment

[2019-08-27 14:22] calohmn commented on #1345
@sophokles73 I think for the Hono development environment, being able to use the same docker host for integration tests and the Hono helm deployment is quite beneficial. And using minikube there looks straightforward. Therefore it would be good to get this fixed.

[2019-08-28 10:33] #903 closed

[2019-08-28 11:23] #1400 closed

[2019-08-28 16:12] #1424 closed

[2019-08-29 06:31] sophokles73 commented on #1460
fixed via #1465

[2019-08-29 06:31] #1460 closed

[2019-08-29 07:55] sophokles73 opened #1466 "Remove support for legacy Metrics"
Support for the deprecated graphite based legacy metrics needs to be removed fro Hono.

[2019-08-30 05:33] calohmn commented on #1457
Adding some further debug output has revealed that the `Rejected` disposition has the error "Deliveries cannot be sent to an unavailable address":
[code]
(I've improved log output since to always reveal this, see https://github.com/eclipse/hono/commit/7aa91cd29f3d16d0f28033c3de3bade16e09b753.)

What seemingly happened here:
The DelegatedCommandSenderImpl that forwards the received command on the d

[2019-08-30 09:40] calohmn commented on #1457
To fix this, I see these options:
1. Insert a delay *after* creating the device-specific command consumer link and *before* informing the application about the fact that the device can receive commands. During this delay, the information about the attached receiver is supposed to be propagated in the router network, so that when sending the command message on the anonymous relay link, the message

[2019-08-30 09:48] Christian-Schmid opened #1469 "Additional latency metrics for hono adapters"
Hi Hono Devs,

this is kind of a feature request:

To get a better understanding of the behavior of Hono adapters during load scenarios it would be helpful to have some metric indicating the duration of requests to the different hono apis involved when processing incoming messages.

Specifically we would be interested in metrics as follows (to give an example):
- ` hono_registration_avg_response_t

[2019-09-02 10:42] mbaeuerle opened #1470 "TTL unit assumed in seconds but AMQP 1.0 specification defines it in milliseconds"
The feature to set a default TTL for tenants is documented roughly in the example tenant json. [There a default TTL of `30` is set](https://www.eclipse.org/hono/docs/api/tenant/#tenant-information-format). I guess it was assumed that the TTL should be set in seconds as 30 milliseconds is most often not enough time to get a message through an AMQP network. However the AMQP 1.0 specification defines

[2019-09-03 07:04] ctron opened #1471 "Conceptual problem in connection handling"
To me it looks like we have a conceptual problem in the handling of connections to other services.

Every now and then, I recognized cases, where the adapters just don't become ready. And so I was digging into the issue. In the log you can then find something like:

[code]

This "terminal error" will stop the client from trying to re-connect, and it seems like it never will re-try again. For as lo

[2019-09-03 07:19] ctron commented on #1471
Digging a bit more into the code, I think we could also fix the method `org.eclipse.hono.service.AbstractProtocolAdapterBase.startInternal()` in a way that the call to `connectToService` actually makes use of the returned future, and reports its failure to the startup chain. Failing the startup of the application.

[2019-09-03 08:19] sophokles73 commented on #1471
The behavior of the protocol adapters has been implemented this way deliberately in order to prevent useless connection attempts to services with which no connection can be established due to misconfiguration (on either the client or server side).

I do not think that there is a right or wrong way here. We need to address two different scenarios here:
1. The service we try to connect to is impleme

[2019-09-03 08:29] ctron commented on #1471
That is exactly my second point.

So reading through your explanations, I fail to see a reason for having a "terminal error" in the first place:

Overall, still fail to see your intent here:

When there is a way to "auto recover" from a "terminal error"? Then I fail to see the concept of a "terminal error".

Anyway, if your proposal is to simply ignore the "terminal" part, and continue re-connecti

[2019-09-03 10:54] ctron commented on #1471
@sophokles73 Do you think #1473 is a better fix for this issue?

[2019-09-03 12:21] sophokles73 commented on #1471
That is exactly the proposal. If we all feel that we should *always* continue trying to reconnect, then there is no reason why we should distinguish between terminal and non-terminal errors. We should still make sure to properly log the reason for failure so that operators can easily fix the issue.

[2019-09-03 12:23] sophokles73 commented on #1471
That is exactly the proposal. We should no longer distinguish between terminal and non-terminal errors. With the backoff algorithm that @calohmn implemented recently, we should be safe to always try to re-connect, regardless of the underlying cause of the error.

@dejanb WDYT?

[2019-09-03 14:09] dejanb commented on #1471
@sophokles73 I think this is a move in the right direction, as there's no point in leaving pod running with the failed connection.

As for the liveness check, I'd still prefer to restart a pod if the reconnection logic is not successful in certain period of time. It might help with situations where process can pick up updated env and resolve the issue.

[2019-09-03 14:21] ctron commented on #1471
@sophokles73 So, I will move on with #1473 and simply drop the "terminal" stuff

[2019-09-03 16:04] #1457 closed

[2019-09-04 15:03] #1448 closed

[2019-09-04 15:03] #1470 closed

[2019-09-09 15:30] mhemmeter opened #1478 "Connect devices using a proprietary protocol via a third party protocol adapter"
Currently projects in the IoT often use proprietary protocols for connecting devices to the respective backend systems. After such projects are deployed to production it is often hard to change their firmware and switch to a different protocol like MQTT.

Eclipse Hono provides a concept to connect such devices via a custom protocol adapter (see [Implement a Custom Hono HTTP Protocol Adapter](https

[2019-09-10 11:24] calohmn opened #1480 "MQTT-Adapter: fix wrong topic for commands sent to gateway; add documentation"
With #930 support has been added for command messages to be redirected to the current gateway that the target device is connected to.

In the case of the MQTT adapter, this means:
- an authenticated gateway will subscribe for commands (not for a particular device but for all devices using that gateway),
- a northbound application will send a command to a particular device (not knowing its gateway

[2019-09-11 08:47] b-abel opened #1482 "Use the term "Deprecation" instead of "Depreciation" in relase notes"
in the release notes there are a couple of sub-headings named "Depreciations". The correct word would be IMHO "Deprecations". The differences are discussed here: https://stackoverflow.com/a/9208164/7740194
FMPOV this can be done together with a cleanup of the release notes of (very) old versions in preparation of the 1.0.0 release.

[2019-09-11 10:55] avgustinmm opened #1483 "Online State race condition for clustered adapter"
In https://www.eclipse.org/hono/docs/concepts/connection-events/ and https://www.eclipse.org/hono/docs/api/event/#connection-event Hono defines connect/disconnect events. This could (should be able to) be used for maintaining connection status for devices that connects with protocols supporting long living connections (e.g. MQTT, AMQP, GS Adapter).

However, generally the adapters are assumed to s

[2019-09-11 12:29] calohmn opened #1484 "Hono CLI: TLS connections fail with the AmqpCliClient"
When using the Hono CLI client to send messages to the AMQP Protocol adapter (ie. with `--spring.profiles.active=amqp-send`) using username/password, a TLS connection cannot be established.

The adapter log just shows `failed to connect over ssl: javax.net.ssl.SSLException: handshake timed out`.

[2019-09-11 15:36] ctron commented on #1483
I don't think you can implement an "online state" using the connection events.

You can only use them as an indication that some device connected or disconnected. In the end, one device could (using the same credentials) connect twice.

I think now that we have the device connection service, we might be able to use that as a way of generating a global "online" flag storage.

[2019-09-12 07:28] ctron opened #1485 "Dropping S2I deployment in favor of IoT packages"
I would like to discuss the idea of dropping the OpenShift S2I deployment for Hono. Currently we do have a bunch of deployment options, and I think it makes sense to reduce them a bit.

I also think it would make sense to focus on the [Eclipse IoT Packages](https://projects.eclipse.org/proposals/eclipse-iot-packages) project instead.

So, going forward, my proposal is to drop the OpenShift S2I dep

[2019-09-12 09:10] b-abel opened #1486 "Improve usability of CLI"
The CLI sample application is currently heavily based on the use of Spring Boot configuration. This is passed on to the user and is not what I expect from a CLI application.
To customize the configuration, the user must understand Spring Boot and analyze the existing profiles. We should not expect this from every user. Especially since the use of the CLI is very prominent, because without it you c

[2019-09-13 10:13] calohmn opened #1488 "AMQP-Adapter: include target device id for commands sent to gateway; add documentation"
Similar to #1480:
With #930 support has been added for command messages to be redirected to the current gateway that the target device is connected to.

In the case of the AMQP adapter, this means:
- an authenticated gateway will open a receiver link for commands (not for a particular device but for all devices using that gateway),
- a northbound application will send a command to a particular dev

[2019-09-16 10:00] ctron commented on #1486
I had the same issue, and created a simple command line tool for that: https://github.com/ctron/hot

I would be happy to contribute that to the Hono project.

[2019-09-16 12:11] #1480 closed

[2019-09-16 12:19] wklenk-bosch commented on #1276
The need for such a feature even becomes even more urgent if Hono is to be used in combination with Ditto: Currently, without adding a piece of software  in the north of Ditto, it is **not** possible to fetch the current state of the Digital Twin from the Cloud. While one can send a Ditto "retrieve" message via the Hub's telemetry/event channel, there is no way to receive the response. Neither syn

[2019-09-16 12:50] sophokles73 commented on #1276
FMPOV Ditto would need to be responsible to *push* the *desired* state to a device while the device is responsible to *report* its current state. However, Ditto needs to support the *desired/reported* states in order for that to work. I do not think that a device should need to *pull* the desired state from the back end. We deliberately provided means for devices to signal their intention to recei

[2019-09-16 15:25] sophokles73 commented on #1471
@ctron can this be closed?

[2019-09-17 06:45] alexjuchina opened #1495 "How to config Enmasse in latest version 1.0?"
Hi Sir,
I can config enmasse connection parameters in helm/config/hono-adapter-****-vertx-config.yml files in version 0.9.
But in 1.0 version, I can't find this folder.
where can I config Enmasse host and account ?
Thanks.

[2019-09-17 06:57] #1466 closed

[2019-09-17 08:03] sophokles73 commented on #1495
In 1.0 we have replaced the yaml config files with Helm values which can be set in the `helm/values.yaml` file. You need to add the config properties to the `adapters/amqpMessagingNetworkSpec` and `adapters/commandAndControlSpec` properties, e.g.
[code]

[2019-09-17 08:29] b-abel commented on #1482
Which versions do we want to keep in the release notes of the 1.0.0 release?

[2019-09-17 08:50] #1488 closed

[2019-09-17 15:17] sophokles73 commented on #1337
@kaniyan can this be closed?

[2019-09-17 15:24] kaniyan commented on #1337
@sophokles73  yes.

@alinaserg This has been closed via PRs #1420 and #1491

[2019-09-17 16:55] #1337 closed

[2019-09-17 17:02] #1482 closed

[2019-09-18 06:25] avgustinmm commented on #1483
Which devices are supposed to open simultaneous connections? Why shall they do that?
Even if it is allowed I suppose that the main case will be with single connection at a time. In such cases such approach could help. Also, even in case of multiple concurrent connections from single device having connected/disconnected & node a backend app could do some calculation of online state.

How could I us

[2019-09-18 06:39] #1471 closed

[2019-09-18 06:39] avgustinmm commented on #1276
I'm not sure if the ditto shall implement push state. This could be tricky.
In order to push state, ditto shall do that via commands (the only way Hono support).
* What command will ditto call? Shall there be a specified push (e.g. Vorto feature with push operation)?
* How shall ditto know if device support push command?
* Shall that be bulk command (e.g. push all changes) or one by one (order of

[2019-09-18 06:50] avgustinmm commented on #1276
I remember times when Hono was supposed (?) to have C&C in both directions (https://www.slideshare.net/dejanb/scaling-out-eclipse-hono 4th slide).

Also I thing AWS IoT provides restricted support for request/response from device.
Looking the https://docs.aws.amazon.com/iot/latest/developerguide/device-shadow-mqtt.html it seems that using publish to /get and reading from /get/accepted the devices

[2019-09-18 10:20] b-abel commented on #1484
@calohmn Maybe you'd like to take a look at the PR #1503.

[2019-09-18 11:03] #1484 closed

[2019-09-18 12:54] #1227 closed

[2019-09-19 07:36] #266 closed

[2019-09-19 12:04] calohmn opened #1506 "HTTP-Adapter: Enable gateways to receive commands for a specific device"
The scenario here is about an **authenticated gateway** sending an event with a `hono-ttd` parameter (indicating it wants to receive a command).

Following the documentation (chapter `Publish an Event (authenticated Gateway)`), one might think the URL to use here would be `/event/${tenantId}/${deviceId}` (containing the device id, not the gateway id).

**However, the gateway will receive no comman

[2019-09-19 12:32] sophokles73 commented on #1506
FMPOV the problem here is that the HTTP adapter maps the  device ID to the gateway ID using the Connection Service. However, in this case, no mapping is necessary because the HTTP adapter already creates a (short lived) command consumer scoped to the device ID (not the gateway ID).

[2019-09-19 13:09] selobosi opened #1508 "Make "Getting started" guide discoverable from docs"
I was puzzled for a couple of minutes trying to find the "Getting Started Guide" from https://www.eclipse.org/hono/docs/. There are a number of guides on the left ("User Guide", "Admin Guide", "Developer Guide"). I was desperately looking for the "Getting Started" link. Had it been renamed? Been integrated into another part of the docs? Hm, no.

Ok, so currently https://www.eclipse.org/hono/gettin

[2019-09-19 14:29] sophokles73 commented on #1485
+1 for removing the S2I deployment

[2019-09-19 14:43] calohmn commented on #1506
@sophokles73 Thinking more about it, I agree, that this is the better solution.
The use case of the gateway saying "I want just one command for any kind of device that sent messages through me", seems rather unusual.

To implement the solution, we would then disable the update of the "last known gateway" for the HTTP adapter.

[2019-09-19 15:58] sophokles73 commented on #1506
@calohmn I believe that should do the trick, yes.

[2019-09-19 17:02] selobosi opened #1509 "How to re-connect to AMQP adapter after network failure to continue to receive commands?"
We (finally) use Hono 1.0-M7 and during development we switch networks every once in a while or turn them off and on again. We have an app that runs on a device and connects to the Hono AMQP adapter. We use command and control and the app receives commands via Hono's AMQP adapter.

The app reconnects to the AMQP adapter when the network is gone. We see in the logs that when the app reconnects, the

[2019-09-20 06:48] sophokles73 commented on #1509
This sounds like the AMQP adapter does not tidy up a command consumer for a device if the connection to the device is lost unexpectedly instead of being closed gracefully.
@calohmn WDYT?

[2019-09-20 07:24] sophokles73 commented on #1508
I guess the reason for not including the Getting Started guide in the documentation is that the docs are specific to the particular Hono version whereas the Getting Started guide is only maintained for the most recent version that we want people to use when getting started with Hono.

@b-abel can we still add a generic link to the documentation page's menu which always points to the Getting Starte

[2019-09-20 07:27] b-abel commented on #1508
@sophokles73 Sure. I'll provide a PR.

[2019-09-20 08:36] b-abel opened #1512 "Remove Legacy Device registry and deprecated base classes"
Remove the legacy device registry and the corresponding (already deprecated) base classes from the codebase.

[2019-09-20 08:38] b-abel commented on #1512
Because I can't assign the issue to myself: I volunteer to do it. :)

[2019-09-20 09:15] alexjuchina commented on #1495
Hi Hudalla,
I met following error in adapter ：
Caused by: org.yaml.snakeyaml.scanner.ScannerException: mapping values are not allowed here
 in 'reader', line 15, column 19:
      messaging:  host: 192.168.0.36
                      ^

My values.yaml config is as below:

# Configuration options for adapters.
adapters:
  amqp:
    # Docker image repository
    imageName: index.docker.io/eclipse/hono

[2019-09-20 09:22] sophokles73 commented on #1495
which version of Hono are you using?

[2019-09-20 12:49] calohmn opened #1514 "Move implementation of trace sampling mode into adapter base class"
Follow up from https://github.com/eclipse/hono/pull/1435#issuecomment-519840540:
The logic implementing the forced sampling of traces for a specific tenant (#896) should be moved into the `AbstractProtocolAdapterBase` base class, making it easier to adopt this feature in other protocol adapters.

[2019-09-20 13:18] calohmn opened #1515 "Command & Control: Give more than one credit for receiving commands for gateways"
Currently, the AMQP and MQTT adapters will only return _one_ credit on the command consumer link once they have processed a command.

I think this may cause delays when applications are trying to send several commands at once, possibly directed at a gateway that consumes commands for several devices.

[2019-09-23 01:42] alexjuchina commented on #1495
Hono 1.0-M7, which is the latest version.

[2019-09-23 07:24] sophokles73 commented on #1508
@selobosi

can this be closed with the latest changes that @b-abel made?

[2019-09-23 07:29] selobosi commented on #1508
Thanks for adding those links! I see one possible improvement: What about adding these links at the top, above "Concepts", instead of adding them at the bottom? I'd expect the "Getting Started" Guide to be the initial and brief introduction to a project, having it at the top would reflect a suggested reading order. What do you think?

[2019-09-23 07:32] sophokles73 commented on #1495
Ok, there is a small bug in file `deploy/src/main/deploy/helm/templates/_helpers.tpl`.

Are you building and deploying Hono from sources or are you using the archive from the download page?

[2019-09-23 07:46] sophokles73 commented on #1508
We already have it prominently on the project's landing page. In fact, the *Getting Started* link is the first link you find on that page. The Documentation page is not the landing page ...

[2019-09-23 07:51] selobosi commented on #1508
Ok, cool, then this issue can be closed, I guess.

[2019-09-23 07:55] #1508 closed

[2019-09-23 09:05] sophokles73 opened #1517 "Upgrade to Spring Boot 2.1.8"
Also
- upgrade Spring to version 5.1.9
- upgrade Spring Security Crypto to version 5.1.6

[2019-09-23 09:37] sophokles73 opened #1518 "Remove dependency on micrometer-spring-legacy"
Replace dependency on micrometer-spring-legacy (required for Spring Boot 1.5.x) with spring-boot-actuator-autoconfigure (Spring Boot 2.x) for which two new CQs have been created.

[2019-09-23 10:07] Alfusainey commented on #1360
@sophokles73 i have seen a few places where the `TenantObject` class is used in tenant api requests and is removing them now.. pls leave this issue open :-)

[2019-09-23 11:06] #1517 closed

[2019-09-23 12:46] sophokles73 commented on #1512
closed via #1519

[2019-09-23 12:46] #1512 closed

[2019-09-24 06:21] alexjuchina commented on #1495
Download archive from download page. Could you update the archive ?

[2019-09-24 06:47] sophokles73 commented on #1495
No, but I can guide you through the process of fixing the (small) issue.
In the extracted archive run
[code]
Then run the helm install command you use for deploying Hono. Let me know if this works ...

[2019-09-24 11:57] sophokles73 opened #1521 "Topic structure for subcribing to commands seems wrong"
The MQTT adapter requires authenticated devices to subcribe to topic
[code]
in order to receive commands.

The `+` wildcard characters used at the tenant and device ID positions might be misinterpreted to indicate that the device will receive commands for all devices of all tenants.
The name of the topic that the MQTT adapter publishes command messages to (`command///req/${req-id}/${command}` does

[2019-09-24 21:02] calohmn opened #1523 "Enable gateways to subscribe for commands of a specific device"
With the implementation of #930, we have added support for gateways creating command subscriptions without having to use individual device ids.

The gateway will for example just create a MQTT subscription or AMQP receiver link on the `command` topic/link address. Northbound applications will send commands with the specific device id in the message address and the gateway mapping logic (based on t

[2019-09-24 21:40] calohmn commented on #1521
Makes sense to me.

[2019-09-25 07:06] #1485 closed

[2019-09-25 11:54] sophokles73 commented on #1518
checkin has been approved

[2019-09-25 11:55] #1518 closed

[2019-09-27 12:47] sophokles73 commented on #267
fixed via #1524

[2019-09-27 12:47] #267 closed

[2019-09-29 02:13] BobOntario opened #1527 "Build hono"
when I followed https://www.eclipse.org/hono/docs/dev-guide/building_hono/ to build hono, I got errors at

mvn clean install -Ddocker.host=tcp://${host}:${port} -Pbuild-docker-image,metrics-prometheus

Do i need replace ${host}:${port} with real value?  like 127.0.0.1:2375.  how do i know the correct ip address and port for -Ddocker.host?

Thanks

[2019-09-30 07:01] sophokles73 commented on #1527
That's the idea, yes.

If the Docker daemon is running on your local host, then you can simply omit the `-Ddocker.host=tcp:...` argument to the mvn command.

Otherwise, simply use the output of
[code]
as the value of the `docker.host` parameter.

[2019-09-30 12:23] selobosi commented on #1509
Just to update the relevance of this issue: We are now also affected by this issue when demonstrating our work to stakeholders. E.g. when we turn off the device without shutting down the app, this has the same effect as switching networks: when connecting to Hono again, the device won't receive commands anymore. We can still work around the issue, but the work-around causes overhead and is prone t

[2019-09-30 14:01] sophokles73 commented on #1509
@calohmn any opinion on this?

[2019-09-30 14:10] calohmn commented on #1509
@selobosi Looking at the log file, the `cannot create concurrent command consumer` error comes *before* the AMQP adapter takes notice of the connection not being active anymore (`lost connection to device`). The period between the `STOPPING NETWORK` mark and the time that the adapter notices that is more than a minute.
Have you tried setting the idle timeout when opening the connection to the AMQP

[2019-09-30 14:31] sophokles73 commented on #1509
great analysis, @calohmn :+1:

It seems like the AMQP adapter also uses no default value, which would be used if the device didn't specify a heart beat in its open frame. So I think we should do both, define a default heart beat value for the AMQP adapter and make it configurable.

However, using an *aggressive* heart beat of several seconds only will increase network traffic in idle phases. This

[2019-10-01 12:50] calohmn commented on #1515
We should make the initial credits, sent upon successful command consumer creation in `DeviceSpecificCommandConsumer`, configurable here, ie. introduce a protocol adapter config option for this.

The `preFetchSize` in the `createReceiver` invocation in `DeviceSpecificCommandConsumer` should probably be kept 0 since we don't want automatic credit handling (credits need to be sent manually once the

[2019-10-02 11:47] b-abel opened #1534 "Helm Chart does not install on Kubernetes 1.16"
This seems to be caused by https://github.com/helm/charts/issues/17511.

If the chart cannot be fixed for the Hono release 1.0.0., this limitation should be added to the deployment guide https://github.com/eclipse/hono/blob/master/site/documentation/content/deployment/helm-based-deployment.md and the minikube setup description in https://github.com/eclipse/hono/blob/master/site/documentation/conte

[2019-10-02 12:56] b-abel opened #1535 "Deployment with kubectl fails with validation error"
I followed the Deployment Guide https://www.eclipse.org/hono/docs/dev/deployment/helm-based-deployment/#deploying-hono-using-kubectl and tried to deploy Hono without Tiller into a new Minikube profile (no Tiller installed) with Kubernetes 1.15.4. The chart has been taken from `hono/deploy/target/eclipse-hono-1.0.0-SNAPSHOT-chart.tar.gz` (build with `$ mvn clean install -Pbuild-docker-image`) on co

[2019-10-02 13:15] b-abel commented on #1535
When deleting, the corresponding error message is issued:

[code]

[2019-10-02 13:33] b-abel commented on #1535
Deploying from `hono/deploy/target/deploy/helm` gives the same result.

[2019-10-02 18:04] sophokles73 commented on #1535
You cannot deploy a SNAPSHOT version to your local minikube using just the chart from the archive. You need to build from source using minikube's Docker daemon in order to get the SNAPSHOT images into minikube.
That said, building from source as described in https://www.eclipse.org/hono/docs/dev/deployment/helm-based-deployment/#deploying-to-minikube should work.

[2019-10-02 18:40] sophokles73 commented on #1535
@b-abel can you verify that this is fixed and close the issue?

[2019-10-03 00:51] BobOntario commented on #1527
Thanks @sophokles73. All builds are successfully achieved. All container images have been created.   How can I run them? Using docker run xxxx one by one?
For evaluation purpose, I don't want to deploy them through minikube as too many issues with minikube.  For my development/evaluation purpose, which way to better, beside minikube?

Thanks

[2019-10-04 02:15] BobOntario commented on #1527
@sophokles73 more clearly, I built hono successfully as below:

root@ecs-de1e-0004:~# docker images
REPOSITORY                               TAG                 IMAGE ID            CREATED             SIZE
eclipse/hono-service-device-registry     1.0.0-SNAPSHOT      36e0d153707c        2 days ago          226MB
eclipse/hono-service-device-registry     latest              36e0d153707c        2 days

[2019-10-04 09:24] ctron commented on #1483
Because the implementation of the device side is buggy :wink:

That is why we would need to extend it. In order to support the functionality you ask for. I think it is a reasonable request. And I think we should do it. I simply think that the connection events are not the proper way do it.

[2019-10-04 11:17] #1521 closed

[2019-10-04 15:31] dejanb commented on #1138
Fixed

[2019-10-04 15:31] #1138 closed

[2019-10-04 17:51] calohmn opened #1541 "Enable HonoConnection to create a sender link on the anonymous relay"
Currently, `HonoConnection.createSender()` doesn't allow the link target address to be `null`.

That is however a valid use case since a `null` address is used to establish a sender link to the anonymous relay (see [here](http://docs.oasis-open.org/amqp/anonterm/v1.0/anonterm-v1.0.html) or the [ProtonConnection](https://github.com/vert-x3/vertx-proton/blob/c02a1a4bce17daf8626c9eb11afd30857ffdbf02/

[2019-10-04 17:56] calohmn commented on #1541
We have already used the `HonoConnection.createSender()` method for creating anonymous relay links in connection with the Qpid dispatch router. For that we have used an empty target address (instead of `null`). Qpid seems to support that.
Nonetheless we should support a `null` address since that is specified in the anonterm spec and the ProtonConnection class. The check in the AMQP adapter class i

[2019-10-07 07:27] sophokles73 commented on #1527
@BobOntario glad it worked out for you. However, believe me, the easiest way to run Hono locally is to deploy to minikube using Helm as described in [Hono's Deployment Guide](https://www.eclipse.org/hono/docs/dev/deployment/).
You can, of course, run each of the containers manually using plain Docker (Swarm) and this, in fact, was our initial deployment target when we started Hono. However, with k

[2019-10-07 07:45] b-abel commented on #1535
Fixed.

For reference, the following works for deploying a SNAPSHOT version with kubectl (not using tiller):

[code]

[2019-10-07 07:45] #1535 closed

[2019-10-07 09:08] sophokles73 commented on #1534
Thanks for reporting, @b-abel :+1:

The problem seems to be the Prometheus chart which uses the API versions that are no longer supported by Kubernetes 1.16. There already is a [PR](https://github.com/helm/charts/pull/17268) fixing this in the Prometheus chart.
I agree that we should document this limitation in the deployment guide if the PR is not merged until the 1.0.0 release.

[2019-10-07 09:48] calohmn commented on #1541
The empty target address already seems to be treated in a special way by Proton, since `link.getRemoteTarget().getAddress()` is `null` in that case.
Therefore, when initially adding support for the empty string, we needed to adapt the `isLinkEstablished` method:
https://github.com/eclipse/hono/blob/20d05db99c6f66ef5b0a2c2750bddd61ea773439/core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.j

[2019-10-07 10:13] b-abel opened #1543 "Deployment with Example Data Grid fails"
I tried to deploy a current SNAPSHOT with the Device Connection Service and the example data grid.

I built the images with

[code]

then tried to deploy it (like in https://www.eclipse.org/hono/docs/dev/deployment/helm-based-deployment/#using-the-device-connection-service) with

[code]

This failed with the following error message:

[code]

[2019-10-07 11:28] sophokles73 commented on #1495
@alexjuchina any news on this?

[2019-10-07 11:29] #1444 closed

[2019-10-07 11:32] sophokles73 opened #1544 "Provide helper methods for creating downstream message"
`AbstractProtocolAdapterBase` provides convenience methods for setting Hono specific properties on downstream AMQP messages. This functionality should be moved to `MessageHelper` so that code requiring it does not need to depend on the `service-base` module but instead depend on `core` only.

[2019-10-07 11:36] sophokles73 opened #1545 "AMQP adapter should implement Anonymous Terminus for Message Routing"
The [Anonymous Terminus for Message Routing]() spec defines how an AMQP 1.0 container providing support for anonymous relay must behave. The AMQP adapter supports clients sending telemetry, event and command response messages over a single (anonymous) sender link.
However, the adapter does not yet include the corresponding capability when negotiating a connection with the client.

[2019-10-07 13:25] b-abel opened #1546 "Add Device Connection API to Architecture Documentation"
The architecture documentation in https://www.eclipse.org/hono/docs/architecture/component-view/ contains all the APIs that existed in Hono at the time the diagram was created. The Device Connection API is missing (as is the new Device Registry Management API). I think all APIs should be included in the architecture documentation (although not all need to be included in the Top Level view).

[2019-10-07 14:19] patrickse opened #1548 "Problem while using the cli to connect to my instance."
Hi,

I´ve just deployed a hono instance to our local Kubernetes environment to play with Hono and Ditto. While following the https://www.eclipse.org/hono/getting-started/ the following problems occurs. The same problem occurs as soon as I try to connect Ditto to the AMQP ports using the connection api.

Any suggestions?

[code]

[2019-10-07 15:24] selobosi opened #1549 "ClosedChannelExceptions in logs of AMQP and MQTT adapter"
With an installation of Hono 1.0-M7 (and earlier versions, too) that currently has no devices connected via AMQP or MQTT we see a lot of output like

**AMQP adapter**
[code]

**MQTT adapter**
[code]

This is interesting because there is a clear temporal pattern of 4 sources of log messages that create a log statement every 5 seconds. I.e. if you group them by the 5 seconds interval:

**AMQP adapte

[2019-10-07 16:01] sophokles73 commented on #1549
Are you deploying to kubernetes and have you configured a readiness/liveness check which connects to the protocol adapters' exposed ports?

[2019-10-07 16:26] sophokles73 commented on #1548
can you share the output of
[code]

for your installation?

[2019-10-07 16:43] sophokles73 commented on #1543
The second property is not correct. It has been renamed to *dataGridExample.enabled*.

[2019-10-07 16:49] sophokles73 commented on #1543
Should be fixed in https://github.com/eclipse/hono/commit/fd6e2c78b549874634b6fbe6cf806c924620ae5e

@b-abel can you confirm and close this issue?

[2019-10-08 06:48] selobosi commented on #1549
We deployed to Kubernetes using the Helm charts of the release and did not configure any readiness/liveness checks ourselves. I'm not sure whether such checks are part of the default installation of Hono.

[2019-10-08 07:13] sophokles73 commented on #1549
I have just deployed 1.0-M7 to a local minikube using the Helm chart from the 1.0-M7 archive and I have no such entries in the log files.
Can you post the output of
[code]
and
[code]
maybe some pods/services have failed to deploy/start correctly?

[2019-10-08 07:27] selobosi commented on #1549
(We deployed to namespace  `hono-m7`.)

**kubectl get pod -n hono-m7 (most pod IDs truncated)**
[code]

**kubectl get service -n hono-m7 (external IP addresses shaded)**
[code]

[2019-10-08 07:36] sophokles73 commented on #1549
Ok this looks quite normal, apart from the high number of restarts of the Grafana pod, but anyway ...
Can you post the output of
[code]
and can you please check if the output of
[code]
continuously produces new error messages similar to
[code]
It is ok, if the log contains such errors during the time of startup of prometheus, but once all services were up, the log messages should no longer appear

[2019-10-08 07:45] selobosi commented on #1549
**kubectl -n hono-m7 describe pod hono-m7-adapter-mqtt-vertx-... (sensitive data redacted)**
[code]

The Prometheus log does not contain the error message you mentioned:
**kubectl logs -f hono-m7-prometheus-server-... -c prometheus-server -n hono-m7**
[code]

[2019-10-08 07:49] sophokles73 commented on #1549
Am I right in assuming that
[code]
indicates that you have deployed to Amazon's managed kubernetes service (AKS) using their load balancers in front of the protocol adapters?

[2019-10-08 08:11] b-abel commented on #1543
It is fixed.

[2019-10-08 08:11] #1543 closed

[2019-10-08 08:19] selobosi commented on #1549
Bingo! We deployed to Azure Kubernetes Service and the services of type LoadBalancer have Frontend IP configurations in an Azure load balancer resource. The Azure load balancer resource has Health probes that have an interval of 5 seconds. When I modify the interval of the health probe for the TLS port provided by the MQTT adapter, the block of 4 error messages changes to the new interval.

So, ye

[2019-10-08 08:44] sophokles73 commented on #1549
Glad we found the source of the logs. However, I am afraid that I cannot help you with getting rid of them because I have no clue about configuration of load balancers on Azure. For that I would kindly refer you to the Azure AKS documentation ...
Would you mind closing this issue based on the current outcome?

[2019-10-08 08:45] #1549 closed

[2019-10-08 11:46] b-abel opened #1553 "Concept documentation "Device Registration" outdated"
The description in https://www.eclipse.org/hono/docs/dev/concepts/device-identity/#device-registration is outdated. It explains already removed operations in the *Device Registration API* and does not mention the *Device Registry Management API*.

[2019-10-08 11:48] #1544 closed

[2019-10-08 12:09] sophokles73 commented on #1553
@b-abel thanks for spotting. Would you like to create a PR fixing this?

[2019-10-08 13:05] #1541 closed

[2019-10-08 13:14] b-abel commented on #1553
Sure.

[2019-10-08 13:18] b-abel commented on #1553
I'm just struggling a bit with the status of the Device Registry Management API. Is it just a proposal if someone wants to implement a device registry and do not want to invent their own API? Or is there more to it? Making it an "official" Hono device registry?

[2019-10-08 13:26] sophokles73 commented on #1553
Nobody is forced to implement the Management API. However, people are encouraged to implement it so that they can take advantage of (yet to come) tooling for managing the registry content. Also, the example registry and any future (production) registry implementations that come with Hono will implement it.

[2019-10-08 14:57] #1545 closed

[2019-10-08 15:57] sophokles73 commented on #1506
@calohmn is this still relevant or is this superseded by #1523 ?

[2019-10-09 07:27] patrickse commented on #1548
Thanks @sophokles73, I´ve attached the output of `kubectl` hope it helps... Just for the sake of completeness... I´ve used the helm chart from the hono package.

[code]

[2019-10-09 07:36] #1553 closed

[2019-10-09 07:38] sophokles73 commented on #1548
Ok, I am assuming that you are trying to connect to Hono's north bound telemetry API in order to consume telemetry and event messages produced by devices, right?

If that is the case, then you have simply specified the wrong IP address and port. You need to connect to the IP address and port of the *hono-dispatch-router-ext* service. in your case that should be `10.43.159.29` and `15672` respectiv

[2019-10-09 12:27] kaniyan opened #1555 "Inconsistent validation of request payload in tenant registration operations."
There has been some inconsistency in the validation of the request payload during tenant registration operations in the _file based device registry_. In some cases, it's been able to _add_ or _update_ a tenant even with attributes containing _invalid_ values.

For example, it's been **able** to _add_ or _update_ a tenant with invalid _minimum message size_ or  _sampling mode_. After that the _get_

[2019-10-09 13:05] ahmadbanijamali opened #1556 "Readiness probe failed: HTTP probe failed with statuscode: 503"
**I am trying to run the Eclipse Hono version 1.0 on AWS k8s cluster.**

**Here are the services**

The external IPs created is strange. When I list the pods:

**The results is even more strange as some pods are running partially. When I describe pods for example for AMQP, it is as follows:**

**and the logs shows the issue as:**

**I am not sure whether the problem is with my AWS k8s and VPC conn

[2019-10-09 13:32] selobosi commented on #1509
Thanks for your analysis, @calohmn!

I configured an idle timeout in the client using `ProtonClientOptions.setIdleTimeout(...)` and `ProtonClientOptions.setIdleTimeoutUnit(...)` but why trying it out, I could not find a constant time between the initial successful creation of the command consumer and the connection to the device being lost - the longer I kept the device offline, the longer the con

[2019-10-10 05:49] patrickse commented on #1548
Thx. Now it works like a charm. I am not using the minikube environment and do not have any external lb at the moment. So the scripts produce no valid IPs for me. 😉

[2019-10-10 05:49] #1548 closed

[2019-10-10 08:33] b-abel commented on #1556
Cross-posted on Stack Overflow: https://stackoverflow.com/questions/58306046/eclipse-hono-deployment-on-aws-k8s.

[2019-10-10 08:59] jbtrystram opened #1558 "Device Registry should not accept already hashed passwords"
Hi,

It was discussed [1] during the management API refactor that we should not accept passwords already hashed by the client, as the client could pick a weak hashing algorithm. This decision has not been implemented yet, as far as I know :)

[1] : https://github.com/eclipse/hono/pull/1130#issuecomment-479829977

[2019-10-10 09:13] b-abel opened #1559 "Differenciation of "Device Notifications", "Connection Events", "Device Connection API""
When reading the documentation, there are a few pages that sound as if they describe similar things without explicitly explaining their relationship to each other. This concerns the pages "Device Notifications" (Concept), "Connection Events" (Concept) and "Device Connection API" (API). Maybe it's not just me that they sound confusingly similar.  It may be sufficient to formulate a few sentences to

[2019-10-11 14:53] sophokles73 commented on #1555
@kaniyan can this be closed?

[2019-10-11 15:15] kaniyan commented on #1555
This has been closed through PR #1562.

[2019-10-11 15:15] #1555 closed

[2019-10-11 15:26] kaniyan opened #1566 "Ensure that each adapter has a unique type during tenant registration"
It is defined in the _Tenant Management API_ for `adapters` that _"Only a single entry per type is allowed. If multiple entries for the same type are present it is handled as an error."_ This validation is missing in the system.

[2019-10-14 11:33] kaniyan commented on #1566
This has been closed via PR #1567.

[2019-10-14 11:33] #1566 closed

[2019-10-15 06:47] sophokles73 commented on #1509
Ok, as it turns out, the AMQP adapter does not set an idle-time-out at all in its open frame, i.e. the AMQP adapter does not ask its peers (the devices) to prevent a timeout at all.
Given that the vertx-proton library only allows to set the (server side) idle-time-out value as part of binding the server to a port, we cannot use tenant specific values here but instead need to set a value at the ada

[2019-10-15 09:17] selobosi commented on #1509
Thanks for analyzing the problem! Do you have a timeline in mind for a fix?

[2019-10-15 09:30] kaniyan opened #1569 "Missing max-ttd attribute in the tenant management API"
The maximum _time till disconnect_ (`max-ttd`) attribute is missing in the tenant management API. `TenantObject` offers `getTimeUntilDisconnect` to retrieve the `max-ttd` value set at the adapter or tenant level. But currently there is no provision to add this value to the _file based device registry_.

[2019-10-15 10:06] b-abel opened #1571 "Add introductory Concept Page to Documentation"
The documentation could benefit from an introductory concept page that gives a brief overview of Hono's idea, core features, and key terms. Ideally, it would specify the order in which the other concept pages should be read.

[2019-10-15 10:07] b-abel commented on #1571
As far as I remember, @dejanb volunteered to write this.

[2019-10-15 10:07] b-abel commented on #1571
Includes #1559.

[2019-10-15 10:10] b-abel commented on #1571
Should IMHO explain the terms "downstream/upstream" and "northbound/southbound".

[2019-10-15 11:15] mbaeuerle opened #1573 "Device management API credential example does not match scheme"
The _Device Management API Spec_ shows the following example request when making a _credentials PUT_:
![image](https://user-images.githubusercontent.com/1345394/66826379-9f428300-ef4c-11e9-911e-390bd8a39775.png)
https://www.eclipse.org/hono/docs/api/management/#/credentials/setAllCredentials

This does not match the scheme of `CredentialsSet` which defines that instead of a single credential an ar

[2019-10-15 12:22] #623 closed

[2019-10-15 12:22] #1360 closed

[2019-10-15 12:41] dejanb commented on #1573
You are right, the example is wrong. I tackled that as a part of #1574. Please note, that this hashed password example is being deprecated (per pr), so using pwd-plain is the preferred way going forward.

[2019-10-15 12:53] sophokles73 commented on #1509
@selobosi not yet

[2019-10-15 14:56] sophokles73 commented on #1569
I do not think that this is entirely true. The Mangement API allows to set *extension* properties on both an `Adapter` configuration instance as well as the `Tenant` object.
The only problem since the migration to the Management API is that the protocol adapters expect to find the property under `adapter[type]/max-ttd` or `tenant/max-ttd` instead of `adapter[type]/ext/max-ttd` or `tenant/ext/max-t

[2019-10-15 15:04] sophokles73 commented on #1523
@calohmn my understanding is that this is the overall issue for dding this functionality to *all* adapters, i.e. there will be subsequent PRs for adding the functionality to HTTP, MQTT, AMQP, right?

[2019-10-15 15:06] calohmn commented on #1523
@sophokles73 Right, I'm about to create a PR for that.

[2019-10-16 01:04] BobOntario commented on #1527
@sophokles73 Thanks for advise. I am using Helm now.  After I install everything required for helm, tried to execute "helm install --dep-up --name hono --namespace hono eclipse-hono/", got some errors:
Error: validation failed: [unable to recognize "": no matches for kind "PodSecurityPolicy" in version "extensions/v1beta1", unable to recognize "": no matches for kind "Deployment" in version "apps/

[2019-10-16 06:37] ctron commented on #1527
You could switch to 1.15.4 for example? `minikube delete && minikube start --kubernetes-version v1.15.4`

[2019-10-16 06:51] kaniyan commented on #1569
I am aware that we can set any property using `extensions`. I raised this issue as the `TenantObject` expects it under `adapter[type]/max-ttd` or `tenant/max-ttd` and setting this under any other location such as _extensions_ would be still equivalent to not setting this property `max-ttd`.

Also I am not aware of the fact that the _extensions_ section is the intended location to set the `max-ttd`

[2019-10-16 07:25] #1495 closed

[2019-10-16 07:27] sophokles73 commented on #1573
@mbaeuerle can this be closed with the changes @dejanb made?

[2019-10-16 07:30] sophokles73 commented on #1527
@BobOntario Kubernetes 1.16 has indeed removed support for several deprecated APIs. Sadly, the Prometheus chart which we are using is affected by this as it still uses these old APIs. We have created #1534 for tracking the progress there ...
In the meantime, you should be able to deploy to Kubernetes < 1.16 as suggested by @ctron
Can we close this issue, based on that workaround?

[2019-10-16 07:32] #1556 closed

[2019-10-16 08:18] calohmn commented on #1523
@sophokles73 I've added the relevant PRs for
- AMQP/MQTT/HTTP adapter changes
- Integration tests
- HTTP adapter change to include the target device id in the HTTP headers of the response with the command
- Documentation / release notes

[2019-10-16 09:50] sophokles73 commented on #1569
I think so too.

[2019-10-16 09:59] sophokles73 commented on #1569
The original HTTP based API we had for managing the contents of the example registry actually allowed to include *any* additional (custom) properties in both the *Tenant* as well as the adapter configuration. That is because we used the same data model for both, the Tenant API as well as the management API.

With the new Device Registry Management API we introduced the concept of *extensions* to g

[2019-10-16 10:39] sophokles73 commented on #1534
For the time being, we can only document that deployment to Kubernetes 1.16 is quite limited.
Closed via  #1584

[2019-10-16 10:39] #1534 closed

[2019-10-16 10:44] mbaeuerle commented on #1573
@sophokles73 yes now it looks consistent!

[2019-10-16 10:44] #1573 closed

[2019-10-16 11:21] #1546 closed

[2019-10-16 11:24] #1527 closed

[2019-10-16 12:38] kaniyan commented on #1569
I will fix this first by changing the `TenantObject` to fetch this property from `adapter[type]/ext/max-ttd`. `AbstractProtocolAdapterBase` fetches the `max-ttd` using the `TenantObject` so its get fixed too.

[2019-10-16 12:52] sophokles73 commented on #1506
@calohmn ping

[2019-10-16 12:55] calohmn commented on #1506
@sophokles73 This is indeed superseded by #1523. Closing it here.

[2019-10-16 12:55] #1506 closed

[2019-10-17 05:12] calohmn commented on #1523
All corresponding PRs have been merged now.

[2019-10-17 05:12] #1523 closed

[2019-10-17 06:01] calohmn opened #1585 "Document concept behind C&C handling for gateways"
The concept behind how commands are handled in scenarios involving gateways should be documented. This involves the AMQP message flow as well as the implementation regarding the different command consumer classes.

Related issues: #1523, #930.
To be kept in mind: the concept might change again for Hono 1.1.0 - see #1272.

[2019-10-17 06:03] sophokles73 commented on #1585
@calohmn are you planning to add this to 1.0.0? Or will this be added after the release?

[2019-10-17 06:04] calohmn commented on #1585
@sophokles73 after the 1.0.0 release.

[2019-10-17 11:51] calohmn opened #1587 "Add support for tenant timeout in CommandConsumerFactoryImpl"
The tenant timeout mechanism (#1188) should trigger that the corresponding tenant-scoped consumer links in `CommandConsumerFactoryImpl` are closed.

[2019-10-18 13:09] b-abel opened #1591 "Documentation of Hono Client is outdated"
The pages https://www.eclipse.org/hono/docs/admin-guide/secure_communication and https://www.eclipse.org/hono/docs/dev/admin-guide/hono-client-configuration describe classes that no longer exist or are now in other packages.

[2019-10-18 13:56] #1591 closed

[2019-10-19 09:02] sophokles73 opened #1592 "Support deployment to Kubernetes 1.16"
We should upgrade to the version that contains the [fix for Kubernetes 1.16](https://github.com/helm/charts/pull/17268).

[2019-10-19 09:20] sophokles73 opened #1593 "Add metrics to Lora and Sigfox adapters"
The Lora and Sigfox adapters should also report the metrics that Hono's other adapters support.

[2019-10-19 09:40] thiyagu-7 commented on #1593
If this is up for grabs, can I take it?

[2019-10-20 11:05] sophokles73 commented on #1593
@thiyagu-7 yes, that is what the *help wanted* label is supposed to indicate. Thanks for your interest in contributing to Hono :+1:

[2019-10-20 23:58] BobOntario opened #1594 "No REGISTRY_IP found"
I deployed hono using minikube /helm to the Linux server through  terminal in Windows Laptop. The deployment is successful.  I executed:

export REGISTRY_IP=$(kubectl get service hono-service-device-registry-ext --output='jsonpath={.status.loadBalancer.ingress[0].ip}' -n hono)

echo $REGISTRY_IP

return nothing

After executed " kubectl tunnel", the output is

machine: minikube
	pid: 29524
	route:

[2019-10-21 06:34] sophokles73 commented on #1594
Not sure what this is supposed to mean. Are you running a LInux VM on your Windows machine?

[2019-10-21 09:03] Alfusainey commented on #1509
@sophokles73 i will like to work on and provide a fix for this

[2019-10-21 09:06] sophokles73 commented on #1509
@Alfusainey Hi Alfu, thanks for taking this on :+1:
Have you seen that this is scheduled for 1.0.1 which we would like to release Nov 6th, 2019?

[2019-10-21 09:16] Alfusainey commented on #1509
hmm.. no am just seeing that now. I will try to provide a patch this week

[2019-10-21 09:21] b-abel commented on #1296
I would like to work on this topic.

[2019-10-21 11:41] BobOntario commented on #1594
No. Linux server is in remote side. Hono is deployed in it. I used Windows based terminal to connected to the server and run all commands.

[2019-10-21 12:55] sophokles73 commented on #1594
So, you have deployed Hono to a minikube instance running on another (Linux) host, right?

[2019-10-21 13:39] BobOntario commented on #1594
Yes

[2019-10-21 13:43] sophokles73 commented on #1594
Are you trying to access Hono's endpoints from the windows machine or from the Linux machine?

[2019-10-21 13:45] BobOntario commented on #1594
Should be windows machine. Linux is a server, no browser

[2019-10-21 13:46] sophokles73 commented on #1594
So, you are not ssh'ing into the linux machine to run the curl commands there but you are running curl from our Windows cmd shell, right?

[2019-10-21 13:51] BobOntario commented on #1594
I used windows based terminal connected to Linux   server. Run curl within this terminal. It is required to login to Linux server first. It should be in LiNux environment.

[2019-10-21 13:52] sophokles73 commented on #1594
Ok, caan you then post the output of `kubectl get service -n hono`?

[2019-10-21 13:54] BobOntario commented on #1594
Will post it evening.

[2019-10-21 23:19] BobOntario commented on #1594
root@ecs-f52a-1:~# kubectl get service -n hono
NAME                                      TYPE           CLUSTER-IP       EXTERNAL-IP   PORT(S)                           AGE
hono-adapter-amqp-vertx                   LoadBalancer   10.111.137.11    <pending>     5672:32672/TCP,5671:32671/TCP     21h
hono-adapter-amqp-vertx-headless          ClusterIP      None             <none>        <none>

[2019-10-22 06:40] sophokles73 commented on #1594
that would require you to re-configure the networking of the VM that minikube starts under the hood for your kubernetes cluster. THe minikube deployment is intended to be used for local testing, it is not supposed to be used from outside of local host.

I am not sure what you are trying to achieve, but if it is going through the getting started guide, then you should simply run your curl commands

[2019-10-22 07:58] sophokles73 commented on #1509
@selobosi we have scheduled this bug for the 1.0.1 release which will be released early Nov 2019.

[2019-10-22 11:35] BobOntario commented on #1594
I want to integrate hono, ditto and vorto together to see how them work. Which way is best?

[2019-10-22 23:10] BobOntario commented on #1594
If I want to test to see whether my device connected to hono, without external IPbin hono , how my device can connected to hono?

[2019-10-23 01:50] BobOntario commented on #1594
I can make my intention more direct.  We want to test few devices with hono. If we follow deploy way in the documentation, we can't get external ip, devices can't connected to hono.  how can we do?  do we need go other way to deploy hono?

[2019-10-23 05:48] sophokles73 commented on #1594
@BobOntario I will be in a better position to help you if you tell me what you are actually doing and what results you are experiencing that you did not expect.
First and foremost, which version of Hono have you deployed and what kind of kubernetes cluster have you deployed to. Is that still a minikube running on Linux?

[2019-10-23 07:51] fkaltner opened #1599 "DEFAULT_TENANT is not created in local deployment"
**What I did:**
I followed the steps for the Helm based deployment (see: https://www.eclipse.org/hono/docs/deployment/helm-based-deployment/) on macOS using a Kubernetes cluster running in Docker Desktop.

**What I observed:**
The curl command for checking the existence of the DEFAULT_TENANT returns a 404.

**What I think what went wrong:**
The device registry could not process the payload example

[2019-10-23 13:14] BobOntario commented on #1594
I am using hono 1.0-M7, which is from eclise-hono-1.0-M7-chart.tar.gz.  yes, still is minimize running on Linux.

[2019-10-23 14:15] sophokles73 commented on #1594
If you are deploying Hono to minikube you usually have minikube running in a VM which is running its own network. You may be able to configure the VM so that the service endpoints exposed by the Hono components are accessible from the network that the host computer (your Linux machine) is running on. However, that may be specific to the virtualization technology you are using. I will not be able t

[2019-10-23 14:35] BobOntario commented on #1594
You don't recommend minikube?

[2019-10-23 15:31] kaniyan commented on #1599
@fkaltner Thats a good catch :+1: and thanks for reporting.

[2019-10-24 09:25] sophokles73 commented on #1599
@fkaltner can you check if this works using master?

[2019-10-25 10:56] fkaltner commented on #1599
I just built locally on my machine with `mvn clean install -Pbuild-docker-image,metrics-prometheus`, cd'ed to `hono/deploy/target` and ran `tar xvzf eclipse-hono-1.1.0-SNAPSHOT-chart.tar.gz`.

Then cd'ed to `eclipse-hono-1.1.0-SNAPSHOT` and ran `helm install --dep-up --name hono --namespace hono eclipse-hono/`

Everything came up and I was able to successfully query the DEFAULT_TENANT.

Thanks for

[2019-10-25 10:56] #1599 closed

[2019-10-27 20:07] BobOntario opened #1602 "Deploy Sandbox in local"
Had some problems to deploy hono in local through minikube as mentioned #1594 and 1527.  I can't expose an IP so that other computer can access it.

So I want to deploy hono into local by following Sandbox deployment script (deploy/src/main/sandbox) - Doscker swarm way, or directly deploy Sandbox in local.  To do this, what I need to change deployment scripts:

sandbox_deploy.sh
create_sandbox_cer

[2019-10-28 08:26] sophokles73 commented on #1602
You will need to create your own certificate(s) and adapt the deployment script(s) accordingly.
Please refer to the Docker Swarm and Lets Encrypt documentation for details. The Sandbox deployment is not a supported way of deploying Hono. We use it internally only until the Eclipse IoT Working Group will have its own Kubernetes cluster.

[2019-10-28 08:29] sophokles73 commented on #1594
Not for production environments. It is supposed to be used for local testing only.

[2019-10-28 08:29] #1594 closed

[2019-10-28 12:01] sophokles73 commented on #1296
@b-abel any suggestions yet as to how you would like to approach this?

[2019-10-28 13:58] b-abel commented on #1296
I currently see 2 main options:
1. Add a new API that triggers the provisioning if the protocol adapter can not get the credentials, but sees that the tenant has been configured for Jit-provisioning.
2. Let the device registry do this during the "get" operation of the Credentials API.

[2019-10-29 17:16] calohmn commented on #1478
A straightforward solution for this would be to implement the "Third party adapter" as a gateway, connecting to a Hono AMQP adapter instance.
Devices would send telemetry/event messages via their own proprietary protocols to the "third party adapter" gateway which will then send the messages via AMQP to the Hono AMQP adapter.
A prerequisite for this is that the devices are registered in Hono and a

[2019-10-30 13:23] b-abel commented on #1296
Just-in-Time-Provisioning (JiT provisioning) is a two-step process: in the first step, the tenant is configured so that the feature can be used there. In the second step, the device connects for which there are no credentials and no registration in the device registry. Both are created. On subsequent connections of the device, the data is stored in the Device Registry and the authentication proces

[2019-10-30 13:50] sophokles73 commented on #1296
@b-abel thanks for laying out the options. I have some comments/questions/proposals

FMPOV there is no need to explicitly rule out Option 2 because, as you stated, this approach is fully transparent to the adapters. An adapter will invoke the Credentials service's *get* operation to determine the device ID based on the auth ID (the client certificate's subject DN in this case). If the registry sup

[2019-10-30 15:25] alinaserg commented on #1296
Hello @thjaeckle, I think we should involve you in the discussion regarding creation of Things during Just-in-Time Device Provisioing. What is your opinion to this proposal?

[2019-10-30 16:22] mbaeuerle commented on #1434
To give more background on this issue:
![image](https://user-images.githubusercontent.com/1345394/67877117-46bcd980-fb39-11e9-8c44-c76eedaedc19.png)
The telemetry load on this HTTP adapter is constantly 50 msg/s but the chart sometimes shows n-times this amount. This could be caused by a wrong calculation including data from already dead pods.
The query looks like this:
[code]

[2019-10-30 23:44] BobOntario opened #1606 "Can we start hono using docker compose ?"
For test purpose, can I start honor using docker compose ? I checked Ditto that it can be started using docker compose..
Thanks

[2019-10-31 09:03] calohmn opened #1607 "Misleading customize[*]Config methods in AbstractAdapterConfig"
The `AbstractAdapterConfig.customizeRegistrationClientFactoryConfig` method javadoc states:
[code]
This sounds to me as if the `registrationClientFactoryConfig` bean is created first using the "hono.registration" configuration properties, and *then* the `customizeRegistrationClientFactoryConfig` method is called to work on the loaded properties.
The implementations in the overridden `customizeRegi

[2019-10-31 09:27] calohmn commented on #1515
There is already a `initialCredits` configuration property on the `commandConsumerFactory` connection.

For the HTTP adapter (receiving only one command at a time) we have to set the initial credits for the `DestinationCommandConsumer` to **1**. For the `MappingAndDelegatingCommandConsumer` (using the same `commandConsumerFactory` connection), the initial credits should be a higher value, because

[2019-10-31 13:15] b-abel commented on #1296
@sophokles73

That would work. Tradeoff would be that for **every** "Get Credentials" call much more data would be transmitted (when using Client certs).

[2019-10-31 13:16] b-abel commented on #1296
Thank you, @thjaeckle, for describing the metadata options. If I understand you correctly, your idea (at least for the first two options you outlined) is that Ditto should receive a full provisioning message from Hono that Ditto can use more or less directly to create a device presentation.

I imagine that there are two kinds of information:

1. Information that is read from the client certificate

[2019-10-31 13:54] sophokles73 commented on #1606
You can, of course, create your own Docker Compose file for starting up Hono. However, I am afraid that we won't be able to support you in doing so.

[2019-10-31 14:16] b-abel commented on #1296
# Summary

Because I find it difficult to keep track of longer discussions on Github, especially when many different questions have to be answered, I try to give a summary.

Sticking to the template idea we have the following:

## Involved Components

* PA: Protocol Adapter
* DR: (Hono) Device Registry, where credentials and registration data are stored
* External Systems: external from Hono's poi

[2019-11-01 10:42] sophokles73 opened #1609 "Helm deployment of CoAP adapter fails"
Deplyoment of the CoAP adapter fails when using the 1.0.0 Helm chart:
[code]

[2019-11-01 12:25] BobOntario commented on #1606
Understood. Can you give some clues how to create docker compose file for hono?

[2019-11-01 13:17] sophokles73 commented on #1606
You might want to take a look at the [Docker Compose docs](https://docs.docker.com/compose/) and then try to migrate the service definitions from the sandbox shell scripts to your compose file.
Good luck!

[2019-11-01 14:16] b-abel commented on #1296
## Proposal

* The Protocol Adapter (PA) should not do JiT Provisioning itself and only provide the necessary support for other components to do so. It would not fit to the feature set, would make the PA more complex and lead to a coupling with Device Registry (DR) implementations.
* Templates are out of scope. Hono doesn't need them, they just create unnecessary dependencies. Systems that require

[2019-11-01 16:53] #1609 closed

[2019-11-04 06:24] calohmn opened #1610 "Command message correlation ID not preserved when sending to AMQP device"
When sending a command message to an AMQP device, the command message correlation ID (set by the northbound application) currently is not (always) preserved, so that the AMQP device might get a different correlation ID.

[2019-11-04 08:21] sophokles73 commented on #1610
Can you be a little more specific and e.g. provide an example for the circumstances under which this happens?

[2019-11-04 14:09] calohmn commented on #1610
This happens when a command arrives at a protocol adapter instance that the target device isn't connected with. Meaning a scenario where the command is delegated to the appropriate adapter instance by forwarding it on the device-specific command address to the AMQP messaging network.

The issue doesn't occur, when the command arrives at a adapter instance that the target device is connected to. Th

[2019-11-04 15:18] sophokles73 commented on #1610
And in the former case, the correlation ID is always lost/dropped/whatever? Or does this happen sporadically only?

[2019-11-04 15:45] calohmn commented on #1610
In the former case, the correlation ID is always set to the message id of the original command message. It's only a small fix, I will commit it shortly.

[2019-11-04 15:52] sophokles73 commented on #1610
@calohmn I wonder how a device could ever succesfully respond to a command in the former case then. Or is there no test scenario covering this case?

[2019-11-05 12:44] sophokles73 opened #1612 "CoAP adapter fails to create secure endpoint"
When the CoAP adapter starts up as part of the example deployment, the following line in the log seems to indicate that the secure endpoint is not being created:
[code]
This seems to be caused by setting the server identity (key, cert) but no trust anchor.

[2019-11-05 14:20] calohmn commented on #1610
@sophokles73 As far as I see it, in our tests, the correlation id isn't set, so the message id was used anyway.

[2019-11-05 14:38] calohmn commented on #1515
Concerning the `isConsumerForSingleCommand` flag (see above command; to be set to `true` for the HTTP adapter):
On second thought, I don't think we need this, just as I don't think we don't need to explicitly only send *1 credit* in the HTTP adapter case on the device specific consumer link.
Provided the new `command` endpoints are used, messages on the *device specific consumer link* are only sen

[2019-11-05 15:07] #1612 closed

[2019-11-06 07:10] calohmn commented on #1610
Fixed with 37a9d35a6dc554853d52f5189d564852d1d911ec and bbd9b68f8bb2bc00aa1d2937a717011cfa01d043. Also adopted in 1.0.x branch.

[2019-11-06 07:10] #1610 closed

[2019-11-06 12:12] sophokles73 commented on #1515
@calohmn I agree with your arguments. Does this mean that we can close this issue as *won't fix*?

[2019-11-06 12:14] sophokles73 commented on #665
We should at least provide instructions on how to use Hono with OpenJ9.

[2019-11-06 12:16] sophokles73 commented on #1585
@calohmn is this done, i.e. can we close this?

[2019-11-06 12:17] sophokles73 commented on #1332
Done with the 1.0.0 release.

[2019-11-06 12:17] #1332 closed

[2019-11-06 13:03] kaniyan commented on #502
When we talk about connecting large numbers of IoT devices to Hono, IMHO a feature such as this is required. There by the devices are able to report critical incidents in a higher priority manner and that enables north bound side to act up on those incidents swiftly.

I ran a simple test by sending event messages with priorities varying from 0 to 9. After the messages are sent, a consumer (north b

[2019-11-06 14:56] sophokles73 commented on #502
We haven't received any feedback yet from users who would like to see alerts in addition to the already existing events. Thus, we didn't really follow up on the idea so far. Do you have a particular use case where this is required?

I can imagine though, allowing devices to indicate a priority for events they publish using a header/property.

[2019-11-06 16:32] calohmn commented on #1585
yes, closing it.

[2019-11-06 16:32] #1585 closed

[2019-11-06 16:35] calohmn commented on #1515
No, we should still apply the `initialCredits` configuration property (set on the `commandConsumerFactory` connection) to the `DeviceSpecificCommandConsumer.create` method. I'll create a PR for that.

[2019-11-06 16:52] kaniyan commented on #502
The use case I think of is how quickly critical incidents can be routed with high priority. For example, it could be a device reporting a power failure in some systems or reporting a temperature increase to critical levels. Currently in Hono, such incidents can be reported as events and are delivered in a normal pace as any other events. As a user, I need to act upon such events immediately than t

[2019-11-06 17:04] sophokles73 commented on #502
I guess the assumption here would be that alerts are even less frequent than (normal) events. Thus, IMHO this shouldn't be a problem ...

Then maybe this would already be sufficient? At least it would give the devices more options than today. BTW, the fact an AMQP device can set the priority is an undocumented (and also unintended) feature, I would say ;-)

[2019-11-07 08:37] kaniyan commented on #502
:+1: I think so too. The critical incidents can then be sent as events with high priority. I would like to do a PR for this.

[2019-11-07 10:41] #1392 closed

[2019-11-07 12:37] sophokles73 commented on #1478
@calohmn

I have a hard time imagining how this could work since the authentication identifier determines the device (gateway) ID. If all adapter instances would use the same credentials (and thus the same authentication identifier) then we would no longer be able to route a command to the correct gateway instance, would we?

[2019-11-07 15:43] boaks opened #1617 "Use SNI to select server certificates out of set."
For central deployments with multiple applications it may be required, that the same protocol adapter endpoints are reached by different DNS names. For simple server certificate validation that would require either "long list of subject-alternative-names" or a mechanism to select a matching certificate out of a set of certificates by that DNS name.
Therefore I would like to be able to use [SNI](ht

[2019-11-07 15:56] #1606 closed

[2019-11-07 15:57] #1602 closed

[2019-11-07 16:06] sophokles73 opened #1618 "[idea] Allow devices to inidcate their type/capabilities"
The devices connecting to Hono usually only provide credentials for authenticating with a protocol adapter. Hono currently does not maintain information about the devices' type, make, model and/or capabilities.
That said, such information may very well be maintained in any particular device registry implementation that Hono's adapters are connecting to.
LWM2M for example requires devices connectin

[2019-11-07 16:34] sophokles73 commented on #1617
Sounds reasonable. The vert.x framework used by Hono already supports using SNI by means of putting multiple key/cert pairs into a key store and use that for the server side identity. The only thing currently missing in Hono for this to work is actually enabling SNI in the NetServer.

[2019-11-08 01:51] aedelmann commented on #1618
Hi Kai,
I like the idea. You mentioned that a device can send any kind of ID information that identifies the payload semantic information, so for example an Vorto Model ID or something else. I could imagine that Hono and as part of your mentioned event handler, could automatically resolve the ID for the Vorto Model schema document from the Vorto Repository and passes this info to downstream applic

[2019-11-08 07:07] thjaeckle commented on #1618
That could be very useful for the _just-in-time_ provisioning, indeed.
Or for payload transformations which should be done in between Hono and Ditto based on the "type" information the device sends along.

I would however keep the transmitted information to an identifier (I assume as defined application property from AMQP 1.0 perspective) in order to keep the added payload (which is potentially tr

[2019-11-08 07:15] sophokles73 commented on #1618
My original idea was to let devices send a dedicated event with a specific content-type which would then contain all relevant information in the payload. Very similar to how LWM2M does it. I do not think I know enough about Vorto in order to tell whether it is sufficient for a device to just include a single *Info Model Indentifier* in order for downstream applications being able to determine the

[2019-11-08 07:47] aedelmann commented on #1618
@sophokles73
Sure that works. And you are right, the ID could either be a Function Block ID or Information Model ID.
I agree that keeping the info to a minimum is a good design choice. 👍

[2019-11-08 14:35] sophokles73 commented on #1618
Ok, so a transport data logger could initially send an event with a to-be-defined content-type which contains information like:
[code]
either in the payload or in an application-property (e.g. *vorto-info-model*). In subsequent telemetry messages which contain some sensor data, the messages could include an application-property indicating the semantics of the data, e.g.
[code]
My understanding is

[2019-11-11 16:19] kaniyan commented on #1287
The MQTT and AMQP protocol adapters which maintain connection state already provide metrics namely `hono.connections` to track the number of connected devices per tenant.

Now we would also like to find out the total time the devices are connected per tenant. After taking a closer look at the existing metrics, I think the metrics `hono.connections` could well also be used to compute the total conn

[2019-11-12 01:00] BobOntario opened #1620 "Charts folder missed in Eclipse Hono 1.0.1 Archive"
Just tried to download Eclipse Hono 1.0.1 Archive from https://www.eclipse.org/downloads/download.php?file=/hono/eclipse-hono-1.0.1-chart.tar.gz
and found "charts" folder is missed in the package compared to Eclipse Hono 1.0.0 Archive.

Any thoughts?

[2019-11-12 15:42] kaniyan commented on #1620
@BobClaerhout In case of Hono, the _charts_ folder is generated automatically based on the dependencies declared in the `requirements.yaml`. It was never part of the _Hono Archive_. This is generated when you deploy Hono using  `helm install ...` or to generate explicitly `helm dependency update` can be used.

[2019-11-12 15:58] BobOntario commented on #1620
Eclipse Hono 1.0.0 Archive from has chart folder :)

[2019-11-12 16:37] kaniyan commented on #1620
I just downloaded the _Hono 1.0.0 Archive_  from the official [link](https://www.eclipse.org/downloads/download.php?file=/hono/eclipse-hono-1.0.0-chart.tar.gz&mirror_id=1135) and I didn't find _charts_ folder there :-)
There is a chance that the _charts_ folder might have generated in your local downloaded version, if you have already run `helm install ...` or `helm dependency ...`.

[2019-11-15 13:50] bordeuax commented on #1617
Hi @sophokles73 , I want to clarify (and yes of course correct me if i am wrong) that currently Eclipse Hono can be configured with two types of Key/certificate format JKS and PEM . We will have only in case of JKS full SNI enabled endpoints. And the requirements for SNI will be configuration key "sni: true" and JKS format for key/certificate.

[2019-11-18 02:53] BobOnt opened #1623 "Helm template file .tar.gz file vs .tgz file."
I am trying to deploy hono using eclipse-hono-1.0.1.tar.gz in the Huawei Cloud. But it requires that the template is provided by .tgz file. The system does not recognize eclipse-hono-1.0.1.tar.gz. how can I convert it to .tgz file?
Thanks

[2019-11-18 04:00] BobOntario commented on #1620
Can Eclipse Hono 1.0.0 Archive or Eclipse Hono 1.0.1 Archive be deployed in K8s v1.13.0?

[2019-11-18 08:09] sophokles73 commented on #1620
This seems to be a new/other question than the one you originally raised. It also seems to be interesting for others to know the answer. May I therefore kindly ask you to post it on stackoverflow instead as pointed out on [our community page](https://www.eclipse.org/hono/community/get-in-touch/)?

Thanks for your understanding.

[2019-11-18 08:09] #1620 closed

[2019-11-18 08:30] sophokles73 commented on #1617
It's actually three types: JKS, p12 and plain PEM. The former two are key store formats and may contain multiple keys/certs whereas the last one may only contain a single key/cert.

You can use any of the file formats for SNI, though. See [vert.x docs for more info](https://vertx.io/docs/vertx-core/java/#ssl) ...