[2022-07-06 15:24] #3325 closed

[2022-07-07 06:26] sophokles73 opened #3327 "Upgrade to Quarkus 2.10"

[2022-07-07 06:41] calohmn commented on #2892
So that means that the `Future` result from the preceding `compose` block isn't getting succeeded.
In fact, since the `recover` block below apparently isn't entered as well (no `cannot process` message in your logs above), this `Future` isn't completed at all, if the `hono-ttd` request is cancelled by the device.

I would have guessed that this could mean a memory leak, but according to some tests

[2022-07-07 09:48] avgustinmm commented on #2892
@calohmn
when connection is closed as @suzanaAngelovaIvanova  does the close handler set in `setTtdRequestConnectionCloseHandler` cancels the timer but doesn't complete `responseReady` that is completed by timer otherwise
Then the `CompositeFuture.all` is not completed and thus neither compose nor recover methods is called.
This shall be fixed, probably by completing `responseReady` with failure.

[2022-07-07 11:06] #3131 closed

[2022-07-08 06:31] sophokles73 opened #3328 "Do not start AMQP 1.0 messaging infrastructure in ITs if not needed"
Currently the AMQP 1.0 messaging infra components are _always_ started (and used) when running the integration tests, even if the Kafka based messaging infrastructure is being configured. Also, the AMQP based messaging infrastructure is still the default when running the ITs without setting the `-Dhono.messaging-infra.type=kafka` maven property.

Kafka messaging should be the default and the AMQP

[2022-07-08 07:17] sophokles73 commented on #2512
It will certainly play that role if a device already uploads a CloudEvent message. However, the spec also explicitly refers to *external Producers* in the [Source definition](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/spec.md#source):

So I can also imagine Hono's protocol adapters playing that role for devices that can/do not upload CloudEvents. In that case, Hono would need to s

[2022-07-08 08:54] BobClaerhout opened #3331 "Native executable based Lora adapter encodes JSON incorrectly"
The `meta_data` encoded by the lorawan adapter is not encoded properly when running in native mode, it is encoded as  `{}` and thus without conents.

[2022-07-08 09:04] avgustinmm commented on #2512
External producers are perfect match for use cases like sensors producing events and (higher level) device that communicates with the backend. However, concept is applicable to Hono, I suppose.
Hono could supply source (device), id (that might be a little tricky to generated), specversion, type (e.g.  `org.eclipse.hono.event/telemetry`), time - which would be received time and content-type (if ava

[2022-07-11 06:38] #3328 closed

[2022-07-11 08:49] #3327 closed

[2022-07-11 11:03] sophokles73 opened #3333 "Upgrade integration tests to use Jaeger All-In-One 1.36"
The 1.36 release's collector component supports the OTLP protocol natively, i.e. there is no need for a dedicated OTEL collector component that forwards to the Jaeger back end anymore.

[2022-07-11 11:17] suzanaAngelovaIvanova commented on #2892
Тhe error reproduces after I add vert.x timer 60 seconds(in block  .compose(proceed -> .....) and call request with ttd 30 seconds

`curl -i -u $MY_DEVICE@$MY_TENANT:$MY_PWD -H 'Content-Type: application/json' -H "hono-ttd:30" --data-binary '{"alarm": "fire"}' [http://$HTTP_ADAPTER_IP:8080/event](http://%24http_adapter_ip:8080/event) -v`

log:
[code]

[2022-07-11 14:04] calohmn commented on #3318
Feature added via #3335.

[2022-07-11 14:04] #3318 closed

[2022-07-12 05:57] sophokles73 commented on #3306
Fixed via #3324

[2022-07-12 05:57] #3306 closed

[2022-07-12 07:02] #3331 closed

[2022-07-12 12:04] calohmn opened #3339 "Command Router: Allow setting consumer group name for Kafka consumer"
The Kafka consumer for receiving command messages in the Command Router currently always gets a fixed consumer group name (`KafkaBasedCommandConsumerFactoryImpl.DEFAULT_GROUP_ID`, i.e. `cmd-router-group`).

It should be made possible to set a custom name here, if needed. For example, it could be helpful to use a custom prefix so that the name is in line with other consumer group names used for the

[2022-07-12 13:08] #2828 closed

[2022-07-12 13:32] calohmn opened #3340 "Allow deactivation of sending delivery failure command responses"
When using Kafka messaging, request-response command messages that cannot be delivered are handled by sending a command-response message with content-type `application/vnd.eclipse-hono-delivery-failure-notification+json` (#2661).

It would be helpful if this feature could be deactivated via a configuration option.

A scenario for this involves moving a Hono deployment from one K8s cluster to anoth

[2022-07-12 16:40] n-deliyski commented on #2069
I have collected some thoughts regarding https://github.com/eclipse/hono/issues/2069 and https://github.com/eclipse/hono/issues/2760 as both issues seems to address similar problems.

Directions for improvement:

1 Remove call to unregister-cmd-consumer. Move sending of "connected" and "disconnected" events to command router.
Keep track of unsubscribed/closed devices and regularly (e.g 10 seconds)

[2022-07-13 06:11] #3339 closed

[2022-07-13 06:16] #3340 closed

[2022-07-13 07:47] sophokles73 opened #3345 "Create arm64 based container images"
The container images created for the Hono components currently run on x86_64 architectures only. In order to take advantage of cloud providers' offerings around arm64 based hardware (which often is cheaper and/or more energy efficient), it would be nice to also produce corresponding images.

[2022-07-13 08:11] calohmn commented on #2069
I would suggest going for the first option here, introducing the `unregister-cmd-consumers` batch requests sent in a configurable interval, and moving the "connected" and "disconnected" events to the command router.
The configured interval could be set to a low value, so that the delay in the connectivity status update would be small, while still preventing status updates if the device disconnects

[2022-07-13 08:39] sophokles73 commented on #2069
In order to make it a little more robust, the adapters should send a batch as soon as the batch size has been reached, i.e. they should not wait for the interval to have passed before sending the batch in this case.

When an adapter instance crashes, the worst thing that can happen is that we loose all the piled up *device disconnected* information and the Command Router will not be able to send c

[2022-07-13 09:43] calohmn commented on #3316
In Hono 1.x, using the Hono Helm chart, the liveness/readiness probes were done using HTTPS by default, whereas with Hono 2.0, there was a [switch to plain HTTP](https://github.com/eclipse/packages/commit/ee42aab0542b6ff576394ffbda04a37938b4b20f).

[2022-07-13 10:21] sophokles73 commented on #3316
Shouldn't this make processing the requests faster rather than slower?

[2022-07-13 11:32] calohmn commented on #3316
Yes, it makes the observed change in behaviour all the more strange.

[2022-07-14 09:33] calohmn commented on #2892
Fixed via #3347.

[2022-07-14 09:33] #2892 closed

[2022-07-15 06:03] #3302 closed

[2022-07-15 07:37] calohmn opened #3349 "Command Router: Improve handling of first command subscription for newly created tenants"
When a new tenant gets created, there is a certain delay in when a device of the tenant is first able to receive commands delivered via Kafka.

If a device of the new tenant subscribes for commands in the first 5min after tenant creation, then the first such command subscription request will fail in many cases. The reason is that the Command Router Kafka consumer will only periodically refresh its

[2022-07-18 14:25] #3312 closed

[2022-07-19 10:15] calohmn commented on #3349
Resolved via https://github.com/eclipse/hono/pull/3353.

[2022-07-19 10:15] #3349 closed

[2022-07-20 06:10] #3301 closed

[2022-07-20 06:25] sophokles73 commented on #3292
@prabhaone is this still an issue or can we close this?

[2022-07-21 06:29] sophokles73 opened #3358 "Auth server fails to create token"
The Auth server fails to create a token when configured with an ECC based private key using the P-384 curve.

The problem seems to be that the token's signature is always created using the ES256 algorithm which requires a key with a key field of 32 bytes but the P-384 curve has a field of 48 bytes.

[2022-07-21 07:17] sophokles73 commented on #3358
closed via https://github.com/eclipse/hono/commit/36d0902017a037af44e490a6ce0dd4a9c6d708fb

[2022-07-21 07:17] #3358 closed

[2022-07-21 15:06] sophokles73 commented on #3358
fixed on 1.12.x via https://github.com/eclipse/hono/commit/89ff8f59cfa7ec0cde87f4d7fbd0f22cd4d30629

[2022-07-22 00:35] prabhaone commented on #3292
@sophokles73 still facing the issue, requested the logs and flow from mqttclient to Hono (actual edge gateways) but not yet received. As of now we can close this issue will connect once appropriate data's are available.Thanks.

[2022-07-22 05:38] #3292 closed

[2022-07-25 09:36] sophokles73 opened #3360 "Create and distribute native executable of CLI"
The command line client is currently built and distributed as an *uber-jar* which requires a locally installed JVM to be run.
Quarkus already allows us to create a native executable from the jar file so it should be fairly easy to extend the release build process with an additional step and copy the native executable to the Eclipse download server.

[2022-07-26 08:23] calohmn opened #3361 "HTTP-Adapter: idleTimeout default value doesn't fit max-ttd default value"
When making a request to the HTTP-adapter with the `hono-ttd` parameter set to 60s (equivalent to the default `max-ttd` value in the [tenant-configuration](https://www.eclipse.org/hono/docs/user-guide/http-adapter/#tenant-specific-configuration)), the request gets cancelled because the default `idleTimeout` of 60s is reached.

The `idleTimeout` default should be a bit higher than the `max-ttd` def

[2022-07-29 08:06] #2660 closed

[2022-07-29 09:04] calohmn opened #3365 "Limit parallel AMQP link creation requests"
When developing the fix for #2660, load-tests have been done with many concurrent device requests for different tenants. The first such request for a tenant causes tenant-specific AMQP links from the protocol adapter to the device registry and command router to be created.
The tests have revealed that a high number of such parallel link creation requests can cause a considerable amount of timeout

[2022-08-01 05:03] #3361 closed

[2022-08-02 07:03] suzanaAngelovaIvanova opened #3366 "Not properly closing a future in AbstractVertxBasedHttpProtocolAdapter"
While fixing the  [issue,](https://github.com/eclipse/hono/issues/2892) we saw that there was a problem with closing one future.

The problem is in `AbstractVertxBasedHttpProtocolAdapter->doUploadMessage()`

Test request:
`curl -i -u $MY_DEVICE@$MY_TENANT:$MY_PWD -H 'Content-Type: application/json' -H "hono-ttd: 30" --data-binary '{"alarm": "fire"}' http://$HTTP_ADAPTER_IP:8080/event -v`

[2022-08-02 08:11] calohmn commented on #3366
This is about the `responseReady` *Promise* in `doUploadMessage()` not getting completed in case a `hono-ttd` request gets cancelled by the client (as mentioned in https://github.com/eclipse/hono/issues/2892#issuecomment-1177154797), right?

[2022-08-02 09:35] avgustinmm commented on #3366
Yes, I think so.
I could take a look at the issue

[2022-08-03 05:35] calohmn opened #3367 "Upgrade to Quarkus 2.11"
Notable feature:
Quarkus 2.11 includes an update to vert.x 4.3, supporting usage of Kafka client 3.0.

[2022-08-05 05:41] calohmn opened #3369 "Missing Hono 2.0.x artifacts on Maven Central"
These Hono 2.0 modules have not been deployed to Maven Central:
- hono-client-application
- hono-client-application-amqp
- hono-client-application-kafka
- hono-client-command-amqp
- hono-client-device-amqp

[2022-08-09 10:34] avgustinmm opened #3372 "Build docker images on windows"
When you build docker images with current Hono version on windows it builds corrupted unusable images - the start shell script doesn't have execute permissions and could not be run.
This could be fixed (at least for test purposes) by changing fabric8 plugin assembly/permissions from default keep to auto.
Then all files in the image would have exec permissions (which could be a security issue?) and

[2022-08-09 10:37] avgustinmm commented on #3372
I volunteer to fix that in the proposed way - adding support for docker images build with fabric8 plugin assembly/permissions `auto` mode

[2022-08-09 12:13] kduba commented on #3333
I would like to work on this issue.

[2022-08-09 12:21] calohmn commented on #3372
Sounds good, if it can be done in a way that doesn't affect the standard linux build.

[2022-08-10 05:09] calohmn opened #3375 "Usage of Future onSuccess/onFailure/onComplete with regards to expected invocation order"
Quote from https://vertx.io/docs/vertx-core/java/#_future_results:

[code]

([more info](https://groups.google.com/g/vertx/c/cA_MBo2ljME))

Places in Hono code using these methods and requiring a certain invocation order need to be adapted.

Example of affected code  in TenantServiceBasedX509Authentication:
[code]

[2022-08-10 06:44] calohmn commented on #3372
Context: https://github.com/moby/moby/issues/11047

[2022-08-10 07:49] calohmn commented on #3372
@avgustinmm Instead of setting assembly permissions to `auto`, I guess we could alternatively just set the executable permission explicitly on the `/opt/hono/run-java.sh` file in the Dockerfile.
This can be done by adding
[code]
in the `docker-maven-plugin` configuration, alongside the `<entryPoint>` element.
Could you test this?

[2022-08-10 13:13] avgustinmm commented on #3372
@calohmn it seems to work with `runCmd`. Do you prefer this approach?
advantages would be
- no need to configure anything on windows in order to run
- the rest (all but run script) would not have exec permissions as it is the case when build with `auto` on windows
- so the images built on windows might be production ready (however having that it seems there are unexpected differences with linux -

[2022-08-10 13:46] calohmn commented on #3372
I would prefer the `runCmd` approach. Much smaller change overall and works out of the box on windows.
I think the extra `RUN chmod 755 /opt/hono/run-java.` line in the Dockerfile doesn't hurt.

Btw, have you tested building the native images on windows?

[2022-08-10 14:01] avgustinmm commented on #3372
OK, I will change PR with the `runCmd` approach. After some more thinking about I also decided that it would be better approach.
Haven't tested native images on windows

[2022-08-11 05:25] calohmn opened #3377 "MQTT adapter: Uncaught IllegalStateException: MQTT endpoint is closed"
In integration test runs, there are such exceptions in the log:
[code]

[2022-08-11 08:37] calohmn opened #3378 "NPE in CoAP adapter on PUT request without device id in URI"
Found this exception in CoAP adapter logs:
[code]

[2022-08-11 13:18] calohmn commented on #3372
Fixed via #3374.

[2022-08-11 13:18] #3372 closed

[2022-08-11 16:58] ghys opened #3379 "Adapter instance status service reports healthy adapter as SUSPECTED_DEAD"
Hi,

I stumbled on a strange issue where commands didn't get through to the MQTT adapter.
Environment: Hono 1.10.0 deployed with Helm.

For context: we delete the MQTT adapter every month with a k8s cronjob because of the external, public-facing Let's Encrypt certificate that expires every 3 months and is replaced regularly by cert-manager.

Here the pod had been recreated 16 days ago with no cont

[2022-08-12 08:40] calohmn commented on #3379
It seems the scenario here is similar to the one described in #3225.

The Hono Command Router component is making requests to the Kubernetes API to check which Hono protocol adapter pods exist in the cluster. The scenario observed in #3225 was that right after a new protocol adapter pod was started and when devices had already initiated command message subscriptions with the new protocol adapter,

[2022-08-12 10:21] ghys commented on #3379
The MQTT adapter pod was recreated on July 26th and has been running since. It's unclear for how long exactly the commands were not routed. Unfortunately I don't have the logs of the previous Command Router pod (the one that was terminated and recreated yesterday).
On the current one I do see watchers being recreated several times but only during a 20-minute period this morning:
`Watcher closed wi

[2022-08-15 06:35] calohmn commented on #3377
Fixed via 3c0ef9b0bf68f4ad849cb8ca9bb9e9856123c11d.

[2022-08-15 06:35] #3377 closed

[2022-08-16 06:40] calohmn commented on #3366
@avgustinmm Can this be closed now that #3373 is merged?

[2022-08-16 06:47] avgustinmm commented on #3366
I think so.

[2022-08-16 06:51] #3366 closed

[2022-08-16 11:31] calohmn opened #3381 "Hono website search doesn't work"
The search function of the Hono website currently doesn't work.

Seems to be related to the Relearn theme 4.2.5 update in Hono and changes concerning multilang support in Relearn theme 4.1.0 (see [here](https://github.com/McShelby/hugo-theme-relearn/commit/666d4d325164413f6d004d458696f8adc930a2a0)).

[2022-08-16 14:22] #3381 closed

[2022-08-18 13:24] calohmn commented on #3379
The `WatcherExceptions` above point at some temporary instabilities concerning the K8s API server, I guess. While the `watcher` instance is stopped during that time, there shouldn't be any issues with failed command deliveries (state is reported as UNKNOWN and ignored then).
If the `watcher` is connected, but there are K8s API request responses coming in with really big delay (as described in #322

[2022-08-19 06:18] calohmn commented on #3333
Fixed via #3382.

[2022-08-19 06:18] #3333 closed

[2022-08-19 08:07] calohmn commented on #2998
This issue wasn't observed any more using a Kafka client 2.8.x version including some fixes backported from later Kafka versions.
Therefore I think this issue can be closed when doing the Kafka client 3.2.1 upgrade in #3368.

[2022-08-19 08:35] calohmn commented on #2355
No, reacting on "Tenant deleted/disabled" notification messages in the Command Router isn't implemented yet.

[2022-08-19 09:25] n-deliyski commented on #2760
Hi, could you assign it to me? As it will be implemented within https://github.com/eclipse/hono/issues/2069

[2022-08-19 10:40] kduba commented on #2355
I would like to work on this issue.

[2022-08-19 13:56] n-deliyski commented on #2069
Here are some findings that came together with @calohmn.

At first I thought to add batch operations to both register-cmd-consumer and unregister-cmd-consumer Command Router APIs.
But then I face the fact of synchronous execution.
When device does MQTT subscribe request, Hono returns response only after the command consumer is created.
(The synchronous flow is applicable to unsubscribe flow too.)

[2022-08-22 05:48] calohmn commented on #3375
It looks like this is only an issue if `onSuccess`/`onFailure`/`onComplete` get invoked on a different thread than the one completing the Future, or, if `onSuccess`/`onFailure`/`onComplete` get invoked on the event loop thread but the Future has directly been created via `Vertx.executeBlocking` (with no further composition - see the [mailing list thread](https://groups.google.com/g/vertx/c/cA_MBo2

[2022-08-22 06:42] #2809 closed

[2022-08-22 06:56] calohmn commented on #3375
Looking at the places where `vertx.executeBlocking` is used in Hono, I don't see any potential issues here.

[2022-08-22 06:56] #3375 closed

[2022-08-22 07:24] avgustinmm commented on #3375
Since the javadoc explicitly states (and will state) that order is not guaranteed I think this pattern (onSuccess/onFailure -> onComplete) shall be removed from Hono (at least where order is important).
Yes, with the current Future implementation maybe there is no problem but Future implementation could be changed in future and the Hono code might unexpectedly start to behave inappropriately.

[2022-08-22 07:35] calohmn commented on #3375
I think it's best to wait for the Vert.x changes still to come out of the [mailing list discussion](https://groups.google.com/g/vertx/c/cA_MBo2ljME). I would expect the recent Vert.x javadoc additions to be removed again or to be adapted with a note that this only applies to cases where Future completion is done on another thread - a case that should be avoided anyway.

[2022-08-22 11:27] #3367 closed

[2022-08-22 11:29] calohmn commented on #2998
Used Kafka client has been upgraded to 3.2.1, therefore this issue should be obsolete.

[2022-08-22 11:29] #2998 closed

[2022-08-22 12:57] #3378 closed

[2022-08-22 15:35] calohmn commented on #3379
The upcoming 2.0.2 and 2.1.0 releases will contain improvements regarding the handling of delayed K8s API server responses.
I'm not sure whether in the scenario described in this issue there was maybe another problem still. So, we could keep this issue open for now, seeing whether the issue occurs again.

[2022-08-23 08:24] calohmn commented on #2355
Resolved via #3387.

[2022-08-23 08:24] #2355 closed

[2022-08-23 10:42] sophokles73 opened #3389 "Upgrade to Californium 3.6.x"

[2022-08-23 10:50] #3389 closed

[2022-08-23 12:19] calohmn opened #3390 "NPE trying to send event without payload via CLI"
Running
`./hono-cli-2.1.0-SNAPSHOT-exec amqp-device --sandbox event`
leads to an NPE:
[code]

[2022-08-23 12:27] sophokles73 commented on #3390
To me this looks a bug in the device-amqp client where the *EventSender* and *TelemetrySender* interfaces require a non-null payload to be supplied. However, in the downstream client we support a null payload which simply leads to an empty message body.

FMPOV the latter is the correct behavior because it allows for devices to (easily) produce empty notifications ...
WDYT @calohmn ?

[2022-08-23 12:43] calohmn commented on #3390
Yes. FMPOV, at the very least, an empty payload should be supported when using the `application/vnd.eclipse-hono-empty-notification` content type.

It even seems that the empty-notification content type is used as default when setting a payload:
[code]
<details>
<summary>(full stack trace)</summary>

[code]

</details>

Having the empty-notification content type used as default seems odd here. I t

[2022-08-23 13:23] sophokles73 commented on #3222
Here's what I consider a reasonable behavior:

1. If the payload of a message is empty, then
   1. if the device specifies a content type, that content type is used for the downstream message,
   1. otherwise, the `application/vnd.eclipse-hono-empty-notification` content type is used.
1. Otherwise, if the payload is not empty, then
   1. if the device specifies a content type, that content type is

[2022-08-23 14:03] calohmn commented on #3222
@sophokles73 I agree.

[2022-08-24 05:53] #3360 closed

[2022-08-24 06:23] sophokles73 commented on #3222
@calohmn

On second thought, I now think that we should never automatically set the `application/vnd.eclipse-hono-empty-notification` content type in the adapters. If a device wants to send an empty message without a content type, so be it. If the device is not per se able to set a content type, then a default content type can be defined for the device as well. However, in most cases, a device sho

[2022-08-24 07:09] calohmn commented on #3222
Actually, yes. Such a Hono-specific content type on messages coming from devices might also confuse downstream applications. The applications might only expect such a content type on messages coming from Hono itself, i.e. on the messages signalling  readiness to receive commands.

The default content type (using `application/octet-stream` if none is set for the tenant) should then only be set if t

[2022-08-24 08:42] sophokles73 commented on #3222
The Telemetry and Event APIs currently define the content-type as a mandatory message property. IMHO we therefore cannot make the content-type optional with a minor version update because downstream applications might rely on its existence in messages received from Hono.

So for 2.1.0 I guess we have two options:

1 The adapters reject empty (telemetry and event) messages that do not contain a con

[2022-08-24 09:35] calohmn commented on #3222
Currently, in the Hono code preparing the Kafka/AMQP messages to be sent, the content-type for a non-null payload is set to `application/octet-stream` if no content-type was provided.
I think I would keep it that way.
Using `application/vnd.eclipse-hono-unknown` might cause downstream applications to reject the message if the application hasn't been adapted to know this special content type. I thi

[2022-08-24 10:10] sophokles73 commented on #3222
I think I would keep it that way.

Yes, that makes sense and will not break compatibility.

You mean that the adapters should use `application/octet-stream` if the message from the device is empty and has no content-type?

[2022-08-24 10:19] sophokles73 commented on #3222
The MQTT adapter interprets an empty telemetry message as a device's intent to send an empty notification. That makes some sense because the device cannot (easily) provide a content-type explicitly apart from using a property bag in the topic (which nobody does, I guess). Changing the default content type being used in the downstream message in this case to `application/octet-stream` might therefo

[2022-08-24 11:27] calohmn commented on #3222
Yes. That would mean letting the adapters keep the decision which default content type to use in the end to the called `AbstractKafkaBasedDownstreamSender#addDefaults` and `AmqpUtils#setPayload` methods.

Can you elaborate on where this is defined or becomes obvious? I haven't found such a place in the code.

[2022-08-24 11:53] sophokles73 commented on #3222
Now that you mention it: neither did I ;-) I had just assumed that this was the case but it looks like it isn't. So an MQTT device actually MUST explicitly set the content-type via the property bag in order to send an empty notification and the same seems to be true for the HTTP adapter.

So, the strategy would now be:

1. If the payload of a message is empty, then
    1. if the device specifies a

[2022-08-24 12:00] sophokles73 commented on #3222
Wouldn't it make more sense to actually use `application/vnd.eclipse-hono-empty-notification` as the downstream message's content-type if the device uploads an empty message with no content-type? Using `application/octet-stream` feels wrong since there is no octet stream available, is there? Also, this way it would be easier for devices to send empty notifications ...

[2022-08-24 12:15] sophokles73 commented on #3222
@calohmn WDYT?

[2022-08-24 13:16] calohmn commented on #3222
I see benefits here with regard to sending `hono-ttd` messages without payload with the HTTP and CoAP adapters.

For the MQTT and AMQP adapter, I don't really see a need to make it easier to send `application/vnd.eclipse-hono-empty-notification` messages from the devices. It might even be a bit confusing for downstream application developers seeing messages from MQTT/AMQP devices without content t

[2022-08-24 13:34] sophokles73 commented on #3222
I see your point. AMQP and/or MQTT devices actually have no reason to send empty notifications in the first place.

I can also see the benefit of using the existence of a `hono-ttd` request parameter in conjunction with an empty and empty content type in the HTTP and CoAP adapters. For CoAP and HTTP devices this would allow them to omit the explicit content-type, thus further reducing request mess

[2022-08-24 16:43] calohmn commented on #3222
Ok, so then the only change for this issue here and Hono 2.1.0 would be allowing messages with empty payload and any non-null content-type.
For Hono 3.0 we could do the change towards allowing an empty content-type along with an empty payload.

Concerning the case that an empty device message with no content-type is received and there is a default configured for the device:
If the default is `appl

[2022-08-25 13:28] #3390 closed

[2022-08-25 15:57] ognian-baruh opened #3393 "The connection to a device in Eclipse Hono Sandbox is lost if a cloud application fails to process a message"
I have created a tenant and a device and am explicitly setting the messaging type of the tenant to AMQP using the following creadentials:

[code]

The tenant and device are being provisioned using the following three commands:

[code]

I have created a simple Python script which creates a Command Response handler using the Qpid Proton library:

[code]

My aim is to exit the application as soon as

[2022-08-26 06:23] sophokles73 commented on #3393
Topic: command///res/024cc17e6bb-86d7-40a0-b1a8-8f741d750a01replies/200
Payload (JSON formatted): {"example": "value"}
QoS: 1

I am not sure if I understand correctly what you are trying to do. Usually, a back end application sends a command to a device and a device sends its response via the MQTT adapter to the back end application.
My understanding of your code is that you are not sending a comm

[2022-08-26 15:55] #3222 closed

[2022-09-01 14:28] #3369 closed

[2022-09-02 09:09] sophokles73 opened #3399 "Support loading ECC based private keys from PEM files created by cert-manager"
The [cert-manager](https://cert-manager.io/) k8s operator creates k8s secrets for private keys. The secrets contain a PEM file that contains the Base64 encoded DER-encoding of the private key sandwiched between
[code]

Hono had always been able to read RSA based keys from such files. In order to be able to also use ECC based keys provided via cert-manager, Hono should also support reading files th

[2022-09-02 11:35] #3399 closed

[2022-09-06 05:32] sophokles73 commented on #3393
@ognian-baruh any news on this? Can we close this issue?

[2022-09-06 05:32] sophokles73 opened #3403 "Upgrade to Quarkus 1.12.x"

[2022-09-06 10:31] #2716 closed

[2022-09-07 07:07] ognian-baruh commented on #3393
Hello @sophokles73, sorry for the late reply, but I have been away for the last week.

Yes, that is correct. The idea behind the simulation of the command response is to isolate it in order to be sure that this is exactly what is causing the issue.

After further tests, I came to the same conclusion and modified the script a little bit - when receiving the response I manually close the connection

[2022-09-07 07:25] sophokles73 commented on #3393
That is because the command response message are being *routed* to the downstream consumer whereas the events are being *brokered*. The former means that the messages are being forwarded by the Dispatch Router to the consumer directly. The latter means that the Dispatch Router forwards the event message to an Artemis message broker which persists the message to a file. From the sender's point of v

[2022-09-07 07:30] ognian-baruh commented on #3393
Thank you very much for the response, I think we can close the issue now, as it seems like everything is working as expected.

[2022-09-07 07:31] sophokles73 commented on #3393
Great, then please do so :-)

[2022-09-07 08:55] sophokles73 commented on #2688
@Christian-Schmid With #3302 this should now be possible.

[2022-09-07 13:54] #2923 closed

[2022-09-08 09:19] calohmn commented on #2726
Some background info here:
Let's suppose a running LoRa adapter container contains 4 `LoraProtocolAdapter` verticle instances.
Each of that instance refers to a separate `InternalCommandConsumer` instance, keeping its own adapterInstanceId (with the verticle instance index as last part).

When a HTTP request from gateway device A to the adapter is handled by verticle instance 1, `LoraProtocolAdapt

[2022-09-12 15:01] sophokles73 opened #3405 "Move generated website pages to github repo"
The website build job currently pushes the generated HTML pages to the Eclipse Foundation's git server.
As part of the EF's phase out of Gerrit, all project web pages need to be moved to corresponding GitHub repositories.
The Hono web pages therefore should be pushed to the newly created https://github.com/eclipse-hono/hono-website repository.

[2022-09-13 08:12] sophokles73 opened #3407 "Upgrade to latest Spring Security GA release"

[2022-09-13 08:26] #3407 closed

[2022-09-13 09:51] PJC-IONOS opened #3408 "MQTT Port collision"
Hi all.

I am having some troubles in installing the Eclipse-Hono with helms.

The error is the following:
Error: INSTALLATION FAILED: Service "eclipse-hono-adapter-mqtt" is invalid: spec.ports[0].nodePort: Invalid value: 31883: provided port is already allocated

In my K3S cluster, I have a solution working that uses the MQTT and therefore the 31883 port.

Is it possible to change the ports of th

[2022-09-13 14:48] sophokles73 commented on #3408
This is the GitHub repository where the Hono code is maintained. The Helm chart is being maintained in the [Eclipse IoT Packages project](https://github.com/eclipse/packages). Can you please create an issue there or, even better, use the [corresponding Gitter channel](https://gitter.im/eclipse/packages) to post your question?

[2022-09-13 14:51] PJC-IONOS commented on #3408
Yes, of course. I will do that.

Thanks.

[2022-09-14 05:49] #3408 closed

[2022-09-14 06:05] sophokles73 commented on #2760
So, what is the status here? Do we agree to always let the Command Router send the *connected/disconnected* event on behalf of the device?
@calohmn @n-deliyski

[2022-09-14 07:54] calohmn commented on #2760
@sophokles73 Yes, that is the idea.

[2022-09-14 10:47] avgustinmm commented on #2232
could you assign that to me?
I'd like to try to provide support for local development mode

[2022-09-14 13:19] calohmn commented on #2704
Actually, the tenant-timeout based approach can be replaced with one that uses the `DeviceChangeNotification` mechanism now.

[2022-09-14 13:23] calohmn commented on #2726
Along with the modifications here, a change towards using the `DeviceChangeNotification` mechanism for removing obsolete command consumers can also be done here. See: https://github.com/eclipse-hono/hono/issues/2704#issuecomment-1246754628

[2022-09-14 15:11] sophokles73 opened #3411 "Support Mongo DB 5.0"
Currently, all tests are being run using Mongo DB 4.4. However, Mongo DB 5.0 and 6.0 are already available and we should make sure that we at least support Mongo DB 5.0. If any steps are required to migrate an existing Mongo 4.4 based registry to Mongo 5.0, these steps should be ideally performed automatically or (at least) be documented in the admin guide.

[2022-09-14 18:53] ghys commented on #3379
Thanks for the feedback @calohmn - we haven't made an impact analysis for upgrading to 2.x and are probably ready for it yet but this is certainly valued.

[2022-09-15 09:19] calohmn opened #3412 "Unexpected/undocumented MQTT topic used when forwarding command directed at gateway device itself"
When a MQTT gateway device creates a command subscription using the topic filter `command//+/req/#`, it will also receive command messages explicitly directed at the gateway device itself.

The Hono documentation states that when using such a topic filter, the MQTT adapter will use the MQTT topic
`command//${device-id}/req/[${req-id}]/${command}`
when forwarding commands to the device, notably con

[2022-09-15 09:46] calohmn opened #3413 "Hono-Website: Wrong links and image references"
The Hono Website currently contains some wrong links and image references, e.g. the top left Hono logo in the documentation.

Not found are:
[code]

[2022-09-15 09:54] sophokles73 commented on #3413
Yes, I have also noticed. I am currently trying to update the relearn Hugo theme to the latest version which seems to fix some of these issues ...

[2022-09-15 10:59] sophokles73 commented on #3413
@calohmn Are you using a tool for checking the links?

[2022-09-15 11:16] calohmn commented on #3413
I was using the [W3C Link Checker](https://validator.w3.org/checklink), grep'ing the result HTML to get the above list.

[2022-09-16 04:11] sophokles73 commented on #2760
And based on that, there is no need for the protocol adapters to explicitly unregister command consumers from the Command Router nor send out *disconnected* events, right?

[2022-09-16 05:02] calohmn commented on #2760
On shutdown, the protocol adapter itself doesn't have to do the sending of the *disconnected* events. But, considering the case that some devices might not reconnect, there should be *disconnected* events getting sent for these from *somewhere*, notably the Command Router, possibly with some delay.
An explicit delay on the Command Router part before sending the events here and a prior check whethe

[2022-09-16 05:20] sophokles73 opened #3417 "Remove documentation for very outdated Hono versions from website"
We currently keep documentation for all versions but I do not believe that it is very useful to have the docs online for versions that we would never want anybody to use at all. I suggest to remove all docs before version 1.12. If needed, users can still build the docs from the source code ...

[2022-09-16 06:14] sophokles73 commented on #3413
closed via #3414

I have created #3417 to remove docs for outdated versions

[2022-09-16 06:14] #3413 closed

[2022-09-19 08:27] #3412 closed

[2022-09-20 05:54] #3405 closed

[2022-09-20 14:51] n-deliyski commented on #3411
I'd like to work on that. Could you assign it to me?

[2022-09-20 15:24] sophokles73 commented on #3411
@n-deliyski be my guest :-)

[2022-09-20 15:50] sophokles73 commented on #2688
Closed via #3302

[2022-09-20 15:50] #2688 closed

[2022-09-21 08:36] n-deliyski commented on #2760
Summing up the proposal for optimization:

- On shutdown, Protocol Adapter will not explicitly unregister Command Consumers and will not send `disconnectedTtdEvent`.
- Command Router will send `disconnectedTtdEvent` in case of command from north bount Application to disconnected device. This will happen only if the device is marked as connected to Adapter that was already shutdown.
- The sending o

[2022-09-23 08:11] BobClaerhout commented on #3315
At Aloxy we are only using authenticated connections so we don't have any objections in removing unauthenticated traffic.

[2022-09-26 12:47] sophokles73 opened #3425 "Do we still need support for using an embedded cache with the Command Router?"
For production use cases the Command Router supports storing routing information in an Infinispan data grid. However, it can also be configured to use an embedded (in-memory only) cache which can be used in development and/or test environments. Such a setup effectively limits the Command Router to a single instance only because the data in the cache is neither shared nor replicated.

It seems ques

[2022-09-26 14:40] sophokles73 opened #3426 "Upgrade to Californium 3.7.x"

[2022-09-26 14:52] sophokles73 commented on #3426
fixed on

master: https://github.com/eclipse-hono/hono/commit/d5318d92519989771d6adf18a8da8615f8179c68
2.1.x: https://github.com/eclipse-hono/hono/commit/70ce86a8a3cdf0a91b8321dd8e32266dbd89e121
2.0.x: https://github.com/eclipse-hono/hono/commit/31eb00498128cb6ae8782468e10de703386318c9

[2022-09-26 14:52] #3426 closed

[2022-09-26 15:05] BobClaerhout commented on #3425
Our dev and test environment also uses infinispan so we have no objection against removing the in-memory cache

[2022-09-26 20:10] vhdirk opened #3427 "Add support for using JSON format when logging to console"
We're migrating all our services to log in json format. It'd be nice if hono could follow suit.
Just like gelf, quarkus supports logging in json by setting the env var `QUARKUS_LOG_CONSOLE_JSON`, if the dependency `quarkus-logging-json` is added.

[2022-09-27 06:17] sophokles73 commented on #3427
Sounds reasonable to me :-) However, IMHO we should always include the `quarkus-logging-json` extension in the Hono container images and let users configure the logging they want by means of the configuration properties (which are not fixed at build time, if I am not mistaken).

[2022-09-27 07:08] vhdirk commented on #3427
By default, just including that library just adds support but does nothing more. You need the environment variable or an entry the application settings to change the default logging format to json

[2022-09-29 05:48] sophokles73 commented on #3411
Great work :+1: I guess that is about what I would have tested as well. I guess it would be worthwhile to get an understanding of how a migration of an existing Mongo DB 4 to version 5 (and/or 6) would look like, i.e. if there is anything special that needs to be taken care of regarding indexes etc. Maybe the Mongo DB contains some information regarding this topic?

[2022-09-29 13:40] n-deliyski commented on #3411
I have read the following compatibility guides from MongoDB:
https://www.mongodb.com/docs/v5.0/release-notes/5.0-compatibility/
https://www.mongodb.com/docs/v6.0/release-notes/6.0-compatibility/
Also I have gone through the source code of Hono DB DAO layer at hono/services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model.

My input is:
- The compatibility guides

[2022-09-29 14:00] sophokles73 commented on #3411
Sounds good. So which version do you suggest Hono should use for running tests from now on?
IMHO it would also be good to add some statement regarding compatibility to the Mongo Registry's Admin Guide.

[2022-09-30 08:09] n-deliyski commented on #3411
The [EOF schedule](https://www.mongodb.com/support-policy/lifecycles) for 4.4 and 5.0 is in 2024 and for 6.0 is 2025.
I found one [benchmark](https://serpapi.com/blog/the-downfall-of-mongodb-performance-2) that shows controversial results. 5.0 does not stand out with something. 6.0 has better query times.
The benefit of 5.0 and 6.0 is the new set of features. But my understanding is that Hono is n

[2022-09-30 08:42] sophokles73 commented on #3411
Sounds reasonable.

You mean, indicating that Hono will also work with Mongo 5.0 and 6.0?

[2022-09-30 08:45] n-deliyski commented on #3411
Yes exactly.

[2022-09-30 09:30] sophokles73 commented on #3411
Then please, go ahead :-)

[2022-10-06 09:27] avgustinmm commented on #3315
If you approve removal of "unauthenticated mode" I could implement it.

[2022-10-07 07:36] sophokles73 commented on #3315
FMPOV we can remove support for unauthenticated devices

@calohmn @kaniyan @ctron @dejanb Any thoughts/objection?

[2022-10-07 15:29] e-grigorov opened #3431 "Gateway MQTT topics are almost missing"
The initial trigger was eclipse-kanto/suite-connector#41, [more concrete](https://github.com/eclipse-kanto/suite-connector/issues/41#issuecomment-1270303977). The main issue is that the gateway itself is a device and can operate as such i.e. the gateway can send telemetry, events and can do command & control. The question is: what are the gateway MQTT topics? So far, the expectation was that the g

[2022-10-09 16:00] n-deliyski opened #3432 "Unexpected/undocumented MQTT behaviour when receiving commands via gateway"
The following cases are not covered in the [documentation](https://www.eclipse.org/hono/docs/user-guide/mqtt-adapter/#receiving-commands-authenticated-gateway). It is also not clear if this should work like that.

1. When authenticated gateway device subscribes for topic `command///req/#`
- it will receive commands directed to the gateway itself (e.g `command///start`) and
- it will receive comman

[2022-10-10 05:30] calohmn commented on #3315
I also think support can be removed.

[2022-10-10 08:25] avgustinmm commented on #3432
According Hono documentation commands (for instance one-way commands) will be send to
`command/[${tenant-id}]/${device-id}/req//${command}` for a device behind gateway and to `command/[${tenant-id}]//req//${command}` for the gateway itself. Following that and expectation of MQTT filter resolution I would expect that:
1. For subscription `command///req/#` - only command for gateway would be receive

[2022-10-10 10:09] avgustinmm commented on #3417
I also think there is no need to keep these docs on site. Only supported versions should be sufficient.
If there is agreement on this I could remove versions before 1.12

[2022-10-11 05:49] sophokles73 commented on #3417
@calohmn any thoughts?

[2022-10-11 05:51] sophokles73 commented on #3315
I have scheduled this issue to the 3.0.0 project.

[2022-10-11 08:25] calohmn commented on #3417
I'm ok with removing the docs before version 1.12.

[2022-10-11 09:38] sophokles73 commented on #3417
@avgustinmm please go ahead :-)

[2022-10-11 14:48] n-deliyski commented on #3411
I have spend some time to see the options for testing different mongo db versions during development.

a) There are JUnit tests (located at services/device-registry-mongodb) that bring up real mongo db using testcontainer framework.
The triggering for different mongo version is like this:
mvn test -Dmongodb-image.name=mongo:5.0
mvn test -Dmongodb-image.name=mongo:6.0
Those tests checks the functio

[2022-10-11 15:59] n-deliyski commented on #3431
I think gateway device should behave as a normal device. As such it should inherit all the topics of the normal/plain device.
I could not find exact statement for that into the documentation, maybe that is missing and could be improved.
If there are any exceptions from that rule they have to be documented too.
One exception of this rule is the subscription for `command//+/req/#` that is disccussed

[2022-10-11 16:07] n-deliyski commented on #3432
@avgustinmm
for 1) I agree
for 2) you mean this statement `the device-id segment in all cases except when the command was explicitly directed at the gateway itself`, right?

[2022-10-12 05:47] avgustinmm commented on #3432
yes exactly. I interpret it as - if command is sent to gateway it would be not with gateway id but empty segment.
though, I think it is more natural if command to gateway are send with gateway id - the same as to device. In that case gateway is simply a device (with device id equal to gateway id) and should keep same behavior.

[2022-10-12 06:24] e-grigorov commented on #3432
I am confused here, it seems that the last two comments are not aligned:
- `for 2) you mean this statement the device-id segment in all cases except when the command was explicitly directed at the gateway itself, right?` - except is used i.e. the gateway-id is not used in the topic
- `In that case gateway is simply a device (with device id equal to gateway id)` - this means that gateway-id is used

[2022-10-12 06:33] avgustinmm commented on #3432
current approach is that commands to gateway shall be send with empty device id segment - according documentation
the second one is just my opinion that this should not be like that but gateway id shall be used as id segment.

[2022-10-12 06:35] sophokles73 commented on #3411
With option b we would need to adapt the `.github/workflows/ci.yml` file to run the tests for different types of Mongo DB. FMPOV we would not need to run all combinations but e.g. only run the last variant with multiple Mongo DB versions.

[2022-10-12 06:50] sophokles73 commented on #3431
A gateway is a special device which, apart from acting on its own, can also act *on behalf* of other devices that connect to Hono *via* the gateway device. Thus, a gateway device can do everything that any other *normal* device can do and, in particular, can use the same topics for publishing data *originating from itself*.

@e-grigorov I agree that this could be made more explicit in the User Gui

[2022-10-12 07:05] sophokles73 commented on #3432
FMPOV the gateway device should not receive commands directed to devices that connect via the gateway in this case. The user guide clearly states that for the latter purpose, the `c//+/q/#` topic needs to be used.

@calohmn WDYT?

[2022-10-12 08:04] n-deliyski commented on #3411
I am not sure if understand that completely. Could you give a example?

[2022-10-13 06:23] calohmn commented on #3432
Yes, it would be consistent for both the `command///req/#` and `command//<gateway-id>/req/#` subscription filters to _not_ include messages directed at devices behind the gateway.
And if `command//<gateway-id>/req/#` was used, the topic that the command is published to should also contain the gateway id - just as it is documented in the "Receiving Commands (authenticated Device)" [chapter](https:/

[2022-10-13 06:46] #3417 closed

[2022-10-14 04:51] n-deliyski commented on #3411
I have tried matrix `device-registry: [file,jdbc,mongodb]` but it is not enough, as iterates only on one mongodb type - the last one(6.0). Thus I have created `device-registry-name: [file,jdbc,mongodb-4.4,mongodb-5.0,mongodb-6.0]`, is ok?

[2022-10-14 12:05] sophokles73 commented on #3411
closed via #3435

[2022-10-14 12:05] #3411 closed

[2022-10-25 15:30] n-deliyski commented on #3432
Hi, could you assign me on that issue?

[2022-11-01 12:20] akhilveramalli opened #3437 "how to get data from hono to jhipster-Ionic application using http get requests"
I am using hono to get IoT Data to my Jhipster-Ionic Application. How to
a) send http get request to hono api, to fetch data and show it on my echarts dashboard. b) How do i send commands back to Hono using my application to control my IoT devices? c) how do i send hono data into postgres database (my application database) for showing historic data). THANKS

[2022-11-02 06:44] sophokles73 commented on #3437
a) You can't. Hono writes the telemetry and event messages it receives from devices to Kafka topics. Applications that want to process the messages therefore need to create a corresponding Kafka Consumer an can then do with the data whatever they see fit. See https://www.eclipse.org/hono/docs/api/telemetry-kafka/#northbound-operations for details regarding the topic structure and message format.
b

[2022-11-02 09:16] sophokles73 commented on #2726
@calohmn @kduba can this be closed?

[2022-11-02 09:24] calohmn commented on #2726
yes, fixed via #3421.

[2022-11-02 09:24] #2726 closed

[2022-11-04 06:22] sophokles73 opened #3438 "Update to latest Spring Security GA version"
Hono is not affected by CVE-2022-31692 because it only uses some hashing functionality provided by the library but does not use Spring Security for authentication nor authorization.
However, using the latest 5.7.5 version will provide peace of mind and prevent false alarms when checking dependencies.

[2022-11-04 10:08] sophokles73 commented on #3438
closed via https://github.com/eclipse-hono/hono/commit/82c712bc4899969b72c9910327a3a9f40f3322ce

[2022-11-04 10:08] #3438 closed

[2022-11-04 10:10] sophokles73 opened #3439 "Update to Quarkus 2.13.x"
Update to latest Quarkus 2.13.x release.

[2022-11-11 09:08] #3439 closed

[2022-11-14 08:06] sophokles73 commented on #2069
@calohmn @n-deliyski are you still working on this one? Otherwise, we could also re-schedule it to 2.3.0 ...

[2022-11-15 15:35] julian-sotec opened #3441 "Support JWT based device authentication (Google IoT Core like authentication)"
This is the first of multiple issues we will submit in order to qualify Hono as a replacement for Google IoT Core customers (IoT Core is being retired in August 2023). One of the gaps is the special authentication that IoT Core provides. It is based on private / public key signed JWTs that are sent in the password field during MQTT CONNECT (see https://cloud.google.com/iot/docs/concepts/device-sec

[2022-11-15 15:39] julian-sotec opened #3442 "Support Google Pub/Sub as telemetry data message infrastructure"
This is the second issue to qualify Hono as a replacement for Google IoT Core customers. (see #3441)
As part of this architecture we would like to add native Pub/Sub messaging infrastructure support to Hono. We want to adapt the same topic structure that Hono uses for Kafka messaging. The PubSub message should contain the same header information as as on Google IOT Core.
Internal communication bet

[2022-11-16 07:04] sophokles73 commented on #3441
In general, I do not see an issue with adding another auth mechanism to the MQTT adapter. Have you already thought about where and how this functionality would need to be implemented?

[2022-11-16 07:05] sophokles73 commented on #3442
Would you mind providing a little more detail regarding the REST API that you envision? Would that become a standard Hono API? If so, where do you see this API to be added?

[2022-11-16 11:42] matthiasfeurer commented on #3442
We would submit a separate issue for the REST API, but to give a short answer here: this would most probably be a new API talking to the Command Router so that all upstream logic via MQTT Adapter can stay the same as is. Terminology wise we would try to comply with Hono standards, so that it can be included into the core project. We will provide more details in the separate issue.

[2022-11-16 13:40] julian-sotec commented on #3441
Since Hono already includes abstract classes and interfaces for, handler, provider and credentials we would write add our own classes that implement / extend the already existing interfaces. List of concrete classes
- JwtAuthProvider extends CredentialsApiAuthProvider<JwtCredentials>
- JwtCredentials extends AbstractDeviceCredentials
- JwtAuthHandler extends ExecutionContextAuthHandler<MqttConnect

[2022-11-16 14:23] sophokles73 commented on #3441
That sounds about right :-) However, I do not believe that you would need to provide an implementation of *AuthTokenValidator*. The validation of the JWT provided by the device should probably simply be done in the *JwtAuthProvider* using the JJWT API directly, based on the credentials on record for the device.

[2022-11-21 07:36] BobClaerhout opened #3444 "Add support for chirpstack V4 as a lora adapter"
Chirpstack V4 has a different uplink format: https://www.chirpstack.io/docs/chirpstack/integrations/events.html

[2022-11-21 08:36] sophokles73 commented on #3444
closed via #3443

[2022-11-21 08:36] #3444 closed

[2022-11-22 07:00] #3427 closed

[2022-11-22 07:02] sophokles73 commented on #2069
@calohmn @n-deliyski Any news?

[2022-11-22 08:15] calohmn commented on #2069
Not any more, see https://github.com/eclipse-hono/hono/commit/5505c3c6f6d4cb2ba70828188c9e38af2d02f1de.

As mentioned in https://github.com/eclipse-hono/hono/issues/2069#issuecomment-1173423185 above, the focus here has shifted from reducing the (Infinispan) cache operations to reducing the `unregisterCommandConsumer` requests to the Command Router (since protocol adapters aren't communicating wit

[2022-11-22 09:15] sophokles73 commented on #2069
@calohmn Sounds like we should remove this issue from 2.2.0 then, right?

[2022-11-22 09:39] calohmn opened #3445 "Create batch requests for (un)registering command consumers in Command Router (MQTT/AMQP)"
Follow-up of #2069:
If a large number of AMQP/MQTT devices get disconnected by an adapter shutdown, the subsequent reconnects to another adapter instance will produce many "registerCommandConsumer" requests to the Command Router (potentially leading to "no credits" errors), which could probably better be done as batch requests.

It could also be considered creating batch requests for "unregisterCo

[2022-11-22 09:41] #2069 closed

[2022-11-23 09:33] BobClaerhout opened #3446 "Add support for things stack V3"
The format for the things stack V3 has been altered compared to V2: https://www.thethingsindustries.com/docs/reference/data-formats/#uplink-messages

[2022-11-24 08:17] n-deliyski commented on #3445
The discussed batch feature has benefit in respect of (API call) optimization but has drawback of client delay.

The batch requests will impose delay on the client requests. See https://github.com/eclipse-hono/hono/issues/2069#issuecomment-1220712566
The batch requests would be triggered in a configurable interval or if the batch size is reached (the first come)
Thus the client delay depends on th

[2022-11-25 08:53] BobClaerhout commented on #3446
TTN and TTS are similar and this is already implemented

[2022-11-25 08:53] #3446 closed

[2022-11-28 07:57] BanDianMan opened #3448 "How to use a custom hono http protocol adapter? Is there an example"
I saw an explanation on the official website, but I don't know how to use it

https://www.eclipse.org/hono/docs/dev-guide/custom_http_adapter/

[2022-11-28 13:25] n-deliyski commented on #3448
At the moment there are there adapters that uses the HTTP Adapter base classes:

- Http Adapter: https://github.com/eclipse-hono/hono/tree/master/adapters/http
- Lora Adapter: https://github.com/eclipse-hono/hono/tree/master/adapters/lora
- Sigfox Adapter: https://github.com/eclipse-hono/hono/tree/master/adapters/sigfox

They could be used as examples.
All of the them extends `AbstractVertxBasedHt

[2022-11-29 07:02] BanDianMan commented on #3448
Thanks for your reply
I currently deploy hono on the server through cloud2edge
I now have a new quarkus project to implement a custom adapter
But I don't know how to configure in the application.properties file
Can I send data to Hono through addRoutes if I am only in the LAN

[2022-11-29 07:03] BanDianMan commented on #3448
Thanks for your reply
I currently deploy hono on the server through cloud2edge
I now have a new quarkus project to implement a custom adapter
But I don't know how to configure in the application.properties file
Can I send data to Hono through addRoutes if I am only in the LAN

[2022-11-29 07:03] BanDianMan commented on #3448
Thanks for your reply
I currently deploy hono on the server through cloud2edge
I now have a new quarkus project to implement a custom adapter
But I don't know how to configure in the application.properties file
Can I send data to Hono through addRoutes if I am only in the LAN

[2022-11-29 11:30] n-deliyski commented on #3448
The configuration values for e.g Http adapter are described at https://www.eclipse.org/hono/docs/admin-guide/http-adapter-config/. An example configuration exists inside the integration tests: https://github.com/eclipse-hono/hono/tree/master/tests/src/test/resources/http.

Regarding cloud2edge, you have to extend [hono helm chart](https://github.com/eclipse/packages/tree/master/charts/hono) to dep

[2022-11-29 14:12] #3345 closed

[2022-11-30 09:21] sophokles73 commented on #3437
@akhilveramalli can this be closed?

[2022-11-30 09:23] sophokles73 commented on #3425
@calohmn any thoughts/doubts?

[2022-11-30 09:24] sophokles73 commented on #3321
@avgustinmm sounds reasonable, would you mind creating corresponding PR(s)?

[2022-11-30 09:27] sophokles73 opened #3449 "Update to Quarkus 2.16.x"

[2022-11-30 09:34] #3064 closed

[2022-11-30 09:36] sophokles73 commented on #3432
@n-deliyski sorry for the late reply. I have assigned the issue to you ...

[2022-11-30 09:38] sophokles73 commented on #2511
@mscheibler @rpahli can we close this issue?

[2022-11-30 09:43] sophokles73 commented on #474
@avgustinmm is this still on your list or can/should we close this issue?

[2022-11-30 09:52] sophokles73 commented on #366
This has been added in 1.4.0

[2022-11-30 09:52] #366 closed

[2022-11-30 09:53] #523 closed

[2022-11-30 10:02] rpahli commented on #2511
@sophokles73 we switched to kafka so I think you can close the issue for now.

[2022-11-30 10:04] #2511 closed

[2022-11-30 15:20] avgustinmm commented on #474
Nice to have feature, but at least I don't need it at the moment.
You could close this issue.

[2022-11-30 15:22] avgustinmm commented on #3321
OK, I'll try to create a PR

[2022-11-30 15:30] #474 closed