[2018-08-29 14:36] ctron commented on #607
Yes, I will look into that.

We definitely can find way to make that possible for the `CommandClient`… the problem I see with this approach is that we run again into problems, as with the `send` methods. We have a bunch of offered functionality, which in fact is not supported.

[2018-08-29 14:48] mohabh88 commented on #763
I retried the receiver again... it got connected (at: 10:35:47.833), then the connection got lost right after (at 10:35:55.778) and the attempts to reconnect started till it gave up.

traces:

[code]
The connection seems not stable?

[2018-08-29 15:16] sophokles73 commented on #763
We had some infrastructure problems on hono.eclipse.org which I have fixed.
Note that I have also removed all devices, tenants and credentials as part of the fix except for the DEFAULT_TENANT, the default device (4711) and its default credentials (*sensor1@DEFAULT_TENANT*/*hono-secret*).
However, you should now be able to connect again using MQTTfx ...

[2018-08-29 15:22] sophokles73 commented on #784
No, the device opens a receiver link for that purpose, using an appropriate source address, e.g. `control/$tenant/$device/req` (where $tenant stands for the device's real tenant ID).

yes, since the device already has an anonymous sender link open (for sending telemetry and events), it can use this same link to also send command response messages using one of the addresses you proposed.

[2018-08-29 15:25] sophokles73 commented on #607
Why do you think it is not supported?

[2018-08-29 15:48] ctron commented on #607
My understanding is that we must put in `application/json`, otherwise it will not work as expected. Yet we do offer a first class citizen method to put in other values.

[2018-08-30 08:04] sophokles73 commented on #505
qos 2 messages are not acked and discarded. However, they are not yet tracked in a *malformed messages* metric. We will add such a generic metric for all protocol adapters after we have migrated to Micrometer #794

[2018-08-30 08:05] #505 closed

[2018-08-30 08:10] sophokles73 commented on #607
Only the clients for Tenant, Credentials and Device Registration need to do that. However, since `AbstractRequestResponseClient` is an abstract base class to be used for all kinds of request/response based APIs, it seems reasonable to provide means for setting a content type explicitly. In particular, the CommandClient may set a command specific content type that describes the command's input para

[2018-08-30 15:05] sysexcontrol opened #808 "Specify notification commands as new MEP"
Currently, our Command and Control API requires that a device must send a response to a received command.

For `notification commands` we need an API extension that reflects that there is no response expected or supported.
This especially means that there must be no receiver link opened in the sending application, but instead the outcome of the transfer frame is used to find out if the notificatio

[2018-08-31 09:36] ctron commented on #607
So 3 out of 4 implementations don't need that functionality and it might break when people actually use that.

Which brings me back to my proposal of creating a new abstract base class, with only the necessary functionality. This can be done outside of this PR, to keep it simpler. We can still keep the more complex abstract base, adding everything necessary for the command client.

[2018-08-31 09:47] sophokles73 commented on #607
Feel free to create a new issue for your future refactoring plans. However, I would appreciate it if we could focus on the (rather simple) modifications necessary for fixing this issue for the time being.

[2018-08-31 12:53] sophokles73 commented on #763
glad to hear it

[2018-08-31 12:53] #763 closed

[2018-08-31 13:51] ctron commented on #366
I think it would be a good idea to wait that until PR #809 is merged. Otherwise this will create conflicts.

[2018-09-08 11:10] ghys opened #817 "Auth & device registry keep getting OOMKilled with default limits"
I'm running Hono 0.7 on Kubernetes using the deployment script with next to no changes to the resources, i.e. I haven't changed anything as described in https://www.eclipse.org/hono/deployment/resource-limitation/.

`kubectl describe node` extract:
[code]

However I'm noticing that two services, the auth service and the device registry, are regularly OOMKilled (every few hours):
[code]
Here's the

[2018-09-10 11:51] sysexcontrol commented on #817
Hi @ghys , thanks for reporting.

I can confirm that you seem to be sticking to Hono's defaults regarding memory limits in the kubernetes deplyoment scripts, so I made some closer investigations regarding the memory consumption of both `device registry` and `auth server`.
So far without success to find anything:
- local docker swarm limits did not show any out of memory behaviour (`docker stats` l

[2018-09-10 12:39] ghys commented on #817
Thanks for investigating!

It's not a production environment yet, but I'm still having devices sending 2-3 telemetry messages per minute overall, and the occasional event and command & control too. I haven't checked if it's stable without activity.

Yes, I simply used the `kubernetes_deploy.sh` script in https://www.eclipse.org/downloads/download.php?file=/hono/eclipse-hono-deploy-0.7.tar.gz.

Unf

[2018-09-10 13:03] ghys commented on #817
Here are some interesting graphs from 2 weeks ago:
![image](https://user-images.githubusercontent.com/2004147/45298799-dbb1dd00-b509-11e8-9963-5622aefbdde3.png)
![image](https://user-images.githubusercontent.com/2004147/45298875-1ddb1e80-b50a-11e8-9a8c-cad5ae3fb781.png)
![image](https://user-images.githubusercontent.com/2004147/45298917-3c411a00-b50a-11e8-9470-7de2b8bb150e.png)

It was very near t

[2018-09-10 13:10] sysexcontrol commented on #817
@ghys thanks for providing this - I have the suspicion as well that the limits are set quite narrow.
I have seen something similiar in docker swarm - but it never failed so far.

Nevertheless, I would increase the limits, but would rather like to stick closer to the current limit than you did in your successful changes two days ago.
So, increase them rather to `Xmx=384Mi" instead of `512Mi`.

Woul

[2018-09-10 15:11] ghys commented on #817
I can't alter the deployments today but will try when I get the chance.
I haven't increased the `Xmx` Java option (set respectively to `150Mi` and `180Mi` for the auth and registry services), only the resource limit (https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#specify-a-memory-request-and-a-memory-limit). Maybe it could be an option to keep them as they were an

[2018-09-10 16:05] sysexcontrol commented on #817
:+1: experiments in your environment appreciated!

I guess you meant `it could be an option to keep Xmx as it was and increase the kubernetes limits, e.g. from 256Mi to 320Mi for the device registry` (and similar for the auth service), right?
This would make a lot of sense to me, and we would stick to try to keep memory requirements as low as possible.

Looking forward to your results, tell me if

[2018-09-10 16:55] ghys commented on #817
No, that's what I did, but I wondered if keeping the kubernetes limits as 192Mio and 256Mio but decreasing the Java maximum heap size to for example resp. `-Xmx96m` and `-Xmx128m` (from resp. `-Xmx150m` and `-Xmx180m` currently) could also do the trick. It's probably more dangerous though because it could lead to Java OutOfMemoryExceptions...

I'm interested to know if Hono can run reliably (only

[2018-09-11 07:32] pho-enix opened #819 "HTTP Adapter: org.eclipse.hono.client.ServerErrorException: no connection to service"
Version: 0.7-M2

For me HTTP Adapter gets stuck. It will not processes messages. I run two instances. Both are affected. After restart of the instances everything works fine. I didn't see any errors in logs of hono-messaging.

`06:40:50.723 [vert.x-eventloop-thread-1] DEBUG o.e.hono.client.impl.HonoClientImpl - reusing existing client [target: credentials/TENANT]
06:40:50.723 [vert.x-eventloop-thr

[2018-09-11 13:30] sysexcontrol commented on #817
I completely see your point, sounds reasonable.

As a quick information : I configured the `-Xmx80m` for the device registry locally (not running in a container) and monitored the heap usage and the log while firing telemetry messages to the HTTP adapter. No problems, a clean sawtooth behaviour, no OOM exceptions, no malfunctions.

So go ahead and tweak Xmx down and let's see if it works in your e

[2018-09-13 13:08] ctron commented on #794
As there are CQs still pending, I will move this to 0.8.0-M2.

[2018-09-14 07:52] sysexcontrol opened #821 "Remove deprecated methods from MessageSender interface and implementation code"
Many of the existing variants of the send method (in particular the ones accepting a drain handler) were labelled deprecated in #781 and need to be removed from the code.

[2018-09-14 07:53] sysexcontrol commented on #821
To be scheduled for 0.9.

[2018-09-17 06:43] DanielMaier-BSI commented on #559
We have now implemented our own re-connection handler that also re-establishes receiver link. If no one else is interested in this feature I can close this issue. How did you solve this for command and control receiver links?

[2018-09-19 02:22] KeiranHines opened #823 "System.setProperty("vertx.disableTCCL", "true"); caused sender unable to connect 500 error"
Hi,

I am currently trying to get a Java based sender connected to eclipse Hono and am stuck on the following issue with security access control.
If I create a normal vertx using Vertx.Vertx() I get a securityControlException
`java.security.AccessControlException: access denied ("java.lang.RuntimePermission" "setContextClassLoader")
 at java.security.AccessControlContext.checkPermission(AccessCont

[2018-09-20 10:29] sysexcontrol commented on #808
Available in 0.8-M1_1 milestone (specification, not the implementation).

[2018-09-20 10:29] #808 closed

[2018-09-20 10:32] sysexcontrol commented on #607
@ctron : can this issue be closed?

[2018-09-20 10:46] sysexcontrol opened #824 "Provide tenant scoped command receiver link for custom protocol adapters"
Today, Command and Control receiver links in protocol adapters are always scoped to a device (that itself belongs to a tenant).
This is what is always used in Hono's protocol adapters that support Command and Control.

For some scenarios it can be desirable to open a Command and Control receiver link on the tenant level, so the protocol adapter can decide itself to which device(s) a command shall

[2018-09-20 12:42] balsmn opened #825 "New Bcrypt credentials enables DoS attack on the protocol adapters."
As per Credentials API, Hono is using Spring security for Bcrypt password encoding.

Spring security supports bcrypt password encoding with log rotations from 4 to 31, 10 being default (i.e:- 2^10 hash iterations). Once hashed, the log rotation used is part of the password like

`$2a$21$LQdzaDSINBpHmYRiGEVtkOVt2GScZ6bPvEyoAIpiVIE6F4rviemdm`

where $21 represents the log rotation used. There is cur

[2018-09-20 12:49] sysexcontrol commented on #825
@balsmn Thanks a lot for this detailed report!
IMHO very reasonable, I will schedule a fix for the next milestone 0.8-M2.

[2018-09-21 07:06] ghys commented on #817
FYI: Here are some memory usage graphs after about 2 weeks of running untouched with `-Xmx150m` /`-Xmx180m` and ample limits:
[code]
![image](https://user-images.githubusercontent.com/2004147/45865210-02c7a480-bd7d-11e8-9f14-a1cdd3214fad.png)

[code]
![image](https://user-images.githubusercontent.com/2004147/45865183-ef1c3e00-bd7c-11e8-9e55-385a71dcf0c8.png)

Both container restarted only 6 times

[2018-09-24 09:05] sophokles73 commented on #817
This is what we do on the Sandbox which, in fact, has only 3.75GB of RAM ... However, there we deploy to Docker Swarm, i.e. we are not running Kubernetes on the Sandbox in order to not waste too much memory on infrastructure.

[2018-09-27 08:17] sysexcontrol opened #828 "Supervise link creation in HonoClient by timeout"
We need to supervise the creation of links in the HonoClient by adding a timer that is failing the creation if it was not completed in the given time frame.

This addresses following problems:
- a remote peer could just not answer the creation of a receiver link (letting the creation of a link pair stay undefined forever). The timer would remove all link artifacts and lets the creation fail cleanl

[2018-09-27 12:57] sophokles73 commented on #823
Hi,

I am not sure if I understand what you are trying to achieve. Can you elaborate a little and (ideally) post the code (or a gist) that you are trying to run?

[2018-09-27 14:08] sysexcontrol opened #829 "Deploy coap adapter to docker swarm only if specific flag is given"
Currently we start the coap adapter in the standard docker swarm deploy script. This demands that the coap adapter is available from `docker hub` as container.

We need to modify the behaviour for 0.8 by making following changes:
- remove the coap adapter from the deploy job to maven central (if the coap adapter is desired, it needs to built locally as docker image) and from the `push_hono_images.

[2018-09-27 15:12] sysexcontrol opened #830 "Command receiver links do not reopen after reconnection"
Protocol adapters do not automatically reopen command receiver links if the connection to the AMQP 1.0 network fails.
For long living command receiver links that can occur for:
- MQTT connected devices
- HTTP connected devices with a high ttd value
- tenant scoped command receiver links for custom protocol adapters (soon being available)

this can be a major problem since the commands cannot be se

[2018-10-01 12:10] sophokles73 commented on #825
Nice catch @balsmn :+1:
There seem to be two issues to consider in this context:
1. Make sure that we do not allow a DOS attack by registering a bcrypted password with more iteratins than seem reasonable.
2. Make sure that we do not block the event loop of protocol adapters that validate a password against a bcrypt hash.

The first item should probably be addressed by introducing a (configurable)

[2018-10-01 14:51] sophokles73 opened #832 "MQTT adapter should support commands to be published using QoS 1"
The MQTT adapter currently only supports publishing of commands to devices using QoS 0. The adapter therefore gets no indication whether the command has been accepted by the device and thus immediately sends back an *accepted* disposition to the application as soon as it has published the command (using QoS 0).

We already allow devices to publish their response to a command using QoS 1 so it seem

[2018-10-04 09:41] balsmn commented on #825
Yes it is a good idea to have a configurable upper limit in the base credentials implementation of Hono and for the implementation which is not based , I would recommend mentioning it in the credentials documentation of Hono so that it is not missed.

As far the second item, I see you have already merged the PR#833. Thank you very much for fixing it fast.

[2018-10-04 09:46] balsmn commented on #825
Sorry, mistakenly closed the issued..

[2018-10-04 11:03] sophokles73 commented on #825
@balsmn would you be willing to create a corresponding PR for implementing this in the Credentials endpoint base classes?

[2018-10-04 11:36] balsmn commented on #825
@sophokles73 yes I can work on this PR sometime next week.

[2018-10-05 09:37] sophokles73 commented on #823
@KeiranHines can you provide more information?

[2018-10-05 14:01] mbaeuerle opened #835 "Password Encoder supports more hash functions than documented"
The `org.eclipse.hono.util.PasswordEncoderFactory` lists 5 password hashing algorithms:
- sha-256
- sha-512
- pbkdf2
- scrypt
- bcrypt

The [documentation](https://www.eclipse.org/hono/api/credentials-api/#hashed-password) just lists 3 of them:
- sha-256
- sha-512
- bcrypt

Are `pbkdf2` and `scrypt` fully supported yet and can be added to the docs?

[2018-10-08 07:31] sophokles73 opened #837 "Upgrade to vert.x 3.5.4"
Upgrade to the latest bugfix release

[2018-10-08 08:27] sophokles73 commented on #837
fixed in https://github.com/eclipse/hono/commit/25ff0583daaadced41b48de07923c41f01c0d74c

[2018-10-08 08:27] #837 closed

[2018-10-08 08:41] kaniyan commented on #624
@pellmann Can this issue be closed or anything more need to be done?

[2018-10-08 09:54] sophokles73 commented on #835
FMPOV the hash algorithms are not supported (officially) unless we explicitly document them in the Credentials API. The library we use for computing hashes indeed supports the additional algorithms. However, we need to define how the hashed password maps to the *secret* structure (as we did for bcrypt). We then (may) need to implement this mapping in the Credentials validation code.

@dejanb Any f

[2018-10-08 13:09] #829 closed

[2018-10-08 13:33] sophokles73 commented on #669
The application should then simply not set the *reply-to* property in the command message.

I do not think that I understand the purpose of this.

What is this supposed to be good for?

[2018-10-08 13:36] sophokles73 commented on #669
We already have added the concept of a *one-way* command to the [C&C API](https://www.eclipse.org/hono/api/command-and-control-api/#send-a-one-way-command).

However, the protocol adapters need to be adapted accordingly, e.g. the HTTP adapter needs to be changed to not include the *hono-cmd-id* header in the HTTP response if no *reply-to* property is set in the command.

[2018-10-08 13:40] sophokles73 commented on #130
vertx-proton doesn't support enforcement of max message size as of version 3.5.4. The underlying Qpis proton-j library also doesn't support this (yet). It doesn't make sense to implement this at the application level though, because once the application level gets its hands on an incoming message, the memory has already been allocated and used. The only thing to do for the time being is probably o

[2018-10-08 14:39] sophokles73 commented on #502
My understanding is that the Dispatch Router doesn't buffer messages, so if two subsequent messages with different priorities arrive, e.g. message one with prio 7 and message two with prio 2, then the router will try to deliver message one to a consumer and will release it, if no consumer is available. When message two arrives, the same processing happens. Thus, the priority has no meaning to the

[2018-10-08 14:46] sophokles73 commented on #824
@sysexcontrol can you give an example of a scenario where this is required/useful?

[2018-10-08 14:48] sophokles73 commented on #669
@sysexcontrol are you currently working on this issue?  It is assigned to you but it is not in progress (yet) ...

[2018-10-09 07:52] sysexcontrol commented on #824
@sophokles73 Sure!
This addresses protocols that are usually accessed by an intermediate layer ("`Network manager`"?), e.g. LoRaWAN.

To write a custom protocol adapter for such implementations/protocols, a receiver link is needed that is always open to receive commands for arbitrary devices. These commands are then usually routed to the `network manager`.

This issue is about to be able to open s

[2018-10-09 08:01] sophokles73 commented on #824
@sysexcontrol I'm not sure if opening a receiver link like `control/${tenant}` would do the trick. What if you have other devices that e.g. use HTTP in this tenant as well? Opening the above mentioned link would then allow the AMQP 1.0 Network to route commands intended for a specific (HTTP based) device to the custom adapter instead of the HTTP adapter, which would have opened a standard receiver

[2018-10-09 08:28] sysexcontrol commented on #824
@sophokles73 : I fully understand your concerns and have 2 answers to that:

1.) multiple use of the `tenant` (e.g. in different protocol adapters):
this is indeed a problem. The idea was (and I did not mention this so far) to only extend the API but not to make use of this extension in Hono's standard PAs. However, custom PAs (e.g. to implement access to some LoRaWAN provider) can use this extens

[2018-10-09 08:56] sophokles73 commented on #824
if using the control/${tenant} link address, it would reach the custom PA.

Have you actually verified this using the Dispatch Router? I suspect that the receiver link using `control/${tenant}` as the source address would also be considered a legit destination for a command sent over a link with a target address of `control/${tenant}/${device}`, but I am not 100% sure ...

[2018-10-09 09:02] sysexcontrol commented on #824
@sophokles73 : ok, if you are not certain, I better check this, I agree!
It was my understanding, but I might be mistaken.

Will post the result here afterwards (will take a short while due to other prios currently).

[2018-10-09 11:19] sysexcontrol commented on #669
That is a reasonable implementation detail. However, the current API needs to be somehow extended as well, since for the client the _reply-to_ property is completely transparent currently (and thus would always be set).
I will extend this part in the description.

[2018-10-09 11:23] mbaeuerle opened #841 "The pwd-hash base64 encoding is only required for sha hashes"
Currently only `sha-256` and `sha-512` should be base64 encoded when creating credentials in the device registry but `bcrypt` hashes should not be.
- On the one hand it is not necessary to base64 encode bcrypt hashes because they don't contain any special characters
- One the other hand a standardized secrets format where each hash algorithm behaves the same way is also desirable (i.e. where every

[2018-10-09 11:37] sysexcontrol commented on #669
This was meant as the possibility for a device to signal that it will (or cannot) reply to any command. At the same time as the `ttd` parameter is given.

The first option demands that the application itself needs to know if a command can be responded by the device or not. This 2nd option would enable an application to send a command, and the underlying API can decide itself if there should be a r

[2018-10-09 11:51] mbaeuerle commented on #835
PBKDF2 and scrypt are interesting on the long term as they are standardized by the IETF and proposed by the ENISA (in case of scrypt).

I am closing this issue, as my question is answered!

[2018-10-09 11:51] #835 closed

[2018-10-09 12:41] sysexcontrol commented on #780
Hi @avgustinmm : as I wrote we have the `CommandConnection` available (which is a `HonoClient` already). This separates a little on the adapter side.

However, we agree on that the hono client needs to be more clearly separated for the needs of
- applications
- and protocol adapters

Now it is separated by the _features_ which undoubtedly is not good.

I propose to have an interface hierarchy for

[2018-10-10 07:13] sophokles73 commented on #841
The Credentials API already describes the specific format of the different hash values explicitly. FMPOV we  only need to remove `The Base64 encoding of` from the description of the *pwd-hash* field in the table for the *hashed-password* credentials type.
WDYT?

[2018-10-10 11:57] sophokles73 commented on #825
@balsmn no need to work on this. I am close to committing the missing functionality ...

[2018-10-10 13:05] mbaeuerle commented on #841
👍 That sounds reasonable to me!

[2018-10-10 13:11] balsmn commented on #825
oh, I was about to start this now. Anyways. Thanks.

[2018-10-11 06:42] #825 closed

[2018-10-11 10:28] sophokles73 opened #845 "Upgrade to Spring 4.3.19"

[2018-10-11 10:29] sophokles73 opened #846 "Upgrade to Spring Boot 1.5.16"

[2018-10-11 10:29] sophokles73 opened #847 "Upgrade to Spring Security 4.2.8"

[2018-10-11 10:45] #845 closed

[2018-10-11 10:45] #846 closed

[2018-10-11 10:45] #847 closed

[2018-10-11 13:56] kaniyan opened #849 "Update build links in Eclipse Hono Website (under developer resources)"
Build links for CI & Nighlty builds at [eclipse site](https://projects.eclipse.org/projects/iot.hono/developer)  need to be updated with actual pipeline jobs

[2018-10-11 15:41] sophokles73 commented on #849
fixed

@kaniyan thanks for reporting

[2018-10-11 15:41] #849 closed

[2018-10-11 16:35] #841 closed

[2018-10-11 16:38] sophokles73 opened #850 "Use OpenJDK 11 as JVM in Docker images"
We currently use OpenJDK 1.8 in our Docker images. Now that Java 11 is released, we should start to use OpenJDK 11 instead.

[2018-10-12 00:30] mohabh88 opened #851 "Hono - Docker for AWS installation"
Hello Hono Guru,

I got a question regarding deploying Hono using [Docker Swarms on AWS](http://www.eclipse.org/hono/deployment/docker-swarm/). I was able to run Docker Swarms (i.e., one Swarm Manager and five Worker nodes) using CloudFormation and deployed the containers comprising a Hono instance to an existing Docker Swarm based on the `swarm_deploy.sh` script and it was successfully deployed.

[2018-10-12 10:51] #850 closed

[2018-10-15 13:07] ctron commented on #794
Close by PR #809

[2018-10-15 13:07] #794 closed

[2018-10-15 13:27] kaniyan opened #853 "MQTT Jmeter Sampler for Command and Control"
Currently [emqx/mqtt-jmeter](https://github.com/emqx/mqtt-jmeter) plugin is being used to perform our load tests (to publish telemetry and events using MQTT). Unfortunately we cannot use it to test the command and control. We need a new Sampler that subscribes to a control topic, receives commands, parses request-id from topics and sends command responses.

[2018-10-16 06:58] #781 closed

[2018-10-16 07:00] sophokles73 commented on #765
@ctron isn't this done already?

[2018-10-16 08:43] ctron commented on #765
Indeed.

[2018-10-16 08:43] #765 closed

[2018-10-16 10:53] sysexcontrol opened #855 "Command and Control classes need to be contained and OSGi-exported in hono-client"
Currently, the Command and Control classes for offering this feature in protocol adapters are contained in the `hono-service-base` module, which is intentionally not an OSGi-bundle.

To enable writing a protocol adapter that needs to run in an OSGi environment these classes need to be available in the `hono-client` module with the correct packaging to export the necessary classes.

[2018-10-16 21:42] ManelGrichi commented on #851
Hi,
Me too, I am experiencing the same thing. I was successful to deploy Hono to the existing Docker Swarm on AWS, but not able to start up the consumer and connect to the Hono server using the example sender, new-user@HONO. I get the same error "[Thread-4] INFO  o.e.hono.client.impl.HonoClientImpl - connection to server [localhost:5671] already closed".
Any suggestions, please?

[2018-10-17 06:18] sophokles73 commented on #851
Can you post the output of
`> docker version`
after you have set the environment variable?

[2018-10-17 06:51] #823 closed

[2018-10-17 11:52] kaniyan opened #859 "MQTT Adapter: Handling of unsupported QoS levels during subscription to control endpoint by devices"
[Hono Mqtt documentation ](https://www.eclipse.org/hono/user-guide/mqtt-adapter)  states that  `Currently the MQTT adapter only supports publishing of command messages using QoS 0.` and `discards malformed messages that e.g. are published to an unsupported topic or use an unsupported QoS value.`

When devices subscribe to control endpoint with QoS levels 1 and 2 (as shown in below example), there

[2018-10-17 13:32] mohabh88 commented on #851
Thank you for your reply. This is the output of the aforementioned command after setting the env variable:

[code]

[2018-10-17 14:03] sophokles73 commented on #851
Can you update your Docker client on your local machine to a more recent one, preferrably the most recent one?
I suspect that when you run the swarm_deploy.sh script, it doesn't actually deploy the services because your Docker command line client does not recognize the `--detach` option. However, you can verify by simply issuing a `docker service ls` after you have run the deploy script and see if

[2018-10-17 15:03] sophokles73 commented on #859
It is true that the device can subscribe to the topic. However, the messages will still be published using QoS 0. You can see this if you add the `-d` switch to the command line:

[code]
The last line shows the content of the SUBACK packet sent back to the device. The same happens when the client wants to subscribe using QoS 2.

[2018-10-17 15:20] kaniyan commented on #859
Me too used the same flag to check :) . But this rule is not applied when we send event, telemetry or command-response. When a device (tested using paho & mosquitto clients) sends an event, a telemetry or a response to a command with QoS level 2, then the Mqtt Adapter discards those messages and the mqtt client keeps retrying indefinitely(default timeout is -1 unless explicitly specified by an use

[2018-10-17 15:28] sophokles73 commented on #859
Publishing takes place in two scenarios:
1. A device publishes telemetry, events or command responses to the adapter. The supported QoS for these types of messages are documented in the MQTT adapter's user guide. For telemetry QoS 0 and 1 are supported, for events QoS 1 and for command responses QoS 0 and 1 are supported.
2. The MQTT adapter publishes command messages to the device. The MQTT adapt

[2018-10-17 15:30] mohabh88 commented on #851
updated the `Docker client` to the latest release as recommended

[code]

and you were right, services were not being deployed to he swarm when issuing `swarm_deploy.sh`, but after the update, they were successfully deployed and the --detach option was recognized as well

[code]

but still, the consumer is not started yet. From the `/hono/example` folder

[code]

and from the `cli`:

[code]
build

[2018-10-17 15:34] sophokles73 commented on #851
The name of the parameter for specifying the host name is `--hono.client.host`,
not `--hono.client.hostname`

[2018-10-17 15:43] mohabh88 commented on #851
Still `--hono.client.host` is throwing the same error.

[code]

[2018-10-17 15:57] kaniyan commented on #859
IMHO it is also important how consistently a system behaves in case of invalid inputs, which attributes to user friendliness. In case of command & control, a device can subscribe successfully with QoS 2 (system works fine) and the same device face issues when try to send a response to those command with QoS 2.

IMHO it is consistent, if hono doesn't  let devices successfully subscribe with QoS 2 t

[2018-10-17 16:47] sophokles73 commented on #851
Didn't you say that you wanted to start a consumer? Then why are you starting the client as a sender? Please read the documentation ...

[2018-10-17 16:50] sophokles73 commented on #859
So your point is that we should deny a request to subscribe using QoS 2, right? I can live with that. Would you mind creating a PR?

[2018-10-17 17:16] mohabh88 commented on #851
starting up the consumer as in the getting started guide (or as in the previous comments):

[code]

Q: If the consumer is started correctly, why it is not doable then to connect to the Hono server using the example sender as stated to send some telemetry msgs?

[2018-10-18 07:03] sophokles73 commented on #851
As the Getting Started guide clearly states:

Now take a look at the command you are running:

`sudo mvn spring-boot:run -Drun.arguments=--hono.client.host=localhost,--hono.client.username=new-user@HONO,--hono.client.password=secret,--message.type=telemetry`

[2018-10-18 15:05] mohabh88 commented on #851
I believe I tried it too. I did change the localhost with the IP address of the host that the Docker is running on, but still the same behavior. The logs were exactly the same as the ones posted earlier. What is really strange is that the deployment became abnormal. I deleted the whole stack and re-deployed Hono to docker, the Auth Service becomes not detected.

[code]

note: configurations are th

[2018-10-18 18:43] ManelGrichi commented on #851
I faced the same thing and what I did is that I specified the full path to the .yml (e.g.: /home/... /hono/deploy/src/main/config/hono-service-auth-config.yml) inside the "`swarm_deploy.sh`" instead of $CONFIG/hono-service-auth-config.yml. The same thing applies to "`hono-service-auth-config.yml`" , `permissionpath` is pointed to (e.g.: file://home/.../Documents/my-permissions.json). I just change

[2018-10-19 07:42] sophokles73 commented on #851
@ManelGrichi

can you please try to run the command line client jar directly, i.e. not using `mvn spring-boot:run`:

[code]

[2018-10-19 13:36] sophokles73 commented on #349
Based on a mail I received from Julien Vieth of the vert.x project, the 3.6.0 release will not be available until sometime in November 2018. So it seems appropriate to postpone to > Hono 0.8

[2018-10-19 14:17] ManelGrichi commented on #851
the consumer started, but with this exception "`Configured trust store file does not exist: target/config/hono-demo-certs-jar/trusted-certs.pem`"... although the "trusted-certs.pem" is located in the hono-demo-certs-jar folder.

[code]

Also, the same applies when connecting to the Hono server using the example sender. I designed the command to be the same as the jar one since the  `mvn spring-boo

[2018-10-19 14:32] sysexcontrol opened #862 "Metrics Graphite legacy configuration not done for device-registry and auth service"
Both `hono-service-device-registry` and `hono-auth` constantly throw exception not being able to report to Graphite:

[code]

The other services are configured for reporting in legacy mode to the deployed influxdb, these two seem to be missing.

[2018-10-19 14:43] sophokles73 commented on #851
You need to run the command from the `hono/cli` folder as in the example I gave. Otherwise, the (relative) path to the trust store does not resolve, as you have experienced ...

[2018-10-19 15:00] #862 closed

[2018-10-19 15:07] ManelGrichi commented on #851
Thank you for the explanation. I, first, tried it from the `hono/cli `folder and the connection to the server got closed after the failure of all the connection attempts that's why I got inside the `target` folder to run the specified command.

The output looks as follows from `hono/cli` :

[code]

[2018-10-19 15:43] ManelGrichi commented on #851
Please find below the full output as requested

[code]

[2018-10-19 15:46] sophokles73 commented on #851
ok, this means that there is no process listening at 52.178.63.110:15671. Are you sure that you have successfully deployed Hono to a Docker swarm at 52.178.63.110?

[2018-10-19 15:55] ManelGrichi commented on #851
issuing the command: `docker service ls`, shows that Hono is available on the Docker Swarm

[code]

[2018-10-19 16:01] sophokles73 commented on #851
Can you access any of the other services, e.g. the Device Registry?

[code]

[2018-10-19 16:13] ManelGrichi commented on #851
No I cannot access any. The command failed after timing out.

[code]

[2018-10-19 16:17] sophokles73 commented on #851
well, then that probably means that the services you deploy to AWS are not exposed on the internet per se. Sorry, but you will need to consult AWS documentation to find out what you need to do in order to access the services from the outside ...

[2018-10-23 08:04] sophokles73 commented on #557
fixed in https://github.com/eclipse/hono/commit/2c9cce242db7db6f75966a9a8c85dfea4b3bbba5

[2018-10-23 08:04] #557 closed

[2018-10-23 14:21] sophokles73 commented on #784
@Alfusainey do you want to close this issue based on the outcome of your latest PR or do you want to continue to use it for adding integration tests? I would be fine with closing this issue now but still refer to it when you create a new PR for adding the integration tests ...

[2018-10-23 14:53] Alfusainey commented on #784
okay, I didn't know that was possible. I will close it now

[2018-10-23 14:54] #784 closed

[2018-10-26 09:20] ctron opened #864 "Allow to enable connection events by configuration"
Currently it is possible to swap the implementations for connection events by modifying the Spring application configuration class, providing a different bean. Hono supports two implementations out of the box.

It would be helpful if either of the provided implementations could be selected using a configuration option.

[2018-10-26 09:24] ctron opened #865 "Pass clients to connection events API as context object"
Currently one of the connection events implementation requires to have access to a messaging and registry client. However it is not possible to re-use the existing client instances. Also doesn't the connection events implementation start the clients, and track their health. This is required to be provided by the application. This also has to take threading models into account.

However, it would b

[2018-10-26 11:43] BobClaerhout opened #866 "Mqtt publisher client"
In our case, we already have a backend with an MQTT endpoint. This endpoint is currently not secured as this is not needed to proof the concept of our IoT application. However, as this will turn into a production application, the communication should be secure.
We tested hono-eclipse and concluded this could resolve the security challenges on the MQTT endpoint. In order be able to plug it in, in t

[2018-10-26 12:12] sysexcontrol commented on #855
Fixed by ffca900.

[2018-10-26 12:12] #855 closed

[2018-10-27 20:35] shailesharya opened #867 "Hono client"
How do I start hono client  (other than for DEFAULT_TENANT) TO receive mqtt message?

[2018-10-29 08:06] sophokles73 commented on #867
Please do not post the same question to StackOverflow and GitHub. I have posted an answer on [StackOverflow](https://stackoverflow.com/questions/53023661/how-do-i-start-eclipse-hono-client-in-mqtt).

[2018-10-29 08:06] #867 closed

[2018-10-29 09:52] sophokles73 commented on #866
Thanks for your interest in Hono :-) I do understand the desire to integrate Hono with existing system landscapes and I think that we should provide some guidance on how to do this in practice. It is, of course, always possible to code such integration in Java (or any other programming language) directly. However, from my experience there are some other options that FMPOV are more appropriate for

[2018-10-30 13:54] #859 closed

[2018-10-31 10:52] b-abel commented on #750
The general question for me is how to define the health state of the application with respect to multiple instances of a Verticle: Is the whole application DOWN if one Verticle instance is DOWN? And, if yes, how is this determined.
If different Verticle instances report a different health state, the health check would not provide a consistent result. I don't see a simple solution for this problem

[2018-10-31 12:13] sophokles73 commented on #865
@ctron This seems to be fixed, isn't it?

[2018-10-31 12:33] b-abel opened #871 "Add possibility to register credentials with cleartext password"
For prototyping and learning it would be helpful to have an operation in the Credentials (REST) API which allows to register new credentials without the need to hash the password. The `CredentialsHttpEndpoint` could be extended with an operation that takes a cleartext password and handles the hashing.

[2018-10-31 12:40] sophokles73 commented on #871
That would be highly appreciated :+1:
It would be cool if the hash function to use could be configured by means of an environment variable with a default of *bcrypt*. WDYT?

[2018-10-31 13:07] sophokles73 commented on #750
sounds good to me

[2018-10-31 13:43] phil-hei opened #872 "Java-based example for sending Command & Control messages from application to device"
First of all: big thanks for your work on Hono so far, especially for the introduced C&C functionality.

However, I wonder if there is a Java-based example available, which demonstrate the dispatchment of C&C messages from a business application to a authenticated device via the MQTT adapter?

The reason I'm asking is that I'm not that familiar with AMQP so far and currently struggeling to send su

[2018-10-31 13:57] sophokles73 commented on #872
Thank you for your interest :-)

There is no example for a device using MQTT. However, the example application in `hono-example` illustrates how an application (the `HonoConsumer`) can send commands to an HTTP based device using the HonoClient. From the application's perspective it should make no difference if the device is connected via HTTP or MQTT. Hope this helps.

[2018-10-31 14:44] kaniyan commented on #872
@phil-hei: In my opinion, take a look at the code in [Commander.java](https://github.com/eclipse/hono/blob/master/cli/src/main/java/org/eclipse/hono/cli/Commander.java)  from `hono-cli` and   [HonoConsumerBase.java](https://github.com/eclipse/hono/blob/master/example/src/main/java/org/eclipse/hono/vertx/example/base/HonoConsumerBase.java) from `hono-example` , which gives you insights on how to se

[2018-11-02 01:02] mohabh88 commented on #851
Following the above interesting discussion, I referred to AWS documentation and read thoroughly about port forwarding/tunnelling and attempted to apply them. The thing is, Docker manager can be reached normally via its "Public DNS (IPv4)" or the Public IP address. For example:

[code]

and when using port forwarding, it ends up either with either connection refused (often happen when the consumer

[2018-11-02 07:32] sophokles73 commented on #851
If you use ssh to forward a port from your local host to the remote host, then you will need to use that local port when trying to connect.
1. set up port forwarding:
[code]
Note the usage of `-N`, you do not want to execute a remote command but simply want to forward the port. This command should give no output at all but simply run until you hit ctrl-c.

2. open another shell and run the consume

[2018-11-02 08:57] b-abel commented on #750
I opened a PR, but I would like to provide another one with a different solution. The idea there is that the Verticles actively notify the `HealthCheckServer` via EventBus about health changes, the `HealthCheckServer` holds the health state of all verticle instances and can immediately answer all health check requests.
We could then compare and discuss the two PRs.

[2018-11-02 15:06] mohabh88 commented on #851
Thank you @sophokles73 for your reply and for clarifying out how the connection processes work.

I tried what you have suggested for the port forwarding and opened a new shell to run the consumer using the local port.

Side note: 0.8-M2 doesn't exist. For the version I am using, there exist only M1

[code]

and I pulled a new master from Github and built up HONO, but also, the new one that I just

[2018-11-05 08:55] kaniyan opened #876 "MQTT/AMQP adapter: Deleted/disabled devices should not be able to connect"
A device has been registered and credentials for that device has also been added.  Then the device is deleted but not the corresponding credentials. In this case, the deleted device is still able to subscribe to control endpoint, receive commands and send command responses.

[2018-11-05 09:05] sophokles73 commented on #876
If a device is deleted (I assume you are referring to the process of removing its registration information from the Device Registration service) then the device should no longer be able to connect to the MQTT adapter at all, and thus not be able to subscribe to the command topic.

I suspect that the behavior you experience is merely because the registration information (the assertion, to be precis

[2018-11-05 09:14] kaniyan commented on #876
I tried by restarting the MQTT adapter and I am still able to connect to the Mqtt adapter, subscribe to the control endpoint, receive commands and send responses.

[2018-11-05 09:34] kaniyan commented on #876
Currently for telemetry and event messages, this check is being done on receiving those messages. I agree that it should be done as part of establishing the connection.

[2018-11-05 09:44] sophokles73 commented on #876
Would you like to create a PR for fixing this?

[2018-11-05 09:47] kaniyan commented on #876
sure.

[2018-11-05 10:23] sophokles73 commented on #780
I like the idea of splitting into `HonoAdapterClient` and `HonoApplicationClient`. I assume that we agree that this would also mean moving all the factory methods (e.g. *getOrCreateTelemetrySender*) from `HonoClient` to the corresponding sub-interface, right?

This means that we are talking about quite an API break in `HonoClient`. I am generally fine with this, I just want to make sure that we al

[2018-11-05 10:44] BobClaerhout commented on #866
Thanks for your reply and pointing out Apache Camel. I've had a quick look at it and it seems to be what we are looking for and is indeed more flexible. However, this does not change anything about the fact you cannot subscribe to all tenants. I will respond to the thread on Stackoverflow concerning this topic.

[2018-11-05 11:12] kaniyan commented on #876
As per this solution, we check the device registration at the time of the connection establishment.  Assume a device, which is connected to the Mqtt adapter, is deleted. In this case, the deleted device,
 that remains connected, can still perform telemetry, event and command operations until the Mqtt adapter is restarted or the device reconnects.  I think that this scenario (Handling deletion of c

[2018-11-05 11:52] sysexcontrol commented on #876
I had similar thoughts already and kind of agree to what @kaniyan outlines here.
How about a compromise solution :
- check during connection establishment
- check again for any downstream or upstream operations every "once in a while", e.g. all 10 or 30 minutes

Would require an associated timestamp or something similar to be stored `per connection` and evaluated when handling such an operation.

[2018-11-05 12:22] #865 closed, assigned to ctron

[2018-11-05 12:59] sophokles73 commented on #777
@calohmn can this be closed with https://github.com/eclipse/hono/commit/4361c352d96ecbccd7f860268ec2d86606cb6247 ?

[2018-11-05 13:18] sysexcontrol commented on #780
Right, this is exactly the idea.

Absolutely - this is why I completely agree to not force it into 0.8 (and do the mentioned thorough testing while doing it for 0.9).

[2018-11-05 13:19] sysexcontrol commented on #780
So I would move this to 0.9 if no one objects today?

[2018-11-05 13:32] mohabh88 commented on #851
P.S. to my previous comment (which has been updated with `--debug` mode for starting the consumer).

After following the recommended steps provided earlier for using the port forwarding, how can the client `0.8-M2` be retrieved/generated? I assume that it is created after HONO is built up, right?
Also, I was wondering if more debugging information would help since a new exception got appeared when

[2018-11-05 13:33] #866 closed

[2018-11-05 13:40] sophokles73 commented on #851
https://www.eclipse.org/hono/download/

[2018-11-05 13:40] sysexcontrol commented on #830
@sophokles73 : With having PR #875 we now have a solution so that custom protocol adapters can reopen command receiver links themselves.
So I propose to remove this issue from the 0.8 project.

What remains a *fundamental* problem IMHO though are command receiver links for MQTT devices that stay connected for long.

Maybe the default implementation of the `connectionLost` handler in the MQTT adapt

[2018-11-05 13:55] sophokles73 commented on #830
That should do the trick, yes. In fact, only those connections to devices need to be closed, which have subscribed to the control topic. BTW the same holds true for the AMQP adapter.

If we implement this default behavior in the MQTT and AMQP adapter, don't you think we could close this issue as fixed?

[2018-11-05 15:39] sysexcontrol commented on #830
:+1: this is true.

Yes, after the MQTT and AMQP adapters are equipped with such a connection-loss handler, this issue can be closed IMHO.

[2018-11-05 16:14] sysexcontrol commented on #824
Currently on hold, probably will not be implemented.
After having clarified this, I would close the issue - until then (probably tomorrow) it remains open.

[2018-11-06 13:44] ManelGrichi commented on #851
I tried the suggestions above and this is what I face too. I relied on both `Eclipse Hono 0.8-M2 Archive` and `Eclipse Hono 0.8-M2 Command Line Client` [[1](https://www.eclipse.org/hono/download/)], made the necessary modifications and placed them inside the HONO master, but still the exception is there.

Here is how the structure of the folder looks like:
[code]
I copied the `hono-cli-0.8-M2-exec

[2018-11-06 14:41] sysexcontrol commented on #824
Clarified - currently no one needs this solution anymore.
And since it is to some extent contradicting to the fundamental design of Hono to offer uniform access to devices, I close the issue now.

[2018-11-06 14:41] #824 closed

[2018-11-06 20:52] mohabh88 commented on #851
I have an update. Running this command from the `hono/cli/target` folder

`/cli/target$ sudo java -jar hono-cli-0.8-M2-exec.jar --hono.client.host=localhost --hono.client.port=5005 --hono.client.username=consumer@HONO --hono.client.password=verysecret --spring.profiles.active=receiver,ssl,dev`

... the behavior got changed. I think the connection got established, but still with a minor exception r

[2018-11-07 10:50] sophokles73 commented on #851
I am sorry but I cannot help you with setting up and using Docker Swarm on AWS. Please refer to the documentation provided by Docker: https://docs.docker.com/docker-for-aws/deploy/

[2018-11-07 13:48] DanielMaier-BSI opened #886 "CommandConnection#getOrCreateCommandConsumer does not fail returned future in case of some errors while link establishment"
CommandConnection#getOrCreateCommandConsumer does not fail the returned future in case of some errors while link establishment, e.g. server returns "Node not found". Instead it returns future with result of null. Root cause seems to be that
https://github.com/eclipse/hono/blob/d4a0a128c23e15d8f46b9e096087f03e51598a20/client/src/main/java/org/eclipse/hono/client/impl/CommandConnectionImpl.java#L101

[2018-11-07 13:53] sysexcontrol commented on #886
This is IMHO `not` an expected behaviour, but just a bug - thanks for reporting @DanielMaier-BSI :+1: !

Will provide a fix for that.

[2018-11-07 13:57] ctron opened #887 "Hono introduction image uses non-embedded, non-standard font"
I always wondered why the fonts looked a bit weird on the Hono introduction image. It looks like the AI and the SVG image use a font named `Ubuntu`, but doesn't embed the font.

That will work on Ubuntu, but it doesn't work on Fedora, RHEL/CentOS, Windows and MacOS:

RHEL:

![image](https://user-images.githubusercontent.com/202474/48135349-ffd93280-e29c-11e8-9ce8-e264b9e7479e.png)

Windows 10:

![

[2018-11-07 14:15] sysexcontrol opened #888 "Command sender client cannot check for credits before sending"
Our command client lacks the possibility to check for available credits before sending a command.

To be more detailed, it seems that only the defined interface lacks it - the underlying implementation offers such a possibility.
Methods for `getting the current credits` and to `set a drain handler` are necessary to offer.

Remark: to rely on the `ttd` event is not sufficient, since the event may b

[2018-11-07 15:23] #886 closed

[2018-11-07 16:47] sophokles73 commented on #887
That's really bad :-( FMPOV we should go for a standard font as proposed by option 1.

[2018-11-08 14:04] #864 closed

[2018-11-09 08:00] sophokles73 commented on #777
@calohmn can this be closed now? If so, please do :-)

[2018-11-09 16:12] #777 closed

[2018-11-13 12:06] sophokles73 opened #894 "AMQP adapter does not close command consumer if connection to device is lost"
The AMQP adapter should close any open CommandConsumer that has been created for a device if the connection to the device fails unexpectedly.

[2018-11-13 12:49] calohmn opened #895 "HTTP-Adapter: misleading error trace if client certificate check failed (but basic auth succeeded)"
Using the Hono HTTP adapter with Jaeger tracing enabled, we see traces like this:
![http-adapter-trace](https://user-images.githubusercontent.com/891931/48414102-0870b380-e74a-11e8-82e2-82832011b7e8.png)

We use the device authentication via Basic Auth (which succeeded here) - the error above is about the failed attempt to verify the device using a client certificate (done before the basic auth ch

[2018-11-13 13:40] #894 closed

[2018-11-13 13:53] #754 closed

[2018-11-14 07:10] calohmn opened #896 "Enable forced sampling of traces for a specific tenant (Http adapter)"
The OpenTracing Specification allows setting a specific tag (`sampling.priority` - see [Span tags](https://github.com/opentracing/specification/blob/master/semantic_conventions.md#span-tags-table)),
with which it can be enforced that trace spans are actually captured in the Tracing component.

To enable debugging of problems related to messages of a specific tenant in Hono, it would be good to be

[2018-11-14 07:51] calohmn commented on #896
I've done some testing with setting the `sampling.priority` tag.
It looks like Jaeger currently requires that tag to be present in all spans of a trace for the complete trace to be forcefully sampled. I.e. it is not enough to set the tag on one span (root span or a child span) and then have all the spans of that trace be automatically forcefully sampled.

That means that the information, whether s

[2018-11-14 08:10] sophokles73 commented on #887
@ctron can we close this?

[2018-11-14 09:58] sophokles73 commented on #895
The `X509AuthHandler` starts a span for every request coming in and tries to verify the certificate chain provided by the client. However, if the client does not use a client cert for authentication (but e.g. Basic auth as in your example), then an error will be logged to the span and the handler fails with an *UNAUTHORIZED* error code (which is what it should do).

The obvious thing to do is not

[2018-11-14 10:59] calohmn commented on #895
@sophokles73 I agree, if the client didn't provide a certificate with the request, I think there's no need to create a span in the first place.

[2018-11-14 13:47] phil-hei commented on #872
Big thanks for the hints. The example in HonoConsumerBase (I thought at first, that the name indicates an example, where telemetry data are just consumed) was indeed really helpful and sending out commands works now like a charm.

We further have a node.js application, which was able to to publish and subcribe to MQTT topics redirected by Hono. This worked in Hono 0.5, but not in the 0.7 version a

[2018-11-14 14:59] sophokles73 commented on #872
Can you be a little more specific as to which topics you want to publish to/subscribe to? In Hono 0.5 you should have been able to publish to the telemetry and event topics but there was no C&C topic to subscribe to yet.

[2018-11-14 15:30] phil-hei commented on #872
I just want to send telmetry data to the node.js applicationd and send back comand to the device. With Hono 0.5, the MQTT adapter supported, as I remember right, the publishing to specific topics, e.g. telemtry/device1, and the subscription to specific topics, e.g. driving/device1/control, for receiving "commands".

However, with Hono 0.7, we've to connect  to the AMQP network to do that. We are c

[2018-11-15 13:56] sophokles73 opened #899 "Add integration tests for Command & Control via AMQP adapter"

[2018-11-15 14:40] gbeister commented on #872
Hi,
a couple of months ago I have written a simple IoT Hub client in NodeJS. The client uses the "amqp10" node module. This module I had to patch as it contains a small bug. A detailed description of what the bug is about, please see the following bug, which I have raised for the amqp10 project: https://github.com/noodlefrenzy/node-amqp10/issues/363

The code for the simple client can be seen in t

[2018-11-15 16:20] calohmn commented on #896
In case there are a lot of traces being generated for a particular tenant, it would be a good feature to have an option to only force sampling of *error traces* for that particular tenant.

This could be implemented in these ways:
- A: Either with these attributes in the tenant json:
[code]
- B: or with these:
[code]

Option A would maybe look somewhat easier to the user.
Option B would be more fl

[2018-11-15 16:26] sophokles73 commented on #896
I would like to keep the technical details of the tracing framework out of the tenant configuration, if possible.

A third option comes to mind which might be easier to understand for users:
`trace-level                   [default|error-only|all] `

[2018-11-15 16:26] ctron commented on #887
Fixed.

[2018-11-15 16:26] #887 closed

[2018-11-15 17:05] calohmn commented on #896
Ok, right, having such names as values makes things clearer than having to use the integer values.

I only would rename the setting and add `none` and `default_all_errors` as possible values (and use `errors-only`):
`trace-sampling [default|default_all_errors|errors-only|all|none]`.
The `level` term isn't used in the OpenTracing context as far as I know, and might be confusing here.

[2018-11-15 17:51] sophokles73 commented on #896
I think with `error-only` I meant what you would call `default-all-errors` (which seems to be clearer). Based on that I do not think that we need `errors-only` and `none`.

[2018-11-16 08:39] sophokles73 opened #901 "HTTP adapter should support Bearer token authentication scheme"
Devices might already be in possession of a token acquired by means of any of the OAuth workflows. It would be great if the HTTP adapter could support authentication of devices presenting such a token as defined in [RFC 6750](https://tools.ietf.org/html/rfc6750).

The adapter should be able to validate signed [Json Web Tokens](https://jwt.io) based on a (configurable) list of trusted identity prov

[2018-11-16 08:59] sophokles73 commented on #876
@kaniyan I think we have addressed and resolved the most imminent issue, i.e. rejecting connect attempts from disabled/deleted devices. The other problems discussed in this issue are still valid. However, for reasons of clarity, I would prefer to have separate/new issues being created for them, e.g. preventing disabled/deleted (but already connected) devices from subscribing to commands and active

[2018-11-16 15:58] kaniyan opened #903 "Close connection if devices/gateways/tenants are disabled/deleted"
When a device requests connection to the Hono server, credentials are verified and so the device registration and then the connection is established. Assume a device, which is already connected to the Hono server is being deleted from the device registry. This deleted device that remains connected, is still able to perform telemetry, event or command operations until the adapter or the device is r

[2018-11-16 16:40] shailesharya opened #904 "Multiple Devices connected to single Tenant"
Hey,
       I have tried to register 2 devices with a single tenant and it worked but when I send a message from the device to the client I'm able to get only messages from one device-id and not from the other device-id.

      so how do I figure it out?

      Hope my point is clear here.

[2018-11-19 10:47] sysexcontrol commented on #872
Thanks for indicating your confusion with the name of the class - it was originally only for consumption, and now is more than that. I will think of a better name for the class, so others will not run into the same confusion.

[2018-11-19 12:46] #876 closed

[2018-11-20 12:42] sophokles73 commented on #830
@sysexcontrol I think this has been fixed with #875 and #902
if you agree, can you close this issue?

[2018-11-21 08:34] sysexcontrol commented on #830
Yes, I agree - this is now fixed. Closing the issue.

[2018-11-21 08:34] #830 closed

[2018-11-21 10:15] #895 closed

[2018-11-21 10:38] calohmn opened #909 "HTTP Adapter: missing adapter-enabled-for-tenant check when processing command response messages"
When processing a command response message, the HTTP protocol adapter currently doesn't check whether the adapter is enabled for the given tenant.

[2018-11-22 09:08] sysexcontrol commented on #888
@sophokles73 @kaniyan : I guess this issue can be closed now, right?

[2018-11-22 09:10] kaniyan commented on #888
yes with PR #898. This can be closed.

[2018-11-22 09:12] sysexcontrol commented on #888
Fixed by PR #898 .

[2018-11-22 09:12] #888 closed

[2018-11-22 11:08] calohmn opened #914 "Add OpenTracing support in the base classes for the device registration, tenant and credentials API"
Implementations of the device registration, tenant and credentials API should be able to create trace spans based on the `SpanContext` propagated by the protocol adapters.

Therefore the base classes for these APIs should extract the `SpanContext` from the incoming AMQP message and provide it to the implementation classes.

[2018-11-22 12:15] sysexcontrol commented on #669
Fixed by PR #912, #908  and #893.

[2018-11-22 12:15] #669 closed

[2018-11-22 15:55] calohmn commented on #914
Steps to take here:
- extract `SpanContext` and put in `EventBusMessage` -> #915
- provide `Tracer` instance in `EventBusService` -> #917
- add `SpanContext` param in `CredentialsService`, `TenantService` and `RegistrationService` interface methods and base implementation classes
- create spans in base implementation classes

[2018-11-23 11:24] mbaeuerle opened #919 "Hono Sandbox returns status 403 on device registration"
When I try to create a device on the sandbox with:
[code]
I get the response:
[code]
Expected response is:
[code]

[2018-11-23 11:39] sophokles73 commented on #919
I suppose that is because a device with ID `4711` is already registered for the default tenant ...
The sandbox doesn't allow you to *modify* existing entities but allows to *create* ones only. That is to prevent others from tampering with your data ...

[2018-11-23 11:43] mbaeuerle commented on #919
Sorry, my mistake. Should have used a clearly unique id:

Request:
[code]
Response:
[code]

[2018-11-23 12:17] ctron commented on #919
I have the same issue, however switching to a new tenant, instead of `DEFAULT_TENANT`, I can create new devices. I think we reached the tenant device limit:

[code]

[2018-11-23 12:18] sophokles73 commented on #919
Yes, it seems that there are already 100 devices registered for DEFAULT_TENANT ...

[2018-11-23 12:20] sophokles73 commented on #919
with the upcoming 0.8 release I will delete all registered data on the sandbox once again. However, you should create your own tenant in any case for your experiments ...

[2018-11-23 12:47] mbaeuerle commented on #919
I see, thanks! When creating my own tenant there is no issue creating a device.

[2018-11-23 12:47] #919 closed

[2018-11-23 14:43] mbaeuerle opened #920 "DefaultFailureHandler expects response message to be set correctly"
The `DefaultFailureHandler` uses the status message of the request if the context has a status code set: https://github.com/eclipse/hono/blob/c947ae6be19e27e24938335c8b508a1f3fc331e2/service-base/src/main/java/org/eclipse/hono/service/http/DefaultFailureHandler.java#L73
but in some cases the status message was not yet set and the default message ("OK") is used:
https://github.com/eclipse-vertx/ver

[2018-11-26 08:03] ctron commented on #904
Hi Shailesh,

maybe you can provide a bit more information. What protocol adapters are you using, how are you consuming data, what response do you get back when you publish your data, is there any errors in the logs.

This will definitely help in understanding your problem.

[2018-11-26 08:42] sophokles73 opened #921 "Update to vertx 3.6.0"
In particular, vertx-mqtt 3.6.0 will support accessing a client's certificate that it used for authentication during the TLS handshake. This is a pre-requisite for #349

[2018-11-26 08:46] sophokles73 opened #922 "Update to Qpid Dispatch Router 1.4.1"
We should keep up with recent developments since the router is quite an essential piece in the architecture.

[2018-11-27 09:54] sophokles73 commented on #130
There is not much more than https://github.com/eclipse/hono/commit/aa3ce1586fa59f67156e305565eea94b750be9d5 that we can do about it based on the existing capabilities of proton-j in this regard.

As noted above, we will not add this functionality to Hono Messaging anymore because it is already deprecated.

[2018-11-27 09:54] #130 closed

[2018-11-27 10:38] sophokles73 commented on #922
created [CQ](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=18373)

[2018-11-28 10:55] sophokles73 commented on #832
depends on #921

[2018-11-28 11:02] sophokles73 opened #924 "Update to a more recent version of Google Guava"
the version we are currently using (19.0) is quite outdated ...

[2018-11-28 11:33] sophokles73 commented on #924
updated to version 25.0 in ac575f921dfc20033c31b5bc4f97f9461b25a3f6

[2018-11-28 11:33] #924 closed

[2018-11-28 12:52] sysexcontrol commented on #872
In Hono 0.8 the class `HonoConsumerBase` was renamed to `HonoExampleApplicationBase` (as announced).

[2018-11-28 12:53] sysexcontrol commented on #872
@phil-hei : is there anything open with this issue?
If not, could you consider to close it?
Thanks!

[2018-11-28 14:49] #872 closed

[2018-11-28 15:16] kaniyan commented on #909
Good that you found out 👍. I also noticed that the device registration check is also missing when sending command responses. IMHO this check also need to be included.

[2018-11-29 12:23] sysexcontrol opened #926 "Allow devices to connect via multiple gateways"
Currently there is only support for one gateway per device.
We now need to support any number of gateways instead.

Commands must be possible to be sent no matter which gateway the device is connected to.

Use case example:
- a bike could be connected via different smartphones (e.g. in a family context)

[2018-11-29 12:38] sysexcontrol opened #927 "Support limiting the number of simultaneously connected devices"
Protocol adapters should support limiting the number of simultaneously connected devices per tenant.
The limit should apply to all devices of the tenant connected to any protocol adapter instance (regardless of transport protocol).
The limit must be configurable per tenant.

[2018-11-29 12:50] sysexcontrol opened #928 "Protocol adapters should support limiting the payload size of each message"
This limit is not tenant specific.
Each protocol adapter may be configured to a different max payload size.

[2018-11-29 12:53] #928 closed

[2018-11-29 13:04] sysexcontrol opened #929 "Protocol adapters should support limiting the data volume per time period per tenant"

[2018-11-29 13:14] sysexcontrol opened #930 "Support gateway agnostic addressing of devices"
Applications must be able to send commands to devices without knowing the particular gateway they may be connected to.

[2018-11-29 14:12] sophokles73 opened #931 "Limit number of MQTT connections according to resource availability"
Currently, the MQTT protocol adapter accepts any incoming connection request from devices. For each connection and message received, the adapter needs to maintain some state which is usually kept in memory. In order to not run out of resources during runtime, the MQTT adapter should only accept a reasonable number of connections.

It seems desirable that the adapter determines this number dynamica

[2018-11-30 10:44] ctron opened #932 "Issue compiling Hono"
I noticed this a while back, but didn't really look into it, as it only sporadically popped up in a CI instance.

However now I run into this when deploying Hono 0.8 (the released version) on OpenShift. I didn't run into this before though.

Compiling Hono gives:

[code]

[2018-11-30 10:54] ctron commented on #932
I actually can reproduce this locally when doing `mvn clean test` in the `client` directory.

Running with Java:
[code]

[2018-11-30 10:57] ctron commented on #932
Same result with:

[code]

[2018-11-30 11:42] sophokles73 commented on #932
We are running into the same issue. However, since the code seems to be correct (at least nobody who took a look so far could find something suspicious), I would attribute this to the (growing) list of issues with OpenJDK 8 ... I (we at Bosch) have moved on to OpenJDK 11.0.1 which behaves as expected ...

[2018-11-30 11:58] ctron commented on #932
I agree that this could be the issue. That would also explain why this isn't an issue with the Eclipse IDE, as it uses ECJ instead of javac.

On the other side, we did promise support for Java 8 in Hono 0.8, and so I would like to fix at least the deployment scripts for OpenShift S2I, adding this particular Maven switch. But this would need to be done in the branch of 0.8.x. We wouldn't need to re

[2018-11-30 12:27] alezor opened #933 "HonoExampleApplication execution fails"
Probably a maven issue, tried for Hono versions 0.6-0.8 (since 0.9 not published yet on Maven?), problem persists

-----

Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.2:java (default-cli) on project hono-example: An exception occured while executing the Java class. org.eclipse.hono.vertx.example.HonoExampleApplication -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionExcepti

[2018-11-30 12:37] sophokles73 commented on #932
The binaries can be run with a version 8 JVM. The problem is only with compiling.

Then by all means, create the branch :+1:

[2018-11-30 12:55] kaniyan commented on #933
It seems to me that you have downloaded the client binary (hono-cli-0.8-exec.jar) and try to run the example application.

To investigate further, it would be helpful if you share the below details.
- the command (plus arguments) that you use.
- name of the binary that you have downloaded from the Hono website.

[2018-11-30 13:03] alezor commented on #933
Hi,

I'm trying to run the example from https://www.eclipse.org/hono/dev-guide/java_client_consumer/

The call is:

mvn exec:java -Dexec.mainClass=org.eclipse.hono.vertx.example.HonoExampleApplication

I have not downloaded an explicit binary, instead i have cloned the project from github and am using the 0.8 Hono version through my local pom.xml

[2018-11-30 13:18] kaniyan commented on #933
Can you try executing the command from example folder. If this information is missing in the documentation, it needs to be added.
mvn exec:java -Dexec.mainClass=org.eclipse.hono.vertx.example.HonoExampleApplication

[2018-11-30 13:19] alezor commented on #933
Sorry for not being clear enough - i have run the command from the example folder already

[2018-11-30 16:04] sophokles73 commented on #920
Once we have upgraded to vert.x 3.6.0, the AuthHandlers that Hono uses will override the *processException* method of `AuthHandlerImpl` to not only fail the context with the status code but always with either an `HttpStatusException` or a `ServiceInvocationException`. The response body will then be set to the message contained in the exception. However, what you propose still makes sense to me, i.

[2018-11-30 16:05] sophokles73 commented on #920
@mbaeuerle  would you like to create a PR for `DefaultFailureHandler`?

[2018-11-30 16:31] kaniyan commented on #933
I understood that you would like to send commands using hono-cli (with profile command,ssl). Running hono-cli with profile command,ssl enables you to send commands to the respective devices. You mentioned that you use MQTT adapter. Hence I assume that your device is connected with the MQTT adapter. The commands sent using hono-cli should reach your device and then the device can send responses bac

[2018-11-30 17:50] Alfusainey commented on #932
Just a side note: i was also facing the same issue compiling the sources with Oracle JDK 8. so probably the issue is not specific to OpenJDK

[2018-12-01 04:43] Alfusainey commented on #901
@sophokles73 do you think it make sense to assign this issue to yourself or me in order to avoid another contributor concurrently working on it?

[2018-12-02 22:13] Alfusainey opened #940 "Question: SonarQube for Eclipse Hono"
I understand that there is already a [SonarQube](https://wiki.eclipse.org/SonarQube) instance available for Eclipse projects and am wondering if there is a reason for not setting it up for Hono?

IMHO, (static analysis) issues reported on the SonarQube dashboard can be another good way for beginners to find their way around the code base :-)

[2018-12-03 08:03] ctron commented on #932
I agree, I think this is an issue with OpenJDK(-based) javac. The ECJ is more powerful, as least from what I experienced (javac developers might disagree). As the Oracle JDK is based on OpenJDK, it provides the some issues as OpenJDK :grin:

Moving on to Java 11 might be the right thing to do here. But we should, to some degree, support users of Java 8, as said to support Hono 0.8 with that.

Anyw

[2018-12-05 09:46] sophokles73 commented on #901
@Alfusainey does this mean that you (or your student) are now working on this?

[2018-12-05 12:51] Alfusainey commented on #901
he (the student) has not started the implementation yet. he is currently doing a lot of background work. if he opts out or is not longer interested, then i will work on it myself. i think this issue is due for the 0.9 release (i.e February 25th, 2019), so we should be fine.

[2018-12-05 12:56] sophokles73 commented on #901
I can only assign issues to committers, so for the time being, I will assign it to myself (pro forma) ...

[2018-12-05 13:56] Christian-Schmid opened #943 "CORS Headers for HTTP-Adapter Command and Control Response Endpoint"
Hi guys,

I just found out that the HTTP Adapter does not set the ``Access-Control-Expose-Headers`` for the newly introduced ``hono-command`` and ``hono-cmd-req-id`` headers of the HTTP adapter.

This is causing some problems when using the API with a browser front-end (in my case the OpenAPI Swagger ui)

I can supply a PR which fixes it, in case you're interested.

Thanks
Chris

[2018-12-07 10:46] sophokles73 commented on #904
closing, no response

[2018-12-07 10:46] #904 closed

[2018-12-07 10:49] sophokles73 commented on #932
@ctron can we (you) close this issue?

[2018-12-07 10:52] sophokles73 commented on #940
In general I agree that having something like SonarQube helps with improving code quality. So far, we haven't considered this being an issue for Hono so nobody actually wanted to spend the effort setting it up.

I have not, so far, perceived SonarQube as a tool for helping beginners finding their way around the code base, though. Interesting thought :-)

[2018-12-07 11:22] ctron commented on #932
Well the issue is not solved in general … for OpenShift S2I, we have a workaround.

The question is do we really want to solve this, or simply go for Java 11 and ignore it … I would have no issues going for the latter.

[2018-12-07 11:51] sophokles73 commented on #932
How could *we* resolve an issue with OpenJDK? FMPOV we have a workaround for Hono altogether, which is to use OpenJDK 11 for compiling ...

So +1 for going to Java 11, which we [already have done](https://www.eclipse.org/hono/getting-started/#compiling)

[2018-12-07 11:53] #933 closed

[2018-12-07 12:48] ctron commented on #932
We **could** re-write that section to make it "compliant" with the OpenJDK 8 `javac` … but I would prefer not to do this.

It looks like fabric8io-images/s2i#203 is near completion … let's move on to Java 11 and don't look back. And if someone has a complaint, re-open the issue.

[2018-12-07 12:48] #932 closed

[2018-12-07 16:22] Alfusainey commented on #940
should i close this then or i can leave it open?

[2018-12-07 16:56] sophokles73 commented on #940
FMPOV you should close this issue.

[2018-12-07 17:54] #940 closed

[2018-12-10 08:17] ctron opened #945 "Switch S2I deployoment to Java 11"
As fabric8io-images/s2i#203 seems to be solved, I would suggest to switch the S2I images to Java 11 as well. And maybe we can move on the Java 11 altogether.

[2018-12-10 14:04] #943 closed

[2018-12-10 14:21] #909 closed

[2018-12-12 08:13] sophokles73 opened #956 "HTTP adapter must not accept command responses from non-existing devices"
The HTTP adapter must verify the registration status of devices uploading a command response.

[2018-12-12 08:15] #956 closed

[2018-12-12 10:02] dguggemos opened #958 "Headers device-id and tenant-id missing in command response"
When using Hono's command&control together with Ditto, I noticed that the command responses do not contain the `tenant-id` and `device-id` headers, as provided for example in telemetry messages.
This would be very useful information for us, as we would not need to remember which device sent a command and correlate the response using the `correlation-id` (across multiple nodes in the worst case).

[2018-12-12 12:23] kaniyan commented on #958
Currently as part of the telemetry and event messages, the application properties contain `device-id` and not `tenant-id`. I think `tenant-id` should also be part of it. Eventually the command responses should also have the both.

[2018-12-13 09:03] kaniyan opened #961 "Use revised metrics for command and control"
The names of metrics used when processing messages should be adapted as [discussed on the mailing list](https://www.eclipse.org/lists/hono-dev/msg01059.html)

[2018-12-14 02:57] tadashi-inagaki opened #964 "About a construction procedure with X.509 certificates in HTTP adapter"
I'd like to constuct a client authenticsation environment with X.509 certificates in HTTP adapter.
Please tell me the necessary procedure.

[2018-12-17 12:08] sophokles73 commented on #964
Please refer to the [HTTP adapter user guide](https://www.eclipse.org/hono/user-guide/http-adapter/) for the necessary steps. If there are open issues, feel free to come back ...

[2018-12-17 12:37] sophokles73 commented on #958
Including the device ID in a command response as an application property should be no big deal. Do you also need the message to contain the tenant ID or can you derive the tenant from the *connector* that the command response is received over? I would assume that you do the same for telemetry/events already, don't you?

[2018-12-17 15:42] kaniyan opened #966 "Mistakenly opened"

[2018-12-17 15:42] kaniyan opened #967 "Mistakenly opened"

[2018-12-17 15:44] #967 closed

[2018-12-17 15:45] #966 closed

[2018-12-18 08:10] ingktds commented on #964
Thanks.
I constructed hono on minikube.
I registered tenant, device and credentials on Device Registory.
But http adapter outputs 'no such tenant'.
If I need to do other procedure, please tell me it.

tenant
[code]

device

[code]

credentials
[code]

http request
[code]

result
[code]

[2018-12-18 08:14] tadashi-inagaki commented on #964
Thanks.
I constructed hono on minikube.
I registered tenant, device and credentials on Device Registory.
But http adapter outputs 'no such tenant'.
If I need to do other procedure, please tell me it.

tenant
[code]

device

[code]

credentials
[code]

http request
[code]

result
[code]

[2018-12-18 09:54] b-abel commented on #551
I think I could provide a PR for the delay of the response after authentication failed (similar to the snippet @pho-enix provided above). Is this still of interest?
And if yes, should we start with a fixed time span or make it configurable?

[2018-12-18 10:03] b-abel commented on #732
I think this is depended on #349.

[2018-12-18 10:07] sophokles73 commented on #964
Your setup looks good. Can you post the output of
`openssl x509 -in client.pem -text`
I would like to verify that the issuer of that cert is indeed `CN=devices,O=ACME Corporation`

[2018-12-18 10:09] b-abel commented on #871
Implemented by PR  #949.

[2018-12-18 10:09] #871 closed

[2018-12-18 10:12] sophokles73 commented on #551
One of the reasons why more sophisticated hash functions like Bcrypt are used/recommended, is that by design they require some time to calculate the hash and therefore already provide some implicit *protection* from brute force attacks (simply because each request to test a password takes quite long).

However, this does not prevent an attacker from putting a lot of stress on the protocol adapters

[2018-12-18 13:21] sophokles73 commented on #750
fixed in https://github.com/eclipse/hono/commit/af79111f808638c786634c3384a66c421cda3d22

[2018-12-18 13:21] #750 closed

[2018-12-19 01:10] tadashi-inagaki commented on #964
My client certificate file is following.

[code]

[2018-12-19 07:46] sophokles73 commented on #964
According to the output, the issuer of your client certificate is
`C=JP, ST=Tokyo, L=Chiyoda, O=ACME Corporation, OU=ACME Department, CN=devices/emailAddress=hoge@acme.com`

which does not match the subject DN of the public key that you have registered as the trust anchor in your tenant: `CN=devices,O=ACME Corporation`

The HTTP adapter uses the *issuer DN* of the client's certificate to determine

[2018-12-19 13:12] calohmn opened #970 "MQTT adapter: NPE in incrementUndeliverableMessages"
We got this exception in the log of the MQTT adapter:
[code]
`metrics.incrementUndeliverableMessages(context.endpoint(), context.tenant())` fails with an NPE because `context.tenant()` is null.

My guess here would be that the actual tenant comes from the authenticated device (see `VertxBasedMqttProtocolAdapter.checkAddress` - "use authenticated device's tenant to fill in missing information").

[2018-12-19 15:49] #922 closed

[2018-12-19 17:18] sophokles73 opened #971 "Use vert.x WebClient instead of HttpClient"
HttpClient will be removed from vert.x 4

[2018-12-19 17:37] #921 closed

[2018-12-20 02:07] tadashi-inagaki commented on #964
Thanks.

My CA certificate file is following.
[code]

Modify subject-dn to `C=JP, ST=Tokyo, L=Chiyoda, O=ACME Corporation, OU=ACME Department, CN=devices/emailAddress=hoge@acme.com`

[code]

Using these settings I sent http request to http adapter, but the result was same.

[code]

[2018-12-20 07:56] sophokles73 commented on #964
it seems that you have registered the CA cert itself as the public-key in the tenant. However, the public-key field (as the name suggests) is supposed to only contain the *public-key* contained in the certificate.
However, you can put the certificate itself into the *cert* property of *trusted-ca* (and remove the *public-key* property). This is not yet documented in the Tenant API but the protocol

[2018-12-20 11:45] sophokles73 commented on #642
fixed in https://github.com/eclipse/hono/commit/dbffcfaa68cc26c4a37cb66f57216722df4420a4

[2018-12-20 11:45] #642 closed

[2018-12-20 13:30] sophokles73 opened #972 "Add metric for unprocessable messages"
We currently only report *undeliverable* messages. Based on the [discussion on the mailing list](https://www.eclipse.org/lists/hono-dev/msg00937.html) we need to add support for reporting *unprocessable* messages as well.

[2018-12-20 14:33] calohmn opened #974 "Add Tracing support for CredentialsClient"
Followup of #914:
Add support for passing on the OpenTracing context in the `CredentialsClient`.

[2018-12-20 14:35] calohmn commented on #914
Necessary changes have been made now.
What's missing still is adding tracing support in `CredentialsClient` - that will be handled in #974.

[2018-12-20 15:40] #914 closed

[2018-12-21 09:18] tadashi-inagaki commented on #964
I tried to modify *public-key* property to *cert* property.
And I registered base64 encoding strings of the certificate file.
And added *adapters* property.

[code]

But a reseult of http request is same.

[code]

I recognize following steps:
* register *trusted-ca* property included *cert* and *subject-dn* proptey to tenant.
* create a client certificate file (signed by CA)

Please tell me if any

[2018-12-21 09:57] sophokles73 commented on #964
You have registered the certificate with the wrong subject DN. You need to put in the RFC 2253 formatted subject DN:
[code]
So, what you need to register as the value for the subject-dn is
[code]

[2018-12-21 10:13] tadashi-inagaki commented on #964
thanks.

changed followin output.

[code]

[2018-12-21 10:22] sophokles73 commented on #964
can you post the registered data for your tenant?

[2018-12-21 10:40] sophokles73 commented on #964
Can you try to use the following subject-dn value in the tenant registration:
[code]
and try again? Is suspect that the emailAddress is the problem ...

[2018-12-25 01:33] tadashi-inagaki commented on #964
I tried to use the following subject-dn value, but the result was same(bad credentials).
[code]

On creating CA certificate file, Should I not enter emailAddress?

[2019-01-08 08:32] sophokles73 commented on #964
First of all, I would indeed recommend to leave out the email address from the subject DN. That said, you have registered the trusted CA with the wrong subject DN. Remember, that it needs to be registered in RFC 2253 format, which in your case would result in
[code]

The same problem occurs in the credentials that you have registered for your device. Again, the subject DN needs to be in RFC 2253 f

[2019-01-08 08:33] sophokles73 commented on #958
@dguggemos any news on this?

[2019-01-08 13:22] b-abel commented on #931
To my knowledge there is no option on Vert.x's [NetServer](https://vertx.io/docs/apidocs/io/vertx/core/net/NetServer.html) to limit to number of connections. We need to count the connections and closeevery connection above the limit, e.g. in a connection handler as suggested in [this issue](https://github.com/eclipse-vertx/vert.x/issues/2542).

[2019-01-09 08:05] #945 closed

[2019-01-10 09:36] sophokles73 commented on #349
fixed in 75fc627563973e7726ceffdaf0620c5d4dee6e31

[2019-01-10 09:36] #349 closed

[2019-01-10 15:01] dguggemos commented on #958
We do not need the `tenant-id` currently, but maybe in the future. As the PR also contains the `tenant-id` for the command responses, I'm completely fine with the changes. 👍

[2019-01-11 10:27] jdeantoni opened #985 "CertificateExpiredException: NotAfter: Wed Dec 12 16:01:54 CET 2018"
Hi,

I tried to connect the sandbox for a test but ended up with

`java.security.cert.CertificateExpiredException: NotAfter: Wed Dec 12 16:01:54 CET 2018`

could you please regenerate the certificate ?

thanks

[2019-01-11 10:57] sophokles73 commented on #985
Hi,

thanks for reporting. I will also need to update to Hono 0.9-M1 as well. I'll let you know once I am done ...

[2019-01-11 11:40] sophokles73 commented on #985
@jdeantoni should be fixed, can you verify and close this issue if it works for you?

[2019-01-11 12:33] jdeantoni commented on #985
Works for me ! Thanks a lot !

[2019-01-11 12:33] #985 closed

[2019-01-11 15:55] #484 closed

[2019-01-14 10:24] teslai opened #986 "Security Violation in Release Version 0.8"
Hello,
our open-source tool (clm) detected a security violation regarding the dependency which is provided by hono:
group: org.apache.qpid
artifact: proton-j
version: 0.25.0

This is the detected issue:

**Issue**
CVE-2018-17187

**Source**
National Vulnerability Database

**Severity**
Sonatype CVSS 3.0: 6.5

**Weakness**
Sonatype CWE: 297
Description from CVE
The Apache Qpid Proton-J transport in

[2019-01-14 11:02] sophokles73 commented on #986
Thanks for reporting. Due to the (potential) threat that a security vulnerability poses to existing installations, the Eclipse Foundation [employs a more confidential process](https://eclipse.org/security) for reporting such (suspected) security issues. You can also find a corresponding link in the footer of the Hono home page.

That said, Hono doesn't employ proton-j's TLS wrapper but instead rel

[2019-01-14 12:08] teslai commented on #986
Thanks for the detailed answer. With this we´re able to waive the issue.

[2019-01-14 12:08] #986 closed

[2019-01-14 13:34] #974 closed

[2019-01-14 15:36] b-abel commented on #931
**Note regarding the HTTP adapter**
It supports [HTTP 1.1 persistent connections](https://tools.ietf.org/html/rfc7230#section-6.3):
[code]

Therefore the HTTP adapter should be limited in a way similar to the other protocol adapters.

[2019-01-14 16:01] sophokles73 commented on #931
Thanks for testing this, @b-abel

I am not sure if this is the conclusion to draw here. First of all, I am not sure if we actually *want* to support persistent connections in the HTTP adapter. One could argue that since we do not support sessions either, we could as well also require clients to establish a new TCP/TLS connection for each message. Secondly, I have no clue for how long the connectio

[2019-01-15 11:14] #331 closed

[2019-01-15 13:33] DanielMaier-BSI opened #991 "Add configuration property to protocol adapters to configure AMQP heartbeat of their AMQP clients"
Hi,

currently AMQP clients to messaging network (e.g. telemetry sender, event sender etc.) used in protocol adapters do not make use of AMQP connection idle timeout. This could be enabled by setting AMQP heartbeat in ProtonClientOptions.

Without this heartbeat it might happen that client does not discover broken connections in a timely manner (multiple minutes in case it relies on TCP timeouts).

[2019-01-16 18:06] shailesharya opened #994 "Extract data from hono"
Hey,
How can I extract data coming from devices to hono.
It's fine that devices send updates through desired protocols and then hono send msg through AMQP to the respected client
But is there any universal Java or python code available through which I can extract data and show the results on some gui like grafana or store data to database like influxDB.
THANKS.

[2019-01-17 07:08] sophokles73 commented on #994
Since Hono is inherently payload agnostic, I am afraid that Hono itself does not provide such means.
However, you may want to take a look at the Apache Camel project which can be used to implement Enterprise Integration Patterns and which also supports receiving and sending of AMQP 1.0 messages. So you could use it to build a Camel *route* which consumes data from Hono, parses its payload and POST

[2019-01-17 10:59] shailesharya commented on #994
Can it be done without using Apache camel
Like any web socket program or python or Java code?

[2019-01-17 11:07] sophokles73 commented on #994
Sure, just use any AMQP 1.0 library in the programming language of your choice. We use Apache Qpid proton-j together with vertx-proton when running on vert.x. You can also use the Qpid JMS provider from Java if you prefer to use the JMS API. You can find example code for both in the integration test folders.

[2019-01-17 12:43] #991 closed

[2019-01-18 09:25] sophokles73 opened #996 "Change common metric tags"
The common tags used for reporting metrics need to be adapted to the outcome of the [discussion on the mailing list](https://www.eclipse.org/lists/hono-dev/msg01091.html).

In particular, the following changes need to be made:

Common Tags

* rename tag *component* to *component-type*: values are [`service`, `adapter`]
* add new tag *component-name*: value is the name of the component, e.g. `http`

[2019-01-21 16:30] kaniyan opened #999 "Support limiting the number of messages over a time period per tenant"
Protocol adapters should support limiting the number of messages over a time period per tenant. The limit must be configurable per tenant. The limit should apply to all devices of the tenant connected to any protocol adapter instance (regardless of transport protocol).

[2019-01-21 17:09] #996 closed

[2019-01-21 17:31] #994 closed

[2019-01-22 13:22] Christian-Schmid opened #1002 "Certificate validation behavior of Hono Client when using hono.client.trustStorePath property"
Hi Hono Devs,

I've got a question regarding the certificate validation of the hono client.

My setup looks as follows:
* I'm using the hono client (M8) to connect to an amqp messaging endpoint.
* The amqp endpoint uses tls with an lets encrypt certificate.
* The certificate of the messaging endpoint is expired.

The client reacts differently depending on the way how I connect.

* When using the d

[2019-01-22 14:23] sophokles73 commented on #1002
IMHO this is indeed the expected behavior if the `my_cert.pem` file that you configure as the trust store contains the certificate itself which you want to validate. In that case the certificate itself is the trust anchor and as such is *trusted* unconditionally (as the name implies). In this case there is no *validity period* to verify because the trust anchor only consists of the public key, its

[2019-01-22 14:53] Christian-Schmid commented on #1002
Hi,

thanks for the fast clarification!
Makes sense like this too :-)

Thanks
Chris

[2019-01-22 14:53] #1002 closed

[2019-01-24 09:00] sophokles73 opened #1004 "Remove Hono Messaging"
Hono Messaging has been deprecated for some time and we have been discouraging its use since 0.6. It is time to remove it from Hono altogether.

[2019-01-24 12:22] b-abel commented on #931
I will do.

[2019-01-24 12:24] b-abel commented on #931
The PR #987 added the configuration property `maxConcurrentConnections` that limits the number of concurrent connections for a protocol adapter instance.
Now we can add a recommendation for a sensible value for each PA type.

**Suggestions**

1. The number of connections that one protocol adapter instance can handle depends on a lot of factors and makes it impossible to have one limit that fits al

[2019-01-24 12:51] b-abel commented on #931
### Proposal for MQTT Adapter

I conducted some experiments on the memory consumption per connection in the MQTT adapter. The results where between 2.5 KB and 7.5 KB per authenticated connection.

I propose to assume the easy to use and (hopefully ;-) ) safe value of 10 KB per connection. This would make it possible to allow 100 connections per MB RAM. But additional memory needs to be calculated

[2019-01-24 13:47] sophokles73 commented on #931
Shouldn't this read

[2019-01-24 13:51] sophokles73 commented on #931
This results in a recommended connection limit of 50 connections per MB RAM.

I think we should not calculate this based on the absolute amount of memory available but instead based on the amount of memory *exceeding* the memory that the adapter needs for starting up at all, which FMPOV amounts to something between 100 and 150 MB.

[2019-01-24 14:00] b-abel commented on #931
Of course. Fixed it.

[2019-01-25 04:58] #1004 closed

[2019-01-25 10:48] #832 closed

[2019-01-25 15:58] BobClaerhout opened #1007 "Example device registry overwrites existing config when restarting in openshift"
The init container for openshift of the device registry copies the example configuration to the configuration folder using following command:
`cp -u /etc/examples/example-credentials.json /var/lib/hono/device-registry/credentials.json && cp -u /etc/examples/example-tenants.json /var/lib/hono/device-registry/tenants.json`.
However, this command overwrites the existing configuration. I think this is

[2019-01-28 07:54] aedelmann opened #1008 "Device Registry API provides possibility to add/find device IDs by a specific Vorto Information Model"
A connector / gateway has a way to dynamically retrieve all registered device IDs which are of a certain device type, e.g. XDK, Bosch Camera X. A gateway/connector would then be able to request additional meta-data about the device (e.g. capabilities , bindinginfo, etc) from the Vorto Repository.

I would propose here to have a special device registry attribute , e.g. **vorto-model-id**

[2019-01-28 08:09] zubairhamed commented on #1008
Or perhaps generically simply a "type" atribute or "model"

[2019-01-28 08:38] ctron commented on #1007
@BobClaerhout Yes, that could indeed be a problem. Would you like to create a PR for this change? If you need any help, I would walk you through the process.

[2019-01-28 08:45] sophokles73 commented on #1008
@aedelmann My understanding is that you would like to see such a feature being added, right?

[2019-01-28 08:47] aedelmann commented on #1008
@sophokles73 : Yes :)

[2019-01-28 08:51] BobClaerhout commented on #1007
I've created a PR: https://github.com/eclipse/hono/pull/1009

[2019-01-28 09:05] sophokles73 commented on #1008
I am not sure if I understand the use case. Can you describe in more detail what is supposed to be happening and what the setup (devices, protocol adapter) would be?

[2019-01-28 10:18] aedelmann commented on #1008
Given the possibility, that the Device Registry accepts an optional model-id of the device, I can see the following 2 use cases:

**Use Case 1: Device - specific Payload Conversion on AMQP Consumer side**
When a device sends data to Hono, the protocol adapter would read the configured model-id from the registry, make it part of the AMQP header and pass it to the AMQP consumer which in turn would n

[2019-01-28 10:22] ctron commented on #1007
:+1: Thanks!

[2019-01-28 13:37] sophokles73 commented on #1008
You can already do that. All you have to do is add the *model-id* property as one of the device's [default properties](https://www.eclipse.org/hono/api/device-registration-api/#assert-device-registration) which are included in the response to the *assert device registration* operation. The protocol adapters include the default properties in the downstream AMQP message as *application-properties*.

[2019-01-28 13:57] aedelmann commented on #1008
Regarding use case 1: brilliant.
Regarding use case 2: yes, I mean the latter whereby a gateway like Kura would upon Initialization make an API call to the registry to find all device IDs by model ID. So you are saying that would be possible by the registry API ? I am only aware of the GET command where u need to pass in the device ID. This however wouldn’t help much as I wouldn’t know the device

[2019-01-28 14:03] sophokles73 commented on #1008
No, that is not possible using the Device Registry API. I wonder why the gateway would want to do that. Why does the gateway need to retrieve device IDs for a model ID? Why would a device be connected to a gateway in the first place if the gateway can't handle it?

[2019-01-28 14:18] aedelmann commented on #1008
1) Because IMO the gateway should  only handle device data if the device is registered in the device registry. It should discard device data otherwise for security reasons.
2) in the scenario of the camera gateway, the cameras always speak to the gateway because it handles the data conversion expected by the cloud solution. The gateway would need to make a call to the camera to get the data from t

[2019-01-28 16:49] sophokles73 commented on #1008
If you set up a gateway and device that connect to the gateway, wouldn't the devices be known to the gateway anyway? Otherwise, how could the devices connect to the gateway, or doesn't the gateway authenticate the devices, i.e. can every device connect to the gateway?

This, again, sounds like the gateway needs to know about the cameras that are connected to the gateway, i.e. the gateway needs to

[2019-01-29 14:29] calohmn opened #1012 "Reconsider putting trace-context into message annotations"
Currently the OpenTracing context used across messaging components is transported via AMQP delivery annotations in Hono.

However, the W3C Trace Context Specification plans on using application properties and/or message annotations.
See the corresponding [draft proposal](https://github.com/w3c/trace-context/pull/217):

See also this [comment](https://github.com/w3c/trace-context/pull/217#pullreque

[2019-01-29 16:09] calohmn opened #1013 "HonoClient: Wrong exception when using invalid SASL credentials"
Since the update to vert.x 3.6, there is a different exception being thrown in case of a failed SASL authentication attempt. See https://github.com/vert-x3/vertx-proton/issues/69.

The corresponding change in Hono is still missing. This leads to a `ServerErrorException` (with `HTTP_UNAVAILABLE`/"failed to connect") being thrown. It should be a `ClientErrorException` (`HTTP_UNAUTHORIZED`) instead.

[2019-01-30 03:05] aedelmann commented on #1008
You are right. I was going through the gateway scenarios in my head and it led to the conclusion that, as you said, the gateway must always know the device ID already, since the devices undergo a "pairing" process with the gateway first which would make this device ID information available there.
I guess you can mark this issue as 'won't fix'. But thanks for the clarifications ;)

[2019-01-30 13:35] calohmn opened #1015 "AuthService: use error codes for failed authentication attempts"
This is relevant for a scenario where a non-standard `AuthenticationService` component is used (i.e. not the `FileBasedAuthenticationService`).

Imagine an `AuthenticationService` implementation based on a database. When that database is down temporarily, authentication requests should not be answered with the standard "authentication failed" response but instead with an exception that points out

[2019-01-30 17:23] sophokles73 commented on #971
Created [CQ](http://dev.eclipse.org/ipzilla/show_bug.cgi?id=18876)

[2019-02-04 09:55] BobClaerhout opened #1019 "Parameterizing MQTT adapter"
I think most of the protocol adapters will almost be identical to an existing one.
For example, the actility thingpark LoraWan network sends data to the MQTT adapter on topic "accountPrefix/things/deviceEUI/uplink" and expects control commands on topic "accountPrefix/things/deviceEUI/downlink". It consists of the same functional data as the hono topics except for the path segments to be ordered di

[2019-02-04 13:05] calohmn opened #1020 "HonoClient: Error processing "not accepted by peer" response (0.9-M2)"
When processing the _delivery update_ received after having sent a message, the _Sender_ component of `HonoClient` (ie. `AbstractSender` and `AbstractRequestResponseClient`) produces an `IllegalArgumentException`:
[code]
Extra exception handling has been added to get this stacktrace - the exception is not logged with the standard Hono build.

This exception leads the `ProtonTransport` associated w

[2019-02-04 14:23] DanielMaier-BSI opened #1022 "Hono client may become stalled while connecting because of stalled state in AMQP connection stack"
There are some states in AMQP connection stack used by hono where hono client ends up in a stalled state while connecting.

Examples are: AMQP Server does not respond to AMQP open frame, Server does not respond while SASL handshake (see also https://github.com/vert-x3/vertx-proton/issues/92) and maybe some others.

To protect hono client against such states, caused by bugs or missing features in u

[2019-02-04 14:26] b-abel opened #1023 "Add metric for rejected connections"
The connection limit added in #931 allows to reject connection requests that exceed a configured limit. Finding the right value for a specific system will probably require some experimenting and tuning. For this purpose as well as for constant monitoring of a productive Hono installation a metric of rejected connection attempts would be helpful.

[2019-02-04 14:42] calohmn commented on #1020
Added https://github.com/vert-x3/vertx-proton/issues/94 to improve error logging in such a scenario.

[2019-02-05 07:51] #1020 closed

[2019-02-05 10:06] b-abel commented on #931
Current behaviour regarding **persistent connections in the HTTP adapter** is the default of [HttpServer](https://vertx.io/docs/apidocs/io/vertx/core/http/HttpServer.html):

It conforms IMO to the HTTP/1.x specification (depending of the `Connection` request header, where no header implies not persistent in HTTP 1.0 and persistent in HTTP 1.1).
I don't see a option to completely disable persistent

[2019-02-05 13:10] b-abel opened #1024 "Kubernetes deployment script fails"
The deployment to Kubernetes using the deployment script fails with the message `no matches for kind "Route" in version "v1"`:

[code]

**Environment:** Minikube 0.33.1, Kubernetes 1.13, Docker 18.06

[2019-02-05 13:51] #1013 closed

[2019-02-05 14:38] mpnunes opened #1025 "Hono not propagating credits from consumer to client"
I have set a device sending telemetry messages to hono over mqtt.
On the other side I started a consumer for receiving those.
After disconnecting the consumer for some reason and letting the credits go down till 0, no credis are provided/propagated back to the client whenever the consumer is reconnected.
Consequently, no messages arrive at the consumer anymore.

However, if I send a message over t

[2019-02-05 16:14] calohmn opened #1026 "Qpid gets into state where only 1 credit is returned to adapter each time"
The Hono demo setup from the getting started guide can be brought into a state where the HTTP adapter only accepts 1 request at a time. Multiple parallel requests produce errors, caused by "no credits available" exceptions in the HTTP adapter.

**To reproduce:**
- Start the Hono demo setup from the getting started guide
- Start a consumer (hono-cli)
- Send some messages in parallel to the HTTP ada

[2019-02-06 07:20] ctron commented on #1022
I agree, the client side should always time out after it can't successfully connect. You never know what happens.

I am not so sure about the automatic retry, though. I think if it fails, then it fails. And the client (device) will re-trigger at some point in time anyways.

[2019-02-06 09:44] ctron commented on #1022
Ok, that is fine. I was assuming you wanted to add some additional re-connect handling.

[2019-02-06 12:26] calohmn commented on #1022
Concerning the configuration property for this new timeout feature:
We already have `connectTimeout` in `ClientConfigProperties`. This currently refers just to the time it takes for the TCP/TLS connection to be established.

Looking at the way the `ProtonSaslClientAuthenticatorImpl` class, handling the SASL handshake in the client, is hardwired to be used in vert.x-proton, it looks to me there's n

[2019-02-06 13:22] sophokles73 commented on #1022
I agree that there (currently) is no good way to time out just the SASL handshake. I think it is generally ok to extend the scope of the `connectTimeout` property to also include the SASL handshake. However, I think we would then need to make sure that we ignore the `reconnectAttempts` set in the `ProtonClientOptions` and instead always only try to establish the TCP connection once and let `HonoCl

[2019-02-07 12:52] calohmn commented on #1022
Good point about the `ProtonClientOptions.reconnectAttempts`. Currently it is set to 1 by default in `ConnectionFactoryImpl`. We could set it to 0 then.

In so far as in Hono code there is only `setConnectTimeout(DEFAULT_CONNECT_TIMEOUT_MILLIS)` invoked on the `ProtonClientOptions` param, I agree.
However, there may be cases where this is still needed.
For example I've seen a use case outside of t

[2019-02-07 13:37] b-abel commented on #732
I am working on this issue.

[2019-02-07 15:50] #1025 closed

[2019-02-07 17:24] #821 closed

[2019-02-08 09:58] b-abel opened #1035 "[idea] Add FAQ section to documentation"
I just wondered if a FAQ section in the documentation could be helpful. The documentation is big and if you are new to Hono it might not every time be immediately obvious in which section to find answers to a topic or different aspects of it might be found in various sections. The FAQ could link to the right parts.
Another use case are obviously questions that have been repeatedly asked and typica

[2019-02-08 11:49] sophokles73 commented on #1035
I had a similar discussion with some people from our marketing team recently. Having an FAQ page with fully spelled questions on it also helps with getting a better ranking in Google searches. We could also post the questions (and answers) to stack overflow as well ...

[2019-02-09 06:41] #1015 closed

[2019-02-10 07:28] sophokles73 opened #1038 "upgrade to vert.x 3.6.3"

[2019-02-11 10:36] #1038 closed

[2019-02-12 09:29] sophokles73 commented on #413
@dejanb can we close this issue?

[2019-02-12 12:40] sophokles73 opened #1043 "Add metrics to AMQP adapter"
The AMQP protocol adapter should report the same metrics as the other adapters.

[2019-02-13 14:28] sophokles73 commented on #971
This seems to have been a misunderstanding on my behalf. vert.x 4 will still contain the `HttpClient` class. However, `WebClient` has been added in 3.6.0 to provide for a more user-friendly client side API.
There is no need for us to migrate, though.

[2019-02-13 14:28] #971 closed

[2019-02-14 10:01] b-abel commented on #931
For the **AMQP protocol adapter** it is pretty easy to implement the limits in the same way it is already done for MQTT. But in the AMQP adapter the authentication happens earlier in the code. Since the goal of the limit is to protect the protocol adapter from extra load (authentication requests hashing passwords and remote calls to tenant and credentials APIs), I would invest the extra effort and

[2019-02-14 17:38] #958 closed

[2019-02-15 13:06] ctron opened #1046 "Fix encoding of OpenTracing span in AMQP messages"
My understanding is that the current encoding of OpenTracing information in AMQP messages could cause some issues it is not compliant with the AMQP spec.

About annotations the spec says (http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-messaging-v1.0-os.html#type-annotations):

What seems to happen right now is that the `MessageAnnotationsInjectAdapter` is being used in combination with the

[2019-02-15 13:16] ctron commented on #1046
Looking into the code, it actually might be tricky to get the proposal implemented. Maybe a different way to do it would be to keep the current keys of `uber-*` but put them into the annotations under a single key, using an AMQP map.

[2019-02-15 14:24] sophokles73 commented on #1046
The `MessageAnnotations*Adapter` actually injects to/extracts from the AMQP message's *delivery annotations* at the moment. The naming of the class does not reflect this properly (bad :-1: ). However, this does not change the overall problem here.

[2019-02-15 16:47] #1043 closed

[2019-02-15 16:49] sophokles73 commented on #961
fixed in 13d21b34316e9b11e6fca3173d4e1ce393f2ebfa

[2019-02-15 16:49] #961 closed

[2019-02-18 08:12] sophokles73 commented on #972
fixed with 797685a5eb9a49e27da9f167cd8920ed0777286e

[2019-02-18 08:12] #972 closed

[2019-02-18 08:19] sophokles73 commented on #711
@ctron Not sure what to do about this issue. Is this still relevant with all the changes that we have made to the metrics system (and dashboards)?
FMPOV we could simply close this issue, WDYT?

[2019-02-18 12:58] calohmn commented on #1046
In general I think it's a good idea to keep an eye on the AMQP related work in https://github.com/w3c/trace-context/. There's a draft in https://github.com/w3c/trace-context/pull/217 there.
There it is proposed to use a binary format. As this doesn't seem to be supported by Jaeger yet, I guess it's premature to adopt it here.
In any case I think it would be good to also address https://github.com/

[2019-02-18 15:00] calohmn commented on #1046
When following the approach suggested in #1012 (also trying to read the trace-context from the _application-properties_ of the bare message), it has to be noted that an AMQP map is not supported as value type there. I would therefore suggest using the plain property names (e.g. _uber-trace-id_) in the _application-properties_ case.

[2019-02-20 11:36] sophokles73 commented on #1022
With https://github.com/eclipse/hono/commit/b6b00bbddc5a018687490ada7efc36a7de57e7eb the scope of the connection timeout has been extended to include
* the TCP/TLS connection,
* the SASL handshake (if necessary) and
* the reception of the peer's *open* frame

[2019-02-20 11:36] #1022 closed

[2019-02-20 14:16] #413 closed

[2019-02-20 15:00] calohmn commented on #1046
Created PR#1054.
I've opted for _not_ also trying to read the trace-context from the _application-properties_ of the bare message.
We can add such a feature later on when the w3c trace-context spec is finalized (and when jaeger has support for the binary format if that is used in the spec).

[2019-02-20 15:07] calohmn opened #1055 "Add Jaeger tracing component in Docker Swarm / Kubernetes deployment"
In order to have a Hono setup for testing that includes a tracing component, it would be useful to include the [Jaeger All-in-one image](https://www.jaegertracing.io/docs/1.10/getting-started/#all-in-one) in the Docker Swarm and Kubernetes/Openshift deployment scripts.

Usage of the Jaeger component should be made optional there.

[2019-02-20 16:07] jbtrystram opened #1056 "Device Registry Integration Tests assume non-empty device registry"
In the process of creating a device registry based on Infinispan for production use, I wanted to get the Hono integration tests to run against our implementation.

The integration tests expect the DR to already hold some data, which is given in the `resources` of the test module, in JSON files.
This works well with the file based device registry since it use the same persistence mechanism. However

[2019-02-21 08:09] #926 closed

[2019-02-21 13:04] calohmn commented on #1012
PR is merged now.

To sum up the change:
The trace-context is read from / written to message annotations now (instead of delivery annotations).

If not found there, currently no further attempt is made to read the trace-context from the application-properties of the bare message. We can add such a feature later on when the w3c trace-context spec is finalized (and when jaeger has support for the bi

[2019-02-21 13:04] #1012 closed

[2019-02-21 13:12] sophokles73 commented on #1046
@ctron can we (i.e. you) close this issue?

[2019-02-21 13:15] sophokles73 opened #1059 "Limit number of AMQP connections according to resource availability"
Currently, the AMQP protocol adapter accepts any incoming connection request from devices. For each connection and message received, the adapter needs to maintain some state which is usually kept in memory. In order to not run out of resources during runtime, the AMQP adapter should only accept a reasonable number of connections.

It seems desirable that the adapter determines this number dynamica

[2019-02-21 13:22] #931 closed

[2019-02-21 13:29] calohmn commented on #930
To be achieved here is that the consumer application can send the command message only knowing the device id, not the gateway id.
However, on the side of the protocol adapter, the receiver link for receiving such commands may have been created with the gateway id in the address ("control/tenantId/gatewayId"), not the device id.
That means that either in the consumer application or somewhere betwee

[2019-02-21 15:13] sophokles73 commented on #1056
We certainly started to implement the integration tests with the idea to pre-load the registry with data from files, based on the example data we use in the example deployment. However, in the meantime, and with the advent of the `DeviceRegistryHttpClient` I do not think that we actually need to do that at all. Instead, we could create the fixture (i.e. the necessary data in the registry) as part

[2019-02-21 17:21] calohmn opened #1062 "Ttd value not given downstream"
Consider the following scenario:
- Deploy Hono with the `swarm_deploy.sh` script
- Start the `HonoExampleApplication`
- Upload Telemetry Data using the HTTP Adapter with the `hono-ttd` param - _without having registered the device yet!_
- Register the device
- Upload Telemetry Data again - with the `hono-ttd` param

=> The `HonoExampleApplication` doesn't receive the Ttd value.

[2019-02-21 17:31] calohmn commented on #1062
HTTP adapter log from the first request (device not registered yet):
[code]
Note: the command consumer is created here nonetheless - and it is not closed.

----
HTTP adapter log from the second request:
[code]

[2019-02-22 08:28] sophokles73 commented on #1062
@calohmn thanks for spotting, this looks like a bug

[2019-02-22 08:32] #1046 closed

[2019-02-22 09:55] sophokles73 commented on #1062
fixed in 3589cef6d0eeabab96c2e09f7b0d1bad78eb1cd0
@calohmn can you confirm and close?

[2019-02-22 10:58] calohmn commented on #1062
Confirmed.

[2019-02-22 10:58] #1062 closed

[2019-02-22 12:44] b-abel commented on #931
@sophokles73 What are we going to do with the open questions regarding the HTTP adapter (https://github.com/eclipse/hono/issues/931#issuecomment-460580271)?

[2019-02-22 13:00] b-abel opened #1064 "Remove Registration of Device 4711 from Getting Started Guide"
The device 4711 is widely used throughout the documentation and comes with a couple of predefined configurations. The only thing that is missing is the registration of the device. This is expected to be done by the user when following the steps in the "Getting started" guide. It feels not consistent that I have to register the device, while I don't have to create credentials for it. This inconsist

[2019-02-22 16:54] b-abel opened #1066 "[User Guide] Add Examples for AMQP with Client Certificates"
The User Guide for the AMQP adapter does not contain examples for the usage of client certificate based authentication (as it does for the MQTT and the HTTP adapter).
It is probably necessary to add this feature to the CLI application first.

[2019-02-22 17:01] b-abel opened #1067 "[User Guide] Examples for AMQP are broken"
The examples for AMQP in the User Guide are broken. E.g.:

`$ /hono/cli/target$ java -jar hono-cli-0.7-SNAPSHOT-exec.jar --spring.profiles.active=amqp-adapter-cli --message.address=event --payload='{"alarm": 1}'`

Here `--payload` needs to be `--message.payload`.

And in

`$ /hono/cli/target$ java -jar hono-cli-0.7-SNAPSHOT-exec.jar --spring.profiles.active=amqp-adapter-cli --username="" --passwor

[2019-02-25 09:23] sophokles73 commented on #1067
@b-abel thanks for reporting,a re you going to create a PR to fix it?

[2019-02-26 09:47] b-abel commented on #1067
Sure, I can do this together with #1066. But I won't probably have time for this before end of the week.

[2019-02-26 09:56] sophokles73 commented on #1067
@b-abel no worries, I have already done it ...

[2019-02-26 11:51] sophokles73 commented on #732
fixed in 4e5902d5df62c93583d9ab7f6c7ec842a362c536

[2019-02-26 11:51] #732 closed

[2019-02-26 12:05] #1067 closed

[2019-02-26 15:11] sophokles73 commented on #711
@ctron any comment on this one?

[2019-02-26 15:12] ctron commented on #711
Yes, closing this is the right thing to do.

[2019-02-26 15:12] #711 closed

[2019-02-26 15:14] sophokles73 commented on #1024
The `kubectl` tool will simply ignore the failure to create the *Route* resources which are OpenShift specific. However, deployment still succeeds.

[2019-02-26 15:14] #1024 closed

[2019-02-26 15:16] sophokles73 commented on #999
Discarded in favor of #929

[2019-02-26 15:16] #999 closed

[2019-02-26 15:19] sophokles73 commented on #903
@kaniyan I think that this has been resolved by performing these checks with every message/subscribe request. Can you verify and comment/close accordingly?

[2019-02-26 15:20] #819 closed

[2019-02-26 15:36] sophokles73 commented on #1026
My understanding of the log is different:
1. Qpid sends a *flow* frame with 249 credits and the drain flag set to `true`, instructing the sender (HTTP adapter) to forfeit all of its remaining credit that it currently has no messages to send for.
1. HTTP adapter replies with a *flow* frame indicating its drain mode (`true`) and 0 credits. This is the result of Qpid requesting the adapter to drain i

[2019-02-27 14:41] sophokles73 commented on #930
I agree, this might prove useful as a fallback solution if do not come up with something more convenient.

based on the personal discussion I had with @calohmn, it looks as if this is not reasonable to do based on auto links and waypoints because we would need to create auto links for at least each tenant. However, we could still use the concept of the *mapper* component but connect it in a differ

[2019-02-27 15:55] sophokles73 commented on #1007
@ctron if I am not mistaken then this is fixed in 0.9, isn't it?

[2019-02-27 17:03] sophokles73 commented on #901
The token will be used to authenticate the device. As part of the authentication process, we determine the device identity from the tuple (tenant, credentials type, auth-id). Based on this, we should probably expect to find both the tenant as well as the device ID encoded in claims of the JWT.
One possible way of doing so would be:
[code]
In the example above the `iss` (*issuer*) claim identifies

[2019-02-27 20:37] calohmn commented on #930
Thinking about a scenario where Hono is used with EnMasse, usage of the `control/requests` target address would cause authorization issues on the side of the senders here. When a non-empty target address is used, Qpid will check that address against the address permissions map received via the Keycloak auth service plugin. The `to` property of the message won't be checked in that case. That would

[2019-02-28 06:33] calohmn commented on #930
To mitigate this, we could let the application open the sender link on the `control/requests/$tenant` address and use the `control/requests/$tenant/$device` address in the `To` property.

In Hono, we would create the receiver link on the `control/requests/$tenant` address in the protocol adapter instance, that has gotten the subscription request by the gateway device. Over time, multiple protocol

[2019-02-28 08:53] jbtrystram opened #1070 "Client context entries are pruned from a credential creation request."
When a request to create credentials containing some client context (i.e. additional properties) is forwarded to the device registry, hose extra properties are pruned during the various checks.
This leads to the device registry receiving the credential creation request without any additional properties.

[2019-02-28 09:01] sophokles73 commented on #1070
The problem seems to be that the `CredentialsObject` to which the payload is mapped as part of processing the request, ignores any such additional properties.

[2019-02-28 09:05] calohmn commented on #930
Actually, I think we don't necessarily need the new extra Hono-internal Qpid. It would be beneficial from a performance point of view if the AMQP network is in another VPC.
But as long as the new gateway mapping logic sends the mapped message on an address, that the command-sending application doesn't have permissions on (e.g `control/internal_requests/$tenant/$gateway`), it should work.
It would

[2019-02-28 10:52] b-abel opened #1071 "Deployment for OpenShift differs from other targets"
The deployment configuration for OpenShift (`deploy/src/main/deploy/openshift/hono-template.yml`) contains copies of the content of `deploy/src/main/deploy/example-credentials.json` and `deploy/src/main/deploy/example-tenants.json` which are not up to date.
It would be great if there were a solution that works without copying of configuration.

[2019-02-28 12:58] ctron commented on #1071
I agree that it would nice that would be synched automatically.

Then again it would make much sense in the current case. The additions are a coap secret (where coap isn't being deployed) and the X509 certs, which the user has to set up manually, as they certs won't get generated by the S2I template.

The whole idea of the S2I approach is that the user doesn't need to have maven installed, and sim

[2019-02-28 13:28] calohmn commented on #930
The architecture and the steps towards setting up the links as well as the command flow is illustrated here:

![gateway-device-mapping](https://user-images.githubusercontent.com/891931/53569578-c5094c00-3b64-11e9-9eb5-dc58bf0243dd.png)

Steps that happen here are (yellow circles):

(1)
A gateway device subscribes to command messages. The request ends up at protocol adapter instance `1`.

(2)
The p

[2019-02-28 15:33] BobClaerhout opened #1072 "Reference a group of gateways through which a device can send messages"
Since https://github.com/eclipse/hono/issues/926 it is possible to configure multiple gateways for a specific device. However, in some cases a group of devices are located on the same spot and can communicate through the same group of gateways. Therefore it would be useful to reference the groupid (of gateways) instead of specifying the same list over and over for each device. By doing this, a cha

[2019-02-28 15:48] BobClaerhout commented on #930
As discussed in the call, the address to post commands on will probably change. This is fine by me. Is following assumption correct?
To send a command to the device I'm using `
control/requests/$tenant/$device` as the `To` property on the message. This is used for sending a message directly to the device as well as for sending a message through the gateway. This surely is what we want because we d

[2019-02-28 16:11] calohmn commented on #930
Yes, the `To` property value of `control/requests/$tenant/$device` is the same if the target device is behind a gateway or if it is directly connected to the protocol adapter.
In case it is directly connected, i.e. there is no `device->gateway` mapping, the receiving protocol adapter should forward the message to the `control/internal_requests/$tenant/$device` address (ie. $gateway is $device from

[2019-02-28 16:14] sophokles73 commented on #1072
@BobClaerhout having groups of groups will provide (even) more flexibility, of course. However, how many levels would we need/want to support? Is this immediately relevant to you or would it be fine and in fact an improvement already if we started with just the ability to define and refer to gateway groups in the *via* property?

[2019-02-28 16:22] BobClaerhout commented on #1072
@sophokles73 of course it is already an improvement when we can define a gateway group and refer to it instead of the current list. It might be better to split this up and reconsider the group of groups later on.
We have a future use case which might need this functionality. However, it has a lot of other challenges as well since the devices might be roaming over tenants as well...

[2019-03-01 07:42] DanielMaier-BSI opened #1073 "Potentially competing receiver links when using command and control API"
Command and control API uses address `control/${tenant_id}/${reply_id}` for receiving responses in consumer applications. Users are free to choose `${reply_id}`. If an application wants to receive all responses of one tenant, hono docs recommend to use an arbitrary (short) string as `${reply_id}` without `${device_id}` and to keep the receiver link open.

However, protocol adapters use a very simi

[2019-03-01 08:11] calohmn commented on #1073
I would like to see the "control" keyword in the address.

Therefore, I think we could define as address schemes:

`control/request/${tenant_id}/${device_id}` for the application to send commands on.
`control/response/${tenant_id}/${reply_id}` for the application to receive replies on.

Thinking about the necessary permissions for such addresses in EnMasse/Qpid/Keycloak, these Keycloak groups woul

[2019-03-01 09:41] sophokles73 commented on #1073
All addresses in Hono are built around the assumption that the first segment represents the endpoint, the second segment indicates the tenant and the third segment indicates the device ID. If we want to diverge from this pattern in the C&C API  then we will have a lot of work to do, introducing special cases all over Hono. I'd rather not do that, so introducing an additional path segment in the ad

[2019-03-01 11:04] #1070 closed

[2019-03-01 15:31] ctron opened #1074 "Align main Application class names"
The current situtation:

* `org.eclipse.hono.adapter.amqp.Application`
* `org.eclipse.hono.adapter.coap.vertx.Application`
* `org.eclipse.hono.adapter.http.vertx.Application`
* `org.eclipse.hono.adapter.mqtt.impl.Application`

I think we should align this.

[2019-03-01 15:33] BobClaerhout opened #1075 "Deploying 0.9 adapters: openSSL is not available"
I'm trying to deploy version 0.9 of Hono. When I do, I'm getting following error in all adapters:
[code]
I'm using the docker containers from docker hub and running on OKD with updated deploy script according to the one in 0.9.

[2019-03-01 15:46] calohmn commented on #1074
Commit where the Http adapter `Application` was moved to the `vertx` package: https://github.com/eclipse/hono/commit/19011f6c5c491fcae4df28f24ac4982d557e4606.
There were Eclipse jar-signer conflicts before.

[2019-03-01 15:59] ctron commented on #1074
Maybe then align that all to `org.eclipse.hono.adapter.<foo>.impl.Application`?!

[2019-03-01 16:32] sophokles73 commented on #1075
is it possible that you have set the `nativeTlsRequired` property in your adapter configurations, e.g.
[code]

Hono does not ship *netty-tcnative* by default in its containers. You can add support for it using the *extension class path* described in the [admin guide](https://www.eclipse.org/hono/admin-guide/secure_communication/#using-openssl) or by creating your own images.

[2019-03-01 16:39] BobClaerhout commented on #1075
That was it!
Thanks for the quick and accurate response!

[2019-03-01 16:39] #1075 closed

[2019-03-04 08:03] DanielMaier-BSI commented on #1073
What about something like this:
`control_request/${tenant_id}/${reply_id}`
`control_response/${tenant_id}/${reply_id}`
?

[2019-03-04 08:51] sophokles73 commented on #1073
I think we should wait for the results of the discussion around #930 as it might have an impact on the addressing scheme used for C&C as well.

[2019-03-04 14:26] calohmn commented on #930
The solution above relies on the fact that protocol adapters open receiver links on `control/requests/$tenant` and `control/internal_requests/$tenant/$gateway`.
In the cases of MQTT and HTTP protocol adapters this would be triggered by incoming requests/subscriptions on that tenant and gateway.

But what about a protocol adapter like a LoRaWAN adapter where there is no such trigger?
This kind of a

[2019-03-04 15:06] BobClaerhout commented on #930
I like the proposed solution concerning the internal_requests. I think it doesn't have any downsides. I do have some remarks/questions:
- Isn't hono always depending on an external AMQP network? Is it really necessary to have the ability to include an own Qpid instance? Is somebody deploying hono without an external AMQP network?
- I think you are adding a requirement which is not needed. Accordin

[2019-03-05 10:06] ctron commented on #1007
Indeed, closed in 0.9.

[2019-03-05 10:06] #1007 closed

[2019-03-05 12:37] calohmn commented on #930
Yes, the architecture of Hono explicitly states the AMQP network to be external to Hono, so that one is flexible to attach Hono to a preferred messaging solution (be it a self-managed Qpid+Artemis, EnMasse or e.g. an Azure based messaging solution).
In that sense the first illustration in the comment above with the AMQP network consisting of a Qpid specially configured to connect to the Hono Proto

[2019-03-07 15:13] Alfusainey commented on #623
@sophokles73 @pho-enix In the example above, the two `trusted-cas` have the same `subject-dn` i.e are issued by the same issuer. Is this right?

I was just wondering whether it is possible for two (or more) trust anchors to have the same `subject-dn` configured for a tenant?

[2019-03-11 17:09] sophokles73 commented on #623
@Alfusainey I do not see why not. In fact, the trust anchor itself is just the public key. The subject DN is simply the identifier that we use to determine the tenant.

[2019-03-12 14:48] calohmn commented on #930
If not, we could choose the first approach above.

Any opinions on this?

The new HTTP based LoRa adapter (see PR #1078) currently only supports a preconfigured list of `commandEnabledTenants`.
With the above 2nd approach (not requiring triggers by the gateways), this limitation could be removed.

Therefore, I would rather opt for that approach with the following setup as shown above:

![gateway-m

[2019-03-12 15:09] calohmn opened #1079 "Remove all remaining references to Hono Messaging"
The `Hono Messaging` component has been removed in #1004.

However, there are still some references in the codebase where it is mentioned.
These places should be changed accordingly.

[2019-03-12 15:24] sophokles73 commented on #1079
can you give some examples?

[2019-03-12 15:39] calohmn commented on #1079
E.g. here:

https://github.com/eclipse/hono/blob/04b6eda40ebd963ffa363fd912d7bf730445fbe7/service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java#L178

I would rather use `Messaging Network` here - as this term is also used in the documentation.

[2019-03-13 10:25] BobClaerhout commented on #930
If the HTTP LoRaWAN is able to retrieve the tenant, gateway and deviceId from the messages being sent to that adapter, I would implement the predefined list in another iteration. IMO this is not needed for a first version to address the problem discussed here.

Can you clarify this? What are the exact triggers by the gateways you are talking about? Are those triggers devices message flowing throug

[2019-03-13 12:57] calohmn commented on #930
With the 1st approach (the very first illustration image above), the current command&control scenarios with the HTTP and MQTT adapters can be realized.
These adapter either receive a "subscription" request (MQTT) or a request with a `ttd` param (`time til disconnect` - the device waits that long for a command) (HTTP) from the devices (or gateways).
That would be the trigger that I meant, enabling

[2019-03-13 13:00] b-abel opened #1083 "Use consistent format for paths in documentation."
Currently there are several file paths in command line promts in the documentation used in in different formats.It would be helpful if this is unified.

Found variants:
* `~/hono$`
* `~hono/deploy$`
* `$ /hono/cli/target$`
* `~/hono/services/device-registry $`
* No file path given, even if the command depends on it

[2019-03-13 13:05] b-abel commented on #1083
**Proposal**

* Always add path to the command prompt, if the command depends on it.
* Always assume that the project base directory is `~/hono`
* Always use a valid file path (invalid is e.g. `~hono`) and no dollar signs in front of the path in command prompt

[2019-03-13 14:14] calohmn commented on #780
The Hono auth component also uses the credentialsService and tenantService clients of HonoClient.
E.g.
[code]
Instead of using `HonoAdapterClient tenantServiceClient` here, I think it be more consistent to use a `HonoServiceClient` class instead.

Therefore I would suggest:
[code]

Concerning the `connect` methods in `HonoClient`:
[code]
Instead of parameterizing HonoClient via generics here (so t

[2019-03-13 14:35] calohmn opened #1084 "Clarify use-case of hono-example module"
The Hono developer guide contains a page about the `hono-example` module:
https://www.eclipse.org/hono/dev-guide/java_client_sender/

The `HonoEventSender` and `HonoTelemetrySender` classes in this module send messages directly to the AMQP Messaging network. In this sense these classes represent potential parts of a custom protocol adapter.

However, the webpage in the documentation doesn't make t

[2019-03-13 16:00] b-abel commented on #1083
Absolutely. This annoys me regularly.

One downside with this for me is that the prompt in front of a line is a convention that makes it easy to read the documentation and instantly know the context (it's a shell command, in this directory, with normal user privileges).

Relative paths only defer the problem. Every time you copy a command you need to know in which directory it can be executed. In

[2019-03-13 16:07] ctron commented on #1083
But having the full path inside the repository would exactly achieve that … for a one-liner you would have the full relative path (e.g. `oc create -f deploy/okd/manifests/latest/`) and for a bigger block, and additional `cd` does hurt too much I think.

I only fear that the documentation will look like this:

[code]

[2019-03-13 16:32] b-abel commented on #1083
Your example is special because the `git clone` creates the context :-)

My example would be:

[code]

Would this become something like that?

[code]

[2019-03-14 07:31] sophokles73 commented on #1084
So, which case is/should be targeted? IMHO the page stems from times where we still considered allowing devices to connect to Hono Messaging directly using AMQP. However, as you correctly point out, this is no longer the case but we would rather have devices connect to the AMQP protocol adapter instead. So it would probably make sense to adapt the page to reflect this use case, right?

[2019-03-14 07:41] sophokles73 commented on #780
I agree, we will need to have a more fine grained way of getting clients for the arbitrary (south bound) services instead of just having a single factory which is shaped according to the needs of protocol adapters only.

I would also like to separate the client factories from the connection management so that we do not need to change the connection management class(es) with each change we make to

[2019-03-14 09:46] calohmn commented on #1084
As for connecting devices to the AMQP protocol adapter, I think the [AMQP Adapter page](https://www.eclipse.org/hono/user-guide/amqp-adapter/) in the user guide should be the place where corresponding examples should be put. The Hono CLI example there (with its `AmqpSend` class) could already serve as a simple Java example. In that sense, adding a further example for a java-based sender with the `

[2019-03-14 10:21] sophokles73 commented on #1084
The sender example might, however, make sense in the context of sending (one-way) commands.

[2019-03-14 10:23] b-abel commented on #1083
I would like to think about this topic with another perspective: What are our goals and how do we prioritize them?

My priorities have the following order:

1. Copy & paste with minimal effort
2. Always know the context
3. Short and easy to understand
4. Consistent notation

With this priority order the solution is probably not to have one schema for every place in the documentation. Instead we co

[2019-03-14 10:37] calohmn commented on #1084
Ok, right. However that is integrated in the `HonoExampleApplicationBase` and already documented in the `Consuming Messages from Java` dev-guide page.
Renaming the `hono-example` module to `hono-example-application` would make more sense then.

The `java_client_sender` dev-guide page and the sender classes of the `hono-example` module I would still consider obsolete.

[2019-03-14 11:26] calohmn commented on #1026
Right, I've corrected the line above (linkCredit=249), the main thing was the `drain=true` anyway.

Yes, that is the main question I think.

I could reproduce this issue also with the Qpid instance of EnMasse (0.26.3).

[2019-03-14 14:17] calohmn commented on #1026
Here is some log output of the above scenario: [logs_190314.zip](https://github.com/eclipse/hono/files/2966809/logs_190314.zip).
Archive contains output from 2 runs, 2nd with qpid trace log and qdstat output.

[2019-03-14 14:22] ctron commented on #1083
I would think more like:

[code]

[2019-03-14 14:24] ctron commented on #1083
Maybe it would be good to pick one section and make an example … for everyone to have a look. Or if we already have that, simple post a link.

[2019-03-14 15:47] b-abel commented on #1083
Maybe that wasn't a good example either :-)
But still, the base directory is be completely implicit with this and the reader needs to figure out the context before pasting the command into the shell.
Do you mind adding (initial) path information where necessary in a comment? Like e.g.:

[code]

This is short, doesn't disturb copy & paste and IMHO ticks the "Don't make me think" box.

[2019-03-14 16:45] b-abel commented on #623
I'm trying to understand the requirements here.
@boaks Is it really necessary to restrict those specific `trusted-ca` to the corresponding protocol adapter? Or would it be OK to add it to the `trusted-ca` array?
Or is your point about the schema of such a specific `trusted-ca`? Maybe you can provide an example...

[2019-03-14 18:50] grs commented on #1026
@calohmn thanks for logs etc, I confirm this is a bug in the router: https://issues.apache.org/jira/browse/DISPATCH-1287

Its on my list and I'll update you when we have a fix.

[2019-03-15 07:43] Alfusainey commented on #623
@b-abel are you also working on this? I already started working on this and might file a PR for it this weekend :-)

[2019-03-15 07:47] sophokles73 commented on #1026
@calohmn thanks for the detailed analysis. FMPOV this is a serious issue as we anticipate to have a single consumer per tenant only in most use cases. Thus, when this consumer crashes and then reconnects, we should not run into this issue every time ...

@grs thanks for taking care of this.

[2019-03-15 07:49] sophokles73 commented on #1026
@calohmn How would you like to proceed with this issue, given that it seems to be a bug in QPid?

[2019-03-15 08:58] sophokles73 commented on #930
@calohmn @BobClaerhout
Thanks for the great discussion of the subject so far :+1:
Of course, teach of the proposed/discussed approaches have their pros and cons. However, I do have to admit that I would rather not rely on Qpid being part of the AMQP Messaging Network nor introducing it to Hono as a required component. The reason for that simply is that the former assumption would drastically restr

[2019-03-15 09:26] calohmn commented on #1026
I would opt for closing this issue and adding a new one with the task of updating Qpid to the version containing a fix.

[2019-03-15 09:32] b-abel commented on #623
Didn't know that. But no problem, i haven't done anything substantial yet. I'll just move on to another topic :-)

[2019-03-15 09:50] calohmn commented on #930
The question would be here, how the protocol adapter instances would be able to receive the command messages from the applications in the first place (before doing the mapping).
In my initial proposal, the trigger (ie. subscription/ttd request) from the gateways/devices contains the tenant id for which the protocol adapter instance will open the `control/request/$tenant` receiver link.

With no su

[2019-03-15 09:50] grs commented on #1026
I have a candidate fix for the router. I can push a patch for the enmasse router later today if that is needed.

[2019-03-15 10:48] sophokles73 commented on #1026
@grs
That would be helpful for testing, of course. However, Hono itself can only depend on a released version of Qpid. So we will need to wait for a (bugfix) version of Qpid. BTW, we are currently depending on version 1.4.1. Does the Qpid project have any ambitions to back-port fixes for issues or is the policy that only the latest release gets bug fixes?

[2019-03-15 10:51] sophokles73 commented on #930
right, I totally forgot about that ...

[2019-03-15 11:07] grs commented on #1026
There should be an upstream release 1.6.1 coming "next week" (it could be the week after in my experience).

Generally we don't do bug fix releases on older minor versions upstream. However if/when there is demand there is usually sufficient support for doing one (providing the desired backports are simple enough not to undermine the purpose).

[2019-03-15 11:10] calohmn opened #1087 "Update qdrouterd-base image version"
The *qdrouterd-base* image should be updated to a version that contains fixes for:
- https://issues.apache.org/jira/browse/DISPATCH-1273
("'to' field not authorized against valid targets for anonymous sender")
- https://issues.apache.org/jira/browse/DISPATCH-1287 (see #1026)

[2019-03-15 11:15] sophokles73 commented on #1026
The problem we have with *keeping up* with the latest minor release is that we need to push every new minor release that we want to use through the Eclipse IP process. Patch releases, in contrast, can be used without any further checks, though.

But never mind, I think we should update to 1.6.1 when it becomes available then ...

[2019-03-15 12:01] calohmn commented on #1026
Closing this issue then - followup is #1087.

[2019-03-15 12:01] #1026 closed

[2019-03-15 15:58] sophokles73 commented on #1059
fixed in 43a32aa57f592b2d660742b3743b809505bff9e5

[2019-03-15 15:58] #1059 closed

[2019-03-18 07:19] pho-enix commented on #623
/assign Alfusainey

[2019-03-18 08:46] alexju88 opened #1091 "no matches for kind "Route" in version "v1""
**Hi guys,
We tried to deploy hono in kubernetes with script kubernetes_deploy.sh, but when we try to deploy hono-adapter-kura with command "kubectl create -f $RESOURCES/hono-adapter-kura --namespace $NS", we failed, the error is as below:**

unable to recognize "/opt/hono/install/target/deploy/resource-descriptors/hono-adapter-kura/hono-adapter-kura-route.yaml": no matches for kind "Route" in ver

[2019-03-18 12:29] sophokles73 commented on #1084
I'd rather keep the name of the module since we might want to add other examples to it in the future as well. I have no problem with removing the `java_sender_client* page, though. We will definitely need to revise the page covering the development of a custom protocol adapter.

[2019-03-18 16:57] sophokles73 commented on #1074
@ctron can we (you) close this?

[2019-03-18 17:31] calohmn commented on #1024
This was only the case up until beginning of January, when invocation of `common.sh` was [added](https://github.com/bsinno/hono/commit/04261a70363327b86299356804dfd5a10b31005d#diff-191110070c09a9307e3a90704a80d2f2R15). In `common.sh` there is `set -e` ("Exit immediately if a command exits with a non-zero status.") and this causes the `kubernetes_deploy.sh` script to stop at the point where a route

[2019-03-18 17:38] sophokles73 commented on #1024
Or remove it altogether ...

[2019-03-18 17:42] #1079 closed

[2019-03-18 19:21] calohmn commented on #1091
About the `no matches for kind "Route"` error:
workaround for that is to edit `common.sh` (in the same directory as `kubernetes_deploy.sh`) and remove the `set -e` line there (see #1024).

Note that in general the script based deployment is deprecated as of Hono 0.9. Alternative would be to use the Helm based deployment.

As for the `Unable to mount volumes for pod` error: I don't think it's relat

[2019-03-19 07:37] alexju88 commented on #1091
Yes ,  this problem persist. I have deleted old pod and start a new one, but not help.
Still mounting volume problem..

[2019-03-19 07:48] #1074 closed

[2019-03-19 09:09] calohmn commented on #1091
Does the secret `hono-adapter-kura-conf` exist in the namespace you are using?
Did the other protocol adapter pods start up ok?
In general you could try running `kubernetes_undeploy.sh` (or deleting the namespace you were using manually) and then running the deployment again - in order to make sure there are no issues because of leftover artefacts from a previous, incomplete deployment run.

[2019-03-19 16:28] calohmn opened #1097 "Investigate slow 'testUploadMessagesWithTtdThatReplyWithCommand' test"
The `testUploadMessagesWithTtdThatReplyWithCommand` test method in `HttpTestBase` seems to take a very long time.
Excerpt from travis:
[code]
or
[code]

It should be investigated why that is the case.

[2019-03-19 17:41] sophokles73 commented on #1097
I am pretty sure that it is due to the fact that `CommandConnectionImpl.getCommandResponseSender` opens a new sender link for each response being sent ...

[2019-03-20 03:29] gongzhao1 opened #1099 "no matches for kind "Prometheus" in version "monitoring.coreos.com/v1""
Hey, We try to use helm to deploy hono on kubernetes cluster, But I got this error as follows.

`[root@test helm]# helm install --dep-up --name eclipse-hono --namespace hono .`

`
Error: validation failed: [unable to recognize "": no matches for kind "Prometheus" in version "monitoring.coreos.com/v1", unable to recognize "": no matches for kind "ServiceMonitor" in version "monitoring.coreos.com/v1

[2019-03-20 06:14] calohmn commented on #930
**TLDR;:**
The main question above was:
As part of a solution here, do we need/want to support a scenario where protocol adapters should be able to get commands for gateways, that haven't connected to the adapter yet? Example would be a HTTP based LoRa adapter, configured for a set of LoRa network provider gateways, to which commands are actively forwarded via HTTP.

Such a scenario requires a rat

[2019-03-20 07:27] calohmn commented on #1097
@sophokles73 `CommandConnectionImpl.getCommandResponseSender` doesn't seem to take long in comparison. Local test run output:
[code]

Here's a log excerpt of a complete local test run, containing a single loop run (i.e. one message being processed) in `HttpTestBase.testUploadMessages`:
[code]
Of the 278ms total, 178ms (=87ms+91ms) was spent in the HTTP adapter in `UsernamePasswordAuthProvider` for

[2019-03-20 07:42] sophokles73 commented on #1097
@calohmn nice :+1:

then I would say: works as designed, doesn't it?

[2019-03-20 08:16] sophokles73 commented on #1099
I have tried to reproduce the issue towards a local minikube running kubernetes 1.11.3. I am not able to deploy using helm but due to another problem:
[code]
I suspect that a newer version of kubernetes is required for the Prometheus operator to be deployed successfully. In any case, are you able to use a more recent version, e.g. 1.13.x?

[2019-03-20 08:25] DanielMaier-BSI commented on #775
Fixed with #1028. I think we can close this issue.

[2019-03-20 11:09] sophokles73 commented on #1099
Ok, it seems that we have the same bug in the Helm templates for 0.9 as we did in #491, i.e. the version (0.9) that is used as a label is misinterpreted as a number because it is not put in quotes.

This problem will not occur when running the Helm deployment from master (because the version there is usually something like `0.x-SNAPSHOT` which is interpreted as a string instead of a number).

In o

[2019-03-20 11:28] DanielMaier-BSI opened #1100 "AMQP application properties of command response are not accessible with CommandClient"
With #958 device-id and tenant-id was added to command response application properties. However these properties cannot be accessed with `CommandClient` because it returns only the command response payload.

[2019-03-20 12:52] #775 closed

[2019-03-20 12:56] sophokles73 commented on #1100
The application properties can be retrieved using the `BufferResult.getApplicationProperty()` method.

[2019-03-20 12:57] sophokles73 commented on #1097
@calohmn We could use a smaller number of iterations for the BCrypt algorithm when running the integration tests in order to speed up the execution.

[2019-03-20 13:02] #1084 closed

[2019-03-20 13:09] kaniyan commented on #903
@sophokles73 Yes we introduced checks with message/subscribe request. This issue also goes one step further, whether to actively close the existing connections or not, once the devices are no longer registered.

[2019-03-20 13:56] DanielMaier-BSI commented on #1100
Sorry, I didn't expect this from the class name. I can confirm that it works as expected :).

[2019-03-20 13:56] #1100 closed

[2019-03-20 14:05] gongzhao1 commented on #1099
Yes, I also found `version: 0.9`  error.
I tried to deploy with helm, but it always reported the error I mentioned above.
I think its my kubernetes cluster(Public cloud) does not have this API, maybe I should create it?
`apiVersion: monitoring.coreos.com/v1`
`kind: ServiceMonitor`

So I execute `helm template --name eclipse-hono --namespace hono --output-dir . target/deploy/helm/`, and trying to d

[2019-03-20 16:57] sophokles73 opened #1101 "No metrics reported using legacy metrics"
Building Hono with profile `metrics-graphite` and setting the *HONO_METRICS_LEGACY* environment variable to `true` results in no telemetry nor C&C metrics being reported by the protocol adapters anymore.

[2019-03-20 18:12] #1101 closed

[2019-03-21 07:31] sophokles73 commented on #1099
Are you sure that your cluster meets all the requirements for the Prometheus Operator as described here: https://github.com/helm/charts/tree/master/stable/prometheus-operator ?

Have you deployed Helm's *Tiller* service to your kubernetes cluster using
[code]
before you tried to install the Hono chart?

[2019-03-21 07:44] ctron opened #1102 "Create an official HTTP API for the device registry"
Currently the Device Registry HTTP API is more an internal hack, than a supported version. We would like to change that and provide a proper HTTP API, which can be used by people to build their solution on top. Ideally it should be close to the existing one, but also consider things like authentication.

[2019-03-21 09:57] calohmn opened #1103 "Fix cache handling in RegistrationClientImpl (concerning multiple gateways)"
Relates to #930, #1093:
In order to support the scenario of a device connecting via different gateways (not at the same time but alternating between gateways), the caching logic concerning `assertRegistration` requests has to be adapted.

Scenario:
- device `dev-A` connects via gateway `gw-1` => no cache hit, assertRegistration is invoked (last-via is updated), new cache entry with key `(assert, d

[2019-03-21 10:07] calohmn commented on #1103
Another possible solution:
Use only `(assert, $deviceId)` as cache key in `RegistrationClientImpl.assertRegistration`.
When having a cache hit, check the cache value and the `last-via` gateway id in it. If it differs from the gateway id used in the request, retrieve the current registration information from the RegistrationService and update the cache entry.

[2019-03-21 10:16] BobClaerhout commented on #1103
I'm not familiar with the assertRegistration but if it can be compared with a database table I think I would create a table where the DeviceId would be the primary key of that table. If this assumption is correct, I would rather go for the second solution.
On the other hand: is it really needed to check if the id is the same, can't you  just always update the cache entry or is the update an expens

[2019-03-21 10:50] calohmn commented on #1103
Yes, the second solution is probably more straightforward.

Updating the cache entry is not enough, we have to do the remote call to the Registration Service and have the `last-via` property be updated in the device registry that way.
In order not to do that unnecessarily, the gateway id is checked. At least that was my initial idea.

But, thinking further about this, for devices with multiple `vi

[2019-03-21 11:17] BobClaerhout commented on #1103
I think you have to assume that your cache is always out of sync. At the second action, `dev-A` connects via gateway `gw-2` you will have to perform a remote call as well. I think the local cache is a rather dangerous concept in this case. The master of this data should be the device registry (and there will always be just one device registry, if not a syncing mechanism should be added here as wel

[2019-03-21 11:41] calohmn commented on #1097
@sophokles73 yes, I think that would be good.

[2019-03-21 13:01] sophokles73 commented on #1103
The device registry implementation can control the caching behavior in the adapters by means of the *caching policy* which is included in all responses to *assert Registration*. The registry could, e.g. use the *no cache* policy for devices that are allowed to connect via multiple gateways and use the normal cache policy for devices that are only allowed to connect via a single gateway (or none at

[2019-03-21 13:52] #1097 closed

[2019-03-21 14:03] sophokles73 opened #1105 "Cannot deploy Hono 0.9 using Helm chart"
When trying to install Hono 0.9 using `helm install ...` as described in the deployment guide, Helm immediately fails, complaining about an invalid label value.

This seems to be the same problem as described in #491

[2019-03-21 14:04] sophokles73 commented on #1105
This problem will not occur when running the Helm deployment from master (because the version there is usually something like `0.x-SNAPSHOT` which is interpreted as a string instead of a number).

In order to use the Helm templates that are part of the 0.9 download archive, the following command needs to be run before running `helm install`:
[code]
this will replace all occurrences of the `0.9` ve

[2019-03-21 14:16] alexju88 opened #1106 "helm install problem"
**I package the eclipse-hono and install it from local repository, but meet following problem:**

[root@cnhwmn01-test local]# helm install --dep-up --debug local/eclipse-hono --name eclipse-hono --namespace hono
[debug] Created tunnel using local port: '39523'

[debug] SERVER: "127.0.0.1:39523"

[debug] Original chart version: ""
[debug] Fetched local/eclipse-hono to /root/.helm/cache/archive/ecli

[2019-03-21 14:19] sophokles73 commented on #1106
closing as duplicate of #1105

[2019-03-21 14:19] #1106 closed

[2019-03-21 15:09] #1105 closed

[2019-03-22 08:05] #1103 closed

[2019-03-22 08:48] sophokles73 commented on #1099
@gongzhao1 any news on this?

[2019-03-22 09:19] calohmn commented on #930
An **outlook** towards improving the steps (5) and (6) in this illustration
![gateway-device-mapping](https://user-images.githubusercontent.com/891931/53569578-c5094c00-3b64-11e9-9eb5-dc58bf0243dd.png)
where the mapped commands get routed back via the AMQP network in order to reach the specific protocol adapter instance connected with the gateway.

Instead, we could setup a cluster among the proto

[2019-03-22 10:06] gongzhao1 commented on #1099
Hi Hudalla,
Sorry for reply late, I have been try to deploy Hono on my cluster these days.
I also try to use helm deploy hono:0.9 on my minikube. And it running well.
So I guess the public cloud provider's kubernetes cluster is somewhat different from the native one.

And I deploy it manually, But when I uploading Telemetry Data using the HTTP Adapter, I always return  `HTTP/1.1 401 Unauthorized`.

[2019-03-22 14:01] sophokles73 commented on #1099
I am confused now. Are you deploying to a local minikube or to a kubernetes cluster?

[2019-03-22 14:10] gongzhao1 commented on #1099
Sorry, I didn’t describe it clearly.
I need to deploy hono on my public cloud k8s cluster
So I execute `helm template --name eclipse-hono --namespace hono --output-dir . target/deploy/helm/`, and trying to deploy manually without prometheus(using `kubectl create`).
But I have encountered the above error.
Maybe something is wrong with my deploy. I will check my deploy this weekend, After that I wil

[2019-03-22 14:16] jbman commented on #901
I like the idea of accepting a token with dedicated hono specific claims:
[code]
It is probably easier to achieve this format with a an authorization server than the custom format at the sub claim.
In addition I'd like to porpose to have hono specific claims prefixed with "hono_". This avoids collisions with other information which could be placed into the token. With this approach, an authorizati

[2019-03-22 14:19] BobClaerhout commented on #930
What's the advantage of this? Why is this preferred?

[2019-03-22 14:40] b-abel opened #1109 "New Theme for the Homepage"
On the occasion of the release of version 1.0 the homepage could get some love.
A new theme should provide a search feature and a fresh look and feel.

Related tasks are:
* a new landing page
* restructuring of the menu
* a FAQ (#1035)

[2019-03-22 14:46] b-abel commented on #1109
The PR #1108 is one idea based on the theme [DocDock](https://themes.gohugo.io/docdock/). I am working on another one with the (quite similar) theme [Learn](https://github.com/matcornic/hugo-theme-learn/).

[2019-03-22 14:49] calohmn commented on #930
The mapped message would travel directly from the receiving adapter to the target adapter instead of taking the extra 2 hops to and from the AMQP network. This could be especially relevant if the AMQP network components are located in another physical network compared to the hono protocol adapters. It would also save us from creating the extra AMQP sender/receiver links for this communication with

[2019-03-22 15:16] jbtrystram commented on #1109
The main feature I miss on the website is an index when navigating the API resources :) Is that difficult to add ? It would be a nice addition !

[2019-03-25 07:57] sophokles73 commented on #1109
+1 for having a search field and a better navigation bar that supports > 2 levels ...

[2019-03-25 08:01] sophokles73 commented on #901
@jbman thanks for the input. I think it's a great idea to use a prefix indicating the *scope* of the claims. Is it a common pattern to use an underscore for separating the prefix from the claim name? Otherwise I'd prefer to use a colon, e.g. `hono:tenant` and `report:tenant`, which would more resemble the approach taken in URNs.

[2019-03-25 09:41] sophokles73 commented on #1066
@b-abel can we (i.e. you) close this?

[2019-03-25 09:41] sophokles73 commented on #1083
@b-abel can we (you) close this?

[2019-03-25 09:43] sophokles73 commented on #1056
@jbtrystram what's the status of this? With the recent changes you contributed, can we (i.e. you) close this issue?

[2019-03-25 09:44] #851 closed

[2019-03-25 09:45] sophokles73 commented on #817
@ghys is this still an issue? If not, can you close this issue?

[2019-03-25 09:56] #1066 closed

[2019-03-25 09:57] #1083 closed

[2019-03-25 10:39] jbtrystram commented on #1056
I suppose we can close it, yes !

[2019-03-25 10:39] #1056 closed

[2019-03-25 11:32] jbman commented on #901
@sophokles73 the colon is also fine. I don't think there is a general rule.

Sometimes URIs are used as namespace to avoid collision of token claims, but if you want to have many info in the token you also want to keep the keys small. I found that SaaS provider Auth0 only supports adding URI-prefixed claims (see [Custom Claims](https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims

[2019-03-25 11:44] sophokles73 commented on #901
That makes sense to me. So, for Hono we could then use something like
[code]

[2019-03-25 14:33] gongzhao1 commented on #1099
I have successfully deployed hono on my kubernetes cluster. (The prometheus cluster in my environment caused the prometheus of hono to fail to start, So I deployed hono with a clean cluster. )
And In summary:
Deploy `hono:0.9` on kubernetes by using helm only have one bug #491.

Thanks, Hudalla.
Then I will do some test about hono, If I got any problems, I will report my issue.

[2019-03-25 14:33] #1099 closed

[2019-03-25 14:44] kaniyan commented on #1109
Also 👍  for the search feature.

[2019-03-26 08:54] sophokles73 opened #1110 "Improve tracing of execution of Device Registry operations"
The base classes for implementing the Credentials, Tenant and Device Registration APIs currently only support tracing of the service method implementations.
In order to get a better understanding of the message flow, the AMQP and HTTP endpoints accepting the requests should create a *generic* span of their own.

[2019-03-27 11:46] sophokles73 opened #1113 "Support receiving telemetry from devices using LoRa"
It would be nice if we could support devices that use LoRa to connect to network providers or LoRa gateways. In a first step, we would at least need to support receiving telemetry. C&C can then be added later.

[2019-03-27 14:33] #1110 closed

[2019-03-27 16:59] kaniyan commented on #1109
I tried out `bsinno:PR/site_theme_learn` and `bsinno:PR/site_theme_docdock`. Both looks good. I like the theme `learn` more that the `docbook`.

The icons in learn `looks` cool. In `docbook`, I found that the navigation from one page to another is not smooth as `learn`.
Example:  It takes some seconds for correct rendering of code highlights. Check the below 2 images.

![image](https://user-images

[2019-03-28 08:59] erryB opened #1120 "Eclipse Hono on Microsoft Azure"
Hello Hono community,

I would like to have your feedback about Eclipse Hono on Microsoft Azure.
We are currently working on the deployment of Hono on Azure Kubernetes Service and we already [opened a PR](https://github.com/eclipse/hono/pull/1117), but we would also like to improve the experience of Hono on Azure by using managed services.
Below you can find some topics we consider valuable to exp

[2019-03-28 09:44] sophokles73 commented on #772
@chapitos is this still an issue for you? If not, can you close this issue?

[2019-03-28 09:48] sophokles73 opened #1121 "Allow to set a TTL on downstream events"
In addition to #267 and #266 it would be nice if we would support setting a default TTL to use for all events from a particular device (or all devices of a particular tenant?).
One option might be to use or extend the [*defaults*](https://www.eclipse.org/hono/api/device-registration-api/#payload-format) mechanism for this purpose.

[2019-03-28 10:07] sophokles73 commented on #1120
Hi @erryB,

thanks a lot for your interest in bringing Hono to Microsoft Azure :-)
IMHO it would be wonderful if we could support users to leverage native Azure services to get the best possible experience when deploying Hono on Azure. I will be glad to engage the necessary discussions around this endeavor.

FMPOV all the topics you have pointed out are valid and deserve further discussion. In the

[2019-03-28 10:41] chapitos commented on #772
@sophokles73 : have not seen this issue in a long time. Please close.

[2019-03-28 10:56] #772 closed

[2019-03-28 11:55] b-abel commented on #1109
## Differences between themes *DocDock* and *Learn*

DocDock is a fork of Learn. And a couple of additions in DocDock went back into Learn. So the differences are in detail (apart from features that we don't use, e.g. you can create revealJS presentations from DocDock).

DocDock provides "**excerpts**", that is the generated overview page for each content folder. The current Hono homepage uses thi

[2019-03-28 13:45] sophokles73 commented on #1121
I think it would make sense to extend the *defaults* mechanism to the tenant level and then use the defaults mechanism to set the TTL like this:
1. if the downstream message already has an *absolute-expiry-time* set, do nothing
2. else
    1. if a default TTL value is set on the device's tenant, set the *absolute-expiry-time* accordingly
    2. if a default TTL value is set in the device's registr

[2019-03-28 17:02] erryB commented on #1120
Hello @sophokles73

Sounds great to me! Here I described the general overview of our ideas, but the intention is indeed to go deeper into technical details for the integration with Azure services, and I completely agree with you that it will require separate and focused conversations.
We are currently working on the architectural structure of our proposal and we'll be happy to share more details s

[2019-04-01 13:42] Alfusainey commented on #1102
@ctron did you already started working on this? if not, can i take look?

[2019-04-02 07:59] ctron commented on #1102
Yes, I started to work a little bit on this. My idea was to take the current API and create a OpenAPI definition of this. However I have nothing to share yet. if you want to look I can try prepare something for you by the end of the day.

[2019-04-02 11:54] Alfusainey commented on #1102
Sure, that would be nice

[2019-04-02 14:28] ctron commented on #1102
I pushed an initial version: https://github.com/eclipse/hono/pull/1130

[2019-04-02 14:57] #817 closed

[2019-04-03 05:48] calohmn opened #1131 "Error adding tenant with trusted-ca in Hono deployed via Helm"
Adding a tenant with a trusted-ca results in a 400 Bad Request response if Hono has been deployed using the standard helm chart.

Error in device registry log:
[code]

[2019-04-03 11:25] #1131 closed

[2019-04-04 08:43] BobClaerhout opened #1135 "Using client credentials"
Hi,

I've been following the guid on https://blog.bosch-si.com/developer/x-509-based-device-authentication-in-eclipse-hono/. I have tried this both on the sandobx environment as well on my own environment.
When I try this in the sandbox environment I'm getting a 404.
When I try this in my own environment I'm getting a 401. When I have a look on the http-adpter logs, I'm getting following logging:

[2019-04-04 08:57] BobClaerhout opened #1136 "Adding docker push to maven build"
I'm using my own docker registry where I'm getting my docker containers from. When building the original hono project, I'm pushing the resulting containers to this registry. To automate this, I'm using our gitlab ci to do this. Currently hono is pushed to docker using the docker commands, however it is also possible to do this in the maven build using following build profile:
[code]
This is just s

[2019-04-04 09:14] avgustinmm opened #1137 "Java 8 support for client libraries"
From Hono 1.0-M1 hono requires Java 11 because of Java 9 issues.
Are these Java 8 problems related to hono-client and its dependencies (hono-core)?
If not, maybe it'll be better to keep them Java 8 compatible.
It's probably ok to force hono backend side to java 11, But do you feel it's ok to force client side (e.g. backend application) to switch to Java 11?

[2019-04-04 09:25] ctron commented on #1137
The root cause for that is tracked in: https://github.com/eclipse/hono/issues/932

Yes, it was the client module. And it was in the test source.

However I don't think it is a good idea to compile the main artifact with Java 8, and then compile the test source with Java 11. I also don't think that we should start switching partially to Java 8, as this will immediately introduce the issue of needin

[2019-04-04 09:46] sophokles73 commented on #1137
The problem we ran into with #932 was not so much an issue of the source/target level but of the JDK being used to compile and run the tests. From a user perspective, I can sympathize with @avgustinmm 's intent to keep compatibility with Java 8 target level because many applications will remain to be built using Java 8 for some time. In fact, Amazon and RedHat are supporting this explicitly by mea

[2019-04-04 10:13] ctron opened #1138 "Device registry doesn't provide CORS headers"
The current HTTP endpoint of the device registry does not provide CORS headers. Which makes it rather difficult to work with under some circumstances.

[2019-04-04 10:19] ctron commented on #1137
What can easily happen is that people use functionality that is not present in the Java 8 APIs. That would result in a Java 8 compiled binary, which fails when being run on Java 8. So the goal of supporting Java 8 would not be accomplished.

I ran into this a few time, typical example was `String.isEmpty()`, which was introduced in Java 6, but people compiled this with Java 6, for Java 5. Resultin

[2019-04-04 11:14] sophokles73 commented on #1137
This can be prevented by using the *Animal Sniffer* Maven plugin.
I will prepare a corresponding PR. I think it would be worth the effort to keep Java 8 compatibility. After all, we are not using/requiring any Java 11 language features in the core and client modules anyway ...

[2019-04-04 14:22] sophokles73 commented on #1135
Can you disclose the tenant and device ID you are trying to connect with? I can then take a look at the sandbox's registry and check if the data you registered looks right.

[2019-04-05 06:20] avgustinmm commented on #1137
I am completely agree, that if it would be easy to keep Java 8 compatibility for the client libraries then it should. Java 8 is still here and it will be for some time. So, if there is no technical reason to drop support - better to keep it.

[2019-04-05 06:49] sophokles73 commented on #1137
@avgustinmm is it possible for you to check out #1140 and provide some feedback in the PR whether this works for you?

[2019-04-05 08:17] BobClaerhout commented on #1135
I've retried this using the sandbox. I must have missed something, this is working now. (I used "ACMEaloxy" as the tenant and "hot-fuzz").
The question remains now about what is going on with my own installation.
Yesterday @b-abel and I came to the conclusion this might be an openshift issue. I'm looking into that. Due to maintenance, our test server is currently offline but should be back today.

[2019-04-05 09:01] b-abel commented on #1135
I just looked into the TLS debug log, you sent to @calohmn and it clearly shows that the adapter did not get the client certificate. The TLS setup is definitely specific for openshift, as the server certificate is issued by openshift.
Maybe openshift terminates the TLS session? Did you stick to to the openshift deployment guide?
@ctron Do you know if t is possible, that the standard deployment on

[2019-04-05 09:18] BobClaerhout commented on #1135
Ok, finally made some progress.
The route towards the http adapter was configured with TLS termination "re-encrypt". I've changed this to "Passthrough". This allows the client certificate to be passed to the adapter.
Besides the fact I do have to tell curl to make an inscure request because of a self signed certificate I'm still getting an unauthorized error but the logging on the http adapter is

[2019-04-05 10:08] sophokles73 opened #1142 "Upgrade several dependencies"

[2019-04-05 10:11] sophokles73 opened #1143 "Upgrade to Spring 4.3.23"

[2019-04-05 10:15] #1143 closed

[2019-04-05 10:48] sophokles73 commented on #1142
Upgrade to
* Spring 4.3.23
* Spring Boot 1.5.20
* Spring Security 4.2.12
* SLF4J 1.7.26

[2019-04-05 11:30] #1142 closed

[2019-04-05 12:23] dejanb commented on #1120
Hi @erryB,

just to follow up on Kai's comment and welcome you to the community. To me, the proposed two aspects sounds good and I'm looking forward to discussing all the further ideas in separate threads.

[2019-04-05 12:55] sophokles73 commented on #1120
@erryB

sorry for leaving you in the dark. FMPOV the most important topic would be the usage of one of Azure's native messaging services as a substitute for Apache Qpid and ActiveMQ Artemis.

Hono conceptually distinguishes between Telemetry data flowing downstream (from devices to applications) and Command & Control messages flowing upstream. Both have different characteristics regarding scalabil

[2019-04-05 12:57] sophokles73 commented on #1120
BTW just a small remark on the picture you have included: devices only ever communicate with the protocol adapters. There shouldn't be any reason for them to invoke any of the Tenant, Device Registration or Credentials services nor would they normally be authorized to do so.

[2019-04-05 13:32] BobClaerhout commented on #1135
Huge thank you to @b-abel for the assistance so far! After some debugging we discovered the certificates created the way presented on https://blog.bosch-si.com/developer/x-509-based-device-authentication-in-eclipse-hono/ do not work. When using the example certificates, the verification of the certificate works.
Important difference: the certificates work against the sandbox environment but not ag

[2019-04-05 14:06] avgustinmm commented on #1137
@sophokles73,
I built the PR and tried to install bundles on OSGi & Java 8. I have problems to install them because of manifest header (in both bundles):
  Require-Capability: osgi.ee;filter:="(osgi.ee=UNKNOWN)"
It may be because of problem with my setup - not sure. However if I fix that header the bundles are installed and started successfully.

[2019-04-05 14:56] sophokles73 commented on #1137
@avgustinmm
Hm, I am no OSGi expert. In fact, I have no idea how I can influence the value of this header in the corresponding Maven POM. Do you have any idea what the value should actually be?

[2019-04-08 06:35] ctron commented on #1137
I just ran this locally and ended up with (for both client and core):

[code]

[2019-04-08 06:38] sophokles73 commented on #1137
Yes, it works for me as well. Maybe @avgustinmm can try again to do a full mvn clean install on Hono and see if it works for him as well?

[2019-04-08 07:30] avgustinmm commented on #1137
I've built it with clean build but with OpenJDK (I think this might be  important). I just checked https://search.maven.org/artifact/org.eclipse.hono/hono-client/1.0-M1/bundle - the release artifact. It also has:
Require-Capability: osgi.ee;filter:="(osgi.ee=UNKNOWN)"
while  https://search.maven.org/artifact/org.eclipse.hono/hono-client/0.9/bundle has:
Require-Capability: osgi.ee;filter:="(&(osgi.

[2019-04-08 07:34] sophokles73 commented on #1137
@avgustinmm what JDK are you using for building?

[2019-04-08 07:58] avgustinmm commented on #1137
We use:
openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)
btw, we tested to update maven-bundle-plugin (in root pom.xml) to 4.1.0
now we have: Require-Capability: osgi.ee;filter:="(&(osgi.ee=JavaSE)(version=11))"
which is an improvement (probably old plugins just don't know for newest jdks). This shall b

[2019-04-08 08:55] sophokles73 commented on #1137
Here's what I find in core module's `MANIFEST.MF` when building the #1140 branch using bundle plugin 4.1.0:
[code]
Here's my JDK version:
[code]
However, I agree that it's probably best to explicitly define the required capability in the POM.

[2019-04-08 11:14] ctron opened #1149 "Issue with command & control -> Micrometer + Prometheus -> causing duplicate dispositions"
When doing some tests with command and control in Hono 0.9, I ran into the following issue:

[code]

<details>

<summary>Full exception stack trace</summary>

[code]

</details>

[2019-04-08 12:18] avgustinmm commented on #1137
We found out that had problems with build .. the initial PR probably would build correct requirements.
Anyway the last version is ok for us.

[2019-04-08 14:21] ctron commented on #1149
This also causes duplicate dispositions to get sent out.

The first one goes out, as the command is properly handled:

https://github.com/eclipse/hono/blob/3f8f7a483824459100159fcad014e371ca545a0e/adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java#L678-L680

Then it fails to report to micrometer a few lines below:

https://github.com/ecl

[2019-04-08 15:48] sophokles73 commented on #1149
The way I understand it, Prometheus doesn't like the fact that we omit the TTD tag when reporting telemetry in the HTTP adapter for requests that do not contain the `ttd` header/param. IIRC we discussed some time ago whether to always include e.g. `Ttd.NONE` in this case or to omit the tag altogether ... ;-)

Seems like we need to always include a value for these *optional* tags after all ...

[2019-04-08 15:48] mhemmeter commented on #1120
Hi @erryB,
in your picture the business application is connecting to a component called _Default AMQP 1.0 Messaging Network_ for interacting with Hono. The default implementation of the messaging network in Hono consists of a single Apache Qpid Dispatch Router instance connected to a single Apache Artemis broker instance. This setup is not meant for productive use (at least if we are talking about

[2019-04-08 15:54] erryB commented on #1120
Thanks a lot for your additional feedback! I'm going to fix the picture and to create a new issue describing the architecture we propose for the messaging network, including both Device to Cloud and Cloud to Device messages.

[2019-04-08 16:02] erryB opened #1154 "Eclipse Hono on Microsoft Azure - AMQP Messaging Network proposal"
# AMQP Messaging Network proposal

The initial idea mentioned in the [Issue 1120](https://github.com/eclipse/hono/issues/1120) was to leverage Azure Event Hubs, but in order to handle bidirectional communication and to avoid Partition Key complexity we believe that [Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/about-iot-hub) is probably the best option.

Following Hono approach, w

[2019-04-09 07:53] sophokles73 commented on #1154
Hi @erryB,

thanks for the detailed overview of the proposed architecture. Reading through it, several questions occurred to me. I will focus on the telemetry direction for now.

1. My understanding is that *a single* IoT Hub instance will be used for handling multiple Hono tenants, right? If so, is this for reasons of better resource efficiency or would it also make sense to use distinct IoT Hub

[2019-04-09 12:46] #1149 closed

[2019-04-10 10:24] DanielMaier-BSI opened #1158 "HTTP protocol adapter returns 401 unauthorized when there are networking issues while getting credentials"
HTTP protocol adapter returns 401 unauthorized when there are network issues while getting credentials from credentials API. From my point of view it would be more appropriate to return 503 to indicate to the client it is worth to try again.

WDYT?

[2019-04-10 10:36] sophokles73 commented on #1158
Absolutely, this seems to be a regression as we already had this behavior fixed in past versions.

[2019-04-10 10:38] DanielMaier-BSI commented on #1158
We are using hono 0.9

[2019-04-10 12:41] #1158 closed

[2019-04-11 13:22] erryB commented on #1154
HI @sophokles73

Thanks for your feedback, I think it leads to a very interesting discussion. Here I try to give a quick answer to your points.
1. We actually thought about having multiple IoT Hubs, one foreach tenant, because we see there are some pros on that, for instance it would be easier to control the performances of each Tenant, having a clear view of message rate and throughput. The main

[2019-04-11 13:57] sophokles73 commented on #1154
I think for cost efficiency, it would still be desirable to be able to use a single instance for multiple tenants, e.g. for offering *free plans*.

FMPOV we would handle this in the `HonoClient` component which is managing the connection to the AMQP Messaging Network and which is used by the adapters to forward messages downstream. I can imagine introducing a configuration property there which wou

[2019-04-12 15:04] DanielMaier-BSI opened #1170 "Concurrency issue while authenticating devices with SHA encoded passwords"
`MessageDigestPasswordEncoder` is not thread-safe as it uses the same `MessageDigest` instance for all `matches()` calls. However since `UsernamePasswordAuthProvider` executes password check within different threads this leads to wrong results and thus to failed device authentications.

Possible solutions might be
- Use new `MessageDigest` instance for every request
- Use separate `MessageDigest`

[2019-04-12 15:11] calohmn commented on #1073
As the discussion for #930 is mostly done, I think we can define the address patterns here now.

I would be ok with the last mentioned suggestion:
[code]
Sender link for the command requests would be on `control_request/${tenant_id}`.

For the potential additional message transfer as shown in #930 (regarding routing of commands mapped to gateways), I would suggest:
[code]

[2019-04-12 15:18] sophokles73 commented on #1170
That indeed seems to be a problem. Thanks for reporting :+1:

Creating a `MessageDigest` instance shouldn't be a problem. The time consuming part is invoking the *digest* operation where the hash is computed.
So, option 1 should be fine FMPOV.

Do you want to create a PR?

[2019-04-12 15:42] sophokles73 commented on #1073
@calohmn this means that the protocol adapters open a command receiver link on source address
[code]
for each device that wants to receive commands, instead of the currently used
[code]
right?

[2019-04-15 06:35] DanielMaier-BSI commented on #1170
As I have a setup to reproduce this and as we agree on option 1 I will provide a PR shortly.

[2019-04-15 08:37] sophokles73 opened #1173 "Include CoAP protocol adapter in tenant scoped connection limit"
The CoAP protocol adapter should be also considered when enforcing a tenant's maximum number of connected clients as defined in #927.

In the CoAP context, a *connected* client probably translates to *established DTLS session*.

[2019-04-15 08:38] sophokles73 commented on #927
@kaniyan can we close this issue from your point of view?

[2019-04-15 08:43] #1170 closed

[2019-04-15 08:53] kaniyan commented on #927
@sophokles73 With the last merged PRs, now this feature is available in Hono. Yes, we can close this issue.

[2019-04-15 11:21] #1035 closed

[2019-04-16 06:42] alexju88 opened #1176 "Namespace bug"
If we do not use default namespace "hono", then the scripts (helm + kubernetes) need to be changed to use ENV value, and certificates in "config" folder also need to re-produced again.  So that new certificates can be used for _hostname.Newnamespace_

Would you please tell me how to produce certificates quickly for new namespace and new hostname?

[2019-04-16 06:49] sophokles73 commented on #927
fixed in https://github.com/eclipse/hono/commit/bba1d9d6e9b16b218c2806ac05b000ec5b8b784d

[2019-04-16 06:49] #927 closed

[2019-04-16 07:12] sophokles73 commented on #1176
you should be able to make the necessary adjustments in the `ca_opts` file in the `demo-certs` folder. After you have made the desired changes, run the `create_certs.sh` script in the same folder. This will re-create all keys and certificates in the `demo-certs/certs` folder.

[2019-04-17 08:56] erryB commented on #1154
Thanks again for your interesting input and feedback @sophokles73

We need to take into account that a single instance of IoT Hub shared for multiple tenants would be good for extensibility and horizontal scale, while having multiple IoT Hubs, one per tenant, would be good in terms of vertical scale but would also increase the complexity of the solution. We can consider it as an iterative approach

[2019-04-18 08:21] mbaeuerle opened #1183 "Internal server error when sending malformed authentication header"
When sending a malformed Authentication header like "Authentication: basic test test" Hono responds with a 500 and with an error message "Illegal base64 character 20" which I suppose is from the thrown Exception.

**Examples**
[code]
Response:

[code]
Response:

**Expected behavior**
- Status either 400 or 422
- Meaningful error message like: `Authorization Header malformed`

[2019-04-18 08:40] sophokles73 commented on #1183
FMPOV this should result in a 400 because the request does not fail due to a problem with the data in the body but cannot be processed due a problem in an earlier stage (where the body's content is of no concern yet).

[2019-04-18 15:38] sophokles73 commented on #780
fixed in https://github.com/eclipse/hono/commit/da368351dd435c0e30a5369755c1f7e7f3241666

[2019-04-18 15:38] #780 closed

[2019-04-22 02:55] alexju88 opened #1186 "Artemis replaced by Enmasse"
Hi guys,
We are now using the default settings of Hono with Artemis, but we want to try Enmasse, so could any experts tell me how to integrated Enmasse instead of Artemis ? Any links or documents ?

I found a guide here: https://github.com/dejanb/hono/blob/enmasse/site/content/deployment/enmasse.md , but it was 2 years ago version, it's too old. And We need to use helm to install Hono. So this gui

[2019-04-22 02:56] alexju88 commented on #1186
PS: Enmasse has already online in our Cloud environment.

[2019-04-23 02:26] alexju88 commented on #1186
**The Enmasse logs:**

2019-04-23 02:20:09.760796 +0000 SERVER (info) enabling remote authentication service standard-authservice:5671
2019-04-23 02:20:09.761261 +0000 SERVER (info) [C390] Accepted connection to 0.0.0.0:5672 from 10.0.0.161:59876
2019-04-23 02:20:09.761294 +0000 SERVER (info) enabling remote authentication service standard-authservice:5671
2019-04-23 02:20:09.761624 +0000 SERVER (

[2019-04-23 02:27] alexju88 commented on #1186
**http-adapter logs:**

02:09:05.020 [vert.x-eventloop-thread-0] DEBUG o.e.h.c.impl.ConnectionFactoryImpl - can't connect to AMQP 1.0 container [amqp://messaging-lfty1uyygv.hono-test:5672]: Disconnected
02:09:05.021 [vert.x-eventloop-thread-0] DEBUG o.e.hono.client.impl.HonoClientImpl - connection attempt failed
io.vertx.core.VertxException: Disconnected
	at io.vertx.proton.impl.ProtonClientImpl.l

[2019-04-23 02:28] alexju88 commented on #1186
it seems that we didn't set username+password+Authenticate mechanism of Enmasse for HTTP-Adapter, but we can't find where to configure it....

[2019-04-23 09:43] sophokles73 commented on #1154
Sounds good to me.

We already use dependency injection for setting up the protocol adapters. We can use an additional configuration property to use the *Azure* specific client for using *Azure IoT Hub* as the AMQP 1.0 Messaging Network.

Understood.

Indeed, the LOB Applications connect to the AMQP Messaging Endpoint in order to consume messages, so either the EP itself (or the *small component b

[2019-04-23 23:48] mhemmeter commented on #1154
From a service provider perspective - offering Eclipse Hono as a managed cloud service - this proposal leads to two non-technical questions:

1. Eclipse Hono requires an AMQP 1.0 Messaging Network for exposing its remote service interfaces to business applications - not more and not less. Using Azure IoT Hub as such a messaging network feels somehow oversized due to the additional features it prov

[2019-04-24 07:43] DanielMaier-BSI opened #1188 "Protocol adapters do never close "inactive" sender links"
Hono protocol adapters create AMQP sender links for events and telemetry data for each tenant on the first message for a particular tenant. However, these links get never closed. Would it be an improvement to close these links after some time of inactivity, as links require some memory on both ends? From my point of view this inactivity period might be quite high per default, e.g. one day.

Backgr

[2019-04-24 07:56] sophokles73 commented on #1188
Sounds like a reasonable feature to me. I think that we could close links after a much shorter period of inactivity (e.g. 1h) because if the devices of the affected tenant send messages at such a low rate then it probably doesn't hurt much if the downstream link gets established for each individual message.

[2019-04-24 08:55] BobClaerhout opened #1190 "(Actility) LoRaWAN adapter does not pass through the metadata"
The actility LoRaWAN adapter does not passtrough the meta data received from the actility LoRaWAN provider. I think it would be nice to have at least the possibility to analyze meta data in the backend application. When it is not provided, you do not have the possibility to analyze it.
I suggest adding this data in the headers of the message posted on the AMQP network.
We will implement this anywa

[2019-04-24 08:58] BobClaerhout opened #1191 "LoRaWAN adapter passes payload encoded base64"
The LoRaWAN adapter encodes all payload. Can someone tell me why this is the case? I would rather have this acting the same way as all adapters and not changing the data at all.

[2019-04-24 09:08] sophokles73 commented on #1190
@DanielMaier-BSI @mbaeuerle any thoughts?

[2019-04-24 09:08] sophokles73 commented on #1191
@DanielMaier-BSI @mbaeuerle any thoughts?

[2019-04-24 10:55] sophokles73 commented on #1186
@alexju88

what's the status of this? did you work out your issues?

[2019-04-24 11:34] kaniyan commented on #1183
@sophokles73 IMHO this should be fixed in _vertx_ (`BasicAuthHandlerImpl`). The PR #1194 fixes this issue in _Hono_ by using a `RoutingContextDecorator`.

[2019-04-24 12:44] alexju88 commented on #1186
No, I haven't, I don't know how to configure username & password for Hono, in order to connect with enmasse. Could you tell me how ?

[2019-04-24 13:17] sophokles73 commented on #1186
No, you do not need them when using enMasse.

@ctron can you help out Alex?

[2019-04-24 15:43] sophokles73 commented on #1183
fixed in https://github.com/eclipse/hono/commit/5e5735f5b4ff89b5e896298c3d264d9b7f187636

[2019-04-24 15:43] #1183 closed

[2019-04-25 07:02] DanielMaier-BSI commented on #1188
I am also fine with one hour inactivity period. I had only in mind (I don't know if I remember correctly and if it is still the case) that messages to protocol adapters without pre-established links often fail with no credit issues.

[2019-04-25 07:39] sophokles73 commented on #1188
That is indeed an issue. We might be able to address this with a well-chosen *flow latency* on the protocol adapters. However, if multiple devices of the same tenant start to send a message almost at the same time, then only the first message will be sent over the newly established downstream link whereas messages that have been uploaded afterwards, while the link is not established yet, will get

[2019-04-25 07:41] ctron commented on #1188
Maybe that is some configuration value that should be specified on a "per-tenant" basis. As this could be lower for your "test tenants" and higher for normal tenants.

[2019-04-25 07:57] sophokles73 commented on #1188
I do not quite see how it is related to the tenant. The time it takes to receive the first credits depends on the AMQP Messaging Network peer that the adapter is connected to and the network latency between them. But at the time the sender link is established, there is nothing tenant specific happening FMPOV.

[2019-04-25 07:59] ctron commented on #1188
No, what I meant was the initial time of inactivity before the link gets closed. Instead of using 1 hour or 1 day, this could be configured for the tenant.

As my understanding is, that tenants get created for testing only. And those tenants could actually have a pretty short inactivity timeout (1 minute). While normal tenants could actually have a day (or some other system wide default).

[2019-04-25 08:35] sophokles73 commented on #1186
@calohmn any thoughts on this?

[2019-04-25 08:45] sophokles73 commented on #1113
fixed in https://github.com/eclipse/hono/commit/7d87504d990ed95e6b9faa27379f22c984510862

[2019-04-25 08:45] #1113 closed

[2019-04-25 08:48] sophokles73 commented on #1135
@BobClaerhout is this still an issue or can you close it?

[2019-04-25 08:49] sophokles73 commented on #1055
@calohmn can you close this issue?

[2019-04-25 08:55] #1055 closed

[2019-04-25 09:08] sophokles73 commented on #1136
From the perspective of a user doing a custom build I can see the value. We would need to adapt the image name to also include a registry name, I guess. The repository name can already be set using a Maven property, e.g. in order to use `aloxy` instead of `eclipse`. Why don't you create a PR and we can continue to discuss there ...

[2019-04-25 09:10] sophokles73 commented on #1087
I have created a CQ for Dispatch Router 1.6.0 which seems to fix both of these issues.

[2019-04-25 09:20] BobClaerhout commented on #1190
I had a closer look into this and we do not completely understand why this is done.
A lot of interesting data concerning the LoRaWAN network is omitted. This data can be used to:
- Localize the sensor based on which physical GW is used and the signal strength (proximity localisation).
- The FPort is sent to the gateway which might have functional implications on the backend application.

Besides t

[2019-04-25 09:47] BobClaerhout commented on #1135
I didn't create my own certificates using the example scripts yet.
I consider this fixed however and will certainly test this again later. I will create another issue or re-open this one if needed.

[2019-04-25 09:47] #1135 closed

[2019-04-25 11:52] sophokles73 commented on #1176
@alexju88 is this still an issue or can you close it?

[2019-04-25 11:56] sophokles73 commented on #8
Our friends from the Eclipse Ditto project have added support for forwarding messages received from Hono to a user provided Kafka instance. So, people who want the messages end up in a Kafka cluster should use Hono together with Ditto and follow the [instructions provided by the Ditto project](https://www.eclipse.org/ditto/connectivity-protocol-bindings-kafka2.html).

[2019-04-25 11:58] #49 closed

[2019-04-25 11:58] #18 closed

[2019-04-25 11:59] sophokles73 commented on #296
This is no longer relevant with the removal of Hono Messaging.

[2019-04-25 11:59] #296 closed

[2019-04-25 12:02] sophokles73 commented on #634
A device indicates to the protocol adapter that it is willing to receive commands by subscribing to the `control` topic. There is no need to provide a TTD value.

[2019-04-25 12:02] #634 closed

[2019-04-25 12:06] sophokles73 commented on #551
Hono itself does not know which environment it is running in. Thus, there is not much more for Hono to do than what hsa already been done, i.e. using a hash function that makes brute force attacks less attractive.
A DoS attack needs to be prevented by other means, typically at the networking layer.

[2019-04-25 12:06] #551 closed

[2019-04-25 12:49] DanielMaier-BSI commented on #1190
The initial idea was to have the same payload for all providers, i.e. the application needs not to be provider aware. We also discussed to add the original message **additionally** but no of our users needed it so far. So it would be fine to us to add the original message as long as there is still some unified part among all providers. Perhaps we find also some other fields which are worth to be p

[2019-04-25 12:51] DanielMaier-BSI commented on #1191
This was done to have the same encoding for all providers, i.e. applications don't have to care which provider sent the data.

[2019-04-25 14:07] BobClaerhout commented on #1190
Ok, do you agree with the proposed solution in the PR?
Later on we can agree on adding more fields.

[2019-04-25 14:33] calohmn commented on #1073
@sophokles73 yes.

[2019-04-25 14:44] BobClaerhout commented on #1191
Ok, if #1199 is merged we can always get the original payload from the original message.

[2019-04-25 14:44] #1191 closed

[2019-04-25 15:07] DanielMaier-BSI commented on #1190
As long as we are sure all providers send us JSON objects (I think so), I agree with the solution. Perhaps one extension would be to introduce a configuration property for the adapter if the original message should be included or not (If somebody wants to save bandwidth or whatever). But I for us this is not a hard requirement as for now.

[2019-04-25 18:18] calohmn commented on #1186
(Prerequisite for the following is that you have deployed the EnMasse standard authentication service.)
First you have to create a user in EnMasse. See the [EnMasse docs](https://enmasse.io/documentation/0.27.2/kubernetes/#managing-users-messaging) for that. To configure this user with send/receive rights for all addresses, you can use
[code]
in the user definition yaml (the `manage` operation giv

[2019-04-26 01:39] alexju88 commented on #1176
Sorry, I forgot to reply this issue, it works! thank you very much!

[2019-04-26 06:03] alexju88 commented on #1186
Hi Lohmann,
thanks for your kind help!

For the Enmasse, we have already deployed Enmasse in the same namespace with Hono before and have tested its function to be OK. Enmasse user has already been created, just like what you said as above.

For the Hono side, I checked the file "hono-adapter-http-vertx-config.yml" (there is no *.**yaml** file) , currently there is no available place to configure

[2019-04-26 06:17] alexju88 commented on #1186
Hi @calohmn , my Hono helm folder is as here : https://github.com/alexju88/hono-enmasse
You could help me check any problem about configurations.
Appreciate!

[2019-04-26 06:22] calohmn commented on #1186
@alexju88 By "hono.messaging.username" I meant putting the "username" entry in the yaml structure below "hono" and "messaging", like this:
[code]

[2019-04-26 06:39] alexju88 commented on #1186
Hi, I tried as above, but comes with SASL mechanism not found problem :

06:37:34.410 [vert.x-eventloop-thread-0] WARN  o.e.h.a.h.v.VertxBasedHttpProtocolAdapter - failed to connect to Command and Control service
org.eclipse.hono.client.ClientErrorException: no suitable SASL mechanism found for authentication with server

Should we tell Hono to use a mechanism like PLAIN ?

[2019-04-26 06:55] calohmn commented on #1186
This points to an issue concerning the Command & Control related configuration.
Put the EnMasse username/password also below the "command" entry in the config yaml:
[code]

[2019-04-26 07:38] alexju88 commented on #1186
Thanks Carsten, it works!

[2019-04-26 09:04] #1176 closed

[2019-04-26 09:38] sophokles73 commented on #1190
1. My understanding is that all devices communicate via LoRa, so I would assume that much of the *meta data* represents LoRa specific parameters/information. If that is true, then I would also assume that it should be possible to extract this data from the network provider specific messages and *normalize* it reasonably so that it can be put into the downstream messages (e.g. in AMQP application p